.maxi-container-block {
    margin: auto;

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__container {
        border: 1px solid #7fbddc;
    }
    &[data-align="full"] {
        width: auto;
    }
}
