.maxi-container-block {
	margin: auto;

	.block-list-appender
		.block-editor-button-block-appender[aria-label='Add Row Maxi'] {
		left: calc(50% - 48px);
		border-radius: 50%;
	}
	&__container {
		border: 1px solid #7fbddc;
		width: 100%;
	}
	&[data-align='full'] {
		width: 100%;
		max-width: 100%;
		.maxi-container-block__container {
			width: 100%;
			max-width: 100% !important;
		}
	}
}

html body.maxi-blocks--active .maxi-container-block {
	&.wp-block.maxi-block.maxi-block--backend {
		margin: 0 auto;
	}

	&[data-align='full'] > .maxi-container-block__container {
		max-width: 100% !important;
		width: 100% !important;
	}
}
