@import '../../../src/css/backend-variables.scss';
.maxi-container-block {
	margin: auto;

	.block-list-appender--show {
		.block-editor-button-block-appender {
			visibility: visible;
			opacity: 1;
		}
	}
	&__container {
		width: 100%;
	}
	/* Navigation menu */
	.wp-block-navigation {
		.block-list-appender {
			width: 24px;
			margin: -15px;
		}
	}
}

body.maxi-blocks--active {
	.maxi-container-block {
		&.wp-block.maxi-block.maxi-block--backend {
			margin: 0 auto;
		}
	}
	div[data-type='maxi-blocks/container-maxi'] {
		margin-block-start: 0;
	}
}
