body.maxi-blocks--active .maxi-container-block {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	.maxi-pagination {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
