$arrow-triangle-base-size: 14px;
$border-width: 1px;
$white: var(--mw);
$gray-400: var(--mgl);
$gray-900: var(--mdg);
$shadow-popover: 0 0 0 1px rgba(var(--mb), 0.2),
	0 4px 11px rgba(var(--mb), 0.1);
$radius-block-ui: 3px;
$panel-header-height: 32px;
$grid-unit-20: 20px;

.maxi-components-popover {
	z-index: 10;
	opacity: 1;

	&::before,
	&::after {
		content: none !important;
	}
	&.is-expanded {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: z-index('.components-popover') !important;
	}
}

.maxi-components-popover__content {
	background: $white;
	// Using outline instead of border to avoid impacting
	// popover computations.
	outline: $border-width solid $gray-400;
	box-shadow: $shadow-popover;
	border-radius: $radius-block-ui;
	box-sizing: border-box;
	width: min-content;
	position: relative !important;
	transition: var(--maxi-trans-std);

	&:hover {
		background-color: var(--mpg);
	}

	// Alternate treatment for popovers that put them at elevation zero with high contrast.
	.is-alternate & {
		outline: $border-width solid $gray-900;
		box-shadow: none;
	}

	.components-popover.is-expanded & {
		position: static;
		height: calc(100% - #{$panel-header-height});
		overflow-y: visible;
		width: auto;
		border: none;
		outline: none;
		border-top: $border-width solid $gray-900;
	}
}

.maxi-components-popover__header {
	align-items: center;
	background: $white;
	display: flex;
	height: $panel-header-height;
	justify-content: space-between;
	padding: 0 8px 0 $grid-unit-20;
}

.maxi-components-popover__header-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.maxi-components-popover__close.components-button {
	z-index: z-index('.components-popover__close');
}

.maxi-components-popover__arrow {
	position: absolute;
	width: $arrow-triangle-base-size;
	height: $arrow-triangle-base-size;
	pointer-events: none;
	display: flex;

	// Thin line that helps to make sure that the underlying
	// popover__content's outline is fully overlapped by the
	// arrow
	&::before {
		content: '';
		position: absolute;
		top: -1px;
		left: 1px;
		height: 2px;
		right: 1px;
		background-color: $white;
	}

	// Position and rotate the arrow depending on the popover's placement.
	// The `!important' is necessary to override the inline styles.
	&.is-top {
		bottom: -1 * $arrow-triangle-base-size !important;
		transform: rotate(0);
	}
	&.is-right {
		/*rtl:begin:ignore*/
		left: -1 * $arrow-triangle-base-size !important;
		transform: rotate(90deg);
	}
	&.is-bottom {
		top: -1 * $arrow-triangle-base-size !important;
		transform: rotate(180deg);
	}
	&.is-left {
		/*rtl:begin:ignore*/
		right: -1 * $arrow-triangle-base-size !important;
		transform: rotate(-90deg);
		/*rtl:end:ignore*/
	}
}

.maxi-components-popover__triangle {
	display: block;
	flex: 1;
}

.maxi-components-popover__triangle-bg {
	// Fill color is the same as the .components-popover__content's background
	fill: $white;
}

.maxi-components-popover__triangle-border {
	// Stroke colors are the same as the .components-popover__content's outline
	fill: transparent;
	stroke-width: $border-width;
	stroke: $gray-400;

	.is-alternate & {
		stroke: $gray-900;
	}
}
