// This CSS is used to clean the global CSS that is affecting it
.gx-sidebar .gx-popover-control .gx-settings-button button:before {
    content: none !important;
}

.gx-sidebar .gx-popover-control .gx-settings-button button svg {
    fill: #464a53;
}

.gx-sidebar .gx-popover-control .gx-settings-button .gx-popover-dropdown {
    display: inherit;
}

// Component CSS
.gx-sidebar .gx-popover-control .gx-settings-button button[type=reset] {
    border: none;
    box-shadow: none;
}