 .gx-sidebar .block-editor-color-palette-control__color-palette {
	margin-top: 0 !important;
  }
  
  .gpw .trigger .inner {
	width: 16px !important;
	height: 16px !important;
	border-radius: 17px !important;
	margin: auto;
	margin-top: 1px;
  }
  
  .gradient {
	margin-top: -2px;
  }
  
  .gpw .trigger {
	border-radius: 5px !important;
	border: 2px solid #dddfe1 !important;
	padding: 4px !important;
	box-shadow: none !important;
	width: 30px;
	height: 30px;
  }
  
  .background-gradient .components-base-control__field {
	justify-content: space-between;
  }
  
  .background-gradient button {
	margin-left: 1rem;
  }
  
  .gx-border-setting .block-editor-panel-color-gradient-settings {
	margin-left: 3px !important;
	max-width: unset !important;
  }
  
  .gx-border-setting .block-editor-panel-color-gradient-settings {
	margin-bottom: 7px;
  }
  
  .gx-border-setting {
	height: 250px !important;
	margin-bottom: 0 !important;
  }
  
 
  
  .gx-font-family-selector-popover .components-popover__content {
	bottom: unset !important;
	top: 32px;
	left: 3.5px !important;
  }

  @media all and (max-width: 2000px) {



	.divider-dimension .components-range-control__number {
	  left: 167px;
	}
	/*.gx-controls .gx-accordion .components-base-control__label[aria-expanded="true"]:after {
	  /* content: url(../img/arrow-down.svg); */
	 /* content: url(../img/arrow-right.svg);
	  width: 6px;
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  transition: transform 0.3s;
	}*/

	.gx-with-unit-control .components-range-control__reset {
	  margin-left: 0 !important;
	  z-index: 100;
	}
	
	.gx-with-unit-control .components-range-control__reset {
	  top: -1px;
	  left: 88% !important;
	  z-index: 100;
	}
	.gx-unit-control {
	  float: right;
	  margin-bottom: -30px !important;
	  z-index: 100;
	}
  
  .gx-settings-button
  .components-button.is-secondary > svg{
	 width:18px !important;
	 height:18px !important;
  }
  
  .gx-accordion-tab.gx-image-tab
  .components-button.is-secondary{
   width:30px !important;
   height:30px !important;
  }
}
  /*=============================================================*/
  

  .gx-image-width
  .components-base-control__field >
  input[type="number"].components-range-control__number{
	margin-bottom: 5px;
	margin-right: 3px;
	height:30px;
  }
  
  .gx-image-max-width
  .components-base-control__field >
  input[type="number"].components-range-control__number{
	margin-right: 3px;
	height:30px;
  }
  
  .gx-image-width
  .components-base-control__field >
  .components-button.components-range-control__reset.is-secondary.is-small{
	margin-top:-5px;
	height: 26px ;
	width: 26px ;
  }
  
  .gx-image-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field,
  .gx-image-max-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field{
	position: relative ;
	top:1px !important;
	left:-5px;
  }
  
  .gx-image-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field > .components-radio-control__option > label,
  .gx-image-max-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field > .components-radio-control__option > label{
	height:30px;
	line-height: 30px;
  }
  
  .gx-image-max-width 
  .components-base-control__field >
  .components-button.components-range-control__reset.is-secondary.is-small{
   margin-top: 0 ;
   height: 26px ;
   width: 26px ;
  }