/* Layout Button */

#gxAddLayoutButton {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #000;
    margin-right: 0;
    margin-left: 10px;
    border-radius: 3px;
    float: left;
    border: none !important;
    box-shadow: none !important;
    padding: 5px 26px;
    justify-content: center;
    min-height: 45px;
}

#gxAddLayoutButton:hover {
    background-color: #464a53 !important;
    border: none !important;

}

#gxAddLayoutButton img,
#gxGoToCustomizerButton img {
    margin-right: 10px;
}

/* Global Styles Button */

#gxGoToCustomizerButton {
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #0cf;
    margin-right: 10px;
    margin-left: 15px;
    border-radius: 3px;
    float: right;
    border: none !important;
    box-shadow: none !important;
    padding: 5px 26px;
    justify-content: center;
    min-height: 45px;

}

#gxGoToCustomizerButton:hover {
    background-color: #06deeb !important;
    border: none !important;
}

/* Image box - placeholder image */

.gx-image-box-image button:first-child {
    height: auto;
}

/* Errors */

h2.gx_error {
    text-align: center;
    font-size: 20px;
}

/* Gutenberg Inspector */

span.gx-general-tab-label,
span.gx-hover-tab-label {
    margin-left: 15px;
    padding: 5px 15px;
    width: 43%;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: none;
    text-align: center;
    font-weight: 400;
    float: left;
    color: #ccc;
}

span.gx-general-tab-label:hover,
span.gx-hover-tab-label:hover {
    cursor: pointer;
}

span.gx-general-tab-label.gx-enabled,
span.gx-hover-tab-label.gx-enabled {
    border-color: #000 !important;
    color: #555d66 !important;
    font-weight: 700;
}

span.gx-hover-tab-label {
    margin-left: 0 !important;
    margin-right: 15px;
    float: right !important;
}


body .gx-hidden {
    display: none !important;
}

.gx-hover-tab h2.components-panel__body-title {
    display: none !important;
}

.gx-general-tab .components-base-control:nth-child(2) {
    margin-top: 37px;
}

.gx-hover-tab,
.gx-hidden-header {
    border-top: none !important;
}

.gx-hidden-header h2 {
    display: none !important;
}

/* Gutenberg Panel */

.edit-post-layout.is-sidebar-opened .edit-post-plugin-sidebar__sidebar-layout.gx-sidebar,
.edit-post-layout.is-sidebar-opened .edit-post-sidebar.gx-sidebar {
    width: 460px;
}

.gx-controls, .gx-controls > div:nth-child(3) {
    background: #f2f2f2;
}

.gx-controls * {
    background: #fff;
}

.gx-controls .block-editor-block-card__content *,
.gx-controls .block-editor-block-icon * {
    background: #000 !important;
}

/* 3 Tabs: Content, Style, Advaced */

.gx-tab {
    width: 33.33333%;
    font-size: 20px;
    color: #000;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid #e8eaeb;
}

.gx-tab:hover {
    cursor: pointer;
}

.gx-tab.gx-content-tab-label:before {
    content: url('../img/gx-content.svg');
    transition: all 0.3s;
    display: block;
    transform: scale(1.4);
    max-width: 100%;
    min-height: 45px;
    padding-top: 6px;
}

.gx-tab.gx-style-tab-label:before {
    content: url('../img/gx-style.svg');
    transition: all 0.3s;
    display: block;
    min-height: 37px;
    padding-bottom: 7px;
}

.gx-tab.gx-advanced-tab-label:before {
    content: url('../img/gx-advanced.svg');
    transition: all 0.3s;
    display: block;
    min-height: 37px;
    padding-bottom: 7px;
}

.gx-controls .components-panel__body {
    border-top: none;
}

.gx-controls .components-panel__body.gx-image-setting,
.gx-controls .components-panel__body.gx-link-setting {
    border-top: 2px solid #e8eaeb;
}

.gx-controls .components-panel__body.gx-text-setting {
    border-bottom: 2px solid #e8eaeb;
    margin-bottom: 10px;
    padding-top: 3px !important;
    padding-bottom: 12px !important;
}

.gx-tab:before {
    margin-bottom: 5px;
}

.gx-tab:hover,
.gx-tab:active,
.gx-tab:focus {
    background: #f2f2f2;
}

.gx-panel .components-base-control {
    margin-bottom: 11px;
}


.gx-tab {
    padding-top: 30px;
    padding-bottom: 19px;
}

.gx-tab.gx-enabled {
    background-color: #f2f2f2;
    border-bottom: 2px solid #00ccff;
}


.gx-controls .editor-block-inspector__advanced,
.gx-controls .block-editor-block-inspector__advanced {
    display: none !important;
}

.gx-tabs {
    padding-top: 0;
    margin-bottom: 10px
}

.gx-panel .components-panel__body-title {
    display: none !important;
}

.edit-post-settings-sidebar__panel-block .components-panel__body.gx-panel:first-child {
    margin-top: 0 !important;
}

.gx-popover .components-popover__content {
    min-width: 420px !important;
}

.gx-panel label,
.gx-panel .components-base-control__label,
.gx-popover label,
.gx-controls .gx-accordion .components-base-control__label {
    font-size: 20px;
    color: #464a53;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.gx-panel input[type=text],
.gx-panel input[type=number],
.gx-panel textarea,
.gx-panel select,
.gx-popover input[type=text],
.gx-popover input[type=number],
.gx-popover textarea,
.gx-popover select {
    height: 45px;
    border-radius: 5px;
    background-color: rgba(33, 141, 250, 0);
    border: 2px solid #dddfe1;
    font-size: 20px;
    color: #464a53;
    font-weight: 500;
}

.gx-panel select, .gx-popover select {padding: 0 24px 0 16px;}

.gx-sidebar .components-panel__body.is-opened,
.gx-popover .components-popover__content {
    padding: 18px 23px 1px 23px;
}

.gx-sidebar .components-base-control .components-base-control__field {
    display: flex;
    align-items: center;
}

.gx-sidebar .components-range-control__number {
    width: 70px;
}

.gx-sidebar .components-gx-dimensions-control__units--Viewport.Height {
    display: none !important;
}

.gx-sidebar button.components-range-control__reset:before,
.gx-sidebar button.components-circular-option-picker__clear:before,
.gx-popover button.components-range-control__reset:before {
    content: url("../img/gx-reset.svg") !important;
    transform: scale(.75);
}

.gx-sidebar button.components-range-control__reset:disabled,
.gx-popover button.components-range-control__reset:disabled {
    opacity: 0.5;
}

.gx-sidebar button.components-range-control__reset,
.gx-sidebar button.components-circular-option-picker__clear,
.gx-popover button.components-range-control__reset {
    font-size: 0 !important;
    background: transparent !important;
    border: none !important;
}

/* Toggle control */

.gx-sidebar .components-form-toggle .components-form-toggle__track {
    border: 2px solid#dddfe1;
}

.gx-sidebar .components-form-toggle .components-form-toggle__thumb {
    background-color: #dddfe1;
    border: 5px solid #dddfe1;
}

.gx-sidebar .components-form-toggle .components-form-toggle__off {
    color: #dddfe1;
}

.gx-sidebar .components-form-toggle.is-checked .components-form-toggle__track {
    background-color: #00ccff;
    border: 9px solid transparent;
}

.gx-sidebar .components-form-toggle.is-checked .components-form-toggle__thumb {
    background-color: #fff;
    border-width: 0;
}

/* Units Control */

.gx-with-unit-control {
    clear: both;
}

.gx-with-unit-control .components-base-control__field {
    position: relative;
}

.gx-with-unit-control .components-range-control__reset {
    position: absolute;
    top: -5px;
    left: 31%;
    z-index: 100;
}

.gx-with-unit-control .components-base-control__label {
    margin-bottom: 16px !important;
    z-index: 1;
}

.gx-unit-control {
    float: right;
    margin-bottom: -30px !important;
    z-index: 100;
}

.gx-unit-control .components-base-control__field {
    z-index: 100;
    display: flex;
}

.gx-unit-control input[type=radio] {
    width: 0 !important;
    height: 0 !important;
}

.gx-unit-control .components-radio-control__option input {
    display: none;
}

.gx-unit-control .components-radio-control__option label {
    border: 2px solid #dddfe1 !important;
    background-color: rgba(33, 141, 250, 0);
    width: 41px;
    display: block;
    text-align: center;
    height: 30px;
    line-height: 26px;
    margin-right: -2px;
}

.gx-unit-control .components-radio-control__option input:checked+label {
    color: #fff !important;
    border-color: #0cf !important;
    background: #0cf;
}


.gx-unit-control .components-radio-control__option:not(:last-child) {
    margin-bottom: 0 !important;
}

.gx-style-tab-setting .components-circular-option-picker__option-wrapper {
    display: none;
}

.gx-style-tab-setting .components-color-palette {
    width: auto;
}

.gx-sidebar .components-circular-option-picker__custom-clear-wrapper button:not(.components-circular-option-picker__clear):before {
    content: url(../img/gx-color-icon.png) !important;
    margin: 6px auto;
    background-color: rgba(33, 141, 250, 0) !important;
}

.gx-sidebar .gx-settings-button button:before {
    content: url(../img/gx-settings-icon.png) !important;
    margin: 6px auto;
    background-color: rgba(33, 141, 250, 0) !important;
}

.gx-sidebar .gx-settings-button .components-base-control__field {
    justify-content: space-between;
}

.gx-sidebar .components-circular-option-picker__custom-clear-wrapper button:not(.components-circular-option-picker__clear),
.gx-sidebar .gx-settings-button button {
    width: 67px;
    height: 46px;
    color: transparent;
    border-radius: 5px;
    background-color: rgba(33, 141, 250, 0) !important;
    border: 2px solid #dddfe1;
    font-size: 0px;
    text-align: center;
}

.gx-sidebar .block-editor-color-gradient-control .components-base-control__field {
    justify-content: space-between;
}

.gx-sidebar .block-editor-panel-color-settings.is-opened {
    padding: 16px 0px !important;
}

.gx-sidebar .gx-border-setting .gx-border-type .components-base-control__label,
.gx-sidebar .gx-image-position .components-base-control__label,
.gx-sidebar .gx-text-setting .components-base-control__label,
.gx-sidebar .gx-block-style .components-base-control__label,
.gx-sidebar .gx--default-block-style .components-base-control__label {
    flex: 100%;
}

.gx-sidebar .gx-link-setting .components-base-control__label {
    flex: 36%;
}

.gx-link-setting .components-base-control { margin-bottom: 20px;}

.gx-link-setting  .components-toggle-control .components-base-control__field {    margin-bottom: 15px;}

.gx-sidebar .component-color-indicator {
    vertical-align: middle;
    width: 45px;
    height: 25px;
}

.gx-sidebar .block-editor-color-gradient-control fieldset {
    width: 100% !important;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
}

.edit-post-settings-sidebar__panel-block .components-panel__body.gx-panel,
.edit-post-settings-sidebar__panel-block .components-panel__body.gx-panel .components-panel__body {
    border-top: none;
}

.gx-sidebar .block-editor-color-gradient-control__color-palette {
    margin-top: 0 !important;
}

.gx-device-control .components-radio-control__option:before {
    content: "" !important;
    display: block;
    background-image: url('../img/gx-desktop-icon.svg');
    background-size: 26px 22px;
    width: 25px;
    height: 22px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.gx-device-control .components-radio-control__option:nth-child(2):before {
    background-image: url('../img/gx-tablet-icon.svg');
    background-size: 18px 26px;
    width: 18px;
    height: 26px;
}

.gx-device-control .components-radio-control__option:nth-child(3):before {
    background-image: url('../img/gx-mobile-icon.svg');
    background-size: 18px 28px;
    width: 18px;
    height: 28px;
}

.gx-device-control .components-radio-control__option {
    width: 33%;
    text-align: center;
    border: 2px solid #dddfe1;
}

.gx-device-control .components-base-control__field {
    display: flex;
}

/* GutenbergExtra Blcoks tab in the Block inserter */

body .gx-panel-body-inserter,
body .gx-panel-body-inserter:hover,
body .gx-panel-body-inserter.is-opened,
body .gx-panel-body-inserter:active,
body .gx-panel-body-inserter.components-panel__body h2,
body .gx-panel-body-inserter.is-opened h2,
body .gx-panel-body-inserter.components-panel__body h2:hover,
body .gx-panel-body-inserter h2:active,
body .gx-panel-body-inserter.is-opened h2:hover,
body .gx-panel-body-inserter.is-opened h2:active,
body .gx-panel-body-inserter h2 button,
body .gx-panel-body-inserter h2 button:focus {
    background: #000000 !important;
    background-color: #000000 !important;
}


.gx-panel-body-inserter h2 button,
.gx-panel-body-inserter.is-opened h2 button {
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #ffffff !important;

}

.gx-panel-body-inserter *,
.gx-panel-body-inserter.is-opened * {
    color: #ffffff !important;
}

.gx-panel-body-inserter h2 button:before {
    content: url('../img/gx-icon-white.svg');
    display: inline-block;
    position: absolute;
    top: 8px;
    width: 25px;
}

.gx-panel-body-inserter h2 button span {
    margin-left: 40px;
}

/* Extra Block Styles in the Block Inserter */

button[class*="gutenberg-extra"] {
    border-radius: 10px;
    background-color: #464a53 !important;
    max-width: 95%;
    margin: 0 auto;

}

/*
button[class*="gutenberg-extra"]:hover,
button[class*="gutenberg-extra"]:active,
button[class*="gutenberg-extra"]:focus {
    background-color: #72777c !important;
    box-shadow: none !important;

}*/

button[class*="gutenberg-extra"] span.block-editor-block-types-list__item-title {
    color: #fff !important;
    font-style: 16px;
}

.gx-sidebar .block-editor-block-card {
    font-size: 24px;
    letter-spacing: 0px;
    color: #fff;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    background: #000;
    font-weight: 400;
}

.gx-sidebar .block-editor-block-card .block-editor-block-card__title {
    line-height: 33px;
    margin-bottom: 0;
}

.gx-sidebar .block-editor-block-card .block-editor-block-card__title:after {
    content: url(../img/gx-icon-white.svg);
    display: inline-block;
    position: absolute;
    top: 11px;
    width: 28px;
    right: 16px;
}

.gx-sidebar .block-editor-block-icon {
    width: 33px;
    height: 33px;
}

.gx-sidebar .block-editor-block-icon svg {
    transform: scale(1.4);
}

/* Accordion Tabs */


.gx-controls .gx-accordion {
    background: #f2f2f2;
    margin: 15px;
}

.gx-controls .gx-accordion-tab > .components-base-control__label {
    margin-bottom: 10px;
    filter: drop-shadow(0px 5px 7.5px rgba(119,119,119,0.1));
    border-radius: 5px;
    background: #fff;
    padding: 11px 17px;
    display: flex;
    align-items: center;
}

/* Accordion icons */

.gx-controls .gx-accordion .components-base-control__label:before {
    margin-right: 23px;
}

.gx-controls .gx-accordion .components-base-control__label[aria-expanded="true"] {
    filter: none !important;
}

.gx-controls .gx-accordion .gx-typography-tab .components-base-control__label:before {
    content: url(../img/gx-typography-tab.svg);
}

.gx-controls .gx-accordion .gx-button-tab .components-base-control__label:before {
    content: url(../img/gx-button-tab.svg);
}

.gx-controls .gx-accordion .gx-box-settings-tab .components-base-control__label:before {
    content: url(../img/gx-box-settings-tab.svg);
}

.gx-controls .gx-accordion .gx-width-tab .components-base-control__label:before {
    content: url(../img/gx-width-tab.svg);
}

.gx-controls .gx-accordion .gx-padding-tab .components-base-control__label:before {
    content: url(../img/gx-padding-tab.svg);
}

.gx-controls .gx-accordion .components-base-control__label:hover {
    cursor: pointer;
}


@media screen and (max-width: 2000px) {

    #gxAddLayoutButton img,
    #gxGoToCustomizerButton img {
        max-width: 20px;
    }

}