
  
  .gx-popover .components-popover__content .gx-colorcontrol-control {
	margin-bottom: 9px;
  }
  
  .gx-image-item .gx-unit-control .components-base-control__field {
	top: 6px !important;
  }
  
  .gx-image-item div > .gx-with-unit-control:last-child {
	margin-bottom: 5px;
  }
  
  /* .gx-sidebar .gx-image-width {
	margin-bottom: 5px;
  } */
  /* 
  .gx-imagesettings-control .gx-imagesettings-opacity {
	margin: 10px 0;
  } */
  
  .gx-button-item .gx-opacity-control .components-range-control__slider,
  .gx-image-item .gx-box-settings-item .gx-opacity-control .components-range-control__slider,
  .gx-imagesettings-control .gx-imagesettings-opacity .components-range-control__slider {
	position: static;
	background: none;
	box-shadow: none;
	padding: 0px;
	display: block;
  }
  
  /* .gx-panel > .components-panel__body.editor-panel-color-settings.block-editor-panel-color-settings.is-opened.typography {
	margin-bottom: 4px !important;
  } */
  
  .block-editor-color-gradient-control {
	background: none;
  }
  
  .components-panel__body.gx-panel.gx-color-setting.gx-style-tab-setting.is-opened {
	margin-bottom: 0;
  }
  
  .gx-typography-item
	.block-editor-panel-color-gradient-settings
	.block-editor-color-gradient-control
	.component-color-indicator {
	margin-left: -2px;
	border-radius: 5px;
	margin-top: -4px;
  }
  
  /* Units Control */
  
  .gx-with-unit-control {
	clear: both;
  }
  
  .gx-with-unit-control .components-base-control__field {
	position: relative;
  }
  
  .gx-with-unit-control .components-range-control__reset {
	/* position: absolute; */
	/* top: -2px !important; */
	/* left: 89% !important; */
	/* left: 31% !important; */
	/* z-index: 100; */
	margin-left: 6px !important;
  }
  
  /* .components-base-control.gx-unit-control .components-base-control__field {
	position: relative;
	top: 1px;
  } */
  /* 
  .components-range-control {
	margin-bottom: 4px !important;
  } */
  
  .gx-button-item
	.gx-typography-item
	.gx-colorcontrol-control
	.gx-popover-control
	.components-base-control__field
	.components-dropdown:nth-of-type(2) {
	margin-left: 0 !important;
  }
  
  .gx-colorcontrol-color-display span,
  .gx-sidebar .component-color-indicator {
	width: 24px;
	height: 24px;
	float: left;
	border: 1px solid #dddfe1 !important;
	margin-right: 8px;
	margin-left: -4px;
	border-radius: 5px;
  }
  
  .gx-colorcontrol-color-display span {
	margin-right: 8px !important;
  }
  
  .gx-colorcontrol-control .components-base-control__field > button svg {
	width: 12px;
	height: 12px;
	margin: auto;
  }
  
  .components-panel__body .components-gx-dimensions-control__label {
	font-size: 16px !important;
  }
  
  .gx-box-settings-item .components-base-control__field .gx-popover-dropdown .components-button.is-secondary {
	margin: 0px !important;
  }
  
  .gx-box-settings-item .gx-colorcontrol-control .components-base-control__field .gx-popover-dropdown:nth-of-type(1) {
	margin-left: auto;
	/* margin-right: 5px; */
  }
  
  .gx-box-settings-item .gx-colorcontrol-control .components-base-control__field .gx-popover-dropdown:nth-of-type(2) {
	/* margin-right: 5px; */
	margin-left: unset;
  }
  
  .gx-box-settings-item .components-base-control__field .gx-popover-dropdown:nth-of-type(1) svg {
	width: 18px !important;
	height: 18px;
  }
  
  .components-base-control.editor-color-palette-control {
	margin-bottom: 5px;
  }
  
  .gx-sidebar .block-editor-color-gradient-control fieldset {
	width: 100% !important;
	justify-content: space-between;
  }
  
  .gx-sidebar .block-editor-color-gradient-control fieldset legend {
	float: left;
  }
  
  .gx-sidebar .block-editor-color-gradient-control .components-circular-option-picker {
	width: auto !important;
	float: right;
  }
  
  .edit-post-settings-sidebar__panel-block .components-panel__body.gx-panel,
  .edit-post-settings-sidebar__panel-block .components-panel__body.gx-panel .components-panel__body {
	border-top: none;
  }
  
  .edit-post-settings-sidebar__panel-block .components-panel__body.gx-panel,
  .gx-sidebar .components-panel__body.is-opened {
	max-width: 100%;
	margin-left: auto;
  }
  
  .gx-sidebar .block-editor-color-gradient-control__color-palette {
	margin-top: 0 !important;
  }
  
  /*.gx-device-control .components-radio-control__option:before {
	content: "" !important;
	display: block;
	background-image: url("../img/gx-desktop-icon.svg");
	background-size: 22px;
	width: 25px;
	height: 22px;
	background-repeat: no-repeat;
	margin: 0 auto;
  }
  
  .gx-device-control .components-radio-control__option:nth-child(2):before {
	background-image: url("../img/gx-tablet-icon.svg");
	background-size: 16px;
	width: 18px;
	height: 26px;
  }
  
  .gx-device-control .components-radio-control__option:nth-child(3):before {
	background-image: url("../img/gx-mobile-icon.svg");
	background-size: 13px;
	width: 18px;
	height: 28px;
  }
  */
  
  .gx-device-control .components-radio-control__option {
	width: 33%;
	text-align: center;
	border: 1px solid #dddfe1;
  }
  
  .gx-device-control .components-base-control__field {
	display: flex;
  }
  
  .gx-button-item
	.gx-border-item
	.accordion__panel
	.gx-colorcontrol-control
	.gx-popover-control
	.components-base-control__field
	.gx-popover-dropdown {
	margin-left: auto;
  }
  
  .gx-button-item .gx-typography-item .gx-colorcontrol-control {
	margin-top: 15px;
  }
  
  .gx-button-item .gx-typography-item .gx-alignmentcontrol-control {
	margin-bottom: 15px;
  }
  
  .gx-button-item .gx-padding-margin-item .accordion__panel {
	padding-top: 40px !important;
  }
  
  .gx-button-item .gx-padding-margin-item .gx-buttonstyles-selector-control {
	margin-bottom: 20px !important;
  }
  
  .gx-button-item .gx-accordion > div:first-child .gx-accordion-tab .components-base-control__label::after {
	top: 7px !important;
  }
  
  .gx-button-item
	.gx-typography-item
	.gx-colorcontrol-control
	.components-base-control__field
	div.gx-popover-dropdown
	button {
	position: absolute;
  }
  
  
  .gx-button-item
	.gx-border-item
	.accordion__panel
	.gx-colorcontrol-control
	.gx-popover-control
	.components-base-control__field
	span {
	line-height: 24px !important;
  }
  
  .gx-button-item
	.gx-border-item
	.accordion__panel
	.gx-colorcontrol-control
	.gx-popover-control
	.components-base-control__field
	.components-button[type="reset"] {
	height: 30px !important;
  }
  
  .gx-button-item
	.gx-border-item
	.accordion__panel
	.gx-colorcontrol-control
	.gx-popover-control
	.components-base-control__field
	svg {
	width: 16px;
	height: 16px;
  }
  
  .gx-button-item .gx-box-settings-item .gx-popover-control .gx-settings-button .components-base-control__field span {
	line-height: 23px;
  }
  
  .gx-button-item > div .accordion__panel {
	padding-bottom: 0px !important;
  }
  
  .gx-button-item .gx-box-settings-item .gx-opacity-control .components-range-control__number {
	height: 24px !important;
  }
 
  .gx-button-item .gx-typography-item {
	line-height: 25px;
  }
  
  .gx-button-item
	.gx-typography-item
	.gx-colorcontrol-control
	.gx-popover-control
	.gx-settings-button
	> .components-base-control__field
	.gx-popover-dropdown:nth-of-type(1) {
	margin-left: auto;
  }
  
  .gx-button-item
	.gx-typography-item
	.gx-colorcontrol-control
	.gx-popover-control
	.components-base-control__field
	> *:not(span) {
	width: 30px !important;
	height: 30px !important;
  }
  /* 
  .gx-button-item .gx-typography-popover .gx-settings-button .components-base-control__field .gx-popover-dropdown {
	margin-right: 2px !important;
  } 
  
  .gx-button-item
	.gx-typography-item
	.gx-colorcontrol-control
	.gx-popover-control
	.components-base-control__field
	> *:not(span)
	svg {
	 width: 12px !important; 
	 height: 12px !important; 
  	}*/ 
  
  .gx-box-shadow .components-range-control__slider {
	display: block;
	box-shadow: none;
	position: unset;
	padding: 0;
  }
  
  .gx-box-shadow {
	margin: 18px 0;
  }
  
  .gx-box-shadow .gx-colorcontrol-control .gx-settings-button .components-base-control__field > div {
	margin-right: 4px;
  }
  
  .gx-box-shadow .gx-colorcontrol-control .gx-settings-button .components-base-control__field button[type="reset"] {
	margin-right: 0px;
  }
  
  .gx-box-shadow .components-range-control__reset {
	height: 30px !important;
  }
  
  .gx-box-shadow .components-range-control__number {
	position: unset;
	height: 30px !important;
  }
  
  .gx-box-shadow .gx-popover-control .components-base-control__field {
	display: flex;
	justify-content: space-between;
  }
  
  .gx-box-shadow .gx-colorcontrol-color-display span {
	width: 24px;
	height: 24px;
	float: left;
	border: 2px solid #dddfe1;
	margin-right: 8px;
	margin-left: -4px;
	border-radius: 5px;
  }
  
  .gx-box-shadow .gx-colorcontrol-control .components-base-control__field .components-button.is-secondary {
	color: black;
	height: 30px;
	width: 30px;
	background-color: white !important;
	border: 2px solid #dddfe1;
	border-radius: 5px;
	box-shadow: unset !important;
  }
  
  .gx-box-shadow .gx-colorcontrol-control .components-base-control__field > .components-button.is-secondary {
	order: 1;
  }
  
  .gx-box-shadow
	.gx-colorcontrol-control
	.components-base-control__field
	.gx-popover-dropdown:nth-of-type(1)
	.components-button.is-secondary {
	margin-left: 186px !important;
  }
  
  .gx-box-shadow .gx-colorcontrol-control .components-base-control__field > .components-button.is-secondary svg {
	width: 12px;
	height: 12px;
	margin: auto;
  }
  
  .box-shadow .components-base-control__field {
	display: flex;
  }
  
  .divider-accordion-tab {
	padding: 7px 10px !important;
  }
  
  .divider-line {
	position: relative;
	margin: 25px 0 !important;
  }
  /* 
  .divider-alignment {
	margin-bottom: 0 !important;
  } */
  
  .divider-alignment .components-base-control__field {
	margin-bottom: 2px;
  }
  
  /*.gx-controls .gx-accordion .gx-icon-tab .components-base-control__label:before {
	content: url(../img/gx-icon-black.svg);
	width: 1.41rem;
	margin-right: 13px;
	margin-left: 2px;
  }
  */
  
  .gx-box-settings-item .gradient {
	height: 31px;
	padding: 0px 3px 0px 4px;
  }
  
  .components-gx-dimensions-control {
	width: 100%;
  }
  
  .gx-box-settings-item .box-shadow button {
	margin-left: 0;
  }
  
  .gx-box-settings-item .box-shadow {
	margin-bottom: -6px;
  }
  
  .gx-box-settings-item .component-color-indicator {
	margin-top: -3px;
  }
  
  .gx-box-settings-item .block-editor-panel-color-gradient-settings {
	width: 100% !important;
  }
  
  .gx-box-settings-item .border-color {
	padding-right: 5px !important;
  }
  
  .gx-box-settings-item .gx-Border {
	/* top: -10px; */
	margin-bottom: 20px;
  }
  
  .gx-box-settings-item .gx-Border .components-gx-dimensions-control__actions {
	margin: auto;
  }
  
  /*.gx-controls .gx-accordion .gx-box-settings-tab .components-base-control__label:before {
	content: url(../img/gx-box-settings-tab.svg);
	width: 1.29rem;
	height: 22px;
	margin-top: 2px;
  }
  
  .gx-controls .gx-accordion .gx-width-height-tab .components-base-control__label:before {
	content: url(../img/gx-width-tab.svg);
	width: 1.28rem;
	height: 22px;
  }
  */
  
  .gx-width-height-item .components-radio-control__option label {
	height: 30px !important;
	line-height: 28px;
  }
  
  .gx-width-height-item .components-range-control__number {
	top: -9px;
	height: 31px !important;
  }
  
  .gx-width-height-item .components-range-control__reset {
	height: 31px !important;
	width: 31px !important;
  }
  
  /*.gx-controls .gx-accordion .gx-padding-tab .components-base-control__label:before {
	content: url(../img/gx-padding-tab.svg);
	width: 1.28rem;
	height: 22px;
  }
  */

  /* old palette settings */
  
  .gx-sidebar .block-editor-color-palette-control__color-palette {
	margin-top: 0 !important;
  }
  
  .gx-box-settings-item .block-editor-panel-color-gradient-settings {
	width: 200px;
	margin: 0 !important;
	margin-left: 12px !important;
  }
  
  .gx-box-settings-item .block-editor-panel-color-gradient-settings {
	margin-top: 3px !important;
  }
  
  .gx-box-settings-item .gpw {
	padding: 0;
  }
  
  .gpw .trigger .inner {
	width: 16px !important;
	height: 16px !important;
	border-radius: 17px !important;
	margin: auto;
	margin-top: 1px;
  }
  
  .gradient {
	margin-top: -2px;
  }
  
  .gpw .trigger {
	border-radius: 5px !important;
	border: 2px solid #dddfe1 !important;
	padding: 4px !important;
	box-shadow: none !important;
	width: 30px;
	height: 30px;
  }
  
  .background-gradient .components-base-control__field {
	justify-content: space-between;
  }
  
  .background-gradient button {
	margin-left: 1rem;
  }
  
  .gx-border-setting .block-editor-panel-color-gradient-settings {
	margin-left: 3px !important;
	max-width: unset !important;
  }
  
  .gx-border-setting .block-editor-panel-color-gradient-settings {
	margin-bottom: 7px;
  }
  
  /* .gx-sidebar .gx-box-settings-item .components-base-control.gx-border-type .components-base-control__field {
	margin-bottom: 18px !important;
  } */
  
  .gx-box-settings-item .border-color {
	margin-bottom: 16px !important;
  }
  
/*  .gx-box-settings-item .gx-Border button.components-color-palette__clear {
	margin-right: 3px !important;
  }
  */
  .gx-box-settings-item .gx-border-type select {
	border-radius: 4px !important;
	height: 100%;
  }
  
  .gx-box-settings-item .gx-border-setting .gx-border-type .components-base-control__field {
	margin-bottom: 10px;
  }
  
  .gx-box-settings-item .gx-reset-button button {
	width: 27px;
  }
  
  .gx-controls .block-editor-block-card__content {
	background: inherit !important;
  }

  
  .gx-image-item hr {
	margin-top: 1.5em !important;
  }
  
  .gx-width-height-item .gx-size-setting .components-range-control__number {
	max-height: 30px !important;
  }
  
  .gx-border-setting {
	height: 250px !important;
	margin-bottom: 0 !important;
  }
  
  .gx-typography-popover .gx-device-control {
	margin-bottom: 15px !important;
  }
  
  .gx-font-family-selector-popover .components-popover__content {
	bottom: unset !important;
	top: 32px;
	left: 3.5px !important;
  }
  
  .gx-width-height-item .components-range-control__reset {
	top: -9px !important;
  }
  
  .gx-padding-margin-item .components-gx-dimensions-control__actions .components-gx-dimensions-control__units {
	/* width: 136px; */
	display: flex;
  }
  
  .gx-padding-margin-item .gx-Padding-dimensions-control {
	margin-bottom: 20px;
  }
  
  /* .gx-border-type {
	margin-top: 5px;
  } */
  
  .block-editor-panel-color-gradient-settings.divider-color {
	margin-top: 22px;
	padding-bottom: 32px !important;
	padding-top: 0px !important;
  }
  .gx-typography-popover .gx-unit-control {
	position: relative;
	top: 1px;
	left:-2px;
  }
  
  @media all and (max-width: 2000px) {
	.gx-width-height-item .gx-unit-control > .components-base-control__field:nth-of-type(1){
	  position: relative !important;
	  top: -1px !important;
	}
	
	.gx-width-height-item .gx-size-setting .components-range-control__number {
	  max-height: 26px !important;
	}
  
	.components-panel__body .components-gx-dimensions-control__label {
	  font-size: 13px !important;
	}
  
	.gx-button-item
	  .gx-typography-item
	  .gx-colorcontrol-control
	  .gx-popover-control
	  .components-base-control__field
	  > *:not(span) {
	  width: 26px !important;
	  height: 26px !important;
	}
  
	.gx-button-item
	  .gx-border-item
	  .accordion__panel
	  .gx-colorcontrol-control
	  .gx-popover-control
	  .components-base-control__field
	  svg {
	  width: 12px;
	  height: 12px;
	}
  
	.gx-button-item
	  .gx-border-item
	  .accordion__panel
	  .gx-colorcontrol-control
	  .gx-popover-control
	  .components-base-control__field
	  .components-button[type="reset"] {
	  height: 26px !important;
	}
  
	.gx-width-height-item .components-radio-control__option label {
	  height: 26px !important;
	  line-height: 26px;
	  width: 25px !important;
	  left: -31px !important;
	  min-width: unset;
	  position: relative;
	}
	.gx-width-height-item .components-range-control__number {
	  /* top: -43px; */
	  height: 31px !important;
	  /* position: relative !important; */
	  /* left: 29.4%; */
	}
	.gx-width-height-item .gx-unit-control .components-base-control__field {
	  left: 30px;
	  position: relative;
	}
	.gx-typography-popover .components-range-control__number {
	  top: -2px !important;
	  left: 226px;
	}
	.components-circular-option-picker .components-button.components-circular-option-picker__clear.is-secondary.is-small {
	  margin-top: 0px !important;
	}
	.divider-dimension .components-range-control__number {
	  left: 167px;
	}
	/*.gx-controls .gx-accordion .components-base-control__label[aria-expanded="true"]:after {
	  /* content: url(../img/arrow-down.svg); */
	 /* content: url(../img/arrow-right.svg);
	  width: 6px;
	  position: absolute;
	  top: 10px;
	  right: 10px;
	  transition: transform 0.3s;
	}*/
	.components-range-control__number {
	  min-height: 26px !important;
	  max-width: 48px;
	  height: 25px;
	  top: 0px;
	  left: 250px;
	  z-index: 1;
	  padding: 0 !important;
	  border: 2px solid #dddfe1 !important;
	  padding-left: 5px !important;
	  padding-top: 1px !important;
	}
	.gx-with-unit-control .components-range-control__reset {
	  margin-left: 0 !important;
	  z-index: 100;
	}
	.gx-box-settings-item .bg-color-parent .components-button.is-link {
	  top: -12.4px !important;
	}
	.gx-box-settings-item .bg-color-parent .components-circular-option-picker__clear {
	  top: -16.4px !important;
	}
	.gx-with-unit-control .components-range-control__reset {
	  top: -1px;
	  left: 88% !important;
	  z-index: 100;
	}
	.gx-unit-control {
	  float: right;
	  margin-bottom: -30px !important;
	  z-index: 100;
	}
	.components-range-control__number {
	  min-height: 26px !important;
	  max-width: 48px;
	  height: 25px;
	  top: 0px;
	  left: 234px;
	  z-index: 1;
	  padding: 0 !important;
	  border: 2px solid #dddfe1 !important;
	  padding-left: 5px !important;
	  padding-top: 1px !important;
	}
  
	.gx-controls .gx-box-settings-item .accordion__panel[aria-hidden="false"] {
	  margin-top: -30px;
	  width: 109% !important;
	  margin-bottom: 20px;
	  margin-left: -4%;
	  margin-right: auto;
	  padding-top: 53px;
	  padding-bottom: 24px;
	  border-top: 2px solid #e8eaeb;
	}
	.gx-controls .accordion__panel {
	  margin-top: -30px;
	  width: 109% !important;
	  margin-bottom: 20px;
	  margin-left: -4%;
	  margin-right: auto;
	  padding-top: 28px;
	  padding-bottom: 24px;
	  border-top: 2px solid #e8eaeb;
	}
	.block-editor-block-card::after {
	  position: absolute;
	  content: url("../img/gx-logo.svg");
	  width: 1.4rem !important;
	  right: 30px;
	  top: 8px !important;
	}
	.gx-typography-popover .components-popover__content {
	  padding: 19px 26px 19px 19px !important;
	}
	
  
  .gx-image-width
  .components-base-control__field >
  input[type="number"].components-range-control__number{
	margin-bottom: 5px;
	margin-right: 3px;
	margin-top:2px !important;
	height:26px !important;
  }
  
  .gx-image-max-width
  .components-base-control__field >
  input[type="number"].components-range-control__number{
	margin-right: 3px;
	margin-top:2px !important;
	height:26px !important;
  }
  
  .gx-image-width
  .components-base-control__field >
  .components-button.components-range-control__reset.is-secondary.is-small{
	margin-top:-4px !important;
	height: 24px !important;
	width: 24px !important;
  }
  
  .gx-image-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field,
  .gx-image-max-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field{
	position: relative ;
	top: -1px !important;
	left:3px !important;
  }
  
  .gx-image-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field > .components-radio-control__option > label,
  .gx-image-max-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field > .components-radio-control__option > label{
	height:26px !important;
	line-height: 26px !important;
  }
  
  .gx-image-max-width 
  .components-base-control__field >
  .components-button.components-range-control__reset.is-secondary.is-small{
   margin-top: 2px !important;
   height: 24px !important;
   width: 24px !important;
  }
  
  .gx-typography-popover
  .components-base-control__label +
  button.components-button.is-secondary{
	width:30px !important;
	height:30px !important;
  }
  
  .gx-settings-button
  .components-button.is-secondary > svg{
	 width:18px !important;
	 height:18px !important;
  }
  
  .gx-accordion-tabgx-image-tab
  .components-button.is-secondary{
   width:30px !important;
   height:30px !important;
  }
  
  .gx-width-height-item 
  .components-base-control__field >
  input[type="number"].components-range-control__number{
   height: 26px !important;
   margin-right: 4px !important;
  }
  
  .gx-box-shadow
  .components-base-control__field > .components-button.is-secondary{
   width: 30px !important;
   height: 30px !important;
  }

  .components-range-control.gx-with-unit-control .components-base-control__field .components-range-control__number {
	margin-left: auto;
	max-height: 28px;
	height:28px !important;
	margin-right: 2px;
	
  }

  .gx-typography-popover
  .components-base-control__field
  .components-range-control__number{
	margin-top: 0px !important;
  }
  
  .gx-typography-popover
  .components-base-control__field >
  .components-button.components-range-control__reset.is-secondary.is-small{
	margin-top: 2px !important;
  }
  
  .gx-background-item
  .components-base-control__field > .components-range-control__number{
	height: 26px !important;
  }
  
  .gx-width-height-item .components-base-control.gx-unit-control.components-radio-control{
	position:relative;
	top:0px !important;
  }

  .gx-popover >
  .components-popover__content >
  .components-base-control.gx-unit-control.components-radio-control{
	  position:relative;
	  top:-1px !important;
  }

  .gx-button-item
	.gx-box-settings-item
	.components-base-control.components-range-control.gx-opacity-control
	.components-base-control__field > .components-range-control__number{
	  height: 26px !important;
	  margin-right: -5px;
	}

  .gx-popover >
  .components-popover__content
  .components-base-control.gx-colorcontrol-control
  button.components-button.is-secondary{
	  width:30px !important;
	  height:30px !important;
  }

  .gx-divider-item
  .components-base-control.components-range-control.gx-with-unit-control{
	position:relative;
	margin-bottom: 10px !important;
  }
  
  .gx-divider-item
  .components-range-control__number{
	position: absolute !important;
	top: -2px !important;
	right: 26px !important;
  }

  .gx-divider-item
  .components-base-control.gx-unit-control.components-radio-control{
	 position: relative !important;
	 top: -3px !important;
	 right: 2px !important;
  }

  .gx-background-control{
	  padding: 30px !important;
  }

  .gx-background-control
  .components-button.editor-post-featured-image__toggle{
	  min-height: 40px !important;
	  height:40px;
	  width:100% !important;
  }

  .gx-background-control
  .components-base-control__field{
	  position: relative;
  }

  .gx-background-control
  .components-base-control__field
  .components-dropdown.gx-popover-dropdown:nth-of-type(1){
	  position: absolute;
	  right:56px !important;
  }

  .gx-imagesettings-control
	.accordion__panel
	 .components-base-control.gx-unit-control.components-radio-control {
		position: relative;
		top: -1px !important;
		margin-right: 82px !important;
	  }

	  .gx-popover >
	  .components-popover__content > div:last-child{
		  margin-bottom: 20px !important;
	  }

  .gx-imagesettings-control >
  .gx-style-tab-setting.gx-accordion.is-secondary >
  .gx-background-item >
  .accordion__panel >
  .components-base-control.components-range-control >
  .components-base-control__field >
  input.components-range-control__number{
	position: absolute;
	top: 0 !important;
	left: 173px !important;
  }

  .components-popover__content
  .components-base-control.components-range-control.gx-shadow-horizontal-control >
  .components-base-control__field >
  input.components-range-control__number,
  .components-popover__content
  .components-base-control.components-range-control.gx-shadow-vertical-control >
  .components-base-control__field >
  input.components-range-control__number,
  .components-popover__content
  .components-base-control.components-range-control.gx-shadow-blur-control >
  .components-base-control__field >
  input.components-range-control__number,
  .components-popover__content
  .components-base-control.components-range-control.gx-shadow-spread-control >
  .components-base-control__field >
  input.components-range-control__number{
	  position:absolute;
	  top: 0 !important;
	  left:243px !important;
  }

  .block-editor-block-card__content > 
  .block-editor-block-card__description{
	  width: 100%;
	  margin-top: 10px !important;
  }

  .gx-buttonsettings-control
  .gx-popover-control.gx-boxshadow-control
  .components-base-control.gx-settings-button
  .components-base-control__field{
	  position: relative;
	  margin-top: 5px !important;
  }

  /*============================================================*/
  .gx-popover >
  .components-popover__content
  .components-base-control.components-range-control.gx-with-unit-control >
  .components-base-control__field
  .components-range-control__root.css-yaebbd-Root.exqw8y20 >
  .css-uojzqi-ActionRightWrapper.exqw8y214 > 
  button.components-button.is-secondary{
	border: 1px solid #dddfe1 !important;
	width:28px !important;
	height:28px !important;
  }

  .gx-popover >
  .components-popover__content
  .components-base-control.components-range-control.gx-with-unit-control 
  .components-range-control__root.css-yaebbd-Root.exqw8y20 >
  .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	width: 43px;
	min-width: 40px !important;
	position: relative;
	left: 8px !important;
  }

  .gx-divider-item
  .components-base-control.gx-block-style.components-base-control.divider-alignment
  select.components-select-control__input{
	  width:266px !important;
  }

  .gx-divider-item
  .css-uojzqi-ActionRightWrapper.exqw8y214 >
  button.components-button.components-range-control__reset.is-secondary.is-small{
	position: absolute;
	right: 0;
	top: -1px !important;
  }

  .gx-divider-item
  .accordion__panel
  .components-range-control__root.css-yaebbd-Root.exqw8y20 >
  .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	position: relative;
	top:-2px !important;
	right: 31px !important;
	width: 44px !important;
  }

  .gx-imagesettings-control
  .components-base-control.components-range-control.gx-with-unit-control
 .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	position: absolute;
	top: 0;
	right: 26px !important;
 }

 .gx-imagesettings-control
 .components-base-control.components-range-control.gx-with-unit-control
 .css-uojzqi-ActionRightWrapper.exqw8y214{
	position: relative;
	top: 1px;
	left: 96px !important;
 }

 .gx-background-item
 .gx-boxshadow-control
 button.components-button.is-secondary{
	position: relative;
	top:-4px !important;
 }

 .components-popover__content > div:nth-of-type(2)
 .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	 top:1px !important;
 }

 .components-popover__content > div:nth-of-type(2)
 .css-uojzqi-ActionRightWrapper.exqw8y214{
	 margin-top: 1px !important;
 }

 .components-popover__content > div:nth-of-type(3)
 .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	 top:1px !important;
 }

 .components-popover__content > div:nth-of-type(3)
 .css-uojzqi-ActionRightWrapper.exqw8y214{
	 margin-top: 1px !important;
 }

 .gx-width-height-item
 .components-range-control__root.css-yaebbd-Root.exqw8y20 >
 .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
     position: relative;
     top: 0;
     left: 6px;
 }

 .gx-box-settings-item
 .components-tab-panel__tabs
 button > svg{
	position: relative;
	top: -2px;
 }

}
  
  .editor-styles-wrapper h1::before,
  .editor-styles-wrapper h2::before,
  h2::before {
	display: none !important;
	background: white !important;
  }
  
  .components-base-control__field select {
	max-width: 8.5rem;
  }
  
  .components-base-control__label {
	margin-bottom: 0 !important;
	vertical-align: sub;
	min-height: 24px;
  }
  
  .block-editor-block-card::after {
	position: absolute;
	content: url("../img/gx-logo.svg");
	width: 1.9rem;
	right: 10px;
	/* top: 15px; */
  }
  
  .editor-styles-wrapper .gx-title-extra-subtitle {
	font-size: 16px !important;
  }
  
  .editor-styles-wrapper .gx-title-extra-title {
	font-size: 38px !important;
  }
  
  .editor-styles-wrapper .gx-title-extra-text {
	font-size: 16px !important;
  }
  
  .components-panel__body.block-editor-panel-color-gradient-settings.is-opened {
	padding: 0;
  }
  
  .components-panel__header.edit-post-sidebar-header.edit-post-sidebar__panel-tabs > ul > li > button
   {
	 width: 100% !important;
	 height: 100% !important;
	 padding: 16px;
  }

  .gx-image-width
  .components-base-control__field >
  input[type="number"].components-range-control__number{
	margin-bottom: 5px;
	margin-right: 3px;
	height:30px;
  }
  
  .gx-image-max-width
  .components-base-control__field >
  input[type="number"].components-range-control__number{
	margin-right: 3px;
	height:30px;
  }
  
  .gx-image-width
  .components-base-control__field >
  .components-button.components-range-control__reset.is-secondary.is-small{
	margin-top:-5px;
	height: 26px ;
	width: 26px ;
  }
  
  .gx-image-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field,
  .gx-image-max-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field{
	position: relative ;
	top:1px !important;
	left:-5px;
  }
  
  .gx-image-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field > .components-radio-control__option > label,
  .gx-image-max-width > .components-base-control.gx-unit-control.components-radio-control > .components-base-control__field > .components-radio-control__option > label{
	height:30px;
	line-height: 30px;
  }
  
  .gx-image-max-width 
  .components-base-control__field >
  .components-button.components-range-control__reset.is-secondary.is-small{
   margin-top: 0 ;
   height: 26px ;
   width: 26px ;
  }
  
  .gx-typography-popover
  .components-base-control__label +
  button.components-button.is-secondary{
	width:30px !important;
	height:30px !important;
  }
  
  .gx-settings-button
  .components-button.is-secondary > svg{
	 width:18px !important;
	 height:18px !important;
  }
  
  .gx-accordion-tabgx-image-tab
  .components-button.is-secondary{
   width:30px !important;
   height:30px !important;
  }
  
  .gx-width-height-item
  .components-base-control.gx-unit-control.components-radio-control{
	position:relative;
	top: 1px;
	right: 4px;
  }
  
  .gx-box-shadow
  .components-base-control__field > .components-button.is-secondary{
   width: 30px !important;
   height: 30px !important;
  }
  
  .gx-typography-popover
  .components-base-control__field
  .components-range-control__number{
	margin-top: -2px !important;
  }
  
  .gx-typography-popover
  .components-base-control__field
  .components-button.components-range-control__reset.is-secondary.is-small{
	margin-top:-1px;
  }
  
  .gx-background-item
  .components-base-control__field > .components-range-control__number{
	height: 30px;
  }
  
  .gx-button-item
  .gx-box-settings-item
  .components-base-control__field > .components-range-control__number{
	height: 30px !important;
	margin-right: -5px;
  }
  
  .gx-box-shadow{
	padding: 15px 27px 25px 10px !important;
  }
  
  

  .gx-divider-item
  .components-base-control__field{
	  margin-bottom:2px !important;
  }
  
  .gx-divider-item
  .components-range-control__number{
	  position: relative;
	  top:0;
  }

  .gx-divider-item
  .components-base-control.gx-unit-control.components-radio-control{
	position:relative;
	top:3px;
  }

  .gx-background-control{
	  padding: 40px;
  }

  .gx-background-control
  .components-button.editor-post-featured-image__toggle{
	  min-height: 40px !important;
	  height:40px;
  }

  .gx-background-control
  .components-base-control__field{
	  position: relative;
  }

  .gx-background-control
  .components-base-control__field
  .components-dropdown.gx-popover-dropdown:nth-of-type(1){
	  position: absolute;
	  right:63px;
  }

  .gx-box-settings-item
  .gx-border-control
  .components-base-control__field{
	  display:flex;
	  justify-content: space-between;
  }

  .gx-width-height-item
  .components-base-control.components-range-control.gx-with-unit-control >
  .components-base-control__field{
	  margin-bottom: 5px !important;
  }

  .gx-imagesettings-control
  .accordion__panel >
  div:last-child{
	  margin-top: 5px !important;
  }

  .gx-imagesettings-control
  .components-base-control.gx-unit-control.components-radio-control{
	  position: relative;
	  top:1px !important;
	  margin-right: 86px !important
  }

  .gx-imagesettings-control >
  .gx-style-tab-setting.gx-accordion.is-secondary >
  .gx-background-item >
  .accordion__panel >
  .components-base-control.components-range-control >
  .components-base-control__field {
	  position:relative !important;
	  display:flex;
	  justify-content: space-between;
	  flex-wrap: nowrap !important;
  }

  
  .gx-box-settings-item
  .components-base-control.bg-color-parent.gx-reset-button.background-gradient{
	  position:relative;
  }

  .gx-box-settings-item
  .gx-popover-control.gx-boxshadow-control{
	  position:relative;
	  width:100% !important;
  }

  .gx-box-settings-item
  .gx-popover-control.gx-boxshadow-control
  .components-dropdown.gx-popover-dropdown{
	position:absolute;
	right:0px !important;
  }

  .gx-buttonsettings-control
  .gx-popover-control.gx-boxshadow-control
  .components-base-control.gx-settings-button
  .components-base-control__field{
	  position: relative;
	  margin-top: 7px !important;
  }

  button.components-button.is-secondary:hover{
	  background-color: white !important;
	  border-color: #c5c5c5 !important;
  }

  .gx-buttonsettings-control
  .components-panel__body.components-base-control.editor-panel-color-settings.block-editor-panel-color-settings.is-opened.typography.gx-typography-control{
	  margin-top: 0 !important;
  }

  .gx-buttonsettings-control
  .components-panel__body.components-base-control.editor-panel-color-settings.block-editor-panel-color-settings.is-opened.typography.gx-typography-control
  .gx-typography-color-display{
	  position:relative;
	  left: 0 !important;
	  margin-right:8px !important;
  }

  .gx-buttonsettings-control
  .components-panel__body.components-base-control.editor-panel-color-settings.block-editor-panel-color-settings.is-opened.typography.gx-typography-control
  button.components-button.is-secondary{
	  margin-right: -3px !important;
  }

  .css-uojzqi-ActionRightWrapper.exqw8y214
  button.components-button.is-secondary{
	  border-radius:5px !important;
	  border: 1px solid #dddfe1 !important;
  }

  /*===============================================================*/
  .css-yaebbd-Root{
	  position: unset !important;
  }

  .components-button.is-secondary {
	box-shadow: none !important;
  }

  .css-uojzqi-ActionRightWrapper button, .css-uojzqi-ActionRightWrapper button.is-small {
    margin-left: 0px;
    height: 30px;
    min-height: unset !important;
  }

  .css-1foiknu-InputNumber{
	  min-width: unset !important;
  }

  .components-select-control__input{
	  border-radius:5px !important;
	  border: 1px solid #dddfe1 !important;
  }

  .block-editor-block-card__content >
  .block-editor-block-card__title{
	  color:#fff;
  }

  .block-editor-block-card__content >
  .block-editor-block-card__description{
	  display:block !important;
  }

  .gx-divider-item
  .components-range-control__wrapper.css-pp5lt-Wrapper.exqw8y21{
	  display:none !important;
  }

  .gx-divider-item
  .components-range-control__root.css-yaebbd-Root.exqw8y20 >
  .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	position: relative;
    left: 8px;
    border-radius: 5px;
    width: 47px !important;
  }

 .gx-box-settings-item
 .components-select-control__input{
	 height:28px !important;
 }
 
 .gx-box-settings-item
 button.components-button.is-secondary{
	 border-radius: 5px !important;
 }

 .gx-width-height-item
 .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	position: relative;
	top: 0;
	left: 7px;
 }

 .gx-imagesettings-control
 .components-range-control__wrapper.css-pp5lt-Wrapper.exqw8y21{
	 display:none !important;
 }

 .gx-imagesettings-control
 .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	 position: absolute;
	 top:0;
	 right:30px !important;
 }

 .gx-imagesettings-control
 .css-uojzqi-ActionRightWrapper.exqw8y214{
	position: relative;
	top: 0px;
	left: 142px !important;
 }

 .gx-background-item
 .components-range-control__wrapper.css-pp5lt-Wrapper.exqw8y21{
	display:unset !important;
}

.gx-background-item
.components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	position: unset !important;
}

.gx-background-item
.css-uojzqi-ActionRightWrapper.exqw8y214{
	position:unset !important;
 }

 .gx-background-item
 button.components-button.is-secondary{
	 border-radius: 5px !important;
 }