/* main panel */
#accordion-panel-MaxiBlocks h3 {
	background: #000 !important;
	color: #fff !important;
	border-left-color: #fff !important;
}
#accordion-panel-MaxiBlocks *,
#accordion-panel-MaxiBlocks h3:after {
	color: #fff !important;
}
#accordion-panel-MaxiBlocks h3:before {
	content: "";
	display: block;
	background: url(../img/maxi-icon-white.svg);
	height: 30px !important;
	width: 30px !important;
	float: left;
	background-repeat: no-repeat;
	background-position: left;
	margin-top: -3px;
}
