/* main panel */
#accordion-panel-MaxiBlocks h3 {
	background: #000 !important;
	color: #fff !important;
	border-left-color: #fff !important;
}
#accordion-panel-MaxiBlocks *,
#accordion-panel-MaxiBlocks h3:after {
	color: #fff !important;
}
#accordion-panel-MaxiBlocks h3:before {
	content: "";
	display: block;
	background: url(../img/maxi-icon-white.svg);
	height: 30px !important;
	width: 30px !important;
	float: left;
	background-repeat: no-repeat;
	background-position: left;
	margin-top: -3px;
}

/* Layout Button & Global Styles Button */
#maxi-button__layout,
#maxi-button__go-to-customizer {
	display: flex;
	align-items: center;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 0.5px;
	color: #081219;
	background-color: #fff;
	margin-left: 10px;
	border-radius: 3px;
	float: right;
	border: 2px solid #dddfe2;
	box-shadow: none !important;
	padding: 5px 15px;
	justify-content: center;
	min-height: 45px;
	transition: all 0.5s;
}
#maxi-button__layout:before,
#maxi-button__go-to-customizer:before {
	display: inline-block;
	content: '';
	background-image: url('../img/maxi-logo.svg');
    background-size: 18px 18px;
    height: 18px;
    width: 18px;
    margin: 0 5px 2px 0;
}
#maxi-button__layout:hover,
#maxi-button__go-to-customizer:hover {
	border-color: #ff4a17;
}
