.maxi-prompt-control-result-modify-bar {
	&__modification-options {
		display: flex;
		gap: 8px;
		margin-top: 10px;

		& > *:first-child {
			flex-grow: 1;
		}

		& > div > div > div {
			border-color: var(--mgl);
		}
	}

	&__button {
		background: var(--mmg);
		border-radius: 10px;
		color: var(--mb) !important;
		font-size: 12px;
		height: 30px;
		margin: 0;
		padding: 2px 13px;
		&:hover {
			background: var(--mw);
			color: var(--mpc) !important;
		}
	}
}

.maxi-prompt-control-results-card__clean-history-button {
	margin-top: 2px;
}

.maxi-prompt-control-results-card__clean-history-button:hover {
	color: var(--mpc) !important;
}
