@import '../../../../../src/css/backend-variables.scss';
.maxi-prompt-control-result-modify-bar {
	&__modification-options {
		display: flex;
		gap: 8px;
		margin-top: 10px;

		& > *:first-child {
			flex-grow: 1;
		}

		& > div > div > div {
			border-color: $gl;
		}
	}

	&__button {
		background: $mg;
		border-radius: 10px;
		color: $bk !important;
		font-size: 12px;
		height: 30px;
		margin: 0;
		padding: 2px 13px;
		&:hover {
			background: $w;
			color: $pc !important;
		}
	}
}

.maxi-prompt-control-results-card__clean-history-button {
	margin-top: 2px;
}

.maxi-prompt-control-results-card__clean-history-button:hover {
	color: $pc !important;
}
