.toolbar-item__icon-color__popover {
	min-width: var(--mx-popover-width-lg);

	&__warning {
		text-align: left;
		font-style: italic;
		margin-bottom: var(--mx-spacing-md);
		margin-top: 0;
		border-left: var(--mx-border-width) solid var(--mx-color-primary);
		padding: var(--mx-spacing-xs) 0 var(--mx-spacing-xs)
			var(--mx-spacing-md);
		border-radius: 0;
		color: var(--mx-color-text);
	}
}
