.maxi-toolbar-layout {
	&__button {
		display: flex;
		align-items: center;
		font-family: Inter, sans-serif;
		font-size: 14px;
		letter-spacing: 0.5px;
		color: var(--mb);
		background-color: var(--mw);
		margin-left: 10px;
		border-radius: 10px;
		float: right;
		border: 2px solid var(--mgl);
		box-shadow: none !important;
		padding: 10px 7px;
		justify-content: center;
		min-height: 45px;
		transition: all 0.5s;
		overflow: hidden;

		svg {
			width: 130px;
			height: 30px;
			fill: inherit;
		}
		&:hover,
		&[aria-pressed='true'] {
			border-color: var(--mpc);
		}
	}
}

body.maxi-blocks--active .edit-post-header-toolbar {
	flex-grow: 0;
}

//FSE
.edit-site {
	.edit-site-site-hub {
		z-index: 4;
	}
	.edit-site-layout__header {
		z-index: 3;

		// To make SC popup appear on click even after FSE template switch
		&:has(.maxi-style-cards__popover) {
			transform: none !important;
		}
	}
	.maxi-toolbar-layout__button {
		position: absolute;
		left: 280px;
		top: 7px;
		margin-left: 0;
	}
	.edit-site-layout__header-container {
		z-index: 6;
	}
}

// fix for 6.8
body.branch-6-8 {
	.edit-site {
		.maxi-toolbar-layout__button {
			left: 245px;
		}
	}
}

@media only screen and (max-width: 781px) {
	.edit-site {
		.maxi-toolbar-layout__button {
			left: 125px;
		}
	}
}
