.maxi-toolbar-layout {
	display: flex;
	align-items: center;
	gap: 8px;

	&__button {
		display: flex;
		align-items: center;
		font-family: Inter, sans-serif;
		font-size: 14px;
		letter-spacing: 0.5px;
		color: var(--maxi-black);
		background-color: var(--maxi-white);
		margin-left: 10px;
		border-radius: 10px;
		float: right;
		border: 2px solid var(--maxi-grey-light);
		box-shadow: none !important;
		padding: 10px 7px;
		justify-content: center;
		min-height: 45px;
		transition: all 0.5s;
		overflow: hidden;

		svg {
			width: 130px;
			height: 30px;
			fill: inherit;
		}
		&:hover,
		&[aria-pressed='true'] {
			border-color: var(--maxi-primary-color);
		}

		&--ai {
			min-width: 45px;
			padding: 10px;
			margin-left: 0;

			&:hover,
			&[aria-pressed='true'] {
				border-color: transparent;
				background-image: linear-gradient(var(--maxi-white), var(--maxi-white)),
					linear-gradient(135deg, var(--maxi-orange-red), var(--maxi-golden-orange), var(--maxi-bright-yellow), var(--maxi-deep-golden));
				background-origin: border-box;
				background-clip: padding-box, border-box;
			}
		}
	}
}

body.maxi-blocks--active .edit-post-header-toolbar {
	flex-grow: 0;
}

//FSE
.edit-site {
	.edit-site-site-hub {
		z-index: 4;
	}
	.edit-site-layout__header {
		z-index: 3;

		// To make SC popup appear on click even after FSE template switch
		&:has(.maxi-style-cards__popover) {
			transform: none !important;
		}
	}
	.edit-site-layout__header-container {
		z-index: 6;
	}
}

// Prevent toolbar from expanding - applies to both editors
body.maxi-blocks--active {
	.edit-site-header-edit-mode__start,
	.editor-header__toolbar {
		flex-grow: 0;
	}
}
