.toolbar-item__popover {
	.toolbar-item__divider-alignment__popover {
		min-width: 270px;
	}

	.maxi-alignment-control {
		.maxi-tabs-control__button {
			border: 1px solid var(--mgl);
			padding: 5px 30px;

			&:hover {
				background-color: var(--mwg);
				border-color: var(--mpc) !important;
			}

			&[aria-pressed='true'] {
				background-color: var(--mwg) !important;
				border-color: var(--mpc) !important;
				color: var(--mb) !important;
			}
		}
		.maxi-tabs-control {
			margin-bottom: 0;
		}
	}
}
