@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__popover {
	.toolbar-item__divider-alignment__popover {
		min-width: 270px;
	}

	.maxi-alignment-control {
		.maxi-tabs-control__button {
			border: $bl;
			padding: 5px 30px;

			&:hover {
				background-color: $wg;
				border-color: $pc !important;
			}

			&[aria-pressed='true'] {
				background-color: $wg !important;
				border-color: $pc !important;
				color: $bk !important;
			}
		}
		.maxi-tabs-control {
			margin-bottom: 0;
		}
	}
}
