.toolbar-item__popover {
	.toolbar-item__divider-alignment__popover {
		min-width: 270px;
	}

	.maxi-alignment-control {
		.maxi-tabs-control__button {
			border: 1px solid var(--maxi-grey-light);
		}

		.maxi-tabs-control {
			margin-bottom: 0;
		}
	}
}
