.maxi-scroll-effects-control {
	.maxi-base-control {
		flex: 1;
		&__help {
			color: var(--mg);
			font-size: 14px !important;
		}
		.maxi-tabs-control__button {
			&:not(.maxi-tabs-control__button-rotate) {
				svg {
					path {
						stroke: var(--mg);
						fill: var(--mg);
					}
				}
			}
			&-rotate {
				svg {
					path {
						fill: var(--mg);
					}
				}
			}
			&-blur {
				svg {
					stroke: var(--mg);
				}
			}
			&--selected:not(.maxi-tabs-control__button-rotate) {
				svg {
					path {
						stroke: var(--msc);
					}
				}
			}
			&-rotate {
				&.maxi-tabs-control__button--selected {
					svg {
						path {
							fill: var(--msc);
						}
					}
				}
			}
			&-blur {
				&.maxi-tabs-control__button--selected {
					svg {
						stroke: var(--msc);
					}
				}
			}
		}
		.maxi-tabs-control__button {
			padding: 8.5px;
			margin-right: 5px;
			border: 1.5px solid var(--mgl);
			border-radius: 4px;
			&:last-child {
				margin-right: 0;
			}
		}
		.maxi-tabs-control:has(button.maxi-tabs-control__button-vertical)
			> .maxi-tabs-control__button {
			padding: 5px;
			margin-right: 12px;
			border: 1.5px solid var(--mgl);
			border-radius: 4px;
			width: 34px;
			height: 34px;
			&:last-child {
				margin-right: 0;
			}
		}

		.maxi-tabs-control__button[aria-pressed='true'] {
			background-color: var(--mwg) !important;
			border-color: var(--maxi-primary-green) !important;
		}
		.maxi-tabs-control__button svg:not(.maxi-tabs-control__notification) {
			height: 100%;
			margin: 0;
			fill: var(--msc) !important;
		}
	}
	.maxi-scroll-unique-control {
		margin: 20px 0 5px;

		&__slider-wrapper {
			position: relative;
		}

		.maxi-scroll-unique-control-slider {
			width: 2px;
			height: 400px;
			background-color: var(--mgl) !important;
			border-radius: var(--maxi-radius-sm);
			padding: 20px 0;
			margin: 0 20px;

			&__thumb {
				width: 30px;
				height: 30px;
				line-height: 30px;
				background-color: var(--mmg);
				border: 1.5px solid var(--msc);
				border-radius: 50%;
				color: var(--mw);
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: grab;
				outline: none;
				box-shadow: 0 2px 6px var(--mwg) !important;
				transition: transform 0.1s ease;
				transform: translateX(-50%);
				padding: 20px !important;

				&--selected {
					background-color: var(--mlb-a);
					color: var(--mw) !important;
					font-weight: bold !important;
				}

				&-label-wrapper {
					position: absolute;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 8px;
					left: 50px;
					white-space: nowrap;
					background-color: var(--mpg);
					padding: 4px 20px;
					border-radius: 20px;
					width: 200px;
				}

				&-label-delete {
					display: flex;
					cursor: pointer;
					align-items: center;
					svg {
						width: 17px;
						height: 17px;
						path {
							fill: var(--mg);
							transition: fill 0.3s ease;
						}
					}

					&:hover svg path {
						fill: var(--msc) !important;
					}
				}
			}

			&__divider {
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: var(--mpg);
				top: 50%;
				transform: translateY(-50%);
			}

			&__add-button {
				position: absolute;
				left: 10px;
				transform: translateY(-50%);
				background-color: var(--mdyd);
				color: var(--mw);
				width: 25px;
				height: 25px;
				line-height: 20px;
				text-align: center;
				border-radius: 50%;
				font-size: 16px;
				font-weight: bolder !important;
				user-select: none;
				cursor: pointer;
				transition: var(--maxi-trans-std);
				border: 1px solid transparent;
				padding-bottom: 5px !important;

				&:hover {
					background-color: var(--mhp);
					border: 1px solid var(--mtc);
				}
			}
		}

		.maxi-settingstab-control {
			.maxi-tabs-control {
				margin-left: 0;
				margin-right: 0;
				.maxi-tabs-control__button {
					padding: 8px;
					margin-right: 5px;
					border: 1.5px solid var(--mgl) !important;
					border-radius: 4px;
					font-weight: 400;
				}

				.maxi-tabs-control__button[aria-pressed='true'] {
					background-color: var(--mpg) !important;
					border-color: var(--maxi-primary-green) !important;
					font-weight: 700;
				}
			}
			.maxi-tabs-content {
				padding-top: 10px;
			}
		}

		.maxi-advanced-number-control {
			margin-top: 15px;
		}
	}
	.maxi-scroll-combinations-select .maxi-base-control__field {
		flex-direction: column;
		align-items: flex-start;
	}
	.components-button {
		box-shadow: none;
		transition: var(--maxi-trans-std);

		&:hover:enabled {
			// background-color: var(--mpg);
			// border-color: var(--mmg);
		}
	}
	.maxi-tab-content {
		.maxi-base-control {
			.maxi-select-control__input {
				flex: 2;
			}
		}
	}
}
