@import '../../../src/css/backend-variables.scss';
.maxi-scroll-effects-control {
	.maxi-base-control {
		flex: 1;
		&__help {
			color: $g;
			font-size: 14px !important;
		}
		.maxi-tabs-control__button {
			&:not(.maxi-tabs-control__button-rotate) {
				svg {
					path {
						stroke: $g;
						fill: $g;
					}
				}
			}
			&-rotate {
				svg {
					path {
						fill: $g;
					}
				}
			}
			&-blur {
				svg {
					stroke: $g;
				}
			}
			&--selected:not(.maxi-tabs-control__button-rotate) {
				svg {
					path {
						stroke: $sc;
					}
				}
			}
			&-rotate {
				&.maxi-tabs-control__button--selected {
					svg {
						path {
							fill: $sc;
						}
					}
				}
			}
			&-blur {
				&.maxi-tabs-control__button--selected {
					svg {
						stroke: $sc;
					}
				}
			}
		}
		.maxi-tabs-control__button {
			padding: 8.5px;
			margin-right: 5px;
			border: $bg;
			border-radius: 4px;
			&:last-child {
				margin-right: 0;
			}
		}
		.maxi-tabs-control:has(button.maxi-tabs-control__button-vertical)
			> .maxi-tabs-control__button {
			padding: 5px;
			margin-right: 12px;
			border: $bg;
			border-radius: 4px;
			width: 34px;
			height: 34px;
			&:last-child {
				margin-right: 0;
			}
		}

		.maxi-tabs-control__button[aria-pressed='true'] {
			background-color: $wg !important;
			border-color: $pgr !important;
		}
		.maxi-tabs-control__button svg:not(.maxi-tabs-control__notification) {
			height: 100%;
			margin: 0;
			fill: $sc !important;
		}
	}
	.maxi-scroll-unique-control {
		margin: 20px 0 5px;

		&__slider-wrapper {
			position: $pr;
		}

		.maxi-scroll-unique-control-slider {
			width: 2px;
			height: 400px;
			background-color: $gl !important;
			border-radius: 5px;
			padding: 20px 0;
			margin: 0 20px;

			&__thumb {
				width: 30px;
				height: 30px;
				line-height: 30px;
				background-color: $mg;
				border: 1.5px solid $sc;
				border-radius: 50%;
				color: $w;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: grab;
				outline: none;
				box-shadow: 0 2px 6px $wg !important;
				transition: transform 0.1s ease;
				transform: translateX(-50%);
				padding: 20px !important;

				&--selected {
					background-color: var(--maxi-light-blue-alt);
					color: $w !important;
					font-weight: bold !important;
				}

				&-label-wrapper {
					position: $pa;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 8px;
					left: 50px;
					white-space: nowrap;
					background-color: $pg;
					padding: 4px 20px;
					border-radius: 20px;
					width: 200px;
				}

				&-label-delete {
					display: flex;
					cursor: $ptr;
					align-items: center;
					svg {
						width: 17px;
						height: 17px;
						path {
							fill: $g;
							transition: fill 0.3s ease;
						}
					}

					&:hover svg path {
						fill: $sc !important;
					}
				}
			}

			&__divider {
				position: $pa;
				width: 100%;
				height: 2px;
				background-color: $pg;
				top: 50%;
				transform: translateY(-50%);
			}

			&__add-button {
				position: $pa;
				left: 10px;
				transform: translateY(-50%);
				background-color: var(--maxi-deep-golden);
				color: $w;
				width: 25px;
				height: 25px;
				line-height: 20px;
				text-align: center;
				border-radius: 50%;
				font-size: 16px;
				font-weight: bolder !important;
				user-select: none;
				cursor: $ptr;
				transition: $t;
				border: 1px solid $tr;
				padding-bottom: 5px !important;

				&:hover {
					background-color: var(--maxi-hot-pink);
					border: 1px solid var(--maxi-tertiary-color);
				}
			}
		}

		.maxi-settingstab-control {
			.maxi-tabs-control {
				margin-left: 0;
				margin-right: 0;
				.maxi-tabs-control__button {
					padding: 8px;
					margin-right: 5px;
					border: $bg !important;
					border-radius: 4px;
					font-weight: 400;
				}

				.maxi-tabs-control__button[aria-pressed='true'] {
					background-color: $pg !important;
					border-color: $pgr !important;
					font-weight: 700;
				}
			}
			.maxi-tabs-content {
				padding-top: 10px;
			}
		}

		.maxi-advanced-number-control {
			margin-top: 15px;
		}
	}
	.maxi-scroll-combinations-select .maxi-base-control__field {
		flex-direction: column;
		align-items: flex-start;
	}
	.components-button {
		box-shadow: none;
		transition: all 0.5s;

		&:hover:enabled {
			// background-color: $pg;
			// border-color: $mg;
		}
	}
	.maxi-tab-content {
		.maxi-base-control {
			.maxi-select-control__input {
				flex: 2;
			}
		}
	}
}
