/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-gutenberg-den-container.ge-fullwidth{
	max-width: 100vw !important;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw !important;
    margin-right: -50vw !important;
}

.wp-block-gutenberg-den-container.ge-not-fullwidth {
	width: 100% !important;
	max-width: 100% !important;
}

/* Align */

.wp-block-gutenberg-den-container.ge-left-align {
	margin-right: auto !important;
}

.wp-block-gutenberg-den-container.ge-center-align {
	margin-left: auto !important;
	margin-right: auto !important;
}

.wp-block-gutenberg-den-container.ge-right-align {
	margin-left: auto !important;
}