body.maxi-blocks--active {
	.maxi-block-style-preview {
		position: relative;
	}
	.maxi-block-style-control {
		.maxi-select-control__input {
			padding-right: 24px;
		}
	}

	.maxi-block-style-preview {
		display: flex;

		&__light {
			background: var(--maxi-grey-1-color);
			color: #1e1e1e !important;
			border-radius: 5px;
		}
		&__dark {
			background: #1e1e1e;
			color: #fff !important;
		}
		span {
			padding: 5px 10px;
			text-transform: capitalize;
			height: 32px;
			display: flex;
			align-items: center;
		}
	}
}
