body.maxi-blocks--active {
	.maxi-block-style-preview {
		position: var(--maxi-layout-relative);
	}
	.maxi-block-style-control {
		.maxi-select-control__input {
			padding-right: var(--maxi-space-24px);
		}
	}

	.maxi-block-style-preview {
		display: var(--maxi-display-flex);

		&__light {
			background: var(--maxi-pastel-green);
			color: var(--maxi-grey-dark) !important;
			border-radius: var(--maxi-space-5px);
		}
		&__dark {
			background: var(--maxi-grey-dark);
			color: var(--maxi-white) !important;
		}
		span {
			padding: var(--maxi-space-5px) var(--maxi-space-8px);
			text-transform: capitalize;
			height: var(--maxi-space-36px);
			display: var(--maxi-display-flex);
			align-items: var(--maxi-layout-center);
		}
	}
}
