body.maxi-blocks--active {
	.maxi-block-style-preview {
		position: relative;
	}
	.maxi-block-style-control {
		.maxi-select-control__input {
			padding-right: 24px;
		}
	}

	.maxi-block-style-preview {
		display: flex;

		&__light {
			background: var(--mpg);
			color: var(--mdg) !important;
			border-radius: 5px;
		}
		&__dark {
			background: var(--mdg);
			color: var(--mw) !important;
		}
		span {
			padding: 5px 8px;
			text-transform: capitalize;
			height: 36px;
			display: flex;
			align-items: center;
		}
	}
}
