@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active {
	.maxi-block-style-preview {
		position: $pr;
	}
	.maxi-block-style-control {
		.maxi-select-control__input {
			padding-right: 24px;
		}
	}

	.maxi-block-style-preview {
		display: flex;

		&__light {
			background: $pg;
			color: $gd !important;
			border-radius: 5px;
		}
		&__dark {
			background: $gd;
			color: $w !important;
		}
		span {
			padding: 5px 8px;
			text-transform: capitalize;
			height: 36px;
			display: flex;
			align-items: center;
		}
	}
}
