.components-base-control {
  margin-bottom: 5px !important;
}

.components-base-control__field select {
  max-width: 8.5rem;
}

.components-base-control .components-base-control__field {
  display: flex !important;
  align-items: center;
}

.components-base-control__field {
  margin-bottom: 0 !important;
}

.maxi-block-style .components-base-control__label{
  flex:100%;
}

.components-base-control .components-base-control__label {
  display: inline-block;
  margin-bottom: 4px;
}

.components-base-control__label{
  font-size:13px !important;
  color: #464a53 !important;
  margin-bottom: 0 !important;
  vertical-align: sub !important;
  min-height: 24px;
}

.components-select-control__input {
  min-height: unset;
  max-height: unset !important;
  color: #464a53;
  border-radius: 5px !important;
  border: 1px solid #dddfe1 !important;
  background: #fff url(../../../img/arrow-down.svg) no-repeat right 7px top 50% !important;
  background-size: auto;
  background-size: 9px 9px !important;
  font-size: 10pt !important;
  height:28px;
  margin: 1px;
  padding: 0 24px 0px 5px !important;
  outline: 0;
  width: 100%;
}

.maxi--default-block-style .components-base-control__label{
  flex:100%;
}