.gx-popover .components-color-picker .components-color-picker__body {
	width: 100%;
}

.gx-popover .components-popover__content .gx-popover-dropdown {
	margin-left: auto;
}

.gx-popover .components-popover__content {
	min-width: 373px !important;
}

.components-color-palette__picker .components-popover__content {
	padding: 10px;
}

.components-popover__content {
	box-shadow: 0 46px 133px rgba(150, 176, 203, 0.23) !important;
}

.gx-popover .components-color-picker {
	display: flex;
	flex-direction: column;
	background: white;
	border: none;
	margin: auto;
}
  
.gx-popover .components-color-picker:hover {
	background: white !important;
}
  
.gx-popover .components-color-picker .components-color-picker__saturation-color {
	background-color: none !important;
}
  
.gx-popover
.components-color-picker
.components-color-picker__body
.components-color-picker__inputs-field
.components-base-control__field {
	display: flex;
	flex-direction: column;
}

.gx-popover button.components-range-control__reset:focus {
	outline: none !important;
	border: none !important;
}

.components-popover__content .gx-typography-popover {
	padding: 20px 24px 20px 17px;
}
  
.components-popover__content .gx-typography-popover .components-base-control__field {
	align-items: unset;
	position: relative;
}

.gx-popover
.components-popover__content{
	padding: 20px;
}
  
.gx-popover >
.components-popover__content >
.gx-popover-control {
	margin-bottom: 11px;
}

.gx-popover >
.components-popover__content >
.gx-popover-control > 
.components-base-control.gx-settings-button >
.components-base-control__field{
	display:flex;
	position:relative;
}

.gx-popover >
.components-popover__content >
.gx-popover-control > 
.components-base-control.gx-settings-button >
.components-base-control__field
button.components-button.is-secondary{
	position: absolute;
	right:0;
	width:30px;
	height:30px;
	border: 1px solid #dddfe1 !important;
	border-radius:5px;
	background: #ffffff;
	display: flex;
	justify-content: center;
}
  
.gx-popover >
.components-popover__content >
.gx-popover-control > 
.components-base-control.gx-settings-button >
.components-base-control__field
button.components-button.is-secondary:hover{
	background-color: white !important;
  border-color: #c5c5c5 !important;
}

.gx-popover >
.components-popover__content >
.gx-popover-control > 
.components-base-control.gx-settings-button >
.components-base-control__field
.components-dropdown.gx-popover-dropdown{
	position: absolute;
	right:33px;
}

.gx-popover >
.components-popover__content >
.gx-popover-control > 
.components-base-control.gx-settings-button >
.components-base-control__field
.components-dropdown.gx-popover-dropdown >
button.components-button.is-secondary{
	width:30px;
	height:30px;
	border: 1px solid #dddfe1 !important;
	border-radius:5px;
	background:#ffffff;
	display: flex;
	justify-content: center;
}

.gx-popover >
.components-popover__content >
.gx-popover-control > 
.components-base-control.gx-settings-button >
.components-base-control__field
.components-dropdown.gx-popover-dropdown >
button.components-button.is-secondary:hover{
	background-color: white !important;
  border-color: #c5c5c5 !important;
}
  
.gx-popover >
.components-popover__content >
.components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control >
.components-base-control__field{
	display:flex;
	position:relative;
	justify-content: flex-end;
}

.gx-popover >
.components-popover__content >
.components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control >
.components-base-control__field > label{
	position: absolute;
	left: 0;
	top: -3px;
}

.gx-popover >
.components-popover__content >
.components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control >
.components-base-control__field >
.components-radio-control__option > input[type="radio"]{
	display:none;
}

.gx-popover >
.components-popover__content >
.components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control >
.components-base-control__field >
.components-radio-control__option > label{
	display:flex;
	justify-content: center;
	border: 1px solid #dddfe1 !important;
	width:44px;
	height:29px;
}

.gx-popover >
.components-popover__content >
.components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control >
.components-base-control__field >
.components-radio-control__option > label > svg{
	position:relative;
	top:2px;
}

.gx-popover >
.components-popover__content >
.components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control >
.components-base-control__field >
.components-radio-control__option:nth-of-type(1) > label{
	border-radius: 5px 0 0 5px;
}

.gx-popover >
.components-popover__content >
.components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control >
.components-base-control__field >
.components-radio-control__option:last-child > label{
	border-radius: 0 5px 5px 0;
}

.gx-popover >
.components-popover__content >
.components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control >
.components-base-control__field >
.components-radio-control__option > input[type="radio"]:checked + label{
	-webkit-box-shadow: 0 0 0 2px #007cba;
	box-shadow: 0 0 0 2px #007cba;
	outline: 1px solid transparent;
	position: relative;
	z-index: 1;
	border:2px solid #007cba;
}

.gx-popover >
.components-popover__content >
.components-base-control.gx-unit-control.components-radio-control{
	position:relative;
	top:1px;
}

.components-popover__content
.components-base-control.components-range-control.gx-shadow-horizontal-control >
.components-base-control__field,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-vertical-control >
.components-base-control__field,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-blur-control >
.components-base-control__field,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-spread-control >
.components-base-control__field{
	display:flex;
	justify-content: space-between;
	position:relative;
}

.components-popover__content
.components-base-control.components-range-control.gx-shadow-horizontal-control >
.components-base-control__field > label,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-vertical-control >
.components-base-control__field > label,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-blur-control >
.components-base-control__field > label,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-spread-control >
.components-base-control__field > label{
	width:auto !important;
}

.components-popover__content
.components-base-control.components-range-control.gx-shadow-horizontal-control >
.components-base-control__field >
input.components-range-control__number,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-vertical-control >
.components-base-control__field >
input.components-range-control__number,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-blur-control >
.components-base-control__field >
input.components-range-control__number,
.components-popover__content
.components-base-control.components-range-control.gx-shadow-spread-control >
.components-base-control__field >
input.components-range-control__number{
	position:absolute;
	right:33px !important;
}

.gx-popover >
.components-popover__content
.components-base-control.components-range-control.gx-with-unit-control 
.components-range-control__wrapper.css-pp5lt-Wrapper.exqw8y21{
	display:none !important;
}

.gx-popover >
.components-popover__content
.components-base-control.components-range-control.gx-with-unit-control >
.components-base-control__field
.components-range-control__root.css-yaebbd-Root.exqw8y20
  button.components-button.is-secondary{
	border: 1px solid #dddfe1 !important;
	width:30px !important;
}

.gx-popover >
.components-popover__content
.components-base-control.components-range-control.gx-with-unit-control 
.components-base-control__label{
	width:100% !important;
}

.gx-popover >
.components-popover__content
.components-base-control.components-range-control.gx-with-unit-control 
.components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	width: 48px;
	min-width: 40px !important;
	position: relative;
	left: 10px !important;
}

.components-popover__content > div:nth-of-type(2){
  margin-bottom:6px !important;
}

.components-popover__content > div:nth-of-type(2)
.components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
  top:-1px;
}

.components-popover__content > div:nth-of-type(2)
.css-uojzqi-ActionRightWrapper.exqw8y214{
  margin-top: -1px;
}

.components-popover__content > div:nth-of-type(3)
.components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
  top:-1px;
}

.components-popover__content > div:nth-of-type(3)
.css-uojzqi-ActionRightWrapper.exqw8y214{
  margin-top: -1px;
}

.gx-popover .components-popover__content .gx-colorcontrol-control {
	margin-bottom: 9px;
}

.gx-popover .components-range-control {
	height: 30px;
}
  
.gx-popover .components-range-control__number {
	height: 20px !important;
	margin-left: 1px;
}
  
.gx-popover .gx-unit-control .components-base-control__field {
	top: -2px;
	left: -1px;
	position: relative;
}
  
.gx-popover .components-range-control__number {
	top: -2px !important;
	left: 248px;
}
  
.gx-popover .components-range-control__reset {
	top: 23px !important;
}
  
.gx-popover .gx-with-unit-control .components-base-control__label {
	margin-bottom: 27px !important;
}

.gx-popover .gx-settings-button .components-button[type="reset"] {
	width: 28px;
	height: 28px;
}
  
.gx-popover .gx-settings-button .components-button[type="reset"] svg {
	margin: auto;
	height: 15px;
}
  
.gx-popover .gx-settings-button .components-base-control__field {
	display: flex;
	justify-content: space-between;
}
  
.gx-popover .gx-settings-button .components-base-control__field .components-button[type="reset"] {
	padding: 5px !important;
	order: 1;
	color: black;
}
  
.gx-popover .gx-settings-button .components-base-control__field .components-button[type="reset"]:focus {
	box-shadow: none !important;
}
  
.gx-popover .gx-font-family-selector-button {
	width: 100%;
}
  
.gx-popover .gx-settings-button .components-base-control__field .gx-popover-dropdown {
  margin-left: auto;
  margin-right: 5px !important;
}
  
.gx-popover .gx-settings-button .components-base-control__field .components-button[type="reset"],
.gx-popover .gx-settings-button .components-base-control__field .components-button[action="popup"] {
	width: 30px;
	height: 30px;
	background: transparent !important;
	padding: 0;
	border-radius: 5px;
}

.gx-sidebar .gx-popover-control .gx-settings-button button:before {
  content: none !important;
}

.gx-sidebar .gx-popover-control .gx-settings-button button svg {
  fill: #000;
}

.gx-sidebar .gx-popover-control .gx-settings-button .gx-popover-dropdown {
  display: inherit;
}

.gx-sidebar .gx-popover-control .gx-settings-button button[type=reset] {
  border: none;
  box-shadow: none;
}

.gx-popover > .components-popover__content > .gx-popover-control {
  margin-bottom: 11px;
}

.gx-popover > .components-popover__content > .gx-popover-control > .components-base-control.gx-settings-button > .components-base-control__field {
  display: flex;
  position: relative;
}

.gx-popover > .components-popover__content > .gx-popover-control > .components-base-control.gx-settings-button > .components-base-control__field button.components-button.is-secondary {
  position: absolute;
  right: 0;
  top:-2px;
  width: 30px;
  height: 30px;
  border: 1px solid #dddfe1 !important;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

.gx-popover > .components-popover__content > .gx-popover-control > .components-base-control.gx-settings-button > .components-base-control__field .components-dropdown.gx-popover-dropdown {
  position: absolute;
  right: 30px;
  top: 0;
}

.gx-popover > .components-popover__content > .gx-popover-control > .components-base-control.gx-settings-button > .components-base-control__field .components-dropdown.gx-popover-dropdown > button.components-button.is-secondary {
  width: 30px;
  height: 30px;
  border: 1px solid #dddfe1 !important;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  justify-content: center;
}

.gx-popover > .components-popover__content > .components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control > .components-base-control__field {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.gx-popover > .components-popover__content > .components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control > .components-base-control__field > label {
  position: absolute;
  left: 0;
  top: -3px;
}

.gx-popover > .components-popover__content > .components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control > .components-base-control__field > .components-radio-control__option > input[type="radio"]:checked + label {
  -webkit-box-shadow: 0 0 0 2px #007cba;
  box-shadow: 0 0 0 2px #007cba;
  outline: 1px solid transparent;
  position: relative;
  z-index: 1;
  border: 2px solid #007cba;
}

.gx-popover > .components-popover__content > .components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control > .components-base-control__field > .components-radio-control__option:nth-of-type(1) > label {
  border-radius: 5px 0 0 5px;
}

.gx-popover > .components-popover__content > .components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control > .components-base-control__field > .components-radio-control__option > label {
  display: flex;
  justify-content: center;
  border: 1px solid #dddfe1 !important;
  width: 44px;
  height: 29px;
}

.gx-popover > .components-popover__content > .components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control > .components-base-control__field > .components-radio-control__option > label > svg {
  position: relative;
  top: 2px;
}

.gx-popover > .components-popover__content > .components-base-control.components-base-control.gx-alignmentcontrol-control.components-radio-control > .components-base-control__field > .components-radio-control__option:last-child > label {
  border-radius: 0 5px 5px 0;
}

.gx-popover > .components-popover__content > .components-base-control.gx-unit-control.components-radio-control {
  position: relative;
  top: 1px;
}

.gx-popover > .components-popover__content .components-base-control.components-range-control.gx-with-unit-control .components-base-control__label {
  width: 100% !important;
}

.components-popover__content > div {
  height: 100%;
}

.gx-popover label{
  font-weight:500;
}

.gx-popover input[type="number"]{
  min-height: unset;
  max-height: unset !important;
  border-radius: 5px;
  background-color: rgba(33, 141, 250, 0);
  font-size: 16px;
  color: #464a53;
  font-weight: 500;
}

.components-popover input[type="number"]{
  line-height: normal;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  box-shadow: 0 0 0 transparent;
  transition: box-shadow .1s linear;
}

.gx-popover button.components-range-control__reset {
  font-size: 0 !important;
  background: transparent !important;
  min-width: 30px;
  padding: 0;
  height: 30px !important;
  border-radius: 5px;
}

.gx-popover button.components-range-control__reset{
  border: 1px solid #dddfe1 !important;
  opacity: 1 !important;
}

.gx-popover button.components-range-control__reset:before {
  content: url("../img/gx-reset.svg") !important;
  margin: auto;
  margin-left: auto;
  color: #464a53;
  width: 18px;
  height: 18px;
}

.gx-popover button.components-range-control__reset {
  font-size: 0 !important;
}

.gx-popover .components-popover__content {
  min-width: 373px !important;
}

div.gx-popover .components-popover__content {
  padding: 20px;
  min-width: 373px !important;
}

.gx-popover .components-base-control__label{
  font-weight: 500;
}

.gx-popover label{
  color: #464a53;
  font-weight: 500;
}

.gx-popover button.components-range-control__reset{
  border: 1px solid #dddfe1 !important;
  opacity: 1 !important;
}

.gx-popover label, .gx-popover .components-base-control__label{
  font-weight:500;
}

.gx-typography-popover-styles
.components-button.components-range-control__reset.is-secondary.is-small{
  position:unset !important;
}

.gx-typography-popover-styles > div:nth-of-type(2) {
  margin-bottom: 5px !important;
}

.gx-typography-popover-styles > div:nth-of-type(2) > div:first-child{
  position:relative;
  top:1px;
}

.gx-typography-popover-styles > div:nth-of-type(3) > div:first-child{
  position:relative;
  top:1px;
}

.gx-typography-popover-styles > div:nth-of-type(2) .components-range-control__number,
.gx-typography-popover-styles > div:nth-of-type(3) .components-range-control__number,
.gx-typography-popover-styles > div:nth-of-type(2) .components-button.components-range-control__reset.is-secondary.is-small,
.gx-typography-popover-styles > div:nth-of-type(3) .components-button.components-range-control__reset.is-secondary.is-small{
  margin-top:-70px !important;
}

.gx-typography-popover-styles > div:nth-of-type(4)
.components-base-control__field
.components-range-control__slider{
  display:block;
  box-shadow: none;
  background:none;
  width: 100%;
  top: 145px !important;
  right: 89px !important;
  max-width: 75% !important;
}

.gx-typography-popover-styles > div:nth-of-type(4)
.components-range-control__number{
  position: absolute;
  right:0;
  top: 118px !important;
  margin-left: 20px !important;
}

.gx-typography-popover-styles > div:nth-of-type(2) .components-range-control__slider ,
.gx-typography-popover-styles > div:nth-of-type(3) .components-range-control__slider{
  display:none;
}

.components-popover__content {
  box-shadow: 0 46px 133px rgba(150, 176, 203, 0.23) !important;
}

.components-popover__content > div {
  height: 100%;
}

.components-popover__content label, .components-popover__content .components-base-control__label{
  font-size: 16px !important;
  color: #464a53;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.components-popover__content
.components-range-control__slider{
  display:block;
  background: none;
  box-shadow: none;
}

.components-popover__content
.components-range-control__slider{
  margin-left: -18px;
  margin-top: -20px;
  width: 83%;
}

.components-popover__content
.components-range-control__number{
  margin-top: 21px !important;
}

.components-popover__content
.components-button.components-range-control__reset.is-secondary.is-small{
  position: relative;
  top: 17px !important;
}

@media all and(max-width:2000px){
  .components-popover__content
  .components-range-control__slider{
    margin-left: -18px;
    margin-top: -20px;
    width: 83%;
  }

  .components-popover__content
  .components-range-control__number{
    margin-top: 21px !important;
    margin-left: 8px !important;
  }

  .components-popover__content
  .components-button.components-range-control__reset.is-secondary.is-small{
    position: relative;
    top: 21px !important;
  }

  .gx-popover button.components-range-control__reset {
    font-size: 0 !important;
    background: transparent !important;
    min-width: 26px;
    padding: 0;
    height: 26px !important;
    border-radius: 5px;
    margin-right: 0 !important;
  }
      
  .gx-popover > .components-popover__content .components-base-control.gx-colorcontrol-control button.components-button.is-secondary > svg{
    width:18px !important;
    height:18px !important;
  }
    
  .gx-typography-popover-styles
  .components-base-control.components-radio-control
  .components-base-control__field{
    position:relative;
    left:1px !important;
  }

  .gx-typography-popover-styles > div:nth-of-type(2) .components-base-control__field .components-range-control__number,
  .gx-typography-popover-styles > div:nth-of-type(3) .components-base-control__field .components-range-control__number{
    margin-top:-76px !important;
    margin-left:235px !important;
  }

  .gx-typography-popover-styles > div:nth-of-type(2) .components-base-control__field .components-button.components-range-control__reset.is-secondary.is-small,
  .gx-typography-popover-styles > div:nth-of-type(3) .components-base-control__field .components-button.components-range-control__reset.is-secondary.is-small{
    margin-top:-76px !important;
  }

  .gx-typography-popover-styles > div:nth-of-type(4) .components-base-control__field .components-range-control__slider{
    display:block;
    box-shadow: none;
    background:none;
    width: 100%;
    top: 140px !important;
    right: 88px !important;
    max-width: 74% !important;
  }

  .gx-typography-popover-styles > div:nth-of-type(4) 
  .components-range-control__number{
    position: absolute;
    right:0;
    top: 112px !important;
    margin-left: 7px !important;
  }

  .gx-typography-popover-styles > div:nth-of-type(2) > div:first-child {
    position: relative;
    top: -1px;
  }

  .gx-typography-popover-styles > div:nth-of-type(3) > div:first-child {
    position: relative;
    top: -1px;
  }

  .gx-typography-popover-styles > div:last-child .components-range-control__number {
    position: absolute;
    top: 3px;
    margin-left: 51px;
  }

  .gx-typography-popover-styles > div:last-child .components-range-control__slider {
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    width: 100%;
    top: -10px;
    right: 32px;
    max-width: 50%;
  }

  .components-popover__content .gx-typography-popover {
    padding: 0px 0px 20px;
  }

  .components-popover__content > div:nth-of-type(2)
  .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
    top:1px !important;
  }

  .components-popover__content > div:nth-of-type(2)
  .css-uojzqi-ActionRightWrapper.exqw8y214{
    margin-top: 1px !important;
  }

  .components-popover__content > div:nth-of-type(3)
  .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
    top:1px !important;
  }

  .components-popover__content > div:nth-of-type(3)
  .css-uojzqi-ActionRightWrapper.exqw8y214{
    margin-top: 1px !important;
  }

  .gx-popover >
  .components-popover__content >
  .components-base-control.gx-unit-control.components-radio-control{
    position:relative;
    top:-1px !important;
  }

  .gx-popover >
  .components-popover__content
  .components-base-control.gx-colorcontrol-control
  button.components-button.is-secondary{
    width:26px !important;
    height:26px !important;
  }

  .gx-popover >
  .components-popover__content
  .components-base-control.gx-colorcontrol-control
  .components-base-control__field > 
  button.components-button.is-secondary > svg{
    transform:scale(1.3) !important;
    position: relative;
    top: -1.5px;
    right: 0.5px;
  }

  .gx-popover > .components-popover__content >
  .gx-popover-control >
  .components-base-control.gx-settings-button >
  .components-base-control__field
  .components-dropdown.gx-popover-dropdown >
  button.components-button.is-secondary{
    width:26px !important;
    height:26px !important;
    position:relative;
    left:4px !important;
  }
      
  .gx-popover > .components-popover__content >
  .gx-popover-control >
  .components-base-control.gx-settings-button >
  .components-base-control__field
  button.components-button.is-secondary {
    width: 26px !important;
    height:26px !important;
  }    

  .gx-popover > .components-popover__content >
  .gx-popover-control >
  .components-base-control.gx-settings-button >
  .components-base-control__field >
  button.components-button.is-secondary > svg {
    transform:scale(1.3) !important;
    position: relative;
    top: -1.5px;
    right: 0.5px;
  }  

  .gx-popover >
  .components-popover__content > div:last-child{
    margin-bottom: 20px !important;
  }

  .components-popover__content
  .components-base-control.components-range-control.gx-shadow-horizontal-control >
  .components-base-control__field >
  input.components-range-control__number,
  .components-popover__content
  .components-base-control.components-range-control.gx-shadow-vertical-control >
  .components-base-control__field >
  input.components-range-control__number,
  .components-popover__content
  .components-base-control.components-range-control.gx-shadow-blur-control >
  .components-base-control__field >
  input.components-range-control__number,
  .components-popover__content
  .components-base-control.components-range-control.gx-shadow-spread-control >
  .components-base-control__field >
  input.components-range-control__number{
    position:absolute;
    top: 0 !important;
    left:243px !important;
  }

  .gx-popover >
  .components-popover__content
  .components-base-control.components-range-control.gx-with-unit-control >
  .components-base-control__field
  .components-range-control__root.css-yaebbd-Root.exqw8y20 >
  .css-uojzqi-ActionRightWrapper.exqw8y214 > 
  button.components-button.is-secondary{
    border: 1px solid #dddfe1 !important;
    width:28px !important;
    height:28px !important;
  }

  .gx-popover >
  .components-popover__content
  .components-base-control.components-range-control.gx-with-unit-control 
  .components-range-control__root.css-yaebbd-Root.exqw8y20 >
  .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
    width: 43px;
    min-width: 40px !important;
    position: relative;
    left: 8px !important;
  }
}