.maxi-popover-control {
    .maxi-popover-dropdown {
        margin-left: auto;
        margin-right: 3px
    }
}

.maxi-popover {
    .components-popover__content {
        padding: 20px;
        min-width: 373px !important;
        box-shadow: 0 46px 133px rgba(150, 176, 203, 0.23) !important;

    }
}