.maxi-block-display-none {
	filter: blur(1px);

	&.maxi-block {
		display: flex !important;
	}

	&.maxi-pane-block,
	&.maxi-text-block,
	&.maxi-map-block {
		display: block !important;
	}

	& * {
		pointer-events: none;
	}
}

.maxi-display-control {
	.maxi-base-control {
		.maxi-tabs-control {
			column-gap: 5px;

			.maxi-components-button {
				border: 1px solid var(--maxi-grey-light);
				border-radius: 4px;
				&[aria-pressed='true'] {
					background: var(--maxi-light-blue);
				}
			}
		}
	}
}
