.maxi-block-display-none {
	filter: blur(1px);

	&.maxi-block {
		display: flex !important;
	}

	&.maxi-pane-block,
	&.maxi-text-block,
	&.maxi-map-block {
		display: block !important;
	}

	& * {
		pointer-events: none;
	}
}

.maxi-display-control {
	.maxi-base-control {
		.maxi-tabs-control {
			column-gap: 5px;

			.maxi-components-button {
				border: 1px solid var(--mmg);
				border-radius: 4px;
				&[aria-pressed='true'] {
					background: var(--mwg);
					border: 1.5px solid var(--msc) !important;
					color: var(--msc) !important;
					font-weight: 700 !important;
				}
				&:hover {
					background: var(--mpg);
					border: 1.5px solid var(--mpc) !important;
				}
				&:active {
					background: var(--mpg) !important;
					border: 1.5px solid var(--msc) !important;
				}
			}
		}
	}
}
.block-editor-list-view-leaf.is-selected td {
	background: var(--mmg) !important;
}
.block-editor-list-view-leaf.is-selected .block-editor-list-view-block-contents,
.block-editor-list-view-leaf.is-selected .components-button.has-icon {
	color: var(--mpc) !important;
}