@import '../../../src/css/backend-variables.scss';
.maxi-block-display-none {
	filter: blur(1px);

	&.maxi-block {
		display: flex !important;
	}

	&.maxi-pane-block,
	&.maxi-text-block,
	&.maxi-map-block {
		display: block !important;
	}

	& * {
		pointer-events: none;
	}
}

.maxi-display-control {
	.maxi-base-control {
		.maxi-tabs-control {
			column-gap: 5px;

			.maxi-components-button {
				border: 1px solid $mg;
				border-radius: 4px;
				&[aria-pressed='true'] {
					background: $wg;
					border: 1.5px solid $sc !important;
					color: $sc !important;
					font-weight: 700 !important;
				}
				&:hover {
					background: $pg;
					border: 1.5px solid $pc !important;
				}
				&:active {
					background: $pg !important;
					border: 1.5px solid $sc !important;
				}
			}
		}
	}
}
.block-editor-list-view-leaf.is-selected td {
	background: $mg !important;
}
.block-editor-list-view-leaf.is-selected .block-editor-list-view-block-contents,
.block-editor-list-view-leaf.is-selected .components-button.has-icon {
	color: $pc !important;
}