.maxi-block-display-none {
	filter: blur(var(--maxi-space-1px));

	&.maxi-block {
		display: var(--maxi-display-flex) !important;
	}

	&.maxi-pane-block,
	&.maxi-text-block,
	&.maxi-map-block {
		display: var(--maxi-display-block) !important;
	}

	& * {
		pointer-events: var(--maxi-pointer-events-none);
	}
}

.maxi-display-control {
	.maxi-base-control {
		.maxi-tabs-control {
			column-gap: var(--maxi-space-5px);

			.maxi-components-button {
				border: var(--maxi-border-1px) solid var(--maxi-mid-green);
				border-radius: var(--maxi-radius-4px);
				&[aria-pressed='true'] {
					background: var(--maxi-whisper-green);
				}
				&:hover {
					background: var(--maxi-pastel-green);
					border: var(--maxi-border-1px) solid
						var(--maxi-secondary-color);
				}
				&:active {
					background: var(--maxi-pastel-green);
					border: var(--maxi-border-1px) solid
						var(--maxi-primary-color);
				}
			}
		}
	}
}
