.maxi-block-display-none {
	filter: blur(1px);

	&.maxi-text-block,
	&.maxi-divider-block {
		display: block !important;
	}

	&.maxi-number-counter-block,
	&.maxi-column-block,
	&.maxi-divider-block,
	&.maxi-image-block,
	&.maxi-svg-icon-block,
	&.maxi-shape-block,
	&.maxi-row-block,
	&.maxi-button-block,
	&.maxi-group-block {
		display: flex !important;
	}
	& * {
		pointer-events: none;
	}
}

.maxi-display-control {
	.maxi-tabs-control {
		margin-bottom: 0;
	}
}
