.maxi-gradient-control {
	position: relative;

	.components-custom-gradient-picker__control-point-button {
		border: 1px solid var(--maxi-grey-dark);
	}

	.components-angle-picker-control {
		&__angle-circle {
			border-width: 2px !important;
		}
		.components-spacer {
			font-size: 20px;
			margin: 0;
			padding: 0 8px;
			line-height: 20px;
			position: relative;
			top: -3px;
			left: -1px;
		}
	}

	.components-input-control {
		&__input {
			line-height: 2 !important;
		}
		&__backdrop {
			border: 1.5px solid var(--maxi-grey-light) !important;
			border-radius: 5px !important;
		}
	}
	.components-circular-option-picker {
		display: flex;
		flex-direction: column-reverse;

		&__custom-clear-wrapper {
			position: absolute;
			top: 0;
			right: 35px;
			margin-top: 0;
		}
		&__clear {
			border-radius: 4px;
			box-shadow: none;
			padding: 0;
			height: 31px;
			width: 31px;
			transition: all 0.4s ease !important;

			&:hover {
				fill: var(--maxi-primary-color) !important;
				background-color: var(--maxi-white) !important;
			}
			&:focus {
				box-shadow: none !important;
			}
		}
	}
	&__display {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.maxi-base-control__field {
			width: 100%;
		}
		&__color {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			span {
				display: block;
				width: 31px;
				height: 31px;
				margin: auto;
				border: 2px solid var(--maxi-grey-light);
				opacity: 1;
				float: left;
				border-radius: 50%;
			}
			.components-maxi-control__reset-button {
				border-color: var(--maxi-grey-light);
			}
		}
	}
	&__gradient {
		.components-custom-gradient-picker__ui-line {
			flex-direction: column;
			.components-flex-item {
				width: 100%;
			}
			div[data-wp-component='Flex'],
			.components-custom-gradient-picker__type-picker {
				width: 100%;
				gap: 0;
				label {
					position: absolute;
					top: -5px;
					left: 8px;
					font-size: 10px !important;
					color: var(--maxi-accessibility-grey);
					font-style: italic;
					background: var(--maxi-white);
					padding: 0 5px;
					pointer-events: none;
					box-sizing: border-box;
					-webkit-box-sizing: border-box;
					text-transform: capitalize;
					display: table;
				}
				input {
					line-height: 12px !important;
				}
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-gradient-control
		.components-circular-option-picker__custom-clear-wrapper {
		right: unset;
		left: 35px;
	}
	label {
		left: unset;
		right: 8px;
	}
}
