.components-easytheme-image {
    
    .components-spinner {
        margin: 0;
        float: none;
    }

    .components-button + .components-button {
        margin-top: 1em;
        margin-right: 8px;
    }
}