.maxi-divider-block {
	&::after {
		box-shadow: none !important;
		transition: 0.3s;
		border-radius: 0;
		border: 1px solid rgba(0, 124, 186, 0.5) !important;
		opacity: 0;
	}

	&.is-selected {
		&::after {
			opacity: 1;
			border-color: #ff4a17 !important;
		}
		&:focus {
			box-shadow: none !important;
		}
	}

	&:hover {
		&::after {
			opacity: 1;
		}
	}
}
