.maxi-divider-block {
    display: flex;
    justify-content: space-between;
    // margin: auto;
    width: 100%;

    &--horizontal {
        hr {
            margin: .5rem 0 !important;
        }
    }

    &--vertical {
        hr {
            margin: 0 .5rem !important;
        }
    }

    hr {

        &:before,
        &:after {
            content: none !important;
        }
    }
}