@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-divider-block {
	display: flex;
	justify-content: center;
	width: 100%;

	&--horizontal {
		hr {
			margin: 0.5rem 0;
			max-width: unset;
		}
	}
	&--vertical {
		hr {
			margin: 0 0.5rem;
		}
	}
	hr {
		border: 0;
		position: $pr;
		background: none;

		&:before,
		&:after {
			content: none !important;
		}
	}
}
