body.maxi-blocks--active .maxi-divider-block {
	display: flex;
	justify-content: space-between;
	width: 100%;

	&[data-align='full'] {
		width: 100% !important;
		max-width: 100% !important;
	}
	&--horizontal {
		hr {
			margin: 0.5rem 0 !important;
		}
	}
	&--vertical {
		hr {
			margin: 0 0.5rem !important;
		}
	}
	hr {
		border: 0;
		position: relative;
		background: none;

		&:before,
		&:after {
			content: none !important;
		}
	}
}
