.maxi-aspect-ratio-control__custom-value {
	.maxi-advanced-number-control__controls-group {
		width: 100% !important;
	}
	.maxi-advanced-number-control__input-wrapper {
		width: 94% !important;
	}
	.maxi-advanced-number-control__value {
		max-width: 92% !important;
	}
}
