.maxi-indicators {
	position: relative;
	transition: opacity 0.5s;

	&:hover {
		.maxi-indicators__padding,
		.maxi-indicators__margin {
			opacity: 0.5;
		}
	}
	.maxi-indicators__margin,
	.maxi-indicators__padding {
		width: 100%;
		background-color: rgba(3, 225, 109, 0.3);
		opacity: 0;
		color: #222;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 1;
		transition: opacity 0.5s;
		&--top {
			top: 0;
		}
		&--right {
			top: 0;
			right: 0;
			height: 100%;
		}
		&--bottom {
			bottom: 0;
		}
		&--left {
			top: 0;
			left: 0;
			height: 100%;
		}
	}
	.maxi-indicators__margin {
		background-color: rgba(91, 3, 255, 0.3);
	}
}
