// Border toolbar item styles
.toolbar-item__border {
	width: 33px !important;
	height: 33px !important;
	background-color: var(--mw);
	border-right: 1px solid var(--mgl);

	// Icon alignment specific to border
	.toolbar-item__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 24px;
		height: 24px;
	}

	// Hover states for border icon
	&:hover,
	&[aria-expanded='true'] {
		background-color: var(--mpg);

		svg,
		.toolbar-item__icon {
			ellipse,
			circle,
			line,
			rect,
			polyline,
			path {
				stroke: var(--msc);
				fill: var(--msc);
			}
		}
	}

	// Keyboard accessibility focus treatment
	&:focus-visible {
		outline: 2px solid var(--mpc);
		outline-offset: 2px;
		box-shadow: 0 0 0 1px var(--mw),
			0 0 0 3px var(--mpc);
		border-radius: 3px;
	}
}
