@import '../../../../../src/css/backend-variables.scss';
// Border toolbar item styles
.toolbar-item__border {
	width: 33px !important;
	height: 33px !important;
	background-color: $w;
	border-right: $bl;

	// Icon alignment specific to border
	.toolbar-item__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 24px;
		height: 24px;
	}

	// Hover states for border icon
	&:hover,
	&[aria-expanded='true'] {
		background-color: $pg;

		svg,
		.toolbar-item__icon {
			ellipse,
			circle,
			line,
			rect,
			polyline,
			path {
				stroke: $sc;
				fill: $sc;
			}
		}
	}

	// Keyboard accessibility focus treatment
	&:focus-visible {
		outline: 2px solid $pc;
		outline-offset: 2px;
		box-shadow: 0 0 0 1px $w,
			0 0 0 3px $pc;
		border-radius: 3px;
	}
}
