.maxi-icon-styles-control {
	.maxi-tabs-control__button {
		&--selected {
			path {
				fill: var(--maxi-secondary-color);
				stroke: var(--maxi-color-transparent);
			}
		}
	}
	.maxi-tabs-control__button-color {
		path {
			&:first-child {
				fill: var(--maxi-white) !important;
			}
		}
	}
	.maxi-tabs-control__button-border.maxi-tabs-control__button--selected {
		path {
			fill: var(--maxi-color-transparent);
			stroke: var(--maxi-secondary-color);
		}
	}
}
.maxi-base-control__label {
	display: var(--maxi-display-block) !important;
}
.maxi-icon-control__position .maxi-base-control .maxi-base-control__field {
	display: var(--maxi-display-flex);
	flex-direction: var(--maxi-flex-column);
	align-items: var(--maxi-layout-flex-start);
	text-align: var(--maxi-text-align-left);
}
.maxi-settingstab-control.maxi-axis-position-control.maxi-icon-control__position {
	margin-bottom: var(--maxi-space-4px) !important;
	display: var(--maxi-display-block) !important;
	.maxi-tabs-control {
		width: var(--maxi-layout-full-width);
	}
}

.maxi-icon-control__position {
	.maxi-base-control__label {
		margin-bottom: var(--maxi-space-4px) !important;
	}
}
