@import '../../../src/css/backend-variables.scss';
.maxi-icon-styles-control {
	.maxi-tabs-control__button {
		&--selected {
			path {
				fill: $sc;
				stroke: $tr;
			}
		}
	}
	.maxi-tabs-control__button-color {
		path {
			&:first-child {
				fill: $w !important;
			}
		}
	}
	.maxi-tabs-control__button-border.maxi-tabs-control__button--selected {
		path {
			fill: $tr;
			stroke: $sc;
		}
	}
}
.maxi-base-control__label {
	display: block !important;
}
.maxi-icon-control__position .maxi-base-control .maxi-base-control__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
}
.maxi-settingstab-control.maxi-axis-position-control.maxi-icon-control__position {
	margin-bottom: 4px !important;
	display: block !important;
	.maxi-tabs-control {
		width: 100%;
	}
}

.maxi-icon-control__position {
	.maxi-base-control__label {
		margin-bottom: 4px !important;
	}
}
