.maxi-icon-styles-control {
	.maxi-tabs-control__button {
		&--selected {
			path {
				fill: var(--maxi-secondary-color);
				stroke: transparent;
			}
		}
	}
	.maxi-tabs-control__button-color.maxi-tabs-control__button--selected {
		path {
			&:first-child {
				fill: var(--maxi-white);
			}
		}
	}
	.maxi-tabs-control__button-border.maxi-tabs-control__button--selected {
		path {
			fill: transparent;
			stroke: var(--maxi-secondary-color);
		}
	}
}
.maxi-base-control__label {
	display: block !important;
	width: 100% !important;
	margin-bottom: 6px !important;
}
.maxi-icon-control__position .maxi-base-control .maxi-base-control__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
