.maxi-accordion-control__item {
	&[data-name='position'] {
		.maxi-tabs-control {
			.maxi-components-button {
				&[aria-pressed='true'] {
					background: var(--mwg);
					color: var(--msc);
				}
			}
		}
	}
}

.maxi-search-control__left,
.maxi-search-control__right {
	display: flex !important;
	justify-content: center;
	height: 32px !important;
	width: 40% !important;
	border: 1.5px solid var(--mgl) !important;
	border-radius: 4px !important;
	transition: var(--maxi-trans-std)!important;
	padding: 10px 15px !important;
	right: -20px !important;
	left: auto;

	&[aria-pressed='true'] {
		background-color: var(--mwg);
		border-color: var(--msc);
	}

	&:hover {
		background-color: var(--mpg);
		stroke: var(--msc);
	}
}

.maxi-search-control__left {
	margin-right: 9px;
}
