@import '../../../src/css/backend-variables.scss';
.maxi-accordion-control__item {
	&[data-name='position'] {
		.maxi-tabs-control {
			.maxi-components-button {
				&[aria-pressed='true'] {
					background: $wg;
					color: $sc;
				}
			}
		}
	}
}

.maxi-search-control__left,
.maxi-search-control__right {
	display: flex !important;
	justify-content: center;
	height: 32px !important;
	width: 40% !important;
	border: $bg !important;
	border-radius: 4px !important;
	transition: all 0.5s !important;
	padding: 10px 15px !important;
	right: -20px !important;
	left: auto;

	&[aria-pressed='true'] {
		background-color: $wg;
		border-color: $sc;
	}

	&:hover {
		background-color: $pg;
		stroke: $sc;
	}
}

.maxi-search-control__left {
	margin-right: 9px;
}
