@import '../../../src/css/backend-variables.scss';
.maxi-accordion-control {
	margin: 0px 0 1px;

	&__item {
		background: white;

		&[data-name='dots'],
		&[data-name='icon colour'],
		&[data-name='arrows'],
		&[data-name='box shadow'],
		&[data-name='icon'],
		&[data-name='border'],
		&[data-name='active icon'] {
			.maxi-accordion-control__item__panel {
				padding: 0;
			}
		}

		.maxi-accordion-tab {
			&:after {
				content: '';
				z-index: 1;
				position: $pa;
				width: 100%;
				height: 1px;
			}
		}
		.maxi-accordion-icon {
			max-width: 24px;
			max-height: 24px;
		}

		&__panel {
			&:not(.maxi-accordion-control__item__panel--disable-padding) {
				padding: 0px 9px 0;
			}
		}

		&:last-child {
			.maxi-accordion-control__item__button {
				border-bottom: $bl;
			}
		}
		&__button {
			position: $pr;
			z-index: 2;
			display: flex;
			align-items: center;
			padding: 8px;
			border-top: 1.5px solid $gl;
			margin-bottom: 0px;
			background: $w;
			transition: background-color 0.5s, color 0.5s;

			&:hover {
				background: $wg;
				cursor: $ptr;
				color: $bk;
			}
			&:active,
			&:focus {
				background: $pg;
			}
			&:before {
				margin-right: 8px;
			}
			&:after {
				content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.783 9.578"><path fill="rgba(180, 180, 180, 0.9)" d="M5.783 4.758a.963.963 0 01-.283.684L1.651 9.295A.967.967 0 01.283 7.927l3.179-3.169L.293 1.59A.963.963 0 011.651.232L5.5 4.084a.963.963 0 01.283.674z" /></svg>');
				position: $pa;
				top: 50%;
				right: 10px;
				width: 6px;
				transform: translateY(-50%) rotate(0);
				transform-origin: center;
				transition: transform 0.3s linear;

				@at-root .rtl #{&} {
					right: unset;
					left: 10px;
				}
			}
			&[aria-expanded='true'] {
				background: $w;

				&:after {
					transform: translateY(-50%) rotate(90deg);
				}
			}
		}
		&--active {
			&:before {
				content: '';
				position: $pa;
				top: 50%;
				left: 6px;
				z-index: 1;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--maxi-light-blue-alt);
				margin-left: 5px;
				transform: translateY(-50%);
			}

			&.maxi-accordion-control__item__button {
				padding-left: 25px; /* Add extra padding for the dot */
			}
		}
	}
	&--nested {
		margin-bottom: 0;
		.maxi-accordion-control__item {
			&:last-child {
				margin-bottom: 0;
			}
		}
		.maxi-accordion-control__item__button {
			background: $w;
			&:hover {
				background: $pg;
			}
		}
	}
}

.maxi-sidebar {
	.maxi-context-loop,
	.maxi-repeater {
		> *:last-child {
			margin-top: 10px !important;
		}
	}
}
