.maxi-accordion-control {
	margin: 0px 0 1px 0;

	&__item {
		background: none;

		.maxi-accordion-tab {
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 1px;
				z-index: 1;
			}
		}
		.maxi-accordion-icon {
			max-width: 24px;
			max-height: 24px;
		}

		// This many values are strange...
		&__panel {
			&:not(.maxi-accordion-control__item__panel--disable-padding) {
				padding-top: 15px !important;
				padding-left: 12px !important;
				padding-right: 12px !important;
				padding-bottom: 10px !important;
				background-color: #fff;
			}
		}

		&:last-child {
			.maxi-accordion-control__item__button {
				border-bottom: 1px solid var(--maxi-grey-1-color);
			}
		}
		&__button {
			position: relative;
			background: var(--maxi-white-2-color);
			display: flex;
			align-items: center;
			padding: 8px;
			border-top: 1px solid var(--maxi-grey-1-color);
			margin-bottom: 0;
			z-index: 2;

			&:hover {
				cursor: pointer;
				background: var(--maxi-grey-2-color);
			}
			&:active,
			&:focus {
				background: var(--maxi-grey-3-color);
			}
			&:before {
				margin-right: 8px;
			}
			&:after {
				content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.783 9.578"><path d="M5.783 4.758a.963.963 0 01-.283.684L1.651 9.295A.967.967 0 01.283 7.927l3.179-3.169L.293 1.59A.963.963 0 011.651.232L5.5 4.084a.963.963 0 01.283.674z" class="a"/></svg>');
				width: 6px;
				position: absolute;
				top: 50%;
				right: 10px;
				transform: translateY(-50%) rotate(0);
				transform-origin: center;
				transition: transform 0.3s linear;

				@at-root .rtl #{&} {
					right: unset;
					left: 10px;
				}
			}
			&[aria-expanded='true'] {
				background: #fff;
				border-bottom: 1px solid var(--maxi-grey-1-color);

				&:after {
					transform: translateY(-50%) rotate(90deg);
				}
			}
		}
	}
}
