.maxi-accordion-control {
	margin: 0px 0 1px;

	&__item {
		background: white;

		&[data-name='dots'],
		&[data-name='icon colour'],
		&[data-name='arrows'],
		&[data-name='box shadow'],
		&[data-name='icon'],
		&[data-name='border'],
		&[data-name='active icon'] {
			.maxi-accordion-control__item__panel {
				padding: 0;
			}
		}

		.maxi-accordion-tab {
			&:after {
				content: '';
				z-index: 1;
				position: absolute;
				width: 100%;
				height: 1px;
			}
		}
		.maxi-accordion-icon {
			max-width: 24px;
			max-height: 24px;
		}

		&__panel {
			&:not(.maxi-accordion-control__item__panel--disable-padding) {
				padding: 0px 9px 0;
			}
		}

		&:last-child {
			.maxi-accordion-control__item__button {
				border-bottom: 1px solid var(--mgl);
			}
		}
		&__button {
			position: relative;
			z-index: 2;
			display: flex;
			align-items: center;
			padding: 8px;
			border-top: 1.5px solid var(--mgl);
			margin-bottom: 0px;
			background: var(--mw);
			transition: background-color 0.5s, color 0.5s;

			&:hover {
				background: var(--mwg);
				cursor: pointer;
				color: var(--mb);
			}
			&:active,
			&:focus {
				background: var(--mpg);
			}
			&:before {
				margin-right: 8px;
			}
			&:after {
				content: var(--maxi-icon-arrow-right);
				position: absolute;
				top: 50%;
				right: 10px;
				width: 6px;
				transform: translateY(-50%) rotate(0);
				transform-origin: center;
				transition: transform 0.3s linear;

				@at-root .rtl #{&} {
					right: unset;
					left: 10px;
				}
			}
			&[aria-expanded='true'] {
				background: var(--mw);

				&:after {
					transform: translateY(-50%) rotate(90deg);
				}
			}
		}
		&--active {
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 6px;
				z-index: 1;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--mlb-a);
				margin-left: 5px;
				transform: translateY(-50%);
			}

			&.maxi-accordion-control__item__button {
				padding-left: 25px; /* Add extra padding for the dot */
			}
		}
	}
	&--nested {
		margin-bottom: 0;
		.maxi-accordion-control__item {
			&:last-child {
				margin-bottom: 0;
			}
		}
		.maxi-accordion-control__item__button {
			background: var(--mw);
			&:hover {
				background: var(--mpg);
			}
		}
	}
}

.maxi-sidebar {
	.maxi-context-loop,
	.maxi-repeater {
		> *:last-child {
			margin-top: 10px !important;
		}
	}
}
