.maxi-dialog-box {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	display: flex;
	align-items: center;
}
.maxi-dialog-box__overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.maxi-dialog-box__content {
	position: relative;
	z-index: 2;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: auto;
	padding: 25px 30px;
	border: 1px solid var(--mgl);
	border-radius: 3px;
	margin: auto;
	background: var(--mw);
	animation: scale 0.2s ease-in-out;
	.maxi-dialog-close-button {
		position: absolute;
		top: -10px;
		right: -10px;
		.maxi-components-button {
			min-width: 20px;
			height: 20px;
			padding: 0 0 1px;
			background-color: rgba(var(--maxi-active-sc-color), 1);
			border-radius: 50%;
			&:hover {
				background-color: var(--mb);
			}
			path {
				stroke: var(--mw);
			}
		}
	}
}
@keyframes scale {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.maxi-dialog-box-title h4 {
	font-size: 20px;
	margin: 0;
}
.maxi-dialog-box-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 50px);
	padding: 10px 0;
	color: var(--mb);
	font-family: var(--maxi-font-sans) !important;
	font-size: 12px;
	text-align: center;
}

.maxi-dialog-box-buttons {
	display: flex;
	column-gap: 25px;

	button {
		height: auto !important;
		border: 1.5px solid var(--mgl) !important;
		border-radius: 5px !important;
		color: var(--mb);
		font-family: var(--maxi-font-sans) !important;
		font-size: 12px;
		transition: var(--maxi-trans-std);

		&:hover {
			background-color: rgba(var(--maxi-active-sc-color), 1);
			color: var(--mw);
			border: 1px solid rgba(var(--maxi-active-sc-color), 1);
		}
	}
}
