.maxi-block .maxi-background-displayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	box-sizing: content-box;
	z-index: 0;

	&__layer {
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}
	&__parallax {
		img {
			position: relative;
		}
	}
}
