@import '../../../src/css/backend-variables.scss';
.maxi-block .maxi-background-displayer {
	position: $pa;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	box-sizing: content-box;
	z-index: 0;

	&__layer {
		position: $pa;
		display: none;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	&__parallax {
		position: $pa;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		overflow: hidden;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

		img {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			max-width: none;
			height: 100%;
			object-fit: cover;
			object-position: 50% 50%;
			transform-style: preserve-3d;
			will-change: transform, opacity;
			overflow: hidden;
			backface-visibility: hidden;
			pointer-events: none;
		}
	}

	&__iframe-wrapper {
		position: $pa;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;

		iframe {
			max-width: 100%;
		}

		video {
			height: auto;
			width: 177.77777778vh;
			min-width: 100%;
			min-height: 56.25vw;
		}

		iframe,
		video {
			position: $pa;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			pointer-events: none;
		}
	}

	&__svg {
		width: 100%;
		height: auto;
		& svg {
			width: 100%;
			height: auto;
		}
		& > svg:first-child pattern image {
			transform-origin: 50% 50%;
		}
	}
}
