.maxi-background-displayer {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	box-sizing: content-box;

	&__layer,
	&__parallax {
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
	}

	&__iframe-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding-bottom: 56.25%; // 16/9 aspect ratio
		overflow: hidden;

		iframe {
			position: absolute;
			top: 21.875%; // 50% - (56.25% / 2) => centers 16/9 aspect ratio
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			max-width: 100%;
			height: 100%;
		}

		video {
			width: 100%;
			height: auto;
			height: 100%;
			width: 177.77777778vh;
			min-width: 100%;
			min-height: 56.25vw;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__parallax {
		display: block;
	}

	&__svg {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: auto;
		& svg {
			width: 100%;
			height: auto;
		}
	}
}
