.maxi-background-displayer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	overflow: hidden;

	&__overlay {
		z-index: 2;
	}
	&__overlay,
	&__color,
	&__images,
	&__video-player {
		position: absolute;
		width: 100%;
		height: 100%;

		&__iframe-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		video {
			width: 100%;
			height: auto;
			object-fit: cover;
		}

		iframe {
			height: 100%;
		}
	}
	&__svg-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		& svg {
			width: 100%;
			height: 100%;
		}
	}
}

// Hide video background on mobile
@media only screen and (max-width: 768px) {
	.maxi-background-displayer {
		&__video-player {
			&--mobile-hidden {
				iframe,
				video {
					display: none;
				}
			}
		}
	}
}
