@import '../../../src/css/backend-variables.scss';
.maxi-placeholder.maxi-placeholder {
	// This needs specificity to override individual block styles.
	box-sizing: border-box;
	position: $pr;
	padding: 1em;
	width: 100%;
	text-align: left;
	margin: 0;
	color: $gd;

	// Some editor styles unset this.
	-moz-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: subpixel-antialiased;

	// IE11 doesn't read rules inside this query. They are applied only to modern browsers.
	@supports (position: sticky) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	// Block UI appearance.
	border-radius: 2px;
	background-color: $w;

	.components-base-control__label {
		font-size: 18pt;
	}
}

.maxi-placeholder__error,
.maxi-placeholder__instructions,
.maxi-placeholder__label,
.maxi-placeholder__fieldset {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Inter, Oxygen-Sans,
		Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	font-size: 13px;
}

.maxi-placeholder__label {
	display: flex;
	font-weight: 600;
	align-items: center;

	svg {
		width: 100%;
		height: 100%;
		margin: auto;
	}

	// Don't take up space if the label is empty.
	&:empty {
		display: none;
	}
}

.maxi-placeholder__fieldset,
.maxi-placeholder__fieldset form {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;

	p {
		font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Inter,
			Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
		font-size: 13px;
	}
}

.maxi-placeholder__fieldset.is-column-layout,
.maxi-placeholder__fieldset.is-column-layout form {
	flex-direction: column;
}

.maxi-placeholder__input[type='url'] {
	margin: 0 8px 0 0;
	flex: 1 1 auto;
}

.maxi-placeholder__instructions {
	margin-bottom: 1em;
}

.maxi-placeholder__error {
	margin-top: 1em;
	width: 100%;
}

.maxi-placeholder__preview img {
	margin: 3%;
	width: 50%;
}

.maxi-placeholder__fieldset .components-button {
	margin-right: 12px;
	margin-bottom: 12px; // If buttons wrap we need vertical space between.

	&:last-child {
		margin-bottom: 0;
		margin-right: 0;
	}
}

// Any `<Button />` component with `isLink` prop will need extra spacing if placed
// immediately after a button which is *not* an `isLink` style button. This is because
// `isLink` has no padding so we need to account for this to avoid the buttons butting
// up against each other. If it's the last item we don't need a right margin.
.maxi-placeholder__fieldset
	.components-button:not(.is-link)
	~ .components-button.is-link {
	margin-left: 10px; // equal to standard button inner padding
	margin-right: 10px; // equal to standard button inner padding

	&:last-child {
		margin-right: 0;
	}
}

// Element queries to show different layouts at various sizes.
.maxi-placeholder {
	// Medium and large sizes.
	&.is-large {
		.maxi-placeholder__label {
			font-size: 18pt;
			font-weight: normal;
			margin: 0 auto;
		}

		.maxi-placeholder__instructions {
			position: $pa;
			bottom: 40px;
			left: 0;
			width: 100%;
			text-align: center;
			font-size: 18px;
			color: $g;
		}
	}

	// Medium and small sizes.
	&.is-medium,
	&.is-small {
		.maxi-placeholder__instructions {
			display: none;
		}

		.maxi-placeholder__fieldset,
		.maxi-placeholder__fieldset form {
			flex-direction: column;
		}

		.maxi-placeholder__fieldset .components-button {
			margin-right: auto;
		}
	}

	// Small sizes.
	&.is-small {
		.components-button {
			padding: 0 8px 2px;
		}
	}
}
