@import '../../../../../src/css/backend-variables.scss';
// Box shadow toolbar item styles
.toolbar-item__box-shadow {
	// Ensure proper toolbar button dimensions
	width: var(--mx-toolbar-size) !important;
	height: var(--mx-toolbar-size) !important;
	background-color: $w;
	border-right: var(--maxi-border-1px) solid $gl;

	// Icon alignment specific to box shadow
	.toolbar-item__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: var(--mx-icon-size);
		height: var(--mx-icon-size);
	}

	// Hover states for box shadow icon
	&:hover,
	&[aria-expanded='true'] {
		background-color: $pg;

		svg,
		.toolbar-item__icon {
			ellipse,
			circle,
			line,
			rect,
			polyline,
			path {
				stroke: $sc;
				fill: $sc;
			}
		}
	}

	// Remove default button styling that might interfere
	&:focus,
	&:visited {
		outline: none;
		box-shadow: none;
		border-radius: 0;
	}
}
