.components-popover {
	.toolbar-item__box-shadow__popover {
		min-width: 305px;
	}

	.maxi-shadow-control {
		display: flex;
		flex-wrap: wrap;

		&--disable {
			.maxi-shadow-control__icon,
			.maxi-advanced-number-control,
			.maxi-color-control {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		&__default {
			width: 1.5rem;
			height: 0.5rem;
			background: var(--maxi-white);
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			&__total {
				box-shadow: 0px 0px 5px 0px var(--maxi-grey);
			}
			&__bottom {
				box-shadow: 0px 4px 8px -2px var(--maxi-grey);
			}
			&__solid {
				box-shadow: 1px 2px 0px 0px var(--maxi-grey);
			}
		}

		.maxi-default-styles-control {
			display: inline-block;
			vertical-align: middle;
			width: 181px;

			&__button {
				display: inline-block !important;
				vertical-align: middle;

				&:not(:first-child) {
					padding: 0 5px;
				}
			}
		}

		&__icon {
			display: flex;
			margin-bottom: 8px;

			svg {
				margin: auto;
			}
		}

		.maxi-color-control {
			flex-basis: 100%;
			width: 100%;

			&__wrap {
				.maxi-color-control__display {
					width: 171px;
				}
			}

			.maxi-opacity-control {
				line-height: 100%;

				input {
					flex: 1;
				}
			}
			& > .components-maxi-control__reset-button {
				display: none;
			}
		}
	}
}
