.components-popover {
	.toolbar-item__box-shadow__popover {
		min-width: 300px;
	}
	.maxi-shadow-control {
		.maxi-icon__disable {
			opacity: 0.3;
			pointer-events: none;
		}
		.maxi-color-control__wrap {
			.maxi-color-control__display {
				width: 171px;
			}
		}
		.maxi-shadow-control__spread {
			width: 119px;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 8px;
			& > div {
				display: flex;
				align-items: center;
				& > svg {
					margin-right: 4px;
				}
			}
			.maxi-base-control__field {
				margin-bottom: 0;
				.maxi-base-control__label {
					flex: none;
				}
			}
		}

		.maxi-default-styles-control {
			width: 181px;
			display: inline-block;
			vertical-align: middle;
			&__button {
				display: inline-block !important;
				vertical-align: middle;
				padding: 6px 6px;
			}
		}
		.maxi-color-control {
			.maxi-opacity-control {
				line-height: 100%;
				input {
					flex: 1;
				}
			}
		}
	}
}
