**/*.min.js
**/*.build.js
**/node_modules/**
build
node_modules
jest.config.js

API
css
customizer
gx-plugin-update-checker
img
page-content-setting
src/includes
js
customizer/js/maxi-admin.js
js/cloud-server.js
src/extensions/text/fonts/font.js
