### VisualStudioCode ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

node_modules
build
/artifacts

# Ignore Mac DS_Store files
**/.DS_Store

# Ignore PR templates

.github/PULL_REQUEST_TEMPLATE/
.github/PULL_REQUEST_TEMPLATE/*