.gx-block.gx-row-block {
    display: flex;
    flex-wrap: wrap;

    .wp-block-gutenberg-extra-block-column-extra:first-of-type {
        margin-left: 0 !important;
    }

    .wp-block-gutenberg-extra-block-column-extra:last-of-type {
        margin-right: 0 !important;
    }
}