div.gx-row-block.alignfull {
    width: auto;
}

div.gx-row-block {
    display: flex;
    flex-wrap: wrap;

    >div.gx-column-block:first-of-type {
        margin-left: 0 !important;
    }
    >div.gx-column-block:last-of-type {
        margin-right: 0 !important;
    }
}