@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__reusable-blocks {
	&__popover {
		min-width: 350px;

		form {
			display: flex;
			width: 100%;

			.components-button {
				color: #fff;
				background-color: #4f515c;
				border: 2px solid #7a7c85;
				height: 32px;
				margin-left: 5px;
				border-radius: 5px;
			}

			.maxi-base-control {
				width: 100%;

				.maxi-text-control__input {
					&:focus {
						border-color: #fff;
						box-shadow: none;
						outline: none;
					}
				}

				&__label {
					flex: 0 !important;
				}
			}
		}
	}
}

.maxi-dropdown__content.maxi-dropdown__reusable-content {
	.components-popover__content {
		width: 239px !important;
		padding: 8px;

		.maxi-base-control {
			&__field {
				margin-bottom: 0;
			}

			&__label {
				font-weight: 500;

				&::after {
					content: '';
					width: 200%;
					height: 1px;
					margin: 8px -8px;
					display: block;
					background-color: #dbdde6;
				}
			}

			input {
				&:focus {
					box-shadow: none;
				}

				height: 28px;
				min-height: 0;
				flex-basis: 100%;
				border-radius: 0;
				border-color: #dbdde6;
				font-weight: 400;
			}
		}

		form {
			display: flex;
			overflow: hidden;

			.components-button {
				width: auto !important;
				height: 29px !important;
				margin-top: auto;
				padding: 0px 12px;
				background-color: #e5f2f8;
				font-weight: 700;
				color: #007cba;
			}
		}
	}
}
