.toolbar-item__reusable-blocks {
	&__popover {
		min-width: var(--maxi-space-350px);

		form {
			display: var(--maxi-display-flex);
			width: var(--maxi-layout-full-width);

			.components-button {
				color: var(--maxi-admin-white);
				background-color: var(--maxi-admin-black);
				border: var(--maxi-border-2px) solid var(--maxi-admin-black);
				height: var(--maxi-space-32px);
				margin-left: var(--maxi-space-5px);
				border-radius: var(--maxi-radius-5px);
			}

			.maxi-base-control {
				width: var(--maxi-layout-full-width);

				.maxi-text-control__input {
					&:focus {
						border-color: var(--maxi-admin-white);
						box-shadow: var(--maxi-reset-box-shadow);
						outline: var(--maxi-reset-outline);
					}
				}

				&__label {
					flex: var(--maxi-layout-0) !important;
				}
			}
		}
	}
}

.maxi-dropdown__content.maxi-dropdown__reusable-content {
	.components-popover__content {
		width: var(--maxi-space-239px) !important;
		padding: var(--maxi-space-8px);

		.maxi-base-control {
			&__field {
				margin-bottom: var(--maxi-space-0);
			}

			&__label {
				font-weight: var(--maxi-font-weight-500);

				&::after {
					content: '';
					width: var(--maxi-space-200);
					height: var(--maxi-space-1px);
					margin: var(--maxi-space-8px)
						calc(-1 * var(--maxi-space-8px));
					display: var(--maxi-display-block);
					background-color: var(--maxi-admin-black);
				}
			}

			input {
				&:focus {
					box-shadow: var(--maxi-reset-box-shadow);
				}

				height: var(--maxi-space-28px);
				min-height: 0;
				flex-basis: 100%;
				border-radius: 0;
				border-color: var(--maxi-grey-light);
				font-weight: var(--maxi-font-weight-400);
			}
		}

		form {
			display: var(--maxi-display-flex);
			overflow: var(--maxi-overflow-hidden);

			.components-button {
				width: auto !important;
				height: var(--maxi-space-29px) !important;
				margin-top: var(--maxi-layout-auto);
				padding: var(--maxi-space-0) var(--maxi-space-12px);
				background-color: var(--maxi-admin-blue);
				font-weight: var(--maxi-font-weight-700);
				color: var(--maxi-primary-color);
			}
		}
	}
}
