.maxi-list-control {
	.maxi-settingstab-control .maxi-tabs-content {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	&__options {
		counter-reset: list-items-counter 0;
	}
}

.maxi-list-item-control {
	display: flex;
	flex-direction: column;

	&__row {
		margin: 0 0 8px;
		display: flex;
		align-items: center;
		border: 1px solid var(--maxi-secondary-color);
		z-index: 0;
		border-radius: 5px !important;
	}

	&__content {
		border: 1px solid var(--maxi-secondary-color);
		border-radius: 5px;
		padding: 22px 8px 0;
		margin: -23px -8px 8px;

		.chrome-picker {
			width: 100% !important;
		}

		.maxi-library-modal__action-section {
			margin-bottom: 8px;
		}

		.components-custom-gradient-picker__gradient-bar {
			margin-top: 0;
			margin-bottom: 8px;
			border: 1px solid var(--maxi-grey-light);
		}

		.components-custom-gradient-picker__ui-line {
			margin-bottom: 0;
		}
	}

	&__arrow {
		width: 27px;
		transition: 0.3s ease all;
		cursor: pointer;
		transform-origin: center;
		padding: 11px 9px;
		border-right: 1px solid var(--maxi-secondary-color);
		background-color: var(--maxi-white);
		text-align: center;
		border-radius: 5px 0px 0px 5px !important;

		&::before {
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.783 9.578"><path d="M5.783 4.758a.963.963 0 01-.283.684L1.651 9.295A.967.967 0 01.283 7.927l3.179-3.169L.293 1.59A.963.963 0 011.651.232L5.5 4.084a.963.963 0 01.283.674z" /></svg>');
			width: 6px;
			transform: rotate(0);
			transform-origin: center;
			transition: transform 0.3s linear;
			display: inline-block;
			line-height: 6px;
		}

		svg {
			display: none !important;
			transition: 0.3s ease all;
			path {
				fill: var(--maxi-grey-dark);
			}
		}
	}
	&__open .maxi-list-item-control__arrow {
		&::before {
			transform: rotate(90deg);
		}
		svg {
			transform: rotate(90deg);
		}
	}

	&__title {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0;
		border-radius: 5px;
		transition: all 0.5s;
		cursor: pointer;
		padding-right: 5px;
		background-color: var(--maxi-white);

		&__wrapper {
			width: 100%;
			display: flex;
		}

		&__text {
			line-height: 25px;
		}
		&__id {
			&:before {
				content: counter(list-items-counter);
				background: var(--maxi-pastel-green);
				display: block;
				padding: 7px 10px 7px 8px;
				border-right: 1px solid var(--maxi-secondary-color);
				margin-right: 7px;
				counter-increment: list-items-counter 1;
				font-size: 14px;
				font-weight: 700;
			}
		}

		&__remover {
			position: absolute;
			display: block;
			width: 16px;
			height: 16px;
			margin: 0;
			background-color: var(--maxi-primary-color);
			border-radius: 50%;
			cursor: pointer;
			right: -5px;
			top: -5px;

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				width: 12px;
				height: 2px;
				background-color: var(--maxi-white);
			}

			&:after {
				transform: translate(-50%, -50%) rotate(135deg);
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-list-item-control__title__remover {
		right: unset;
		left: -5px;
	}
	.maxi-background-control {
		.maxi-background-layer__title__mover {
			margin: auto auto auto 0;
		}
	}
	.maxi-list-item-control__arrow {
		border-left: 1px solid var(--maxi-secondary-color);
		border-right: 0;
		border-radius: 0px 5px 5px 0px !important;
	}
	.maxi-list-item-control__title {
		padding-right: 0;
		padding-left: 5px;
	}
	.maxi-list-item-control__title__id::before {
		content: counter(list-items-counter);
		padding: 7px 8px 7px 10px;
		border-right: 0;
		border-left: 1px solid var(--maxi-secondary-color);
		margin-left: 7px;
		margin-right: unset;
	}
}
