.maxi-list-control {
	.maxi-settingstab-control .maxi-tabs-content {
		padding-inline-end: 0 !important;
		padding-inline-start: 0 !important;
	}

	&__options {
		counter-reset: list-items-counter 0;
	}
}

.maxi-list-item-control {
	display: flex;
	flex-direction: column;

	&__row {
		margin: 0 0 8px;
		display: flex;
		align-items: center;
		border: 1px solid var(--msc);
		z-index: 0;
		border-radius: var(--maxi-radius-sm) !important;
		transition: var(--maxi-trans-std); // Added transition

		&:hover {
			background-color: var(--mwg) !important;
			border-color: var(--mpc);

			.maxi-list-item-control__arrow {
				background-color: var(--mwg);
			}
		}
	}

	&__content {
		border: 1px solid var(--msc);
		border-radius: var(--maxi-radius-sm);
		padding: 22px 8px 0;
		margin: -23px -8px 8px;

		.chrome-picker {
			width: 100% !important;
		}

		.maxi-library-modal__action-section {
			margin-bottom: 8px;
		}

		.components-custom-gradient-picker__gradient-bar {
			margin-top: 0;
			margin-bottom: 8px;
			border: 1px solid var(--mgl);
		}

		.components-custom-gradient-picker__ui-line {
			margin-bottom: 0;
		}
	}

	&__arrow {
		width: 27px;
		transition: 0.4s ease all;
		cursor: pointer;
		transform-origin: center;
		padding: 7px 9px !important;
		border-inline-end: 1px solid var(--msc);
		background-color: var(--mw);
		text-align: center;
		border-radius: 5px 0px 0px 5px !important;
		border-start-start-radius: 5px !important;
		border-end-start-radius: 5px !important;
		border-start-end-radius: 0 !important;
		border-end-end-radius: 0 !important;

		&:hover {
			background-color: var(--mwg);
		}

		&::before {
			content: var(--maxi-icon-arrow-right);
			width: 6px;
			transform: rotate(0);
			transform-origin: center;
			transition: transform 0.3s linear;
			display: inline-block;
			line-height: 6px;
		}

		svg {
			display: none !important;
			transition: 0.3s ease all;
			path {
				fill: var(--mdg);
			}
		}
	}
	&__open .maxi-list-item-control__arrow {
		&::before {
			transform: rotate(90deg);
		}
		svg {
			transform: rotate(90deg);
		}
	}

	&__title {
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		margin: 0;
		border-radius: var(--maxi-radius-sm);
		transition: var(--maxi-trans-std);
		cursor: pointer;
		padding-inline-end: 5px;
		background-color: var(--mw);

		&:hover {
			background-color: var(--mwg) !important;
		}

		&__wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}

		&__text {
			line-height: 25px;
		}
		&__id {
			&:before {
				content: counter(list-items-counter);
				background: var(--mpg);
				display: block;
				padding: 7px 10px 7px 8px;
				border-inline-end: 1px solid var(--msc);
				margin-inline-end: 7px;
				counter-increment: list-items-counter 1;
				font-size: 14px;
				font-weight: 700;
			}
		}

		&__remover {
			position: absolute;
			display: block;
			width: 16px;
			height: 16px;
			margin: 0;
			background-color: var(--mgo);
			border-radius: 50%;
			cursor: pointer;
			inset-inline-end: -5px;
			top: -5px;
			transition: background-color 0.2s ease;

			&:hover {
				background-color: var(--mor) !important;
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				width: 12px;
				height: 2px;
				background-color: var(--mw);
			}

			&:after {
				transform: translate(-50%, -50%) rotate(135deg);
			}
		}
	}
}

