body .maxi-background-control {
	padding-top: 8px;
	.maxi-tabs-control__full-width {
		column-gap: 5px;
		.maxi-tabs-control__button {
		}

		// Unique classes for each background type button
		.maxi-tabs-control__button-none,
		.maxi-tabs-control__button-solid,
		.maxi-tabs-control__button-gradient {
			border: 1px solid var(--maxi-grey-light);
			border-radius: 4px;
			color: var(--maxi-grey-dark);
			background-color: var(--maxi-white);
			

			&.maxi-tabs-control__button--selected {
				border: 1px solid var(--maxi-primary-color);
				color: var(--maxi-primary-color);
				background-color: var(--maxi-whisper-green);
			}
		}
	}

	.maxi-background-control__tabs {
		> .maxi-tabs-control {
			margin: 10px -5px 0px !important;
		}
	}

	// Unique class for Enable parallax toggle
	&__enable-parallax {
		.maxi-toggle-switch {
			padding-top: 10px;
			margin-bottom: 3px !important;
		}
	}

	.parallax-direction {
		.maxi-tabs-control__button {
			border: 1px solid var(--maxi-grey-light);
			border-radius: 3px;
			color: var(--maxi-grey-dark);
			background-color: var(--maxi-white);
			width: 48px;
			transition: all 0.4s ease !important;

			&[aria-pressed='true'],
			&:active,
			&:hover {
				background-color: var(--maxi-whisper-green);
				color: var(--maxi-secondary-color);
				border: 1px solid var(--maxi-primary-color);
			}
		}
	}
	.maxi-mediauploader-control {
		&__image {
			.maxi-mediauploader-control__remove {
				margin-right: 0;
			}
		}
	}
	.maxi-background-control__add-layer {
		margin-top: 0 !important;
		.maxi-base-control__field {
			margin-bottom: 8px !important;
			border: 1px solid var(--maxi-grey-light);
			border-radius: 4px;
		}
	}
	.maxi-background-layer {
		&__preview {
			display: block;
			width: 20px;
			height: 20px;
			margin: 3px 4px 0 0 !important;
			border: 1px solid var(--maxi-black);
			opacity: 1;
			float: left;
			border-radius: 0;
			margin-right: 3px;
			background-size: cover !important;

			svg {
				display: block;
				max-width: 21px;
				max-height: 21px;
				margin: auto;
			}
		}
		&__row {
			margin: 0 0 8px;
			display: flex;
			align-items: center;
			border: 1px solid var(--maxi-secondary-color);
			z-index: 0;

			.maxi-background-layer__title__text {
				display: flex;
				align-items: center;
				min-height: 25px;
			}
		}

		&__content {
			border: 1px solid var(--maxi-secondary-color);
			border-radius: 0;
			padding: 22px 8px 0;
			margin: -23px -8px 8px;

			.chrome-picker {
				width: 100% !important;
			}

			.maxi-library-modal__action-section {
				margin-bottom: 8px;
			}

			.components-custom-gradient-picker__gradient-bar {
				margin-top: 0;
				margin-bottom: 8px;
			}

			.components-custom-gradient-picker__ui-line {
				margin-bottom: 0;

				.components-input-control__container:hover {
					border-color: var(--maxi-primary-color) !important;
				}
			}
		}

		&__title {
			&__text {
				line-height: 25px;
			}
			&__mover {
				display: block;
				width: 17px;
				height: 17px;
				margin: auto 2px auto auto;
				cursor: move;

				svg {
					width: 15px;
					height: 15px;
					path {
						fill: var(--maxi-black);
					}
				}
			}
			&__display {
				display: block;
				width: 22px;
				height: 22px;
				margin: auto 5px auto 5px;
				cursor: pointer;
				position: relative;
				transition: all 0.4s ease;

				&:hover {
					transform: scale(1.1);
					opacity: 0.8;
				}
				svg {
					width: 22px;
					height: 22px;
				}

				&--block {
					path {
						stroke: var(--maxi-black);
					}
				}
				&:after {
					content: '';
					display: block;
					background-color: var(--maxi-grey-dark);
					width: 0;
					height: 1px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
					transition: 0.3s;
				}
				&--none {
					opacity: 0.6;
					&:after {
						width: 23px;
					}
					path {
						stroke: var(--maxi-grey-dark);
					}
				}
			}
		}
	}

	.maxi-list-item-control__arrow {
		width: 25px;
		-webkit-transition: 0.3s ease all;
		transition: 0.3s ease all;
		cursor: pointer;
		-webkit-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center;
		padding: 6px 0px;
		border-right: 1px solid var(--maxi-secondary-color);
		background-color: var(--maxi-white);
		text-align: center;
		border-radius: 5px 0px 0px 5px !important;

		svg {
			width: 8px;
			height: 16px;
			transform: rotate(-90deg);
			path {
				fill: var(--maxi-black);
			}
		}
	}

	.maxi-list-item-control__title__id:before {
		content: counter(list-items-counter);
		background: var(--maxi-whisper-green);
		display: block;
		padding: 7px 6px 7px 6px !important;
		border-right: 1px solid var(--maxi-secondary-color);
		margin-right: 5px !important;
		counter-increment: list-items-counter 1;
		font-size: 14px;
		font-weight: 700;
		min-width: 22px;
	}
}

.parallax-direction .maxi-tabs-control__button {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 8px 30px !important;
	border-bottom: 1px solid var(--maxi-grey-light);
	border-top: 1px solid var(--maxi-grey-light);
	border-right: 1px solid var(--maxi-grey-light);
	border-radius: 0;
	color: var(--maxi-grey-dark);
	background-color: var(--maxi-white);
	text-align: center;
}

.parallax-direction .maxi-tabs-control__button last-child {
	border-right: none;
	margin-left: 8px !important;
}
.parallax-direction .maxi-tabs-control__button:first-child {
	margin-right: 4px !important;
}
.parallax-direction .maxi-tabs-control__button hover {
	background-color: var(--maxi-grey-light);
	cursor: pointer;
}
.parallax-direction .maxi-tabs-control__button focus:not(:disabled) {
	box-shadow: none;
	outline: none;
}
.parallax-direction .maxi-tabs-control__button active {
	background-color: var(--maxi-grey-light);
}

body.maxi-blocks--active .components-popover__fallback-container {
	button.components-button.is-link {
		height: 30px;
		border: 1.5px solid var(--maxi-secondary-color);
		color: var(--maxi-secondary-color) !important;
		background: var(--maxi-whisper-green);
		border-radius: 30px;
		text-decoration: none;
		padding: 0 10px;
		transition: all 0.5s ease-in-out;

		&:hover {
			border-color: var(--maxi-primary-color) !important;
			background: var(--maxi-mid-green);
		}
	}
}
.settings-background-image {
	margin-left: -8px !important;
}

.parallax-background-image {
	margin-right: -8px !important;
}

.maxi-tabs-control:has(.maxi-tabs-control__button-parallax[aria-pressed='true']) {
	margin-bottom: 8px;
}
