.maxi-background-control {
	.maxi-settingstab-control .maxi-tabs-content {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	& .maxi-mediauploader-control .maxi-mediauploader-control__toggle,
	&
		.maxi-mediauploader-control.maxi-mediauploader-control__video-fallback
		.maxi-mediauploader-control__remove {
		margin-right: 0;
	}

	& .maxi-mediauploader-control &__image-edit,
	& .maxi-mediauploader-control &__video-edit,
	& .maxi-mediauploader-control &__done-edition {
		margin-right: 0;
	}

	.maxi-background-layers {
		margin-bottom: 8px;
	}

	.maxi-background-layer {
		display: flex;
		flex-direction: column;

		&__row {
			display: flex;
			margin: 8px 0;
		}

		&__arrow {
			width: 24px;
			height: 24px;
			transform: rotate(-90deg);
			transition: 0.3s ease all;
			cursor: pointer;
		}

		&__tittle {
			width: 100%;
			margin: 0;
			padding: 2px;
			border: 1px solid #848484;
			border-radius: 2px;
			cursor: move;
		}

		&__open .maxi-background-layer__arrow {
			transform: rotate(0deg);
		}

		&__content {
			border: 1px solid #848484;
			border-radius: 5px;
			padding: 1rem;
		}
	}
}
