.maxi-background-control {
	padding-top: 8px;
	.maxi-tabs-control__full-width {
		column-gap: 5px;
		.maxi-tabs-control__button {
			&-none,
			&-color,
			&-gradient {
				padding: 10px;
				border: 1px solid var(--maxi-grey-light);
				border-radius: 4px;
				&.maxi-tabs-control__button--selected {
					background-color: var(--maxi-light-blue);
					border-color: transparent;
				}
			}
			&-none,
			&-color {
				&.maxi-tabs-control__button--selected {
					svg {
						path,
						circle {
							fill: var(--maxi-secondary-color);
						}
					}
				}
			}
			&-gradient {
				&.maxi-tabs-control__button--selected {
					svg {
						path,
						circle {
							stroke: var(--maxi-secondary-color);
						}
					}
				}
			}
		}
	}

	&__image-layer .maxi-toggle-switch {
		padding-top: 10px;
		margin-bottom: 3px !important;
	}
	.parallax-direction {
		.maxi-tabs-control__button {
			border: 1px solid var(--maxi-grey-light);
			border-radius: 3px;
			color: var(--maxi-grey-11-color);
			background-color: #fff;
			width: 50px;
			transition: all 0.1s;

			&[aria-pressed='true'],
			&:active,
			&:hover {
				background-color: var(--maxi-light-blue);
				color: var(--maxi-secondary-color);
			}
		}
	}
	.maxi-mediauploader-control {
		&__image {
			.maxi-mediauploader-control__remove {
				margin-right: 0;
			}
		}
	}
	.maxi-background-control__add-layer {
		margin-top: 0 !important;
		.maxi-base-control__field {
			margin-bottom: 3px !important;
		}
	}
	.maxi-background-layer {
		&__preview {
			display: block;
			width: 25px;
			height: 25px;
			margin: auto;
			border: 1px solid var(--maxi-black);
			opacity: 1;
			float: left;
			border-radius: 0;
			margin-right: 5px;
			background-size: cover !important;

			svg {
				display: block;
				max-width: 21px;
				max-height: 21px;
				margin: auto;
			}
		}
		&__row {
			margin: 0 0 8px;
			display: flex;
			align-items: center;
			border: 1px solid var(--maxi-secondary-color);
			z-index: 0;
		}

		&__content {
			border: 1px solid var(--maxi-secondary-color);
			border-radius: 0;
			padding: 22px 8px 0;
			margin: -23px -8px 8px;

			.chrome-picker {
				width: 100% !important;
			}

			.maxi-library-modal__action-section {
				margin-bottom: 8px;
			}

			.components-custom-gradient-picker__gradient-bar {
				margin-top: 0;
				margin-bottom: 8px;
			}

			.components-custom-gradient-picker__ui-line {
				margin-bottom: 0;
			}
		}

		&__title {
			&__text {
				line-height: 25px;
			}
			&__mover {
				display: block;
				width: 17px;
				height: 17px;
				margin: auto 0 auto auto;
				cursor: move;

				svg {
					width: 17px;
					height: 17px;
					path {
						fill: var(--maxi-black);
					}
				}
			}
			&__display {
				display: block;
				width: 22px;
				height: 22px;
				margin: auto 7px auto 5px;
				cursor: pointer;
				position: relative;

				svg {
					width: 22px;
					height: 22px;
				}

				&--block {
					path {
						stroke: var(--maxi-black);
					}
				}
				&:after {
					content: '';
					display: block;
					background-color: var(--maxi-grey-dark);
					width: 0;
					height: 1px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(-45deg);
					transition: 0.3s;
				}
				&--none {
					&:after {
						width: 23px;
					}
					path {
						stroke: var(--maxi-grey-dark);
					}
				}
			}
		}
	}
}
.maxi-background-control__image-layer .maxi-toggle-switch {
	padding-top: 10px;
	margin-bottom: 3px !important;
}
.parallax-direction .maxi-tabs-control__button {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	padding: 14px 8px;
	border-bottom: 1px solid var(--maxi-grey-light);
	border-top: 1px solid var(--maxi-grey-light);
	border-right: 1px solid var(--maxi-grey-light);
	border-radius: 0;
	color: var(--maxi-grey-dark);
	background-color: var(--maxi-white);
	text-align: center;
}

.parallax-direction .maxi-tabs-control__button last-child {
	border-right: none;
}
.parallax-direction .maxi-tabs-control__button hover {
	background-color: var(--maxi-grey-light);
	cursor: pointer;
}
.parallax-direction .maxi-tabs-control__button focus:not(:disabled) {
	box-shadow: none;
	outline: none;
}
.parallax-direction .maxi-tabs-control__button active {
	background-color: var(--maxi-grey-light);
}
