.maxi-row-block {
	position: relative;
	width: 100%;
	margin: auto;
	padding: 0;
	outline: 1px solid #81bdda !important;
	z-index: 2;

	.block-list-appender.wp-block {
		position: relative;
		width: 100%;
		max-width: none;
		margin: 0;
		padding: 0;
		z-index: 1;
	}

	&__template {
		display: flex;
		flex-wrap: wrap;
		background-color: #f7f8fc;
		width: 100%;
		padding: 2rem 1rem;
		margin: 0 auto;

		&__button {
			width: 20%;
			height: 50px;
			display: inline-block;

			&:hover {
				svg {
					stroke: #ff4a17;
					fill: #fff;
					filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
				}
			}

			svg {
				width: 100%;
				height: 100%;
				fill: #232433;
			}
		}
	}
}

html body.maxi-blocks--active .maxi-row-block[data-align='full'] {
	max-width: 100% !important;
	width: 100% !important;
}
