div.maxi-row-block {
    position: relative;
    width: 100%;
    margin: auto;

    &:hover {
        outline: 1px solid grey;

        .maxi-column-block {
            &__resizer {
                .components-resizable-box__handle {
                    display: block !important;
                    visibility: visible !important;
                }
            }
        }
    }

    &[data-align="full"] {
        width: auto;
    }

    .block-editor-inner-blocks,
    .block-list-appender,
    .maxi-row-dropdown {
        width: 100%;
        height: 100%;
    }

    .maxi-row-appender-button {
        display: block;
        width: 100%;
    }

    > div.block-editor-inner-blocks > div.block-editor-block-list__layout {
        display: flex;

        > div.maxi-column-block {
            &--left {
                margin-left: 0 !important;
            }

            &--right {
                margin-right: 0 !important;
            }
        }

        > div.block-list-appender {
            margin: 0;

            > div.maxi-row-template-wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                background-color: #ffffff;

                > button.maxi-row-template-button {
                    width: 10rem;
                    height: 5rem;

                    > svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
