.maxi-row-block {
	position: relative;
	width: 100%;
	margin: auto;
	padding: 0;
	outline: 1px solid #81bdda !important;
	z-index: 2;

	&__container {
		display: flex;
		width: 100%;
	}

	.block-list-appender {
		width: 100%;
		max-width: none;
		margin: 0;
		padding: 0;
		z-index: 1;
	}

	&__template {
		display: flex;
		flex-wrap: wrap;
		background-color: #fff;
		width: 100%;
		padding: 36px 1rem;
		margin: 0 auto;
		justify-content: center;

		&__button {
			width: auto;
			height: auto;
			display: inline-block;
			padding: 12px !important;

			&:hover {
				svg {
					stroke: #ff4a17;
					fill: #fff;
					filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
				}
			}

			svg {
				width: 152px;
				height: 48px;
				fill: #151617;
				stroke: #151617;
				display: block;
			}
		}
	}
}

html body.maxi-blocks--active .maxi-row-block[data-align='full'] {
	max-width: 100% !important;
	width: 100% !important;
}
