.maxi-row-block {
    position: relative;
    width: 100%;
    margin: auto;

    &:hover {
        outline: 1px solid grey;

        .maxi-column-block {
            &__resizer {
                .components-resizable-box__handle {
                    display: block !important;
                    visibility: visible !important;
                }
            }
        }
    }

    &[data-align="full"] {
        width: auto;
    }

    div.maxi-column-block {
        &--left {
            margin-left: 0 !important;
        }

        &--right {
            margin-right: 0 !important;
        }
    }

    .block-list-appender {
        margin: 0;
    }

    &__template {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #ffffff;

        &__button {
            width: 10rem;
            height: 5rem;

            > svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}
