@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-row-block {
	position: $pr;
	display: flex;
	flex-direction: row;

	&:focus {
		&:after {
			box-shadow: none !important;
		}
	}
}
