.components-maxi-dimensions-control {
    position: relative;

    .components-maxi-dimensions-control__header {
        .components-maxi-dimensions-control__label {
            margin: auto 0;
            font-size: 13px;
        }

        .components-maxi-dimensions-control__actions {
            display: flex;
            margin: 1px 0 0 auto;
        }
    }

    &__mobile-controls-item {
        border-radius: 3px 0 0 3px;
        box-shadow: none;
        display: none;
        font-size: 10px;
        // height: 45px;
        justify-content: center;
        left: 0;
        line-height: 20px;
        padding: 0;
        position: absolute !important;
        text-align: center;
        text-shadow: none;
        z-index: 1;
        border: 2px solid;
        color: #464a53 !important;
        border-color: #dddfe1 !important;
        //font-size: 14px;
        background-color: rgba(33, 141, 250, 0);
        border-width: 2px !important;
        width: 41px !important;
        //font-weight: 500;
        margin-right: -1px;
        height: 26px;
        padding-top: 5px !important;

        &.is-active {
            display: block;
            box-shadow: none;
        }

        svg {
            position: relative;
            width: 1rem;
        }
    }

    .edit-post-settings-sidebar__panel-block & {
        margin-bottom: 1.5em;
    }

    .components-base-control__label {
        margin-bottom: 5px;
    }

    .components-base-control__help {
        margin-top: -8px;
    }

    &__header,
    &__inputs {
        display: flex;
    }

    &__inputs {
        margin-left: 39px;
    }

    input[type="number"].components-maxi-dimensions-control__number {
        border-radius: 0;
        box-shadow: none !important;
        height: 36px;
        margin: 0 -2px 0 0;
        border: 2px solid #dddfe1;
        padding-right: 1px;
        width: 23%;

        &:focus {
            z-index: 1;
        }
    }

    &__input-labels {
        display: flex;
        margin-bottom: -3px;
        margin-left: 40px; // Same value as &__inputs + 1

        span {
            text-align: center;
            width: 25%;

            &:last-of-type {
                width: 30px;
            }
        }
    }

    &__number-label {
        display: block;
        font-size: 9px;
        margin-bottom: 1px;
        margin-top: 3px;
        white-space: nowrap;
        padding-left: 2px;
    }

    &__header {
        justify-content: space-between;
        margin-bottom: 2px;
    }

    &_sync.components-button.is-small {
        border-radius: 0;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        box-shadow: none;
        height: auto;
        justify-content: center;
        padding: 0;
        text-align: center;
        text-shadow: none;
        width: 30px;
        border: 2px solid #dddfe1;
        background: #f2f2f2;

        svg {
            background: none;
            // fill: currentColor;
            height: 18px;
            width: 18px;
        }
    }

    .components-font-size-picker__controls {
        margin-bottom: 0;
    }

    .components-maxi-dimensions-control_sync {
        margin-left: 0 !important;
        border: 2px solid #dddfe1 !important;
        &:hover {
            background-color: white !important;
        }
        &:focus {
            &:enabled {
                border: 2px solid #c5c5c5 !important;
                box-shadow: none !important;
            }
        }
    }
}
