.maxi-relation-control {
	&__button {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-bottom: 10px;
	}
	&__block-access {
		margin-bottom: 10px;
	}
	.maxi-list-item-control__title__wrapper {
		overflow: hidden;
		max-width: 190px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
