.maxi-relation-control {
	&__button {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-bottom: 10px;
	}
	&__block-access {
		margin-bottom: 10px;
	}
	.maxi-list-item-control__title__wrapper {
		overflow: hidden;
		max-width: 190px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-list-item-control__title__id::before {
		margin-right: 0;
		margin-left: 7px;
	}
	.maxi-relation-control .maxi-list-item-control__open .maxi-text-input {
		min-width: 140px;
	}
}
