@import '../../../src/css/backend-variables.scss';
.maxi-relation-control {
		margin-top: 10px;
	&__button {
		display: flex;
		width: 100%;
		justify-content: center;
		margin-bottom: 10px;
	}
	&__block-access {
		margin-bottom: 10px;
	}
	&__title-spacing {
		margin-top: 20px;
	}
	&__interaction-builder {
		margin-top: 10px;
	}
	.maxi-list-item-control__title__wrapper {
		overflow: hidden;
		max-width: 190px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.maxi-typography-control .maxi-typography-control__formatting-buttons {
		gap: 4px !important;
	}
	.maxi-list-item-control__arrow {
		padding: 7px 9px;
	}
	.maxi-color-control__palette-box {
		width: 28px !important;
		height: 28px !important;
	}
}
.maxi-relation-control__button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto; // Changed from fixed height
	min-height: 24px;
	width: fit-content;
	margin: 10px auto; // Changed from margin-top to center horizontally
	padding: 8px 12px;
	background-color: $pg;
	border: 1px solid $mg;
	border-radius: 30px;
	color: $gd;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease,
		border-color 0.3s ease;
	align-items: center;
}
.maxi-relation-control__button:hover,
.maxi-relation-control__button:active {
	// Added active state
	background-color: var(
		--maxi-primary-color
	) !important; // Changed to primary color
	color: $w !important;
	border-color: $pc !important;
}
