.toolbar-item__popover {
	.maxi-button-group-control {
		.maxi-base-control__field {
			justify-content: space-between;
			border-radius: var(--maxi-radius-sm);
			.maxi-base-control__label {
				flex: 3 !important;
			}
		}
		.maxi-tabs-control__button {
			opacity: 1 !important;
			min-width: 40px;
			height: 30px;
			background-color: rgba(33, 141, 250, 0);
			font-size: 13px;
			line-height: 13px;
			color: var(--mw);
			font-weight: 500;
			flex: 1;
			border-bottom: none;
			border-right: 0;
			&:first-of-type {
				input {
					& ~ label {
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						@at-root .rtl #{&} {
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
						}
					}
				}
			}
			&:last-of-type {
				input {
					& ~ label {
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						@at-root .rtl #{&} {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
						}
					}
				}
			}
			input {
				display: none;
				&:checked ~ label {
					background-color: var(--mg);
					position: relative;
					z-index: 1;
					border: 2px solid var(--mgl);
					border-bottom: 2px solid var(--mpc);
				}
			}
			label {
				display: block;
				height: 100%;
				text-align: center;
				line-height: 26px;
				border: 2px solid var(--mg);
			}
		}
	}
	.maxi-color-palette-control {
		flex-direction: column-reverse;
		.maxi-color-control__palette {
			&__custom {
				margin-bottom: 10px;
			}
			&-box {
				background-color: var(--mw);
				width: 32px;
				height: 32px;

				&__active,
				&:hover {
					border-color: var(--mmg);
					background-color: var(--mpg);
				}
			}
			&-item {
				border: 1.5px solid var(--mgl) !important;
			}
		}
	}
	.components-color-picker__inputs-toggle {
		border: 0;

		svg {
			fill: var(--mw);
		}
	}
	.maxi-color-control__color {
		.chrome-picker {
			background-color: transparent !important;
			& > div:last-of-type {
				padding-bottom: 0 !important;
			}
		}
	}
}
