@import '../../../src/css/backend-variables.scss';
.maxi-mediauploader-control {
	position: $pr;
	margin-bottom: 8px;
	&__image,
	&__video {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&:last-child {
			margin-right: 0;
		}
	}
	.components-button:not(.maxi-mediauploader-control__preview) {
		flex: 1;
		margin: 0 10px 0 0;
		display: block;
		text-align: center;
		box-shadow: none !important;
		border: $bg;
		border-radius: 5px;
		color: $gd;
		transition: all 0.5s;
		&:hover {
			border: 1.5px solid $pc;
			color: $bk;
			background-color: $pg;
		}
	}
	&__toggle {
		display: block;
		width: 100%;
		min-height: 90px;
		background: $wg;
		border: 1.5px dashed $gl;
		border-radius: 10px;
		color: $gd !important;
		line-height: 20px;
		padding: 8px 0;
		text-align: center;
		margin-right: 0px !important;
	}
	&__preview {
		display: block;
		width: 100%;
		height: auto;
		padding: 0;
		transition: all 0.1s ease-out;
		margin-bottom: 8px;
	}

	img {
		display: block;
		width: 100%;
	}
}
