.maxi-mediauploader-control {
	position: relative;
	margin-bottom: 8px;
	&__image,
	&__video {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&:last-child {
			margin-right: 0;
		}
	}
	.components-button:not(.maxi-mediauploader-control__preview) {
		flex: 1;
		margin: 0 10px 0 0;
		display: block;
		text-align: center;
		box-shadow: none !important;
		border: 1.5px solid var(--mgl);
		border-radius: 5px;
		color: var(--mdg);
		transition: var(--maxi-trans-std);
		&:hover {
			border: 1.5px solid var(--mpc);
			color: var(--mb);
			background-color: var(--mpg);
		}
	}
	&__toggle {
		display: block;
		width: 100%;
		min-height: 90px;
		background: var(--mwg);
		border: 1.5px dashed var(--mgl);
		border-radius: 10px;
		color: var(--mdg) !important;
		line-height: 20px;
		padding: 8px 0;
		text-align: center;
		margin-right: 0px !important;
	}
	&__preview {
		display: block;
		width: 100%;
		height: auto;
		padding: 0;
		transition: all 0.1s ease-out;
		margin-bottom: 8px;
	}

	img {
		display: block;
		width: 100%;
	}
}
