.maxi-pane-block {
	& hr {
		width: 95%;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	&__ {
		&icon svg {
			width: 25px;
			position: absolute;
			right: 25px;
		}

		&title {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		&header {
			position: relative;
			height: 50px;
		}

		&content {
			display: none;
		}
	}

	&--simple-layout {
		& hr {
			margin: 25px 0;
		}
	}

	&--boxed-layout {
		border: 5px solid var(--maxi-light-blue-2-color) !important;
		margin-top: 15px !important;

		.maxi-pane-block__header {
			margin-right: 25px !important;
			margin-left: 25px !important;
			margin-top: 25px !important;
		}

		& hr {
			margin-top: 20px;
		}
	}
}
