@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-pane-block {
	&__header {
		position: $pr;
	}

	&__header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 20px;

		padding: 0 0 25px;
	}

	&__icon {
		cursor: $ptr;
	}

	&__line-container {
		width: 100%;
		height: fit-content;
		display: flex;
	}

	&__line {
		border: none;
	}

	&__title {
		width: 100%;
	}

	.maxi-pane-block__title,
	.maxi-pane-block__line {
		margin: 0;
	}

	&__content-wrapper {
		padding: 0;
	}

	&[aria-expanded='false'] .maxi-pane-block__content-wrapper {
		overflow: hidden;
		border-width: 0;
		max-height: 0px;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-pane-block__header-content {
		flex-direction: row-reverse !important;
		.maxi-pane-block__title {
			direction: rtl;
		}
	}
}
