.maxi-pane-block {
	& hr {
		width: 95%;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		border-color: #edf6fa !important;
		border-style: solid !important;
	}

	&__ {
		&icon svg {
			width: 20px;
			position: absolute;
			right: 25px;
		}

		&title {
			position: absolute;
			top: 10px;
			left: 10px;
		}

		&header {
			position: relative;
			height: 50px;
		}

		&content {
			display: none;
		}
	}
}
