.maxi-font-icon-block {
	&.is-hovered {
		.maxi-font-icon-block__icon__replace {
			visibility: visible;
		}
	}
	&__icon {
		&__replace {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			right: 0;
			visibility: hidden;
			background: #232533;
			z-index: 1;
			border-radius: 3px;

			.components-button.has-icon {
				min-width: 25px;
				height: 25px;
				padding: 0;

				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
		i {
			font-style: normal !important;
		}
	}
}
