.maxi-library-modal {
	width: 80%;
	min-height: 90%;
	max-width: 90%;

	&__action-section {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__buttons {
			width: 100%;
			flex: 5;

			&__load-library {
				background: #edeff0;
				border: 1px dashed #cfd3d7;
				color: #464a53 !important;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 2rem;
				transition: all 0.5s;

				&:hover {
					opacity: 0.8;
				}
			}

			&__item {
				cursor: pointer;
				height: auto;
				padding: 0;
				width: calc(16.6666666667% - 5px);
				border: 2px solid #dddfe1;
				border-radius: 5px;
				margin: 0 5px 5px 0;

				&--active {
					background: #f2f2f2;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					background-color: #f2f2f2;
				}
				svg {
					width: 100%;
					height: 100%;
					padding: 5px;
				}
			}
		}
		&__preview {
			position: relative;
			width: 100%;
			flex: 1;
			background: #edeff0;
			border: 1px dashed #cfd3d7;
			color: #464a53 !important;
			padding: 5px;
			margin-left: 5px;
			margin-right: 5px;
			height: 66px;

			&--remove {
				width: 20px;
				position: absolute;
				top: -12px;
				right: -8px;
				cursor: pointer;
			}
			& > div {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;

				svg {
					pattern ~ path {
						fill: #ff4a17;
					}
				}
			}
		}
	}
	.components-modal__content {
		position: absolute;
		width: 100%;
		min-height: 100%;
		background: #f2f2f2;
		padding: 0;
		overflow-x: hidden;

		.components-modal__header {
			margin-bottom: 25px;
			padding: 0 3rem;

			h1 {
				font-weight: bold;
				font-size: 1rem;
			}
		}
	}

	.spinner {
		display: none; // TEMPORARY
		position: relative;
		height: 100px;
		width: 100px;

		&:before,
		&:after {
			content: '';
			border-bottom: 6px solid #ff4a17;
			border-left: 6px solid transparent;
			border-radius: 50%;
			border-right: 6px solid #ff4a17;
			border-top: 6px solid #ff4a17;
			bottom: 0;
			box-sizing: border-box;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			transform-origin: center center;
		}

		&:before {
			animation: rotate 1s ease-in-out infinite;
			height: 100%;
			width: 100%;
		}

		&:after {
			animation: rotate 1s ease-in-out infinite reverse;
			height: 50%;
			width: 50%;
		}
	}

	.maxi-cloud-toolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 6px 1rem;
		font-size: 16px;
		line-height: 1;
		word-spacing: 4px;
		border-bottom: 2px solid #e8eaeb;
		font-weight: 500;
		background-color: #fff;

		&__help-button {
			background-color: #232533;
			color: #fff;
			text-decoration: none;
			padding: 7px 14px;
			font-size: 13px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				margin-left: 5px;
			}

			&:hover {
				background-color: #ff4a17;
			}
		}

		&__button {
			transition: all 0.5s;

			&[aria-pressed='true'],
			&:hover {
				background-color: #ff4a17;
				color: #fff;
			}
		}

		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #000;
			text-decoration: none;

			& svg {
				display: block;
				height: 30px;
				width: 30px;
				margin-right: 10px;
			}
		}
	}

	.maxi-cloud-container {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 1rem;

		&__sidebar {
			width: calc(15% - 0.5rem);
		}

		&__content-patterns,
		&__content-sc {
			width: calc(85% - 0.5rem);
		}

		&__content-svg,
		&__top-menu,
		&__top {
			width: 100%;
			.ais-RefinementList-list,
			.ais-Menu-list {
				display: flex;
			}
		}

		.maxi-cloud-container__patterns,
		.maxi-cloud-container__sc {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			.ais-InfiniteHits-item {
				width: 32%;
			}
		}

		.maxi-cloud-container__content-svg .ais-InfiniteHits-item {
			width: 8%;
		}
	}

	.maxi-cloud-sidebar {
		display: flex;
		flex-direction: column;

		&__button {
			margin-bottom: 0.5rem;
			padding: 13px;
			border-radius: 3px;
			color: #464a53;
			background-color: #fff;
		}

		&__remover {
			width: 100%;
			margin: 1rem auto;
			padding: 12px 30px;
			border-radius: 0;
			text-align: center;
			color: #fff;
			background-color: #ff4a17;
		}
	}

	.maxi-cloud-topbar {
		display: flex;
		justify-content: flex-start;

		&__button {
			&[aria-pressed='true'] {
				background-color: #ff4a17;
			}
		}
	}

	.maxi-cloud-searcher {
		&__input {
			width: 100%;
			padding: 13px 20px;
			border: none;
			box-shadow: 0px 5px 1rem 0px rgba(119, 119, 119, 0.1);
			font-weight: bold;
		}
	}

	.ais-InfiniteHits-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 1rem;

		.ais-InfiniteHits-item {
			margin: 0 1rem 1rem 0;
			padding: 1rem;
			box-shadow: 0px 5px 1rem 0px rgba(119, 119, 119, 0.1);
			background-color: #fff;

			.maxi-cloud-masonry-card {
				div {
					text-align: center;
				}
				&__image {
					img {
						display: block;
						width: 100%;
					}
				}

				&__container {
					margin-top: 1rem;
					padding-top: 1rem;
					border-top: 1px solid #e8eaeb;
				}

				&__button {
					display: inline-block;
					margin: 0 5px 5px 0;
					padding: 7px 16px;
					border: 2px solid #e8eaeb;
					color: #464a53;
					font-size: 13px;
					font-weight: 500;
					line-height: 13px;
					text-decoration: none;
					background-color: #fff;
					box-shadow: 0px 5px 15px 0px rgba(119, 119, 119, 0.1);

					transition: all 0.15s linear;
					transition-property: all;
					transition-duration: 0.15s;
					transition-timing-function: linear;
					transition-delay: 0s;

					&:hover {
						background-color: #ff4a17;
						color: #fff;
					}
				}
			}

			&__tags {
				display: flex;
				justify-content: space-between;
			}
		}

		&__pro-tag {
			position: relative;
			display: inline-block;
			padding: 4px 15px 4px 25px;
			color: #fff;
			font-size: 13px;
			font-weight: bold;
			text-transform: uppercase;
			background-color: #ff4a17;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: -1px;
				transform: translateY(-50%);
				width: 0;
				height: 0;
				border-top: 19px solid transparent;
				border-bottom: 19px solid transparent;
				border-left: 10px solid #fff;
			}
		}

		&__serial-tag {
			margin: 0;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}
