.maxi-library-modal {
	width: 80%;
	min-height: 90%;
	max-width: 90%;

	&__action-section {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__buttons {
			width: 100%;
			flex: 5;

			&__load-library {
				background: #edeff0;
				border: 1px dashed #cfd3d7;
				color: #464a53 !important;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 2rem;
				transition: all 0.5s;

				&:hover {
					opacity: 0.8;
				}
			}

			&__item {
				cursor: pointer;
				height: auto;
				padding: 0;
				width: calc(16.6666666667% - 5px);
				border: 2px solid #dddfe1;
				border-radius: 5px;
				margin: 0 5px 5px 0;

				&--active {
					background: #f2f2f2;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					background-color: #f2f2f2;
				}
				svg {
					width: 100%;
					height: 100%;
					padding: 5px;
				}
			}
		}
		&__preview {
			position: relative;
			width: 100%;
			flex: 1;
			background: #edeff0;
			border: 1px dashed #cfd3d7;
			color: #464a53 !important;
			padding: 5px;
			margin-left: 5px;
			margin-right: 5px;
			height: 66px;

			&--remove {
				width: 20px;
				position: absolute;
				top: -12px;
				right: -8px;
				cursor: pointer;
			}
			& > div {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
		}
	}

	.components-modal__content {
		position: absolute;
		width: 100%;
		min-height: 100%;
		background: #f2f2f2;
		padding: 0;
		overflow-x: hidden;

		.components-modal__header {
			margin-bottom: 0;
			padding: 0 3rem;

			h1 {
				font-weight: bold;
				font-size: 1rem;
			}
		}
	}

	.spinner {
		display: none; // TEMPORARY
		position: relative;
		height: 100px;
		width: 100px;

		&:before,
		&:after {
			content: '';
			border-bottom: 6px solid #ff4a17;
			border-left: 6px solid transparent;
			border-radius: 50%;
			border-right: 6px solid #ff4a17;
			border-top: 6px solid #ff4a17;
			bottom: 0;
			box-sizing: border-box;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			transform-origin: center center;
		}

		&:before {
			animation: rotate 1s ease-in-out infinite;
			height: 100%;
			width: 100%;
		}

		&:after {
			animation: rotate 1s ease-in-out infinite reverse;
			height: 50%;
			width: 50%;
		}
	}

	.maxi-cloud-toolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 10px 1rem;
		font-size: 16px;
		line-height: 1;
		word-spacing: 4px;
		border-bottom: 2px solid #e8eaeb;
		font-weight: 500;
		background-color: #fff;

		&__help-button {
			background-color: #232533;
			color: #fff;
			text-decoration: none;
			padding: 7px 14px;
			font-size: 13px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;

			svg {
				margin-left: 5px;
				width: 15px;

				path {
					fill: #fff;
				}
			}

			&:hover {
				background-color: #ff4a17;
			}
		}

		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #000;
			text-decoration: none;
			word-spacing: 0;

			& svg {
				display: block;
				height: 30px;
				width: 30px;
				margin-right: 10px;
			}
		}
	}

	.maxi-cloud-container {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 1rem;

		.ais-InfiniteHits-loadMore,
		.ais-ClearRefinements-button {
			background-color: #ff4a17;
			border: none;
			padding: 0.5rem 0.5rem;
			margin-top: 1rem;
			border-radius: 2px;
			font-weight: bold;
			color: #fff;
			cursor: pointer;

			&--disabled {
				background-color: #e7e7e7;
				color: #b8b8b8;
				cursor: not-allowed;
			}
		}
		.ais-ClearRefinements-button {
			width: 100%;
		}

		&__accordion {
			&__title {
				position: relative;
				background: #fff;
				padding: 0.6rem 1rem;
				border-radius: 5px;
				border: 2px solid #e8eaeb;
				font-weight: bold;
				box-shadow: 0px 5px 18px 0px rgb(119, 119, 119, 0.1);
				margin-bottom: 3px;
				cursor: pointer;

				&:after {
					content: url(../../../img/arrow-right.svg);
					width: 6px;
					position: absolute;
					top: 50%;
					right: 12px;
					transform: translateY(-50%) rotate(0);
					transform-origin: center;
					transition: transform 0.3s linear;
				}
			}
			&__content {
				display: none;
				padding: 0 1rem;

				.use-placeholer-all-images {
					margin-top: 1rem;

					.components-base-control__help {
						font-size: 11px;
						margin-top: 5px;
					}
					.components-checkbox-control {
						&__label {
							font-weight: bold;
							font-size: 12px;
						}

						&__input-container {
							margin-right: 5px;
						}
						&__input[type='checkbox'] {
							background: #c7cfd6;
							border: none;
						}
						&__input[type='checkbox']:checked {
							background: #ff4a17;
							border: none;
						}
					}
				}
				.ais-HierarchicalMenu-list,
				.ais-Menu-list {
					&--child {
						margin: 0.5rem 0 1rem 0.5rem;
					}
					.ais-HierarchicalMenu-item,
					.ais-Menu-item {
						&--selected {
							.ais-HierarchicalMenu-link,
							.ais-Menu-link {
								border-bottom: 2px solid #ff4a17;
								color: #ff4a17 !important;
							}
						}
						.ais-HierarchicalMenu-link,
						.ais-Menu-link {
							text-decoration: none;
							color: #444;
							font-weight: bold;
							transition: color 0.5s;

							&:hover {
								border-bottom: 2px solid #ff4a17;
								color: #ff4a17;
							}

							.ais-HierarchicalMenu-count,
							.ais-Menu-count {
								&:before {
									content: '(';
								}
								&:after {
									content: ')';
								}
							}
						}
					}
				}
				.ais-RefinementList-item {
					&--selected {
						.ais-RefinementList-label {
							border-bottom: 2px solid #ff4a17;

							.ais-RefinementList-count,
							.ais-RefinementList-labelText {
								color: #ff4a17;
							}
						}
					}
					.ais-RefinementList-label {
						font-weight: bold;
						transition: color 0.5s;

						&:hover {
							color: #ff4a17;
						}
						.ais-RefinementList-checkbox {
							display: none;
						}
						.ais-RefinementList-labelText {
						}
						.ais-RefinementList-count {
							&:before {
								content: '(';
							}
							&:after {
								content: ')';
							}
						}
					}
				}
			}
			&__open {
				.maxi-cloud-container__accordion__title {
					&:after {
						transform: translateY(-50%) rotate(90deg);
					}
				}
				.maxi-cloud-container__accordion__content {
					display: block;
				}
			}
		}
		&__content-svg-shape {
			width: 100%;

			&__search-bar {
				display: flex;
				align-items: center;
				width: 50%;

				.ais-SearchBox {
					width: 100%;
					margin-right: 1rem;
					overflow: hidden;

					.ais-SearchBox-form {
						position: relative;
						overflow: hidden;

						.ais-SearchBox-input {
							width: 100%;
							border-radius: 0;
							border: 1px solid #ced5db;
							box-shadow: 0 5px 15px 0 rgba(119, 119, 119, 0.1);
							padding: 0.3rem 1rem;
							font-weight: bold;
							color: #081219;
						}
						.ais-SearchBox-loadingIndicator {
							position: relative;
							top: 10px;
						}
						.ais-SearchBox-reset {
							position: absolute;
							top: 50%;
							right: 70px;
							transform: translateY(-50%);
							cursor: pointer;
							border: none;
							background: none;
						}
						.ais-SearchBox-submit {
							border: none;
							background: #232533;
							color: #fff;
							font-weight: bold;
							position: absolute;
							top: 0;
							right: 0;
							height: 100%;
							padding: 11px 1rem;
							cursor: pointer;
							transition: all 0.5s;

							&:hover {
								opacity: 0.8;
							}
						}
					}
				}

				.ais-Stats-text > span {
					display: flex;
					font-weight: bold;

					strong {
						margin-right: 3px;
						color: #ff4a17;
					}
				}
			}
			.ais-InfiniteHits-list {
				grid-template-columns: repeat(10, 1fr);

				.ais-InfiniteHits-item {
					position: relative;
					border: 1px solid #ced5db;
					transition: all 0.5s;
					padding: 1rem;

					&:hover {
						position: relative;
						transition: all 0.5s;
						border: 1px solid #000;
						transform: scale(1.3);
						background: #fff;
						z-index: 9;

						.maxi-cloud-masonry-card__svg-container__button {
							display: flex;
							align-items: center;
							justify-content: center;
							transition: all 0.5s;

							&:hover {
								background-color: #ff4a17;
							}
						}
					}
					.maxi-cloud-masonry-card {
						z-index: 1;
						transition: all 0.5s;

						&__image {
							svg {
								width: 50px;
								height: 50px;
							}
						}
						&__svg-container {
							display: flex;
							align-items: center;
							flex-direction: column;

							&__title {
								margin-bottom: 1rem;
								font-weight: bold;
								text-align: center;
							}
							&__code {
								width: 80px;
								text-align: center;
							}
							&__button {
								display: none;
								position: absolute;
								bottom: -1px;
								right: -1px;
								background: #081219;
								color: #fff;
								border-radius: 0;
								border: none;
								padding: 0;
								margin: 0;
								height: 25px;
								width: 25px;
								line-height: 25px;
							}
						}
					}
				}
			}
		}

		.maxi-cloud-container__patterns,
		.maxi-cloud-container__sc {
			display: grid;
			grid-column-gap: 1rem;
			grid-template-columns: 250px 1fr;

			&__sidebar {
				.ais-SearchBox {
					.ais-SearchBox-form {
						width: 100%;
						margin-bottom: 1rem;

						.ais-SearchBox-submit {
							display: none;
						}
						.ais-SearchBox-input {
							width: 100%;
							background: #f0f2f4;
							border: 1px solid #c7cfd6;
							border-radius: 0;
							padding: 0.2rem 1rem;
							transition: all 0.5s;

							&:focus {
								border-color: #a6aaad;
								box-shadow: none;
								outline: none;
							}
						}
					}
				}
			}
			.ais-InfiniteHits-list {
				grid-template-columns: repeat(3, 1fr);
				margin-top: 0;

				.ais-InfiniteHits-item {
					background: #f0f2f4;
					border: 1px solid #c7cfd6;
					padding: 0.5rem;

					.maxi-cloud-masonry-card__image {
						background: #f0f2f4;
						border: 1px solid #c7cfd6;
						padding: 0.5rem;
						background: #fff;
					}
				}
			}
		}
	}

	.ais-InfiniteHits-list {
		display: grid;
		grid-column-gap: 1rem;
		margin-top: 1rem;

		.ais-InfiniteHits-item {
			margin: 0 0 1rem 0;
			box-shadow: 0 5px 1rem 0 rgba(119, 119, 119, 0.1);
			background-color: #fff;
			position: relative;

			.maxi-cloud-masonry-card {
				&__container {
					&__top-bar {
						display: flex;
						justify-content: space-between;
						align-items: center;
						flex-direction: row-reverse;
						margin-bottom: 0.5rem;
						font-weight: bold;
					}
				}
				&__image {
					img {
						display: block;
						width: 100%;
					}
				}
				&__buttons {
					display: flex;
					align-items: center;
				}
				&__button {
					display: inline-flex;
					margin: 0 5px 0 0;
					padding: 0 10px;
					border: 1px solid #c7cfd6;
					background-color: #fff;
					transition: all 0.5s;
					height: 30px;
					font-weight: bold;

					&:hover {
						background-color: #ff4a17;
						color: #fff;
					}
				}

				&__tags {
					display: flex;
					justify-content: space-between;
					position: absolute;
					top: 55px;
					right: 8px;

					&__pro-tag {
						position: relative;
						display: inline-block;
						padding: 4px 15px 4px 25px;
						color: #fff;
						font-size: 13px;
						font-weight: bold;
						text-transform: uppercase;
						background-color: #ff4a17;

						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: -1px;
							transform: translateY(-50%);
							width: 0;
							height: 0;
							border-top: 19px solid transparent;
							border-bottom: 19px solid transparent;
							border-left: 10px solid #fff;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 1920px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(7, 1fr);
		}
		.maxi-cloud-container
			.maxi-cloud-container__patterns
			.ais-InfiniteHits-list {
			grid-template-columns: repeat(2, 1fr);
		}
		.maxi-cloud-container .maxi-cloud-container__sc .ais-InfiniteHits-list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media only screen and (max-width: 1366px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape
			.ais-InfiniteHits-list
			.ais-InfiniteHits-item:hover {
			transform: scale(1.2);
		}

		.maxi-cloud-container__content-svg-shape__search-bar {
			width: 100%;
		}
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(5, 1fr);
		}
		.maxi-cloud-container
			.maxi-cloud-container__patterns
			.ais-InfiniteHits-list {
			grid-template-columns: repeat(1, 1fr);
		}
		.maxi-cloud-container .maxi-cloud-container__sc .ais-InfiniteHits-list {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
@media only screen and (max-width: 1024px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape
			.ais-InfiniteHits-list
			.ais-InfiniteHits-item:hover {
			transform: scale(1.1);
		}
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media only screen and (max-width: 768px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape
			.ais-InfiniteHits-list
			.ais-InfiniteHits-item:hover {
			transform: scale(1);
		}
		.maxi-cloud-container__content-svg-shape__search-bar {
			flex-direction: column;

			.ais-SearchBox {
				margin-right: 0;
			}
			.ais-Stats {
				margin-top: 1rem;
			}
		}
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(2, 1fr);
		}
		.maxi-cloud-container .maxi-cloud-container__patterns {
			grid-template-columns: 100%;

			&__content-patterns {
				margin-top: 1rem;
			}
		}
		.maxi-cloud-container .maxi-cloud-container__sc {
			grid-template-columns: 100%;

			&__content-sc {
				margin-top: 1rem;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
