.maxi-library-modal {
	width: 85%;
	min-height: 90%;
	max-width: 90%;
	overflow-y: auto;

	&__action-section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-right: 7px;
		width: 100%;

		&__buttons {
			width: 100%;
			flex: 5;

			&__load-library {
				background: var(--maxi-light-blue-1-color);
				border: 1px dashed var(--maxi-grey-9-color);
				color: var(--maxi-black-2-color) !important;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 2rem;
				transition: all 0.5s;

				&:hover {
					opacity: 0.8;
				}
			}

			&__item {
				cursor: pointer;
				height: auto;
				padding: 0;
				width: calc(16.6666666667% - 5px);
				border: 2px solid #dddfe1;
				border-radius: 5px;
				margin: 0 5px 5px 0;

				&--active {
					background: #f2f2f2;
				}
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					background-color: #f2f2f2;
				}
				svg {
					width: 100%;
					height: 100%;
					padding: 5px;
				}
			}
		}
		&__preview {
			position: relative;
			width: 100%;
			flex: 1;
			background: var(--maxi-light-blue-1-color);
			border: 1px dashed var(--maxi-grey-9-color);
			color: var(--maxi-black-2-color) !important;
			padding: 5px;
			margin-left: 5px;
			margin-right: 5px;
			height: 66px;

			&__icon {
				svg {
					stroke-width: 1;
					stroke: #000;
					* {
						stroke-width: 1;
						stroke: #000;
					}
				}
			}
			&__shape {
				svg {
					max-height: 100%;
					fill: #000;
					* {
						fill: #000;
					}
				}
			}
			&--remove {
				width: 20px;
				position: absolute;
				top: -12px;
				right: -8px;
				cursor: pointer;
			}
			& > div {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;

				svg {
					pattern ~ path {
						fill: #ff4a17;
					}
				}
			}
		}
	}

	.components-modal__content {
		position: absolute;
		width: 100%;
		min-height: 100%;
		max-height: calc(100% - 120px);
		background: #f9f9f9;
		margin-top: 0;
		padding: 46px 0 0;
		overflow-x: hidden;

		&::before {
			margin: 0;
		}
		.components-modal__header {
			margin-bottom: 0;
			padding: 0;
			height: auto;
			border: none;

			.components-modal__header-heading-container {
				display: none;
			}
			h1 {
				font-weight: bold;
				font-size: 1rem;
			}
			.components-button {
				position: absolute;
				right: 4px;
				left: auto;
				top: 3px;
				padding: 0;
				svg {
					fill: #ff4a17;
					width: 38px;
					height: 38px;
				}
				&:hover {
					svg {
						fill: #000;
					}
				}
			}
		}
	}

	.spinner {
		display: none; // TEMPORARY
		position: relative;
		height: 100px;
		width: 100px;

		&:before,
		&:after {
			content: '';
			border-bottom: 6px solid #ff4a17;
			border-left: 6px solid transparent;
			border-radius: 50%;
			border-right: 6px solid #ff4a17;
			border-top: 6px solid #ff4a17;
			bottom: 0;
			box-sizing: border-box;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			transform-origin: center center;
		}

		&:before {
			animation: rotate 1s ease-in-out infinite;
			height: 100%;
			width: 100%;
		}

		&:after {
			animation: rotate 1s ease-in-out infinite reverse;
			height: 50%;
			width: 50%;
		}
	}

	.maxi-cloud-toolbar {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: 46px;
		top: 0;
		margin: 0;
		padding: 5px 43px 5px 8px;
		font-size: 16px;
		line-height: 1;
		word-spacing: 4px;
		border-bottom: 1px solid #dbdde6;
		font-weight: 500;
		background-color: #fff;

		&__help-button {
			display: flex;
			background-color: transparent;
			color: #ff4a17;
			font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
			text-decoration: none;
			padding: 0;
			font-size: 14px;
			cursor: pointer;
			align-items: center;
			justify-content: center;
			transition: 0s;

			svg {
				margin-right: 5px;
				width: 12px;
				background-color: #ff4a17;
				height: 12px;
				padding: 2px;
				border-radius: 50%;

				path {
					fill: #ff4a17;
					stroke: #fff;
				}
			}

			&:hover {
				color: #000;
				svg {
					background-color: #000;
					path {
						fill: #000;
					}
				}
			}
		}

		&__logo {
			display: flex;
			color: #ff4a17;
			font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
			font-size: 18px;
			word-spacing: 0;
			text-decoration: none;
			align-items: center;
			justify-content: center;

			& svg {
				display: block;
				height: 30px;
				width: 30px;
				margin-right: 10px;
			}
		}
	}

	.maxi-cloud-container {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		margin: 0;

		.ais-ClearRefinements {
			margin: 0 8px;
		}
		.ais-InfiniteHits-loadMore,
		.ais-ClearRefinements-button {
			background-color: #eaf3f7;
			border: none;
			padding: 7px;
			margin-top: 8px;
			border-radius: 0;
			font-weight: 400;
			color: #081219;
			cursor: pointer;
			border: 1px solid #dbdde6;
			font-size: 14px;
			font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;

			&--disabled {
				background-color: #e7e7e7;
				color: #b8b8b8;
				cursor: not-allowed;
			}
		}
		.ais-ClearRefinements-button {
			width: 100%;
		}

		&__accordion {
			background-color: #fff;
			border-top: 1px solid #dbdde6;
			border-bottom: 1px solid #dbdde6;
			font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
			&__title {
				position: relative;
				background: #fff;
				padding: 6px;
				border-radius: 0;
				border-bottom: 1px solid #dbdde6;
				font-weight: 400;
				box-shadow: none;
				margin-bottom: 0;
				cursor: pointer;
				font-size: 12px;

				&:after {
					content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 9 13" xml:space="preserve"><g class="st0"><path d="M.9 1.2C.9.2 2.1-.2 2.7.4L8 5.7c.4.4.4 1.1 0 1.5l-5.3 5.3c-.7.7-1.8.2-1.8-.8V1.2z" class="st1"/> </g></svg>');
					width: 6px;
					position: absolute;
					top: 50%;
					right: 12px;
					transform: translateY(-50%) rotate(0);
					transform-origin: center;
					transition: transform 0.3s linear;
				}
			}
			&__content {
				display: none;
				padding: 0;

				ul {
					margin: 0;
				}
				.use-placeholer-all-images {
					margin-top: 1rem;

					.components-base-control__help {
						font-size: 11px;
						margin-top: 5px;
					}
					.components-checkbox-control {
						&__label {
							font-weight: bold;
							font-size: 12px;
						}

						&__input-container {
							margin-right: 5px;
						}
						&__input[type='checkbox'] {
							background: #c7cfd6;
							border: none;
						}
						&__input[type='checkbox']:checked {
							background: #ff4a17;
							border: none;
						}
					}
				}
				.ais-HierarchicalMenu-list,
				.ais-Menu-list {
					&--child {
						margin: 0.5rem 0 1rem 0.5rem;
					}
					.ais-HierarchicalMenu-item,
					.ais-Menu-item {
						&--selected {
							.ais-HierarchicalMenu-link,
							.ais-Menu-link {
								border-bottom: 2px solid #ff4a17;
								color: #ff4a17 !important;
							}
						}
						.ais-HierarchicalMenu-link,
						.ais-Menu-link {
							text-decoration: none;
							color: #444;
							font-weight: bold;
							transition: color 0.5s;

							&:hover {
								border-bottom: 2px solid #ff4a17;
								color: #ff4a17;
							}

							.ais-HierarchicalMenu-count,
							.ais-Menu-count {
								&:before {
									content: '(';
								}
								&:after {
									content: ')';
								}
							}
						}
					}
				}
				.ais-RefinementList-item {
					display: flex;
					justify-content: space-between;
					margin: 8px 6px;
					align-items: center;
					&--selected {
						a {
							border-bottom: 2px solid #ff4a17;

							.ais-RefinementList-count,
							.ais-RefinementList-labelText {
								color: #ff4a17;
							}
						}
					}
					a {
						font-weight: 400;
						transition: color 0.5s;
						color: #151617;
						text-decoration: none;
						box-shadow: none;

						&:hover {
							color: #ff4a17;
						}
						.ais-RefinementList-checkbox {
							display: none;
						}
						.ais-RefinementList-labelText {
						}
						.ais-RefinementList-count {
							&:before {
								content: '(';
							}
							&:after {
								content: ')';
							}
						}
					}
					.maxi-toggle-switch {
						margin-bottom: 0;
					}
				}
			}
			&__open {
				.maxi-cloud-container__accordion__title {
					&:after {
						transform: translateY(-50%) rotate(90deg);
					}
				}
				.maxi-cloud-container__accordion__content {
					display: block;
				}
			}
		}
		&__content-svg-shape {
			width: 100%;

			&__search-bar {
				display: flex;
				align-items: center;
				width: 70%;

				.ais-SearchBox {
					width: 100%;
					margin-right: 1rem;
					overflow: hidden;

					.ais-SearchBox-form {
						position: relative;
						overflow: hidden;

						.ais-SearchBox-input {
							width: 100%;
							border-radius: 0;
							border: 1px solid #ced5db;
							box-shadow: 0 5px 15px 0 rgba(119, 119, 119, 0.1);
							padding: 0.3rem 1rem;
							font-weight: bold;
							color: #081219;
						}
						.ais-SearchBox-loadingIndicator {
							position: relative;
							top: 10px;
						}
						.ais-SearchBox-reset {
							position: absolute;
							top: 50%;
							right: 70px;
							transform: translateY(-50%);
							cursor: pointer;
							border: none;
							background: none;
						}
						.ais-SearchBox-submit {
							border: none;
							background: #232533;
							color: #fff;
							font-weight: bold;
							position: absolute;
							top: 0;
							right: 0;
							height: 100%;
							padding: 11px 1rem;
							cursor: pointer;
							transition: all 0.5s;

							&:hover {
								opacity: 0.8;
							}
						}
					}
				}

				.ais-Stats-text > span {
					display: flex;
					font-weight: bold;

					strong {
						margin-right: 3px;
						color: #ff4a17;
					}
				}
			}

			&__categories {
				display: flex;
				width: 51%;
				justify-content: space-between;
				margin-right: 5%;
				.ais-Menu-list {
					display: flex;
					li {
						padding-right: 3%;
					}
				}
			}
			.ais-InfiniteHits-list {
				grid-template-columns: repeat(10, 1fr);

				.ais-InfiniteHits-item {
					position: relative;
					border: 1px solid #ced5db;
					transition: all 0.5s;

					&:hover {
						position: relative;
						transition: all 0.5s;
						border: 1px solid #000;
						transform: scale(1.1);
						background: #fff;
						z-index: 9;
					}
					.maxi-cloud-masonry-card {
						z-index: 1;
						transition: all 0.5s;
						padding: 1rem;
						height: 100%;

						&__light {
							color: #fff;
							background-color: #000;
						}
						&__image {
							svg {
								width: 50px;
								height: 50px;
							}
						}
						&__svg-container {
							display: flex;
							align-items: center;
							flex-direction: column;
							cursor: pointer;

							&__title {
								margin-bottom: 1rem;
								font-weight: bold;
								text-align: center;
							}
							&__code {
								width: 80px;
								text-align: center;
							}
						}
					}
				}
			}
		}

		.maxi-cloud-container__patterns,
		.maxi-cloud-container__sc {
			display: grid;
			grid-column-gap: 0;
			grid-template-columns: 194px 1fr;

			&__sidebar {
				border-right: 1px solid #dbdde6;
				border-left: 1px solid #dbdde6;
				.ais-SearchBox {
					.ais-SearchBox-form {
						width: auto;
						margin: 9px 8px;

						.ais-SearchBox-submit {
							display: none;
						}
						.ais-SearchBox-reset {
							display: none;
						}
						.ais-SearchBox-input {
							width: 100%;
							background: #fff;
							border: 1px solid #dbdde6;
							color: #081219;
							border-radius: 0;
							font-size: 12px;
							padding: 0.2rem 1rem;
							transition: all 0.5s;
							font-family: 'Roboto', Helvetica, Arial, Lucida,
								sans-serif !important;
							&:focus {
								// border-color: #a6aaad;
								box-shadow: none;
								outline: none;
							}
						}
					}
				}
			}
			.ais-InfiniteHits-list {
				grid-template-columns: repeat(3, 1fr);
				margin-top: 0;

				.ais-InfiniteHits-item {
					background: #fff;
					border: 1px solid #dbdde6;
					padding: 0;
					transition: 0.3s;

					&__button {
						height: auto;
						padding: 6px;
						display: block;
					}

					.maxi-cloud-masonry-card__image {
						background: #f0f2f4;
						border: none;
						padding: 0;
						background: #fff;
					}
					&:hover {
						border-color: #007cba;
						.maxi-cloud-masonry-card__button {
							border-color: #007cba;
							color: #007cba;
						}
					}
				}
			}
		}
	}

	.ais-InfiniteHits-list {
		display: grid;
		grid-column-gap: 1rem;
		margin-top: 1rem;

		.ais-InfiniteHits-item {
			margin: 0 0 1rem 0;
			box-shadow: 0 5px 1rem 0 rgba(119, 119, 119, 0.1);
			background-color: #fff;
			position: relative;

			.maxi-cloud-masonry-card {
				&__button-icon,
				&__Line {
					.maxi-cloud-masonry-card__svg-container__code {
						svg,
						svg * {
							stroke-width: 1;
						}
					}
				}
				&__container {
					&__top-bar {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 2px;
						.maxi-cloud-masonry__serial-tag {
							color: #232533;
							font-weight: 500;
							font-size: 14px;
						}
					}
				}
				&__image {
					img {
						display: block;
						width: 100%;
					}
				}
				&__buttons {
					display: flex;
					align-items: center;
					margin-top: 12px;
				}
				&__button {
					display: inline-flex;
					font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
					margin: 0 5px 0 0;
					padding: 0 10px;
					color: #081219;
					border: 1px solid #dbdde6;
					background-color: #edf6fa;
					transition: all 0.5s;
					height: 30px;
					font-weight: 400;
					border-radius: 0;
				}

				&__tags {
					display: flex;
					justify-content: space-between;
					position: absolute;
					top: 55px;
					right: 8px;

					&__pro-tag {
						position: relative;
						display: inline-block;
						padding: 4px 15px 4px 25px;
						color: #fff;
						font-size: 13px;
						font-weight: bold;
						text-transform: uppercase;
						background-color: #ff4a17;

						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: -1px;
							transform: translateY(-50%);
							width: 0;
							height: 0;
							border-top: 19px solid transparent;
							border-bottom: 19px solid transparent;
							border-left: 10px solid #fff;
						}
					}
				}
			}
		}
	}
	.maxi-cloud-container .maxi-cloud-container__sc {
		&__content-sc {
			margin: 6px 15px;
			.ais-Stats {
				margin-bottom: 5px;
			}
			.ais-Stats-text {
				color: #081219;
				font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
				font-weight: 500;
				font-size: 12px;
				strong {
					color: #ff4a17;
				}
			}
		}
	}
}

.maxi-accordion-control__item__panel .maxi-library-modal__action-section {
	margin-bottom: 8px;
}
@media only screen and (max-width: 1920px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(7, 1fr);
		}
		.maxi-cloud-container
			.maxi-cloud-container__patterns
			.ais-InfiniteHits-list {
			grid-template-columns: repeat(2, 1fr);
		}
		.maxi-cloud-container .maxi-cloud-container__sc .ais-InfiniteHits-list {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media only screen and (max-width: 1366px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape
			.ais-InfiniteHits-list
			.ais-InfiniteHits-item:hover {
			transform: scale(1.2);
		}

		.maxi-cloud-container__content-svg-shape__search-bar {
			width: 100%;
		}
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(5, 1fr);
		}
		.maxi-cloud-container
			.maxi-cloud-container__patterns
			.ais-InfiniteHits-list {
			grid-template-columns: repeat(1, 1fr);
		}
		.maxi-cloud-container .maxi-cloud-container__sc .ais-InfiniteHits-list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media only screen and (max-width: 1024px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape
			.ais-InfiniteHits-list
			.ais-InfiniteHits-item:hover {
			transform: scale(1.1);
		}
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(3, 1fr);
		}

		.maxi-cloud-container .maxi-cloud-container__sc .ais-InfiniteHits-list {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
@media only screen and (max-width: 768px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape
			.ais-InfiniteHits-list
			.ais-InfiniteHits-item:hover {
			transform: scale(1);
		}
		.maxi-cloud-container__content-svg-shape__search-bar {
			flex-direction: column;

			.ais-SearchBox {
				margin-right: 0;
			}
			.ais-Stats {
				margin-top: 1rem;
			}
		}
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(2, 1fr);
		}
		.maxi-cloud-container .maxi-cloud-container__patterns {
			grid-template-columns: 100%;

			&__content-patterns {
				margin-top: 1rem;
			}
		}
		.maxi-cloud-container .maxi-cloud-container__sc {
			grid-template-columns: 100%;

			&__content-sc {
				margin-top: 1rem;
			}
		}
	}
}
@media only screen and (max-width: 480px) {
	.maxi-library-modal {
		.maxi-cloud-container__content-svg-shape .ais-InfiniteHits-list {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
