.gx-buttoneditor-button {
  display: block;
}

.gx-externalbutton-popover {
  position: fixed;
}

.gx-externalbutton-popover button {
  box-shadow: none;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.gx-buttoneditor-button:hover .gx-externalbutton-popover button {
  opacity: 1;
}

