.maxi-axis-control {
	margin-bottom: 8px;

	.components-base-control {
		margin-bottom: 0 !important;
	}

	.components-select-control {
		.components-flex__item {
			display: none;
		}
	}

	input[type='checkbox']:checked::before {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M14.83 4.89l1.34.94-5.81 8.38H9.02L5.78 9.67l1.34-1.25 2.57 2.4z' fill='%2380828a'/%3E%3C/svg%3E");
		margin: -0.2rem 0 0 -0.34rem;
	}

	&__units {
		margin-bottom: 0 !important;
		select:focus {
			border-color: #b4b4b4 !important;
			box-shadow: none !important;
		}

		.components-base-control__field {
			margin-bottom: 0 !important;
		}
	}

	&__content {
		display: flex;
		align-items: flex-start;
		margin-top: 8px;

		&__item {
			margin-right: 5px;

			@at-root .rtl #{&} {
				margin-right: 0;
				margin-left: 5px;
			}

			&:last-of-type {
				margin-right: 0;
				@at-root .rtl #{&} {
					margin-right: 5px;
					margin-left: 0px;
				}
			}

			&__label,
			&__input {
				margin-bottom: 4px;
			}

			&__input,
			&__checkbox {
				display: block;
				width: 100%;
			}

			&__input {
				padding-right: 0 !important;
				@at-root .rtl #{&} {
					padding-right: 8px !important;
				}

				&:focus {
					border-color: #b4b4b4 !important;
					box-shadow: none !important;
				}
			}
			&__checkbox {
				input {
					border: 2px solid #dddfe2;
					box-shadow: none;
					&:checked {
						border: 2px solid #dddfe2;
						background-color: transparent;
					}

					&:focus {
						border-color: #b4b4b4;
						box-shadow: none;
					}
				}
			}

			&__sync {
				border: 2px solid #dddfe2;
				border-radius: 5px;
				margin-top: 23px;

				&:hover {
					border-color: #b4b4b4;
				}
				button {
					height: 26px !important;
					display: flex;

					&[aria-pressed='true'] {
						background: #f2f2f2 !important;
					}
					svg {
						width: 18px;
						height: 18px;
					}
				}
			}
		}
	}
}
