.maxi-prompt-control-modify-tab {
	display: flex;
	flex-direction: column;

	&__top-bar {
		top: 47px;
		padding: 8px 0;
		position: sticky;
		background: var(--maxi-white-4-color);
	}

	&__modification-options {
		display: flex;

		& > *:first-child {
			flex-grow: 1;
		}
	}

	&__results {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-bottom: 5px;
	}
}

.maxi-accordion-control__item__panel:has(.maxi-prompt-control-modify-tab) {
	background: var(--maxi-white-4-color);
}
