.toolbar-item__popover {
	&__advanced-button {
		top: -20px !important;
		left: 105% !important;
	}
	&__font-options {
		min-width: 310px;
		&__font {
			display: flex;
			width: 100%;

			&__selector {
				flex-basis: 100%;
			}

			.maxi-font-family-selector {
				&__button {
					color: #fff;
					border-color: #80828a;
				}
			}

			.components-maxi-control__reset-button {
				height: 31px;

				svg {
					width: 14px;
					height: 14px;
				}
			}
		}
	}
}
