.toolbar-item__popover {
	.toolbar-item__popover__font-options {
		margin: -8px -8px 0;
		&__wrap {
			display: flex;
			align-items: center;
			border-top: 1px solid #dbdde6;

			.maxi-base-control {
				.components-range-control {
					display: none;
				}
			}
		}
		.toolbar-item__typography-control__extra-text-options {
			display: flex;
			align-items: center;
			padding-right: 5px;

			.components-button {
				&:not(.maxi-tabs-control__button) {
					padding: 5px;
					margin-bottom: 0;
					height: 36px;
					&[aria-pressed='true'] {
						color: #007cba;
						background-color: #eaf2f6 !important;
						border-bottom: 3px solid #007cba !important;
					}
				}

				svg {
					width: 16px;

					path {
						fill: transparent;
						stroke: #000;
					}
				}

				&.toolbar-item__superscript {
					path {
						fill: #000;
						stroke: transparent;
					}
				}
			}
		}
		.toolbar-item__typography-control__typography-tabs {
			.maxi-tabs-control {
				margin: 0;

				&__button {
					border-color: #dbdde6;
					border-style: solid;
					border-width: 0 1px 0 0;
				}
			}

			& > .maxi-tabs-control {
				.maxi-tabs-control__button {
					height: 36px;
					justify-content: center;
					width: 45px;
				}
			}

			.maxi-alignment-control {
				.maxi-tabs-control {
					&__button {
						border-width: 0;
						height: 36px;

						&:last-child {
							border-right-width: 1px;
						}
					}
				}
			}

			.maxi-tabs-content:not(.maxi-tabs-content--disable-padding) {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}

			.maxi-font-family-selector__control__control {
				border-color: #dbdde6;
				border-style: solid;
				border-width: 0 1px 0 0;
				height: 36px;
				min-height: 36px;
			}

			.maxi-font-family-selector__control__menu {
				margin: 0 !important;
				width: 200px;
			}
		}
	}

	&__advanced-button {
		top: -20px !important;
		left: 105% !important;
	}

	&__font-options {
		min-width: 376px;

		&__font {
			display: flex;
			width: 100%;

			&__selector {
				flex-basis: 100%;
			}

			.maxi-font-family-selector {
				margin-bottom: 0;
				width: 115px;
				height: 38px;

				&__button {
					color: #fff;
					border-color: #80828a;
				}
			}

			.components-maxi-control__reset-button {
				height: 36px;
				margin: 0;
				border: none;

				svg {
					width: 14px;
					height: 14px;
				}
			}
		}
		.toolbar-item[aria-pressed='true'] svg path {
			fill: #ff4a17;
		}

		&__wrap {
			&_family {
				.maxi-base-control__field {
					margin-bottom: 0;

					.maxi-font-family-selector__control__control:hover {
						background-color: var(--maxi-grey-3-color);
						cursor: pointer;
					}
				}
			}

			&_inputs {
				padding: 10px 10px 0;

				.maxi-advanced-number-control {
					margin-right: 8px;

					&:last-child {
						margin-right: 0;
					}

					input {
						width: 80px !important;
					}
				}

				.toolbar-item__text-size-icon {
					margin-bottom: 8px;
					margin-right: 3px;

					path {
						fill: transparent;
						stroke: #000;
					}
				}
			}
		}

		.maxi-tabs-content {
			padding-top: 0 !important;
		}
	}
}

.maxi-toolbar__popover {
	.toolbar-item__typography-control {
		width: 40px !important;
		& > div {
			width: 100%;
			height: 100%;
		}
		.components-button {
			font-family: 'Inter', sans-serif !important;
			font-weight: 700;
		}
	}
}
