figure.maxi-image-block {
	> button.maxi-imageupload-button {
		height: auto;

		> svg {
			width: 100%;
			height: auto;
		}
	}

	> div.maxi-image-block-resizer {
		> div.maxi-image-block-settings {
			position: absolute;
			width: 2rem;
			height: 2rem;
			top: 2.5%;
			left: 97.5%;
			transform: translateX(-50%);

			> button.maxi-image-block-upload-button {
				width: 100%;
				height: 100%;
				background: #232533;
				opacity: 0;
				visibility: hidden;
				transition: all 0.5s ease;
				padding: 8px;

				svg {
					fill: #fff;
					width: 20px;
					height: 20px;
				}
			}
		}

		&:hover {
			> div.maxi-image-block-settings {
				> button.maxi-image-block-upload-button {
					opacity: 0.6;
					visibility: visible;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	img {
		display: block;
		width: 100%;
	}

	figcaption {
		width: 100%;
	}

	.maxi-image-block-resizer {
		.components-resizable-box__handle {
			display: none;
			visibility: hidden;

			&:after {
				background: #ff4a17;
			}
		}

		&:hover {
			.components-resizable-box__handle {
				display: block;
				visibility: visible;
			}
		}
	}
}
