.maxi-image-block {
	.maxi-hover-effect__text {
		.maxi-hover-details {
			visibility: hidden;
		}
	}
	&:hover {
		.maxi-hover-effect__text {
			.maxi-hover-details {
				visibility: visible;
			}
		}
	}

	&:focus:after {
		box-shadow: none !important;
	}
	.maxi-imageupload-button {
		height: 100%;
	}

	&__resizer {
		height: inherit !important;
		max-height: 100%;
	}

	&__settings {
		position: relative;
		z-index: 1;

		&__upload-button {
			opacity: 1;
			visibility: visible;
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0;
			right: 0;
			background: #fff;
			box-shadow: -3px 3px 6px 0px rgb(0 0 0 / 16%) !important;
			border-radius: 0;

			svg {
				fill: #007cba;
				width: 20px;
				height: 20px;
			}
			&:hover {
				svg {
					fill: #ff4a17;
				}
			}
		}
	}

	.maxi-imageupload-button {
		svg {
			max-width: 100%;
			height: auto;
		}
	}
	&__image {
		display: block;
		width: 100% !important;
		max-height: 100%;
		margin: auto;
	}
	&__caption {
		width: 100% !important;
	}
	&__placeholder {
		position: relative;

		.components-placeholder__label {
			margin: 0;
			width: 100%;
			height: 100%;
			svg {
				width: 100%;
				height: 100%;
				margin: 0;
			}
		}
	}

	.maxi-image-block-wrapper {
		width: 100% !important;
		height: inherit;
		max-height: 100%;
		margin: auto;
	}

	&::after {
		box-shadow: none !important;
		border-radius: 0;
		border: 2px solid #7FBDDC !important;
		opacity: 0;
		top: -1px !important;
		right: -1px !important;
		bottom: -1px !important;
		left: -1px !important;
	}

	&.is-selected {
		&::after {
			opacity: 1;
			border-color: #ff4a17 !important;
		}
		&:focus {
			box-shadow: none !important;
		}
	}

	&:hover {
		&::after {
			opacity: 1;
		}
	}
}

body.maxi-blocks--active
	.block-editor__container
	.maxi-image-inspector__dimension-width {
	margin-bottom: 8px;
	.components-range-control__wrapper {
		margin-left: 7px;
	}
}
