.maxi-image-block {
	&.is-selected {
		.maxi-block__resizer--overflow .maxi-resizable__handle-wrapper {
			width: calc(100% + 40px) !important;
			left: -20px !important;
			height: calc(100% + 20px) !important;
		}
	}

	.maxi-hover-effect__text {
		.maxi-hover-details {
			visibility: hidden;
		}
	}
	&:hover {
		.maxi-hover-effect__text {
			.maxi-hover-details {
				visibility: visible;
			}
		}
	}

	&:focus:after {
		box-shadow: none !important;
	}
	.maxi-imageupload-button {
		height: 100%;
	}

	&__resizer {
		height: inherit !important;
		max-height: 100%;
	}

	.maxi-imageupload-button {
		svg {
			max-width: 100%;
			height: auto;
		}
	}
	&__image {
		display: block;
		width: 100% !important;
		max-height: 100%;
		margin: auto;
	}
	&__caption {
		width: 100% !important;
		padding-left: 1px;
		border: 1.5px dashed transparent;
		&:hover {
			border-color: var(--maxi-light-blue-3-color);
		}
		&:focus {
			border-color: var(--maxi-light-blue-3-color);
		}
	}
	&__placeholder {
		position: relative;

		.components-placeholder__label {
			margin: 0;
			width: 100%;
			height: 100%;
			svg {
				width: 100%;
				height: 100%;
				margin: 0;
			}
		}
	}

	.maxi-image-block-wrapper {
		width: 100% !important;
		height: inherit;
		max-height: 100%;
		margin: auto;
	}
}

body.maxi-blocks--active
	.block-editor__container
	.maxi-image-inspector__dimension-width {
	margin-bottom: 8px;
	.components-range-control__wrapper {
		margin-left: 7px;
	}
}
