body.maxi-blocks--active figure.maxi-image-block {
	display: flex;
	flex-direction: column;
}

.maxi-image-block {
	&__caption {
		position: relative;
	}

	svg {
		display: block;
		width: 100%;
	}
}
