body.maxi-blocks--active figure.maxi-image-block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;

	img {
		box-sizing: border-box;
		min-height: inherit;
		max-height: inherit;
		margin: auto;
	}

	.maxi-hover-preview {
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	.maxi-image-block-shape-wrapper {
		display: flex;
		width: 100%;
	}
	.maxi-image-block-wrapper {
		display: flex;
		position: relative;
		width: auto;
		max-width: 100%;
		max-height: inherit;
		min-height: inherit;
		flex-grow: 1;
		box-sizing: border-box;

		&.maxi-image-block-wrapper--fit-parent-size {
			overflow: hidden;

			.maxi-image-block__image {
				position: absolute;
				top: 0;
				left: 0;
				max-width: none;
				min-width: 100%;
				min-height: 100%;
			}
		}

		> svg:first-child pattern image {
			transform-origin: 50% 50%;
		}
	}
	.maxi-image-block-wrapper.maxi-hover-effect-active {
		overflow: hidden;
	}
	.maxi-image-block {
		&__caption {
			position: relative;
			margin: 0;
			text-align: left;
			z-index: 2;
		}
	}
	.maxi-hover-details {
		z-index: 2;
		background-color: #000;

		&:not(.maxi-hover-effect__text__flip-horiz) {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			transition: all 1s ease;
		}

		&__content {
			display: flex;
			flex-direction: column;
			height: 100%;

			&--center-center {
				justify-content: center;
				align-items: center;
				text-align: center;
			}
			&--left-top {
				align-items: flex-start;
			}
			&--right-top {
				align-items: flex-end;
				text-align: right;
			}
			&--left-bottom {
				align-items: flex-start;
				justify-content: flex-end;
			}
			&--right-bottom {
				align-items: flex-end;
				justify-content: flex-end;
				text-align: right;
			}
			h4,
			p {
				margin: 0;
				padding: 0;
				color: #fff;
			}
		}
	}
	.maxi-hover-effect {
		&__text {
			&__push-up {
				.maxi-hover-details {
					transform: translateY(100%);
					transition-duration: inherit;

					&__content {
						transition-duration: inherit;

						h4 {
							transition-delay: 0.2s;
						}
						p {
							transition-delay: 0.4s;
						}
						h4,
						p {
							transform: translateY(400px);
							transition-duration: inherit;
						}
					}
				}
				&:hover {
					.maxi-hover-details {
						transform: translateY(0);

						&__content {
							h4 {
								transition-delay: 0.2s;
							}
							p {
								transition-delay: 0.4s;
							}
							h4,
							p {
								transform: translateY(0);
								transition-duration: inherit;
							}
						}
					}
					img,
					svg {
						transform: translateY(-100%);
					}
				}
			}
			&__push-down {
				.maxi-hover-details {
					transform: translateY(-100%);
					transition-duration: inherit;

					&__content {
						transition-duration: inherit;

						h4 {
							transition-delay: 0.4s;
						}
						p {
							transition-delay: 0.2s;
						}
						h4,
						p {
							transform: translateY(-400px);
							transition-duration: inherit;
						}
					}
				}
				&:hover {
					.maxi-hover-details {
						transform: translateY(0);

						&__content {
							h4 {
								transition-delay: 0.4s;
							}
							p {
								transition-delay: 0.2s;
							}
							h4,
							p {
								transform: translateY(0);
								transition-duration: inherit;
							}
						}
					}
					img,
					svg {
						transform: translateY(100%);
					}
				}
			}
			&__push-right {
				.maxi-hover-details {
					transform: translateX(-100%);
					transition-duration: inherit;

					&__content {
						transition-duration: inherit;

						h4 {
							transition-delay: 0.2s;
						}
						p {
							transition-delay: 0.4s;
						}
						h4,
						p {
							transform: translateX(-100%);
							transition-duration: inherit;
						}
					}
				}
				&:hover {
					.maxi-hover-details {
						transform: translateX(0);

						&__content {
							h4 {
								transition-delay: 0.2s;
							}
							p {
								transition-delay: 0.4s;
							}
							h4,
							p {
								transform: translateX(0);
								transition-duration: inherit;
							}
						}
					}
					img,
					svg {
						transform: translateX(100%);
					}
				}
			}
			&__push-left {
				.maxi-hover-details {
					transform: translateX(100%);
					transition-duration: inherit;

					&__content {
						transition-duration: inherit;

						h4 {
							transition-delay: 0.2s;
						}
						p {
							transition-delay: 0.4s;
						}
						h4,
						p {
							transform: translateX(100%);
							transition-duration: inherit;
						}
					}
				}
				&:hover {
					.maxi-hover-details {
						transform: translateX(0);

						&__content {
							h4 {
								transition-delay: 0.4s;
							}
							p {
								transition-delay: 0.2s;
							}
							h4,
							p {
								transform: translateX(0);
								transition-duration: inherit;
							}
						}
					}
					img,
					svg {
						transform: translateX(-100%);
					}
				}
			}
			&__slide-up {
				.maxi-hover-details {
					transform: translateY(100%);
					transition-duration: inherit;

					&__content {
						transition-duration: inherit;

						h4 {
							transition-delay: 0.2s;
						}
						p {
							transition-delay: 0.4s;
						}
						h4,
						p {
							transform: translateY(400px);
							transition-duration: inherit;
						}
					}
				}
				img,
				svg {
					transform: scale(1) translate(0, 0);
				}
				&:hover {
					.maxi-hover-details {
						transform: translateY(0);

						&__content {
							h4 {
								transition-delay: 0.2s;
							}
							p {
								transition-delay: 0.4s;
							}
							h4,
							p {
								transform: translateY(0);
								transition-duration: inherit;
							}
						}
					}
					img,
					svg {
						transform: scale(1.07) translate(0, 9px);
					}
				}
			}
			&__slide-down {
				.maxi-hover-details {
					transform: translateY(-100%);
					transition-duration: inherit;

					&__content {
						transition-duration: inherit;

						h4 {
							transition-delay: 0.4s;
						}
						p {
							transition-delay: 0.2s;
						}
						h4,
						p {
							transform: translateY(-400px);
							transition-duration: inherit;
						}
					}
				}
				img,
				svg {
					transform: scale(1) translate(0, 0);
				}
				&:hover {
					.maxi-hover-details {
						transform: translateY(0);

						&__content {
							h4 {
								transition-delay: 0.4s;
							}
							p {
								transition-delay: 0.2s;
							}
							h4,
							p {
								transform: translateY(0);
								transition-duration: inherit;
							}
						}
					}
					img,
					svg {
						transform: scale(1.07) translate(0, -9px);
					}
				}
			}
			&__slide-right {
				.maxi-hover-details {
					transform: translateX(-100%);
					transition-duration: inherit;

					&__content {
						transition-duration: inherit;

						h4 {
							transition-delay: 0.2s;
						}
						p {
							transition-delay: 0.4s;
						}
						h4,
						p {
							transform: translateX(-100%);
							transition-duration: inherit;
						}
					}
				}
				img,
				svg {
					transform: scale(1) translate(0, 0);
				}
				&:hover {
					.maxi-hover-details {
						transform: translateX(0);

						&__content {
							h4 {
								transition-delay: 0.2s;
							}
							p {
								transition-delay: 0.4s;
							}
							h4,
							p {
								transform: translateX(0);
								transition-duration: inherit;
							}
						}
					}
					img,
					svg {
						transform: scale(1.07) translate(0, -9px);
					}
				}
			}
			&__slide-left {
				.maxi-hover-details {
					transform: translateX(100%);
					transition-duration: inherit;

					&__content {
						transition-duration: inherit;

						h4 {
							transition-delay: 0.2s;
						}
						p {
							transition-delay: 0.4s;
						}
						h4,
						p {
							transform: translateX(100%);
							transition-duration: inherit;
						}
					}
				}
				img,
				svg {
					transform: scale(1) translate(0, 0);
				}
				&:hover {
					.maxi-hover-details {
						transform: translateX(0);

						&__content {
							h4 {
								transition-delay: 0.4s;
							}
							p {
								transition-delay: 0.2s;
							}
							h4,
							p {
								transform: translateX(0);
								transition-duration: inherit;
							}
						}
					}
					img,
					svg {
						transform: scale(1.07) translate(0, 9px);
					}
				}
			}
			&__fade {
				.maxi-hover-preview {
					&:hover {
						img,
						svg {
							transform: scale(1.1);
						}
					}
					img,
					svg {
						transform: scale(1);
						transition-duration: 0.4s;
					}
				}
				.maxi-hover-details {
					opacity: 0;

					&__content {
						transition-duration: inherit;
					}
					h4,
					p {
						opacity: 0;
						transition-duration: inherit;
						transition-delay: 0s;
					}
				}
				&:hover {
					.maxi-hover-details {
						transition-delay: 0s !important;
						opacity: 1;
						h4,
						p {
							transition-delay: 0.2s;
							opacity: 1;
						}
					}
				}
			}
			&__flip-horiz {
				display: flex;
				perspective: 1000px;
				overflow: visible;

				.maxi-hover-details,
				img,
				svg {
					display: flex;
					justify-content: center;
					align-content: center;
					flex: 0 0 100%;
					transition-timing-function: cubic-bezier(
						0.5,
						1.3,
						0.5,
						1.3
					);
				}
				.maxi-hover-details {
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 100%;
					z-index: -1;
					transform: rotateY(-180deg);
					backface-visibility: hidden;
					z-index: auto;
				}
				img,
				svg {
					z-index: 10;
				}
				&:hover {
					.maxi-hover-details {
						transform: rotateY(0deg);
						z-index: 10;
					}
					img,
					svg {
						transform: rotateY(180deg);
						z-index: -1;
					}
				}
			}
		}

		&__basic {
			&__zoom-in {
				img,
				svg {
					transform: scale(1);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						transform: scale(1.3);
					}
				}
			}
			&__zoom-out {
				img,
				svg {
					transform: scale(1.5);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						transform: scale(1);
					}
				}
			}
			&__slide {
				img,
				svg {
					transform: translateX(0);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						transform: translateX(0);
					}
				}
			}
			&__rotate {
				img,
				svg {
					transform: rotate(0);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						transform: rotate(15deg);
					}
				}
			}
			&__blur {
				img,
				svg {
					filter: blur(0);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						filter: blur(2px);
					}
				}
			}
			&__grey-scale {
				img,
				svg {
					filter: grayscale(0);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						filter: grayscale(100%);
					}
				}
			}
			&__clear-grey-scale {
				img,
				svg {
					filter: grayscale(100%);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						filter: grayscale(0);
					}
				}
			}
			&__sepia {
				img,
				svg {
					filter: sepia(0);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						filter: sepia(100%);
					}
				}
			}
			&__clear-sepia {
				img,
				svg {
					filter: sepia(100%);
					transition: 0.3s ease-in-out;
				}
				&:hover {
					img,
					svg {
						filter: sepia(0);
					}
				}
			}
			&__flashing {
				&:hover {
					img,
					svg {
						opacity: 1;
						animation: flash 1.5s;
					}
				}
			}
			&__shine {
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: -75%;
					z-index: 2;
					display: block;
					width: 50%;
					height: 100%;
					background: linear-gradient(
						to right,
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 0.3) 100%
					);
					transform: skewX(-25deg);
				}
				&:hover {
					&:before {
						animation: shine 0.75s;
					}
				}
			}
			&__circle-shine {
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 2;
					display: block;
					width: 0;
					height: 0;
					background: rgba(255, 255, 255, 0.2);
					border-radius: 100%;
					transform: translate(-50%, -50%);
					opacity: 0;
				}
				&:hover {
					&:before {
						animation: circle-shine 0.75s;
					}
				}
			}
		}
	}
}

@keyframes flash {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes circle-shine {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes zoom-out-up {
	50% {
		transform: scale(0.8) translateY(0%);
		opacity: 0.5;
	}
	100% {
		transform: scale(0.8) translateY(-150%);
		opacity: 0.5;
	}
}
@keyframes zoom-out-down {
	50% {
		transform: scale(0.8) translateY(0%);
		opacity: 0.5;
	}
	100% {
		transform: scale(0.8) translateY(150%);
		opacity: 0.5;
	}
}
@keyframes zoom-out-left {
	50% {
		transform: scale(0.8) translateX(0%);
		opacity: 0.5;
	}
	100% {
		transform: scale(0.8) translateX(-150%);
		opacity: 0.5;
	}
}
@keyframes zoom-out-right {
	50% {
		transform: scale(0.8) translateX(0%);
		opacity: 0.5;
	}
	100% {
		transform: scale(0.8) translateX(150%);
		opacity: 0.5;
	}
}
