.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-shorter .hover_el .hover_background,
.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-shorter .maxi-block-text-hover{
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-short .hover_el .hover_background,
.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-short .maxi-block-text-hover{
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-normal .hover_el .hover_background,
.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-normal .maxi-block-text-hover{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-long .hover_el .hover_background,
.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-long .maxi-block-text-hover{
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-longer .hover_el .hover_background,
.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-longer .maxi-block-text-hover{
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}



/*************************************************************/


.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-shorter:hover .maxi-block-text-hover{
    -webkit-transition-delay: 0.08s;
    -moz-transition-delay: 0.08s;
    transition-delay: 0.08s;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-short:hover .maxi-block-text-hover{
    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-normal:hover .maxi-block-text-hover{
    -webkit-transition-delay: 0.21s;
    -moz-transition-delay: 0.21s;
    transition-delay: 0.21s;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-long:hover .maxi-block-text-hover{
    -webkit-transition-delay: 0.31s;
    -moz-transition-delay: 0.31s;
    transition-delay: 0.31s;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical.hover-animation-duration-longer:hover .maxi-block-text-hover{
    -webkit-transition-delay: 0.31s;
    -moz-transition-delay: 0.31s;
    transition-delay: 0.31s;
}

/*************************************************************/



.hover-animation-text.hover-animation-type-text-shutter-in-vertical,
.hover-animation-text .maxi-text-block-wrap{
    position: relative;
}
.hover-animation-text.hover-animation-type-text-shutter-in-vertical .hover_el{
    position: relative;
    transform: translate(0,0);
    overflow: hidden;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical .maxi-block-text-hover .maxi-block-text-hover__title{
    margin: 0 0 10px !important;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical .maxi-block-text-hover{
    padding: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    z-index: 99;
    opacity: 0;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical .hover_el .hover_background{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 0;
    z-index: 90;
}
.hover-animation-text.hover-animation-type-text-shutter-in-vertical .hover_el .hover_background.hover_background_right{
    top: auto;
    bottom: 0;
}

.hover-animation-text.hover-animation-type-text-shutter-in-vertical:hover .hover_el .hover_background{
    height: 55%;
}


.hover-animation-text.hover-animation-type-text-shutter-in-vertical:hover .maxi-block-text-hover{
    opacity: 1;
}



.hover-animation-text.hover-animation-type-text-shutter-in-vertical .maxi-block-text-hover::-webkit-scrollbar {
    width: 5px;
}

/* Track */

.hover-animation-text.hover-animation-type-text-shutter-in-vertical .maxi-block-text-hover::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

.hover-animation-text.hover-animation-type-text-shutter-in-vertical .maxi-block-text-hover::-webkit-scrollbar-thumb {
    background: #dadada;
}

/* Handle on hover */

.hover-animation-text.hover-animation-type-text-shutter-in-vertical .maxi-block-text-hover::-webkit-scrollbar-thumb:hover {
    background: #000;
}