.toolbar-item__background {
	&__popover {
		min-width: var(--mx-popover-width-lg);
		.maxi-color-control__wrap {
			display: block;
		}
	}

	&-content {
		.components-color-picker__swatch {
			background-image: unset;
		}
	}
}
