.toolbar-item__background__popover {
	min-width: 256px;
	.maxi-tabs-control {
		display: none;
	}
	.maxi-tabs-content {
		padding-top: 0 !important;
		.maxi-color-control__palette-label {
			.maxi-base-control__label {
				display: none;
			}
			.maxi-color-control__palette-container {
				justify-content: flex-start;
			}
		}
		.maxi-opacity-control {
			line-height: 1em;
			input {
				flex: 1;
			}
		}
	}
}
.toolbar-item__background-content {
	.components-color-picker__swatch {
		background-image: unset;
	}
}
