@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__background {
	&__popover {
		min-width: 279px;
		.maxi-color-control__wrap {
			display: block;
		}
	}

	&-content {
		.components-color-picker__swatch {
			background-image: unset;
		}
	}
}
