@import '../../../src/css/backend-variables.scss';
.maxi-accordion-control__item[data-name='opacity'] {
	.maxi-accordion-control__item__panel {
		padding: 0;
		margin-top: 10px !important;

		.maxi-tabs-content {
			padding: 0 10px 0;

			.maxi-responsive-tabs-control {
				.maxi-tabs-control {
					margin-right: -8px;
					margin-left: -8px;
				}
			}

			.maxi-opacity-control {
				margin-top: 10px;
			}
		}
	}
}
