.maxi-sidebar .maxi-opacity-control {
	&--full-width {
		.components-base-control {
			&__field {
				flex-wrap: wrap;
				margin-bottom: 5px !important;
			}
			&__label {
				margin: 0 !important;
				width: 100%;
				display: block;
				flex: auto !important;
			}
		}
	}
}
