.maxi-number-input-control {
	position: relative;
	input[type='number'] {
		appearance: textfield;
	}
	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button {
		appearance: none;
	}
	&__spinner {
		position: absolute;
		right: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		height: 13px;
		width: 18px;
		background: #f1f1f1;
		cursor: pointer;

		&:focus {
			box-shadow: none;
			outline: 0;
		}
		&:hover {
			background: #d2d2d2;
		}
		&--up {
			top: 2px;
			border-top-right-radius: 5px;
			&__arrow {
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid #464a53;
			}
		}
		&--down {
			bottom: 2px;
			border-bottom-right-radius: 5px;
			&__arrow {
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-top: 4px solid #464a53;
			}
		}
	}
}
