@import '../../../../../src/css/backend-variables.scss';
.maxi-icon-styles-control {
	.maxi-tabs-control__button {
		&--selected {
			path {
				fill: $sc;
				stroke: $tr;
			}
			&[aria-label='color'] {
				path {
					&:first-child {
						fill: $gl;
					}
				}
			}
			&[aria-label='border'] {
				path {
					fill: $tr;
					stroke: $sc;
				}
			}
		}
	}
}

.maxi-icon-control {
	.maxi-tabs-control__full-width {
		column-gap: 5px;

		.maxi-tabs-control__button-none,
		.maxi-tabs-control__button-solid,
		.maxi-tabs-control__button-gradient {
			border: $bl;
			border-radius: 4px;
			color: $gd;
			background-color: $w;
			

			&.maxi-tabs-control__button--selected {
				border: 1px solid $pc;
				color: $pc;
				background-color: $wg;
			}
		}
	}
}
