.maxi-icon-styles-control {
	.maxi-tabs-control__button {
		&--selected {
			path {
				fill: var(--maxi-secondary-color);
				stroke: transparent;
			}
			&[aria-label='color'] {
				path {
					&:first-child {
						fill: var(--maxi-grey-light);
					}
				}
			}
			&[aria-label='border'] {
				path {
					fill: transparent;
					stroke: var(--maxi-secondary-color);
				}
			}
		}
	}
}
