.maxi-icon-styles-control {
	.maxi-tabs-control__button {
		&--selected {
			path {
				fill: var(--maxi-secondary-color);
				stroke: transparent;
			}
			&[aria-label='color'] {
				path {
					&:first-child {
						fill: var(--maxi-grey-light);
					}
				}
			}
			&[aria-label='border'] {
				path {
					fill: transparent;
					stroke: var(--maxi-secondary-color);
				}
			}
		}
	}
}

.maxi-icon-control {
	.maxi-tabs-control__full-width {
		column-gap: 5px;

		.maxi-tabs-control__button-none,
		.maxi-tabs-control__button-solid,
		.maxi-tabs-control__button-gradient {
			border: 1px solid var(--maxi-grey-light);
			border-radius: 4px;
			color: var(--maxi-grey-dark);
			background-color: var(--maxi-white);
			padding: 8px;

			&.maxi-tabs-control__button--selected {
				border: 1px solid var(--maxi-primary-color);
				color: var(--maxi-primary-color);
				background-color: var(--maxi-whisper-green);
			}
		}
	}
}
