.maxi-icon-styles-control {
	.maxi-tabs-control__button {
		&--selected {
			path {
				fill: var(--msc);
				stroke: transparent;
			}
			&[aria-label='color'] {
				path {
					&:first-child {
						fill: var(--mgl);
					}
				}
			}
			&[aria-label='border'] {
				path {
					fill: transparent;
					stroke: var(--msc);
				}
			}
		}
	}
}

.maxi-icon-control {
	.maxi-tabs-control__full-width {
		column-gap: 5px;

		.maxi-tabs-control__button-none,
		.maxi-tabs-control__button-solid,
		.maxi-tabs-control__button-gradient {
			border: 1px solid var(--mgl);
			border-radius: 4px;
			color: var(--mdg);
			background-color: var(--mw);
			

			&.maxi-tabs-control__button--selected {
				border: 1px solid var(--mpc);
				color: var(--mpc);
				background-color: var(--mwg);
			}
		}
	}
}
