figure.gx-image-block {
	position: relative;
	width: 100% !important;

	> div.gx-image-block-settings {
		position: absolute;
		width: 3rem;
		height: 3rem;
		top: 5%;
		left: calc(95% - 3rem);

		> button.gx-image-block-upload-button {
			width: 100%;
			height: 100%;
			border: 1px solid red;
			opacity: 0;
			visibility: hidden;
			transition: all .5s ease;
		}
	}

	&:hover {
		> div.gx-image-block-settings {
			> button.gx-image-block-upload-button {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	>button.gx-imageupload-button{
		>svg{
			width: 100%;
			height: auto;
		}
	}
}