.maxi-color-control {
	&__wrap {
		display: flex;
		align-items: center;
		margin-bottom: 8px;

		.maxi-advanced-number-control__value {
			width: 64px !important;
			margin-left: 6px;
		}
	}

	.chrome-picker {
		width: 100% !important;
		box-shadow: none !important;

		& > div {
			padding-right: 0 !important;
			padding-left: 0 !important;

			& > div {
				&:last-of-type {
					align-items: center;

					&:last-of-type {
						div:not(.saturation-white, .saturation-black) {
							display: flex;
							padding-left: 0 !important;
							margin: 0 1px 0 0 !important;
							width: 100%;

							label {
								order: 1;
								margin-right: 2px;
								margin-left: 3px;
								font-family: 'Inter', sans-serif !important;
							}
							input {
								order: 2;
								font-family: 'Inter', sans-serif !important;
							}
						}
					}
				}
			}
		}

		input {
			width: 90% !important;
			height: 27px !important;
			border: 1.5px solid var(--mgl) !important;
			border-radius: var(--maxi-radius-sm) !important;
			font-size: 12px !important;
			box-shadow: none !important;

			&:focus {
				border-color: var(--mdg) !important;
				box-shadow: none !important;
				outline: 0;
			}
		}
	}

	&--disabled {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			cursor: not-allowed;
			background-color: var(--mw);
			background: repeating-linear-gradient(
				-45deg,
				var(--mdg),
				var(--mdg) 2px,
				var(--mw) 2px,
				var(--mw) 10px
			);
			opacity: 0.1;
		}

		.maxi-color-control__palette-box,
		.maxi-opacity-control input[type='number'],
		.maxi-opacity-control .components-maxi-control__reset-button,
		.maxi-opacity-control .components-range-control {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}

	&__palette {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		&-custom {
			width: 100%;
			margin-top: 15px;
			border-top: 1px solid var(--mgl);
			padding-top: 10px;

			&-header {
				font-size: 12px;
				color: var(--mg-8-color);
				margin-bottom: 10px;
				font-weight: 500;
			}
		}

		&-label {
			.maxi-base-control__field {
				position: relative;
				flex-direction: column;

				& > * {
					width: 100%;
				}
				.maxi-base-control__label {
					margin-bottom: 10px;
				}
				.components-maxi-control__reset-button {
					position: absolute;
					background-color: transparent;
					border-width: 0 0 0 2px;
					width: auto;
					top: 0;
					right: 0;
					padding: 1px 1px 1px 8px;
					&:hover {
						svg {
							fill: var(--mpc);
						}
					}
				}
			}
		}

		&-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 0;
			gap: 3px;
		}

		&-box {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			padding: 0;
			border: none !important;
			box-shadow: 0 0 0 1px var(--mg);
			margin: 0;
			background-color: var(--mw);
			cursor: pointer;
			transition: var(--maxi-trans-std);
			border-radius: 50%;

			.maxi-color-control__palette-item {
				margin: auto;
			}

			&:hover {
				border: none !important;
				box-shadow: 0 0 0 2px var(--msc);
			}

			&:nth-child(n + 9) {
				margin-top: 3px;
			}

			&--active {
				background: var(--mpg);
				border: none;
				box-shadow: 0 0 0 2px var(--msc);
				outline: none;

				&:hover {
					background: var(--mpg) !important;
					box-shadow: 0 0 0 2px var(--msc) !important;
				}
			}
		}

		&-item {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-custom-item {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: 1px solid var(---mgl);
		}
	}
	&__opacity {
		.maxi-base-control__field {
			flex-direction: column;
			align-items: flex-start !important;

			&__label {
				margin: 0;
			}
		}
	}
	&__display {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.maxi-base-control__field {
			width: 100%;
		}

		&__color {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			span {
				display: block;
				width: 18px;
				height: 18px;
				border: 1.5px solid var(--mgl);
				border-radius: 50%;
				margin: auto;
				opacity: 1;
				float: left;
			}

			.components-maxi-control__reset-button {
				border-color: var(--mgl);
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-color-control__palette-label
		.maxi-base-control__field
		.components-maxi-control__reset-button {
		right: unset;
		left: 0;
	}
	.maxi-color-control .chrome-picker > div > div:last-of-type {
		direction: ltr;
	}
}
