.maxi-color-control {
	.chrome-picker {
		width: 100% !important;
		box-shadow: none !important;

		& > div {
			padding-right: 0 !important;
			padding-left: 0 !important;

			& > div {
				&:last-of-type {
					align-items: center;

					&:last-of-type {
						div:not(.saturation-white, .saturation-black) {
							display: flex;
							padding-left: 0 !important;
							margin: 0 7px 0 0 !important;

							label {
								order: 1;
								margin-right: 5px;
								font-family: 'Roboto', sans-serif !important;
							}
							input {
								order: 2;
								font-family: 'Roboto', sans-serif !important;
							}
						}
					}
				}
			}
		}
		input {
			width: 90% !important;
			height: 27px !important;
			border: 1px solid var(--maxi-grey-1-color) !important;
			border-radius: 0 !important;
			font-size: 12px !important;
			box-shadow: none !important;

			&:focus {
				border-color: var(--maxi-grey-6-color) !important;
				box-shadow: none !important;
				outline: 0;
			}
		}
	}
	&__opacity {
		.maxi-base-control__field {
			flex-direction: column;
			align-items: flex-start !important;

			&__label {
				margin: 0;
			}
		}
	}
	&__display {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.maxi-base-control__field {
			width: 100%;
		}

		&__color {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			span {
				display: block;
				width: 31px;
				height: 31px;
				border: 2px solid var(--maxi-grey-1-color);
				border-radius: 5px;
				margin: auto;
				opacity: 1;
				float: left;
			}
			.components-maxi-control__reset-button {
				border-color: var(--maxi-grey-1-color);
			}
		}
	}
}

.maxi-color-palette-control {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	&__palette-label {
		.maxi-base-control__field {
			flex-direction: column;

			& > * {
				width: 100%;
			}
			.maxi-base-control__label {
				margin-bottom: 8px;
			}
		}
	}
	.maxi-sc-color-palette {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;

		&.palette-disabled {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				cursor: not-allowed;
				background-color: #fff;
				background: repeating-linear-gradient(
					-45deg,
					var(--maxi-grey-6-color),
					var(--maxi-grey-6-color) 2px,
					#fff 2px,
					#fff 10px
				);
				opacity: 0.1;
			}
			.maxi-sc-color-palette__box {
				cursor: not-allowed;
				opacity: 0.5;
			}
		}
		&__box {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			border: 1px solid var(--maxi-grey-1-color);
			cursor: pointer;
			transition: all 0.5s;

			&--active {
				border: 2px solid var(--maxi-primary-color);
			}
			&:hover {
				background: var(--maxi-white-1-color);
				border-color: var(--maxi-grey-6-color);
			}
			&__item {
				width: 20px;
				height: 20px;
				border: 1px solid var(--maxi-black-1-color);
			}
		}
	}
}
