.maxi-color-control {
	&__wrap {
		display: var(--maxi-display-flex);
		align-items: var(--maxi-layout-center);
		margin-bottom: var(--maxi-space-8px);

		.maxi-advanced-number-control__value {
			width: var(--maxi-control-width-64px) !important;
			margin-left: var(--maxi-space-6px);
		}
	}

	.chrome-picker {
		width: var(--maxi-layout-full-width) !important;
		box-shadow: var(--maxi-reset-box-shadow) !important;

		& > div {
			padding-right: var(--maxi-space-0px) !important;
			padding-left: var(--maxi-space-0px) !important;

			& > div {
				&:last-of-type {
					align-items: var(--maxi-layout-center);

					&:last-of-type {
						div:not(.saturation-white, .saturation-black) {
							display: var(--maxi-display-flex);
							padding-left: var(--maxi-space-0px) !important;
							margin: var(--maxi-space-0px) var(--maxi-space-1px)
								var(--maxi-space-0px) var(--maxi-space-0px) !important;
							width: var(--maxi-layout-full-width);

							label {
								order: 1;
								margin-right: var(--maxi-space-2px);
								margin-left: var(--maxi-space-3px);
								font-family: var(--maxi-font-ui) !important;
							}
							input {
								order: 2;
								font-family: var(--maxi-font-ui) !important;
							}
						}
					}
				}
			}
		}

		input {
			width: var(--maxi-space-90px) !important;
			height: var(--maxi-control-height-27px) !important;
			border: var(--maxi-border-1-5px) solid var(--maxi-grey-light) !important;
			border-radius: var(--maxi-radius-5px) !important;
			font-size: var(--maxi-font-size-12px) !important;
			box-shadow: var(--maxi-reset-box-shadow) !important;

			&:focus {
				border-color: var(--maxi-grey-dark) !important;
				box-shadow: var(--maxi-reset-box-shadow) !important;
				outline: var(--maxi-space-0px);
			}
		}
	}

	&--disabled {
		position: var(--maxi-layout-relative);

		&:before {
			content: '';
			position: var(--maxi-layout-absolute);
			z-index: var(--maxi-z-overlay);
			top: var(--maxi-space-0px);
			left: var(--maxi-space-0px);
			width: var(--maxi-layout-full-width);
			height: var(--maxi-layout-full-width);
			cursor: var(--maxi-cursor-not-allowed);
			background-color: var(--maxi-white);
			background: repeating-linear-gradient(
				-45deg,
				var(--maxi-grey-dark),
				var(--maxi-grey-dark) var(--maxi-space-2px),
				var(--maxi-white) var(--maxi-space-2px),
				var(--maxi-white) var(--maxi-space-10px)
			);
			opacity: var(--maxi-opacity-low);
		}

		.maxi-color-control__palette-box,
		.maxi-opacity-control input[type='number'],
		.maxi-opacity-control .components-maxi-control__reset-button,
		.maxi-opacity-control .components-range-control {
			cursor: var(--maxi-cursor-not-allowed);
			opacity: var(--maxi-opacity-semi);
		}
	}

	&__palette {
		display: var(--maxi-display-flex);
		flex-wrap: wrap;
		flex-direction: var(--maxi-layout-flex-column);

		&-custom {
			width: var(--maxi-layout-full-width);
			margin-top: var(--maxi-space-15px);
			border-top: var(--maxi-border-1px) solid var(--maxi-grey-light);
			padding-top: var(--maxi-space-10px);

			&-header {
				font-size: var(--maxi-font-size-12px);
				color: var(--maxi-grey-8-color);
				margin-bottom: var(--maxi-space-8px);
				font-weight: var(--maxi-font-weight-medium);
			}
		}

		&-label {
			.maxi-base-control__field {
				position: var(--maxi-layout-relative);
				flex-direction: var(--maxi-layout-flex-column);

				& > * {
					width: var(--maxi-layout-full-width);
				}
				.maxi-base-control__label {
					margin-bottom: var(--maxi-space-8px);
				}
				.components-maxi-control__reset-button {
					position: var(--maxi-layout-absolute);
					background-color: var(--maxi-reset-background);
					border-width: var(--maxi-space-0px) var(--maxi-space-0px)
						var(--maxi-space-0px) var(--maxi-space-2px);
					width: var(--maxi-layout-auto);
					top: var(--maxi-space-0px);
					right: var(--maxi-space-0px);
					padding: var(--maxi-space-1px) var(--maxi-space-1px)
						var(--maxi-space-1px) var(--maxi-space-8px);
					&:hover {
						svg {
							fill: var(--maxi-primary-color);
						}
					}
				}
			}
		}

		&-container {
			display: var(--maxi-display-flex);
			flex-wrap: wrap;
			justify-content: var(--maxi-layout-flex-start);
			align-items: var(--maxi-layout-center);
			margin-bottom: var(--maxi-space-0px);
			gap: var(--maxi-space-3px);
		}

		&-box {
			display: var(--maxi-display-flex);
			align-items: var(--maxi-layout-center);
			justify-content: var(--maxi-layout-center);
			width: var(--maxi-space-30px);
			height: var(--maxi-space-30px);
			padding: var(--maxi-space-0px);
			border: var(--maxi-reset-border-none) !important;
			box-shadow: var(--maxi-space-0px) var(--maxi-space-0px)
				var(--maxi-space-0px) var(--maxi-space-1px) var(--maxi-grey);
			margin: var(--maxi-space-0px);
			background-color: var(--maxi-white);
			cursor: var(--maxi-cursor-pointer);
			transition: all var(--maxi-transition-500ms);
			border-radius: var(--maxi-radius-round);

			.maxi-color-control__palette-item {
				margin: var(--maxi-layout-auto);
			}

			&:hover {
				border: var(--maxi-reset-border-none) !important;
				box-shadow: var(--maxi-space-0px) var(--maxi-space-0px)
					var(--maxi-space-0px) var(--maxi-space-2px)
					var(--maxi-secondary-color);
			}

			&:nth-child(n + 9) {
				margin-top: var(--maxi-space-3px);
			}

			&--active {
				background: var(--maxi-pastel-green);
				border: var(--maxi-reset-border-none);
				box-shadow: var(--maxi-space-0px) var(--maxi-space-0px)
					var(--maxi-space-0px) var(--maxi-space-2px)
					var(--maxi-secondary-color);
				outline: var(--maxi-reset-outline);

				&:hover {
					background: var(--maxi-pastel-green) !important;
					box-shadow: var(--maxi-space-0px) var(--maxi-space-0px)
						var(--maxi-space-0px) var(--maxi-space-2px)
						var(--maxi-secondary-color) !important;
				}
			}
		}

		&-item {
			width: var(--maxi-space-24px);
			height: var(--maxi-space-24px);
			border-radius: var(--maxi-radius-round);
			display: var(--maxi-display-flex);
			align-items: var(--maxi-layout-center);
			justify-content: var(--maxi-layout-center);
		}

		&-custom-item {
			width: var(--maxi-space-24px);
			height: var(--maxi-space-24px);
			border-radius: var(--maxi-radius-round);
			border: var(--maxi-border-1px) solid var(--maxi-grey-light);
		}
	}
	&__opacity {
		.maxi-base-control__field {
			flex-direction: var(--maxi-layout-flex-column);
			align-items: var(--maxi-layout-flex-start) !important;

			&__label {
				margin: var(--maxi-space-0px);
			}
		}
	}
	&__display {
		display: var(--maxi-display-flex);
		justify-content: var(--maxi-layout-space-between);
		align-items: var(--maxi-layout-center);

		.maxi-base-control__field {
			width: var(--maxi-layout-full-width);
		}

		&__color {
			display: var(--maxi-display-flex);
			align-items: var(--maxi-layout-center);
			justify-content: var(--maxi-layout-flex-end);

			span {
				display: var(--maxi-display-block);
				width: var(--maxi-space-18px);
				height: var(--maxi-space-18px);
				border: var(--maxi-border-1-5px) solid var(--maxi-grey-light);
				border-radius: var(--maxi-radius-round);
				margin: var(--maxi-layout-auto);
				opacity: var(--maxi-opacity-visible);
				float: var(--maxi-float-left);
			}

			.components-maxi-control__reset-button {
				border-color: var(--maxi-grey-light);
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-color-control__palette-label
		.maxi-base-control__field
		.components-maxi-control__reset-button {
		right: var(--maxi-layout-unset);
		left: var(--maxi-space-0px);
	}

	.maxi-color-control__palette-label
		.maxi-base-control__field
		.components-maxi-control__reset-button {
		right: var(--maxi-layout-unset);
		left: var(--maxi-space-0px);
	}
	.maxi-color-control .chrome-picker > div > div:last-of-type {
		direction: var(--maxi-direction-ltr);
	}
}
