@import '../../../src/css/backend-variables.scss';
.maxi-link-control {
	&--dc {
		.block-editor-link-control__search-item,
		.block-editor-link-control__search-item {
			&-action,
			&-info {
				display: none;
			}
		}
		.block-editor-link-control__search-item-top {
			button.has-icon:not(:last-child) {
				display: none;
			}
		}
	}
	.block-editor-link-control__search-item {
		&-top {
			justify-content: space-between;
		}
		&-header {
			max-width: 190px !important;
		}
		&-details {
			max-width: 170px !important;
		}
		&-title {
			margin-bottom: 0 !important;
		}
		button.has-icon {
			justify-content: end;
		}
	}

	.components-form-toggle {
		position: $pr;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.maxi-base-control {
			&__field {
				width: 100%;
				margin-bottom: 0;
			}
			&__label {
				cursor: $ptr;
			}
		}

		input[type='checkbox'] {
			position: $pa;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			border: none;
			margin: 0;
			opacity: 0;

			&:focus + .components-form-toggle__track {
				border-radius: 12px;
				box-shadow: 0 0 0 1px $g;
				outline: 2px solid $tr;
			}
		}
		&__track {
			content: '';
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			width: 44px;
			height: 24px;
			background-color: $w !important;
			background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.8 8"><path d="M8.43.22A1 1 0 0 0 7 .37L2.93 5.48 1.72 4.21a1 1 0 0 0-1.41 0 1 1 0 0 0 0 1.41l2 2.1h.05a.83.83 0 0 0 .16.09l.1.06A1.15 1.15 0 0 0 3 8a.93.93 0 0 0 .4-.09l.11-.07a.71.71 0 0 0 .18-.12s0 0 0-.06l4.8-6A1 1 0 0 0 8.43.22Z"/></svg>'),
				url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="m5.6 4 2.55-2.55A.85.85 0 1 0 7 .25L4.4 2.8 1.85.25a.85.85 0 0 0-1.2 1.2L3.2 4 .65 6.55a.85.85 0 0 0 0 1.2.83.83 0 0 0 .6.25.82.82 0 0 0 .6-.25L4.4 5.2 7 7.75a.82.82 0 0 0 .6.25.83.83 0 0 0 .6-.25.85.85 0 0 0 0-1.2Z" transform="translate(-.4)"/></svg>');
			background-repeat: no-repeat, no-repeat;
			background-position: 8px center, 24px center;
			background-size: 10px auto, 10px auto;
			border: $bl !important;
			border-radius: 12px;
			transition: 0.2s background ease;
		}
		&__thumb {
			position: $pa;
			top: 3px;
			left: 3px;
			display: block;
			box-sizing: border-box;
			width: 18px;
			height: 18px;
			background-color: $w;
			border: $bl;
			border-radius: 50%;
			transition: 0.1s transform ease;
		}

		&.is-checked {
			.components-form-toggle__thumb {
				background-color: $pc;
				border-color: $pc;
				transform: translateX(20px);
			}
		}
		&.is-checked {
			.components-form-toggle__track {
				background-color: $g;
			}
		}
		.components-form-toggle__track {
			border: 0;
			background-color: $w;
		}
	}
	.block-editor-url-input__input {
		background-color: $tr;
		color: $w;
		border: 2px solid $g !important;

		&::placeholder {
			color: $g;
		}
	}
	.block-editor-link-control {
		width: 280px;

		&__search-submit {
			display: none;
		}
		&__settings {
			border-top: 0;
			padding: 0 18px 15px;
		}

		&__search-input-wrapper {
			input {
				margin: 0 !important;
				width: 100% !important;
				border-color: $gl !important;
				border-radius: 10px !important;
				min-height: 0;
				height: 28px;
				font-weight: 400;
				padding: 8px !important;
				box-shadow: none !important;
				color: $bk !important;
				border-width: 2px !important;
			}
		}
		&__search-actions {
			align-items: center;

			.components-button.is-tertiary {
				color: $pc;
				border: $bl !important;
				border-radius: 60px !important;
			}

			// WP 6.2.2 and lower support
			&:has(.block-editor-link-control__search-submit.has-icon) {
				position: $pa;
				top: 2px;
				right: 2px;
			}
		}
		&__settings {
			padding: 0 !important;
			margin: 8px 0;
			display: flex;
			// justify-content: space-between;
			flex-wrap: wrap;
			.components-base-control {
				margin-bottom: 0;
				width: 160px;
				&:nth-child(1),
				&:nth-child(2) {
					margin-bottom: 8px;
				}
				&:nth-child(2n + 3) {
					width: 120px;
				}
			}
		}
		&__search-item {
			background-color: $wg !important;
			border: $bl;
			border-radius: 10px;
			padding: 8px;
			transition: background-color 0.4s ease;

			&:hover {
				background-color: $pg !important;
			}

			&-action {
				background-color: $pc;
				box-shadow: none !important;
				padding: 4px 17px;
				height: 24px;
				border-radius: 0;
				transition: $t;
				&:hover {
					background-color: $pg !important;
					color: $pc;
				}
			}

			&-error-notice {
				color: $pc;
			}

			.components-menu-item__info-wrapper {
				.components-menu-item__item {
					color: $bk;
				}
			}
		}
		&__search-results-wrapper,
		&__search-results {
			margin-top: 0;
			padding: 8px 0 0px;
			overflow-x: hidden;
			max-width: 100%;
			.block-editor-link-control__search-item-type {
				transition: $t;
			}
			&:hover {
				.block-editor-link-control__search-item-type {
					background-color: $bk;
				}
			}
			.components-menu-item__button {
				padding-left: 2px;
			}
			.components-menu-item__shortcut {
				padding-left: 0;
			}
		}
		&__search-item {
			margin-bottom: 0;
		}
		&__search-item-type {
			background-color: $pc;
			padding: 5px 17px;
			height: 24px;
			border-radius: 0;
		}
		&__search-item-icon {
			fill: $pc;
			background-color: $tr !important;
		}
		&__tools {
			border: none;
			padding: 0;
		}
		&__search-input {
			margin: 0;
			.components-input-control {
				.components-input-base {
					width: 100%;
				}
			}
		}
	}

	&__link-destroyer,
	.block-editor-link-control__search-actions
		.components-button.block-editor-link-control__search-submit.is-primary {
		background-color: $pc !important;
		border-radius: 60px !important;
		text-align: center;
		color: $w;
		display: block;
		transition: $t !important;
		&:hover {
			color: $w !important;
			background-color: $sc !important;
		}
	}

	&__link-destroyer {
		margin-bottom: 8px;
		width: 100%;
	}

	&__options {
		display: flex;
		justify-content: space-between;
		gap: 10px;

		&-row {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			justify-content: space-between;
		}
	}
}

.maxi-toolbar__popover
	.components-button.maxi-link-control__link-destroyer:hover {
	color: $w !important;
}
