.maxi-shape-divider {
	position: relative;
	z-index: var(--maxi-z-elevated);
	transition: all var(--maxi-transition-500ms);
	overflow: hidden;

	svg {
		width: 100%;
		height: 100%;
	}

	&__bottom {
		margin-top: auto;
	}
}

.maxi-shape-divider-control
	.maxi-settingstab-control
	.maxi-tabs-content:not(.maxi-tabs-content--disable-padding) {
	padding-top: var(--maxi-space-10px) !important;
	padding-bottom: var(--maxi-space-0px) !important;
}
