@import '../../../src/css/backend-variables.scss';
.maxi-shape-divider {
	position: $pr;
	z-index: 1;
	transition: all 1s;
	overflow: hidden;

	svg {
		width: 100%;
		height: 100%;
	}

	&__bottom {
		margin-top: auto;
	}
}

.maxi-shape-divider-control
	.maxi-settingstab-control
	.maxi-tabs-content:not(.maxi-tabs-content--disable-padding) {
	padding-top: 10px !important;
	padding-bottom: 0px !important;
}
