.maxi-shape-divider {
    transition: padding 500ms ease 0ms,
                height 500ms ease 0ms,
                background-size 500ms ease 0ms;
    width: 100%;
    height: auto;

    &__top {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}