.maxi-border-control {
	.maxi-axis-control__units {
		.maxi-select-control__input {
			background-image: var(--maxi-icon-chevron) !important;
			background-size: 8px 8px !important;
			background-position: right 3px center !important;
			padding-left: 8px !important;
		}
		.maxi-select-control__input:hover,
		.maxi-select-control__input:focus,
		.maxi-select-control__input:active {
			background-image: var(--maxi-icon-chevron-hover) !important;
		}
	}
}
