.maxi-block-indicators {
	position: var(--maxi-layout-absolute);
	top: var(--maxi-space-0px);
	left: var(--maxi-space-0px);
	width: var(--maxi-layout-full-width);
	height: var(--maxi-layout-full-width);
	transition: all var(--maxi-transition-500ms);
	z-index: var(--maxi-z-base);
	--maxi-block-indicators-min-size: var(--maxi-space-5px);
	--maxi-block-indicators-max-size: var(--maxi-space-20px);

	&__padding {
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23007CBA' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M7 0h1L0 8V7zM8 7v1H7z'/%3E%3C/g%3E%3C/svg%3E");
		border: var(--maxi-border-1px) solid
			var(--maxi-block-indicator-padding-border);
		background-color: var(--maxi-block-indicator-padding-bg);
		color: var(--maxi-block-indicator-text);
	}

	&__margin {
		z-index: var(--maxi-z-overlay);
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23007CBA' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M7 0h1L0 8V7zM8 7v1H7z'/%3E%3C/g%3E%3C/svg%3E");
		border: var(--maxi-border-1px) solid
			var(--maxi-block-indicator-margin-border);
		background-color: var(--maxi-block-indicator-margin-bg);
		color: var(--maxi-block-indicator-text);
	}

	.maxi-block-indicator {
		position: var(--maxi-layout-absolute);
		display: var(--maxi-display-flex);
		justify-content: var(--maxi-layout-center);
		align-items: var(--maxi-layout-center);
		width: var(--maxi-layout-full-width);
		opacity: var(--maxi-opacity-hidden);
		transition: opacity var(--maxi-transition-500ms);

		&__content {
			display: var(--maxi-display-flex);
			align-items: var(--maxi-layout-center);
			justify-content: var(--maxi-layout-center);

			span {
				font: var(--maxi-font-size-12px) var(--maxi-font-ui);
				color: var(--maxi-white);
				background: var(--maxi-block-indicator-label-bg);
				border-radius: var(--maxi-radius-3px);
				padding: var(--maxi-space-3px);
			}
		}

		&--right,
		&--left {
			top: var(--maxi-space-0px);

			span {
				writing-mode: vertical-rl;
				text-orientation: mixed;
			}
		}

		&--top {
			top: var(--maxi-space-0px);
		}

		&--right {
			right: var(--maxi-space-0px);
			height: var(--maxi-layout-full-width);
			width: var(--maxi-layout-auto);
			z-index: var(--maxi-z-overlay);
		}

		&--bottom {
			bottom: var(--maxi-space-0px);
		}

		&--left {
			left: var(--maxi-space-0px);
			height: var(--maxi-layout-full-width);
			width: var(--maxi-layout-auto);
			z-index: var(--maxi-z-overlay);
		}
	}

	&__handle {
		display: var(--maxi-display-flex);
	}

	&:hover {
		.maxi-block-indicator {
			opacity: var(--maxi-opacity-visible);

			.maxi-block-indicators {
				&__handle {
					&:before {
						content: '';
						opacity: var(--maxi-opacity-visible);
					}
				}

				&__top-handle,
				&__bottom-handle {
					&:before {
						width: var(--maxi-layout-full-width);
						height: var(--maxi-space-3px);
					}
				}

				&__right-handle,
				&__left-handle {
					&:before {
						min-width: var(--maxi-space-3px);
						height: var(--maxi-layout-full-width);
					}
				}
			}
		}

		.maxi-block-indicators__padding {
			.maxi-block-indicators__handle:before {
				background-color: var(--maxi-block-indicator-padding-border);
			}

			.maxi-block-indicators__top-handle {
				align-items: var(--maxi-vertical-align-end);
			}

			.maxi-block-indicators__left-handle {
				justify-content: var(--maxi-vertical-align-end);
			}
		}
		.maxi-block-indicators__margin {
			.maxi-block-indicators__handle:before {
				background-color: var(--maxi-block-indicator-margin-border);
			}

			.maxi-block-indicators__bottom-handle {
				align-items: var(--maxi-vertical-align-end);
			}
		}
	}
}
