.gx-divider-wrapper.is-multiple.is-vertical {
    .gx-divider:first-of-type {
        margin-right: 0.5rem;
    }

    .gx-divider:last-of-type {
        margin-left: 0.5rem;
    }
}

.gx-divider-wrapper.is-vertical {
  display: flex;
}

.gx-divider {
  border: none;
}

.divider-accordion-tab {
	padding: 7px 10px !important;
}
  
.divider-line {
	position: relative;
	margin: 25px 0 !important;
}

.divider-alignment .components-base-control__field {
	margin-bottom: 2px;
}

.gx-divider-item
.components-range-control__wrapper.css-pp5lt-Wrapper.exqw8y21{
  display:none !important;
}

.gx-divider-item
.components-range-control__root.css-yaebbd-Root.exqw8y20 >
.components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
  position: relative;
  left: 8px;
  border-radius: 5px;
  width: 47px !important;
}

@media all and(max-width:2000px){
  .gx-divider-item
  .components-base-control.components-range-control.gx-with-unit-control{
    position:relative;
	  margin-bottom: 10px !important;
  }
  
  .gx-divider-item
  .components-range-control__number{
	  position: absolute !important;
	  top: -2px !important;
	  right: 26px !important;
  }

  .gx-divider-item
  .components-base-control.gx-unit-control.components-radio-control{
	  position: relative !important;
	  top: -3px !important;
	  right: 2px !important;
  }

  .gx-divider-item
  .components-base-control.gx-block-style.components-base-control.divider-alignment
  select.components-select-control__input{
	  width:266px !important;
  }

  .gx-divider-item
  .css-uojzqi-ActionRightWrapper.exqw8y214 >
  button.components-button.components-range-control__reset.is-secondary.is-small{
	  position: absolute;
	  right: 0;
	  top: -1px !important;
  }

  .gx-divider-item
  .accordion__panel
  .components-range-control__root.css-yaebbd-Root.exqw8y20 >
  .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	  position: relative;
	  top:-2px !important;
	  right: 31px !important;
	  width: 44px !important;
  }

  .gx-divider-item
  .components-base-control__field{
	  margin-bottom:2px !important;
  }
  
  .gx-divider-item
  .components-base-control.gx-unit-control.components-radio-control{
	  position:relative;
	  top:3px;
  }

  .gx-divider-item
  .components-range-control.gx-with-unit-control .components-base-control__field > .components-range-control__number {
    margin-top:-1px !important;
  }

  .gx-divider-item
  .components-range-control.gx-with-unit-control .components-base-control__field > .components-button.components-range-control__reset.is-secondary.is-small{
    position: relative !important;
    top: -2px !important;
    margin-left:4px !important;
  }
}