@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-block.maxi-block--has-arrow {
	z-index: 1;

	.maxi-background-displayer {
		z-index: -1;
	}
}

.maxi-container-arrow {
	position: $pa;
	top: 0;
	left: 50%;
	transform: translate(-50%);
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	z-index: -1;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: $pa;
		box-sizing: content-box;
		z-index: -1;
		top: 0;
		left: 0;
	}
	&__bottom .maxi-container-arrow--content {
		margin-top: -1px;
	}
	&__top .maxi-container-arrow--content {
		transform: translate(-50%, -50%) rotate(225deg);
	}
	&__left .maxi-container-arrow--content {
		transform: translate(-50%, -50%) rotate(135deg);
	}
	&__right .maxi-container-arrow--content {
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&--content {
		display: none;
		width: 80px;
		height: 80px;
		position: $pa;
		top: calc(100% + 3.5355rem);
		transform: translate(-50%, -50%) rotate(45deg);
		background-color: $tr;
		box-shadow: none !important;
		z-index: -1;

		&:after {
			content: '';
			width: 50%;
			height: 50%;
			position: $pa;
			top: -25%;
			left: -25%;
			transform: translate(-0.8px, -0.8px);
			clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		}
	}
}
