.gx-font-family-selector-button {
    height: 45px;
    border-radius: 5px;
    background-color: rgba(33,141,250,0);
    border: 2px solid #dddfe1;
    font-size: 20px;
    color: #464a53;
    font-weight: 500;
    width: 100%;
    margin-bottom: 8px;
}

.gx-font-family-selector-icon {
    margin-left: auto;
    transition: .2s all ease;
}

.gx-font-family-selector-button[aria-expanded="true"] .gx-font-family-selector-icon {
    transform: rotate(90deg);
}

.gx-font-family-selector-popover {
    margin-top: -8px !important;
}

.gx-font-family-selector-popover:before,
.gx-font-family-selector-popover:after {
    content: none !important;
}

.gx-font-family-selector-popover .components-popover__content {
    border-radius: 5px;
}

.gx-font-family-selector-content {
    min-width: 372px;
}