body.maxi-blocks--active.maxi-blocks--accessibility .maxi-sidebar {
	.maxi-font-family-selector {
		.maxi-font-family-selector__control {
			border-color: var(--maxi-grey);

			&--is-focused,
			&:focus {
				border-color: var(--maxi-secondary-color);
				box-shadow: 0 0 0 1px var(--maxi-secondary-color);
				outline: 2px solid transparent;
			}
		}
	}
}
.maxi-font-family-selector {
	z-index: 9;
	display: block;
	width: 100%;
	height: 32px;

	.maxi-font-family-selector__control {
		&__menu {
			border: 1.5px solid var(--maxi-grey-light);
			border-radius: 0;
			box-shadow: none;
		}
		&__menu-list {
			padding: 0;
		}
		&__option {
			&--is-focused,
			&--is-selected {
				background-color: var(--maxi-pastel-green);
				color: var(--maxi-black) !important;
				font-weight: 700 !important;
				cursor: pointer;
			}
		}
		&__control {
			border-color: var(--maxi-grey-light);
			padding: 8px;
			border-radius: 5px;
			min-height: unset;
			display: flex;
			align-content: center;
			height: 32px;
			border-width: 1.5px;

			&:focus,
			&:hover {
				border-color: var(--maxi-grey);
			}
			&--is-focused {
				border-color: var(--maxi-grey);
				box-shadow: none;
				outline: none;
			}
		}
		&__single-value {
			margin: 0;
			color: var(--maxi-black);

			& + div {
				margin: 0;
				padding: 0;
			}
		}
		&__value-container {
			padding: 0;
			cursor: pointer;
		}
		&__clear-indicator {
			width: 16px;
			height: 16px;
			padding: 0;
			cursor: pointer;
			transition: 0.5s all;

			&:hover {
				color: var(--maxi-black) !important;
				font-weight: 700 !important;
				svg {
					fill: var(--maxi-black);
				}
			}
			svg {
				width: 100%;
				height: 100%;
				fill: var(--maxi-grey);
			}
		}
		&__dropdown-indicator {
			width: 20px;
			height: 20px;
			padding: 0;
			cursor: pointer;
			transition: 0.5s all;

			&:hover {
				color: var(--maxi-black) !important;
				font-weight: 700 !important;
			}
			svg {
				fill: var(--maxi-grey);
			}
		}
		&__indicator-separator {
			width: 2px;
			height: 80%;
			margin: auto 2px;
			background-color: var(--maxi-grey-light);
		}
	}
}
