body.maxi-blocks--active.maxi-blocks--accessibility .maxi-sidebar {
	.maxi-font-family-selector {
		.maxi-font-family-selector__control {
			border-color: var(--maxi-grey);

			&--is-focused,
			&:focus {
				border-color: var(--maxi-secondary-color);
				box-shadow: var(--maxi-space-0px) var(--maxi-space-0px)
					var(--maxi-space-0px) var(--maxi-space-1px)
					var(--maxi-secondary-color);
				outline: var(--maxi-space-2px) solid transparent;
			}
		}
	}
}
.maxi-font-family-selector {
	z-index: var(--maxi-z-font-selector);
	display: var(--maxi-display-block);
	width: var(--maxi-layout-full-width);
	height: var(--maxi-control-height-32px);

	&__container {
		position: var(--maxi-layout-relative);
		width: var(--maxi-layout-full-width);
	}

	.maxi-font-family-selector__control {
		&__menu {
			border: var(--maxi-border-1-5px) solid var(--maxi-grey-light);
			border-radius: var(--maxi-space-0px);
			box-shadow: var(--maxi-reset-box-shadow);
		}
		&__menu-list {
			padding: var(--maxi-space-0px);
		}
		&__option {
			&--is-focused,
			&--is-selected {
				background-color: var(--maxi-pastel-green);
				color: var(--maxi-black) !important;
				font-weight: var(--maxi-font-weight-bold) !important;
				cursor: var(--maxi-cursor-pointer);
			}
		}
		&__control {
			border-color: var(--maxi-grey-light);
			padding: var(--maxi-space-8px);
			border-radius: var(--maxi-space-5px);
			min-height: var(--maxi-height-unset);
			display: var(--maxi-display-flex);
			align-content: var(--maxi-align-content-center);
			height: var(--maxi-control-height-32px);
			border-width: var(--maxi-border-1-5px);

			&:focus,
			&:hover {
				border-color: var(--maxi-grey);
			}
			&--is-focused {
				border-color: var(--maxi-grey);
				box-shadow: var(--maxi-reset-box-shadow);
				outline: var(--maxi-reset-outline);
			}
		}
		&__single-value {
			margin: var(--maxi-space-0px);
			color: var(--maxi-black);

			& + div {
				margin: var(--maxi-space-0px);
				padding: var(--maxi-space-0px);
			}
		}
		&__value-container {
			padding: var(--maxi-space-0px);
			cursor: var(--maxi-cursor-pointer);
		}
		&__clear-indicator {
			width: var(--maxi-space-16px);
			height: var(--maxi-space-16px);
			padding: var(--maxi-space-0px);
			cursor: var(--maxi-cursor-pointer);
			transition: var(--maxi-transition-500ms) all;

			&:hover {
				color: var(--maxi-black) !important;
				font-weight: var(--maxi-font-weight-bold) !important;
				svg {
					fill: var(--maxi-black);
				}
			}
			svg {
				width: var(--maxi-layout-full-width);
				height: var(--maxi-layout-full-width);
				fill: var(--maxi-grey);
			}
		}
		&__dropdown-indicator {
			width: var(--maxi-space-20px);
			height: var(--maxi-space-20px);
			padding: var(--maxi-space-0px);
			cursor: var(--maxi-cursor-pointer);
			transition: var(--maxi-transition-500ms) all;

			&:hover {
				color: var(--maxi-black) !important;
				font-weight: var(--maxi-font-weight-bold) !important;
			}
			svg {
				fill: var(--maxi-grey);
			}
		}
		&__indicator-separator {
			width: var(--maxi-space-2px);
			height: var(--maxi-layout-80-percent);
			margin: var(--maxi-layout-auto) var(--maxi-space-2px);
			background-color: var(--maxi-grey-light);
		}
	}
}
