.maxi-column-size-control {
	.components-base-control__field {
		flex-direction: column;
		align-items: flex-start !important;
		&__label {
			margin: 0;
		}
	}
}
.edit-post-visual-editor,
.edit-site-visual-editor,
.editor-visual-editor {
	.maxi-column-block__resizer.maxi-column-block {
		vertical-align: top;
		z-index: 1;
		&.has-child-selected {
			&::after {
				opacity: 1;
				border-color: var(--maxi-primary-color) !important;
			}
		}

		&.maxi-block--repeater {
			&.has-child-selected {
				&::after {
					opacity: var(--maxi-opacity-visible);
					border-color: var(--maxi-tertiary-color) !important;
				}
			}
		}
	}
}

.maxi-column-block {
	& > .wp-block {
		width: 100%;
	}
}
