div.maxi-column-block {
    max-width: 100% !important;

    &:hover {
        outline: 1px solid blue;
    }

    > div.block-editor-inner-blocks {
        > div.block-editor-block-list__layout {
            > div.block-list-appender {
                width: 100%;
                margin: 0;
            }
        }
    }
}