@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active div.maxi-column-block {
	display: inline-flex;
	flex-direction: column;
	position: $pr;
	height: auto;
	margin: 0;
	box-sizing: border-box;
}
