.maxi-overflow-control {
	position: var(--maxi-layout-relative);
	display: var(--maxi-display-flex);
	justify-content: var(--maxi-layout-space-between);
	margin-bottom: var(--maxi-space-8px);

	.maxi-select-control {
		width: var(--maxi-space-110px);

		.maxi-base-control__field {
			margin-top: var(--maxi-space-3px) !important;
			margin-bottom: var(--maxi-space-0px) !important;
		}
	}

	.sync-wrapper {
		position: var(--maxi-layout-absolute);
		left: var(--maxi-layout-50-percent);
		top: var(--maxi-layout-50-percent);
		transform: var(--maxi-transform-translate-center);
		margin-top: var(--maxi-space-2px);

		button {
			background: var(--maxi-white);
			border: var(--maxi-border-1-5px) solid var(--maxi-grey-light);
			border-radius: var(--maxi-radius-4px);
			width: var(--maxi-space-24px);
			height: var(--maxi-space-24px);
			padding: var(--maxi-space-0px);
			display: var(--maxi-display-inline-flex);
			align-items: var(--maxi-layout-center);
			justify-content: var(--maxi-layout-center);
			transition: all var(--maxi-transition-200ms);

			&:focus {
				border-color: transparent;
			}

			&[aria-pressed='true'] {
				background: var(--maxi-whisper-green) !important;
				border: var(--maxi-border-1px) solid var(--maxi-mid-green);

				&:hover {
					background: var(--maxi-pastel-green) !important;
					border: var(--maxi-border-1px) solid
						var(--maxi-primary-color);

					svg {
						path {
							fill: var(--maxi-primary-color);
						}
					}
				}

				svg {
					path {
						fill: var(--maxi-secondary-color);
					}
				}
			}

			svg {
				width: var(--maxi-space-14px);
				height: var(--maxi-space-14px);
				path {
					fill: var(--maxi-grey);
				}
			}
		}
	}
}
