@import '../../../src/css/backend-variables.scss';
.maxi-overflow-control {
	position: $pr;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	.maxi-select-control {
		width: 110px;

		.maxi-base-control__field {
			margin-top: 3px !important;
			margin-bottom: 0 !important;
		}
	}

	.sync-wrapper {
		position: $pa;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		margin-top: 2px;

		button {
			background: $w;
			border: $bg;
			border-radius: 4px;
			width: 24px;
			height: 24px;
			padding: 0;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;

			&:focus {
				border-color: $tr;
			}

			&[aria-pressed='true'] {
				background: $wg !important;
				border: 1.5px solid $sc;

				&:hover {
					background: $pg !important;
					border: 1px solid $pc;

					svg {
						path {
							fill: $pc;
						}
					}
				}

				svg {
					path {
						fill: $sc;
					}
				}
			}

			svg {
				width: 14px;
				height: 14px;
				path {
					fill: $g;
				}
			}
		}
	}
}
