.maxi-overflow-control {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	.maxi-select-control {
		width: 110px;

		.maxi-base-control__field {
			margin-top: 3px !important;
			margin-bottom: 0 !important;
		}
	}

	.sync-wrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		margin-top: 2px;

		button {
			background: var(--mw);
			border: 1.5px solid var(--mgl);
			border-radius: 4px;
			width: 24px;
			height: 24px;
			padding: 0;
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-transition: var(--maxi-trans-std);
			-o-transition: var(--maxi-trans-std);
			transition: var(--maxi-trans-std);

			&:focus {
				border-color: transparent;
			}

			&[aria-pressed='true'] {
				background: var(--mwg) !important;
				border: 1.5px solid var(--msc);

				&:hover {
					background: var(--mpg) !important;
					border: 1px solid var(--mpc);

					svg {
						path {
							fill: var(--mpc);
						}
					}
				}

				svg {
					path {
						fill: var(--msc);
					}
				}
			}

			svg {
				width: 14px;
				height: 14px;
				path {
					fill: var(--mg);
				}
			}
		}
	}
}
