.maxi-sidebar .maxi-fancy-radio-control {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;

	&--full-width {
		.maxi-base-control {
			&__field {
				flex-wrap: wrap;
			}
			&__label {
				margin: 0 0 5px 0 !important;
				width: 100%;
				display: block;
				flex: 100% !important;
			}
		}
	}

	.maxi-display-control {
		width: 100%;
	}
	.maxi-base-control {
		.maxi-base-control__field {
			.maxi-base-control__label {
				flex: 2;
			}
		}
	}
	.maxi-radio-control {
		width: 100%;

		&__option {
			opacity: 1 !important;
			min-width: 40px;
			height: 32px;
			background-color: #fff;
			color: #464a53;
			flex: 1;
			border: 1px solid #dbdde6;
			margin-bottom: 0;
			transition: all 0.5s;

			&:hover {
				background-color: rgba(180, 180, 180, 0.12);
			}
			&:focus {
				outline: none !important;
				box-shadow: none !important;
				background-color: rgba(180, 180, 180, 0.4);
			}
			input {
				display: none;

				&:checked ~ label {
					background-color: #f8fbfd;
					border-bottom: 2px solid #007cba;
					position: relative;
					z-index: 1;
				}
			}
			label {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			svg {
				display: block;
				height: 100%;
				width: 20px;
				margin: 0;
				fill: #464a53;
			}
		}
	}
}

.maxi-classic-radio-control {
	margin-bottom: 5px;

	&__border {
		.maxi-radio-control {
			&__option {
				label {
					border: 2px solid #dddfe1;
					border-radius: 2px;
					margin: 0 2px;
				}
			}
		}
	}
	.maxi-radio-control {
		width: 100%;

		.maxi-base-control__field {
			flex-wrap: wrap;
		}
		&__option {
			opacity: 1 !important;
			width: 20%;

			input {
				display: none;

				&:checked ~ label {
					background-color: #f2f2f2;
					outline: 1px solid transparent;
					position: relative;
					z-index: 1;
				}
			}
			label {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 6px;
				border-radius: 5px;
				margin-bottom: 5px;
			}
			svg {
				display: block;
				height: 100%;
				width: 100%;
				margin: auto;
			}
		}
	}
}
