.maxi-sidebar .maxi-fancy-radio-control {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;

	&--full-width {
		.components-base-control {
			&__field {
				flex-wrap: wrap;
			}
			&__label {
				margin: 0 0 5px 0 !important;
				width: 100%;
				display: block;
				flex: 100% !important;
			}
		}
	}

	.maxi-display-control {
		width: 100%;
	}
	.components-base-control {
		.components-base-control__field {
			.components-base-control__label {
				flex: 2;
			}
		}
	}
	.components-radio-control {
		width: 100%;

		&__option {
			opacity: 1 !important;
			min-width: 40px;
			height: 40px;
			background-color: rgba(33, 141, 250, 0);
			font-size: 20px;
			color: #464a53;
			font-weight: 500;
			flex: 1;
			border: 2px solid #dddfe1;
			border-right: 0;
			@at-root .rtl #{&} {
				border-right: 2px solid #dddfe1;
				border-left: 0;
			}

			&:first-of-type {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				@at-root .rtl #{&} {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}

			&:last-of-type {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right: 2px solid #dddfe1;
				@at-root .rtl #{&} {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					border-left: 2px solid #dddfe1;
				}
			}
			input {
				display: none;

				&:checked ~ label {
					background-color: #f2f2f2;
					outline: 1px solid transparent;
					position: relative;
					z-index: 1;
				}
			}
			label {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			svg {
				display: block;
				height: 100%;
				width: 20px;
				margin: 0;
				fill: #464a53;
			}
		}
	}
}

.maxi-classic-radio-control {
	margin-bottom: 5px;

	&__border {
		.components-radio-control {
			&__option {
				label {
					border: 2px solid #dddfe1;
					border-radius: 2px;
					margin: 0 2px;
				}
			}
		}
	}
	.components-radio-control {
		width: 100%;

		.components-base-control__field {
			flex-wrap: wrap;
		}
		&__option {
			opacity: 1 !important;
			width: 20%;

			input {
				display: none;

				&:checked ~ label {
					background-color: #f2f2f2;
					outline: 1px solid transparent;
					position: relative;
					z-index: 1;
				}
			}
			label {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 6px;
				border-radius: 5px;
				margin-bottom: 5px;
			}
			svg {
				display: block;
				height: 100%;
				width: 100%;
				margin: auto;
			}
		}
	}
}
