body .toolbar-item__popover {
	.components-form-toggle {
		&.is-checked {
			.components-form-toggle__track {
				background-color: var(--mdg);
			}
		}
		.components-form-toggle__track {
			border: 0;
			background-color: var(--mw);
		}
	}
	.block-editor-url-input {
		min-width: auto;
		.components-input-control {
			input.components-input-control__input {
				border-right: none;
			}
		}
	}
	.block-editor-url-input__input {
		background-color: transparent;
		color: var(--mw);
		border: 1.5px solid var(--mg) !important;

		&::placeholder {
			color: var(--mdg);
		}
	}
	.block-editor-link-control__search-item-title {
		color: var(--mg);
	}
	.block-editor-link-control__search-submit {
		&.has-icon {
			padding: 0 !important;
		}
		svg {
			fill: var(--mdg) !important;
			transition: fill 0.4s ease;

			&:hover {
				fill: var(--mpc) !important;
			}
		}
	}
	.block-editor-link-control__settings {
		border-top: 0;
		padding: 0 18px 15px;
	}
	.toolbar-popover-link-destroyer {
		background: var(--mw);
	}
	input[type='text'].components-input-control__input:hover {
		border: none !important;
	}
	.block-editor-link-control .components-spinner {
		margin-top: -5px;
	}
}
