@import '../../../../../src/css/backend-variables.scss';
body .toolbar-item__popover {
	.components-form-toggle {
		&.is-checked {
			.components-form-toggle__track {
				background-color: $gd;
			}
		}
		.components-form-toggle__track {
			border: 0;
			background-color: $w;
		}
	}
	.block-editor-url-input {
		min-width: auto;
		.components-input-control {
			input.components-input-control__input {
				border-right: none;
			}
		}
	}
	.block-editor-url-input__input {
		background-color: $tr;
		color: $w;
		border: 1.5px solid $g !important;

		&::placeholder {
			color: $gd;
		}
	}
	.block-editor-link-control__search-item-title {
		color: $g;
	}
	.block-editor-link-control__search-submit {
		&.has-icon {
			padding: 0 !important;
		}
		svg {
			fill: $gd !important;
			transition: fill 0.4s ease;

			&:hover {
				fill: $pc !important;
			}
		}
	}
	.block-editor-link-control__settings {
		border-top: 0;
		padding: 0 18px 15px;
	}
	.toolbar-popover-link-destroyer {
		background: $w;
	}
	input[type='text'].components-input-control__input:hover {
		border: none !important;
	}
	.block-editor-link-control .components-spinner {
		margin-top: -5px;
	}
}
