@import '../../../src/css/backend-variables.scss';
.maxi-reset-button {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 8px 5px !important;
	border-radius: 50%;
	margin-left: 4px;
	background: $w;
	text-decoration: none;
	transition: all 0.3s;
	-webkit-appearance: none;
	box-shadow: none;
	cursor: $ptr;
	opacity: 1;
	margin-right: 0 !important;

	&:focus {
		border-color: $g;
	}
	svg {
		width: 14px;
		height: 14px;
		margin: auto;
		fill: $g;
	}
	&:hover svg {
		fill: $bk;
		transition: all 0.3s;
	}
	@at-root .rtl #{&} {
		margin-right: 4px;
	}
}
.maxi-color-control__palette-label {
	.maxi-reset-button {
		position: $pa;
		background-color: $tr;
		border-width: 0 0 0 2px;
		max-width: 32px;
		top: 0;
		right: 0;
		padding: 1px 1px 1px 8px !important;
		margin-top: -6px !important;
		&:hover svg {
			transition: all 0.3s;
			fill: $bk;
		}
	}
}
.toolbar-item__popover__font-options__wrap_family {
	.maxi-reset-button {
		margin: 0;
		border: none;
		height: 36px;
	}
}
.components-circular-option-picker__custom-clear-wrapper {
	.maxi-reset-button {
		border-radius: 0;

		&:hover {
			background: $w;
		}
		&:focus {
			border-color: $g;
		}
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-reset-button {
		right: unset !important;
		left: 0;
		padding: 1px 8px 1px 1px !important;
		margin-left: 0;
		margin-right: 4px !important;
	}
}
