.maxi-reset-button {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	height: auto;
	padding: 8px 5px !important;
	border-radius: 50%;
	margin-inline-start: 4px;
	background: var(--mw);
	text-decoration: none;
	transition: var(--maxi-trans-std);
	-webkit-appearance: none;
	box-shadow: none;
	cursor: pointer;
	opacity: 1;
	margin-inline-end: 0 !important;

	&:focus {
		border-color: var(--mg);
	}
	svg {
		width: 14px;
		height: 14px;
		margin: auto;
		fill: var(--mg);
	}
	&:hover svg {
		fill: var(--mb);
		transition: var(--maxi-trans-std);
	}
	@at-root .rtl #{&} {
		margin-right: 4px;
	}
}
.maxi-color-control__palette-label {
	.maxi-reset-button {
		position: absolute;
		background-color: transparent;
		border-width: 0 0 0 2px;
		max-width: 32px;
		inset-inline-end: 0;
		padding: 1px 1px 1px 8px !important;
		margin-top: -6px !important;
		&:hover svg {
			transition: var(--maxi-trans-std);
			fill: var(--mb);
		}
	}
}
.toolbar-item__popover__font-options__wrap_family {
	.maxi-reset-button {
		margin: 0;
		border: none;
		height: 36px;
	}
}
.components-circular-option-picker__custom-clear-wrapper {
	.maxi-reset-button {
		border-radius: 0;

		&:hover {
			background: var(--mw);
		}
		&:focus {
			border-color: var(--mg);
		}
	}
}
