.toolbar-item__popover {

    .components-maxi-dimensions-control {
        color: #fff;

        &_sync {
            border-color: #80828a !important;
            background-color: transparent !important;
            width: 36px !important;

            &:hover {
                background-color: transparent !important;
            }
            svg {
                fill: currentColor;
                color: #fff;
            }
        }
        &__mobile-controls-item {
            height: 36px;
            border-color: #80828a !important;

            svg {
                fill: currentColor;
                color: #fff;
            }
        }
    }

    input[type=number].components-maxi-dimensions-control__number {
        background-color: transparent;
        border-color: #80828a !important;
        color: #fff;
    }
    .components-maxi-dimensions-control__units-reset {
        background-color: none;
        border-color: #80828a !important;

        &:hover {
            background-color: transparent !important;
        }
        svg {
            fill: #fff !important;
        }
    }
    .components-base-control {
        .components-base-control__field {
            .components-select-control__input {
                background-color: transparent !important;
                color: #fff;
                border-color: #80828a !important;
            }
        }
    }

}