/**
* Default theme
*/
:root {
    // Dark
    --Default-dark-background: "#000000";
    --Default-dark-p-color: "#9b9b9b";
    --Default-dark-p-font-family: "Roboto";
    --Default-dark-p-font-size: "16px";
    --Default-dark-p-font-weight: "400";
    --Default-dark-p-line-height: "26px";
    --Default-dark-p-letter-spacing: "0";
    --Default-dark-p-transform: "none";
    --Default-dark-p-style: "normal";
    --Default-dark-p-decoration: "unset";
    --Default-dark-p-decoration-line: "none";
    --Default-dark-a-color: "#00ccff";
    --Default-dark-a-font-family: "Roboto";
    --Default-dark-h1-color: "#ffffff";
    --Default-dark-h1-font-family: "Roboto";
    --Default-dark-h1-font-size: "45px";
    --Default-dark-h1-font-weight: "500";
    --Default-dark-h1-line-height: "55px";
    --Default-dark-h1-letter-spacing: "0";
    --Default-dark-h1-transform: "none";
    --Default-dark-h1-style: "normal";
    --Default-dark-h1-decoration: "unset";
    --Default-dark-h1-decoration-line: "none";
    --Default-dark-h2-color: "#ffffff";
    --Default-dark-h2-font-family: "Roboto";
    --Default-dark-h2-font-size: "38px";
    --Default-dark-h2-font-weight: "500";
    --Default-dark-h2-line-height: "48px";
    --Default-dark-h2-letter-spacing: "0";
    --Default-dark-h2-transform: "none";
    --Default-dark-h2-style: "normal";
    --Default-dark-h2-decoration: "unset";
    --Default-dark-h2-decoration-line: "none";
    --Default-dark-h3-color: "#ffffff";
    --Default-dark-h3-font-family: "Roboto";
    --Default-dark-h3-font-size: "30px";
    --Default-dark-h3-font-weight: "500";
    --Default-dark-h3-line-height: "40px";
    --Default-dark-h3-letter-spacing: "0";
    --Default-dark-h3-transform: "none";
    --Default-dark-h3-style: "normal";
    --Default-dark-h3-decoration: "unset";
    --Default-dark-h3-decoration-line: "none";
    --Default-dark-h4-color: "#ffffff";
    --Default-dark-h4-font-family: "Roboto";
    --Default-dark-h4-font-size: "26px";
    --Default-dark-h4-font-weight: "500";
    --Default-dark-h4-line-height: "36px";
    --Default-dark-h4-letter-spacing: "0";
    --Default-dark-h4-transform: "none";
    --Default-dark-h4-style: "normal";
    --Default-dark-h4-decoration: "unset";
    --Default-dark-h4-decoration-line: "none";
    --Default-dark-h5-color: "#ffffff";
    --Default-dark-h5-font-family: "Roboto";
    --Default-dark-h5-font-size: "22px";
    --Default-dark-h5-font-weight: "500";
    --Default-dark-h5-line-height: "32px";
    --Default-dark-h5-letter-spacing: "0";
    --Default-dark-h5-transform: "none";
    --Default-dark-h5-style: "normal";
    --Default-dark-h5-decoration: "unset";
    --Default-dark-h5-decoration-line: "none";
    --Default-dark-h6-color: "#ffffff";
    --Default-dark-h6-font-family: "Roboto";
    --Default-dark-h6-font-size: "20px";
    --Default-dark-h6-font-weight: "500";
    --Default-dark-h6-line-height: "30px";
    --Default-dark-h6-letter-spacing: "0";
    --Default-dark-h6-transform: "none";
    --Default-dark-h6-style: "normal";
    --Default-dark-h6-decoration: "unset";
    --Default-dark-h6-decoration-line: "none";
    --Default-dark-highlight: "#00ccff";
    --Default-dark-hover: "#999999";

    // Light
    --Default-light-background: "#ffffff";
    --Default-light-p-color: "#9b9b9b";
    --Default-light-p-font-family: "Roboto";
    --Default-light-p-font-size: "16px";
    --Default-light-p-font-weight: "400";
    --Default-light-p-line-height: "26px";
    --Default-light-p-letter-spacing: "0";
    --Default-light-p-transform: "none";
    --Default-light-p-style: "normal";
    --Default-light-p-decoration: "unset";
    --Default-light-p-decoration-line: "none";
    --Default-light-a-color: "#00ccff";
    --Default-light-a-font-family: "Roboto";
    --Default-light-h1-color: "#ffffff";
    --Default-light-h1-font-family: "Roboto";
    --Default-light-h1-font-size: "45px";
    --Default-light-h1-font-weight: "500";
    --Default-light-h1-line-height: "55px";
    --Default-light-h1-letter-spacing: "0";
    --Default-light-h1-transform: "none";
    --Default-light-h1-style: "normal";
    --Default-light-h1-decoration: "unset";
    --Default-light-h1-decoration-line: "none";
    --Default-light-h2-color: "#ffffff";
    --Default-light-h2-font-family: "Roboto";
    --Default-light-h2-font-size: "38px";
    --Default-light-h2-font-weight: "500";
    --Default-light-h2-line-height: "48px";
    --Default-light-h2-letter-spacing: "0";
    --Default-light-h2-transform: "none";
    --Default-light-h2-style: "normal";
    --Default-light-h2-decoration: "unset";
    --Default-light-h2-decoration-line: "none";
    --Default-light-h3-color: "#ffffff";
    --Default-light-h3-font-family: "Roboto";
    --Default-light-h3-font-size: "30px";
    --Default-light-h3-font-weight: "500";
    --Default-light-h3-line-height: "40px";
    --Default-light-h3-letter-spacing: "0";
    --Default-light-h3-transform: "none";
    --Default-light-h3-style: "normal";
    --Default-light-h3-decoration: "unset";
    --Default-light-h3-decoration-line: "none";
    --Default-light-h4-color: "#ffffff";
    --Default-light-h4-font-family: "Roboto";
    --Default-light-h4-font-size: "26px";
    --Default-light-h4-font-weight: "500";
    --Default-light-h4-line-height: "36px";
    --Default-light-h4-letter-spacing: "0";
    --Default-light-h4-transform: "none";
    --Default-light-h4-style: "normal";
    --Default-light-h4-decoration: "unset";
    --Default-light-h4-decoration-line: "none";
    --Default-light-h5-color: "#ffffff";
    --Default-light-h5-font-family: "Roboto";
    --Default-light-h5-font-size: "22px";
    --Default-light-h5-font-weight: "500";
    --Default-light-h5-line-height: "32px";
    --Default-light-h5-letter-spacing: "0";
    --Default-light-h5-transform: "none";
    --Default-light-h5-style: "normal";
    --Default-light-h5-decoration: "unset";
    --Default-light-h5-decoration-line: "none";
    --Default-light-h6-color: "#ffffff";
    --Default-light-h6-font-family: "Roboto";
    --Default-light-h6-font-size: "20px";
    --Default-light-h6-font-weight: "500";
    --Default-light-h6-line-height: "30px";
    --Default-light-h6-letter-spacing: "0";
    --Default-light-h6-transform: "none";
    --Default-light-h6-style: "normal";
    --Default-light-h6-decoration: "unset";
    --Default-light-h6-decoration-line: "none";
    --Default-light-highlight: "#00ccff";
    --Default-light-hover: "#999999";
}
