/**
* Default and variables
*/
@import './default-styles.scss';
$themes:
    'Default',
    'Mint',
    'Elegance',
    'Candy',
    'Bumblebee',
;
$sizes: 980, 480;

/**
* Styles
*/
body {
    @each $theme in $themes {
        &.#{$theme} {
            .maxi-dark {
                background-color: var(--#{$theme}-dark-background) !important;
            }
    
            .maxi-light,
            .maxi-default {
                background-color: var(--#{$theme}-light-background) !important;
            }
    
            .maxi-dark h1 {
                font-family: var(--#{$theme}-dark-h1-font-family) !important;
                color: var(--#{$theme}-dark-h1-color) !important;
                font-size: var(--#{$theme}-dark-h1-font-size) !important;
                line-height: var(--#{$theme}-dark-h1-line-height) !important;
                font-weight: var(--#{$theme}-dark-h1-font-weight) !important;
                text-transform: var(--#{$theme}-dark-h1-text-transform) !important;
                font-style: var(--#{$theme}-dark-h1-font-style) !important;
                text-decoration-line: var(--#{$theme}-dark-h1-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-dark-h1-text-decoration-style) !important;
            }
    
            .maxi-light h1 {
                font-family: var(--#{$theme}-light-h1-font-family) !important;
                color: var(--#{$theme}-light-h1-color) !important;
                font-size: var(--#{$theme}-light-h1-font-size) !important;
                line-height: var(--#{$theme}-light-h1-line-height) !important;
                font-weight: var(--#{$theme}-light-h1-font-weight) !important;
                text-transform: var(--#{$theme}-light-h1-text-transform) !important;
                font-style: var(--#{$theme}-light-h1-font-style) !important;
                text-decoration-line: var(--#{$theme}-light-h1-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-light-h1-text-decoration-style) !important;
            }
    
            .maxi-dark h2 {
                font-family: var(--#{$theme}-dark-h2-font-family) !important;
                color: var(--#{$theme}-dark-h2-color) !important;
                font-size: var(--#{$theme}-dark-h2-font-size) !important;
                line-height: var(--#{$theme}-dark-h2-line-height) !important;
                font-weight: var(--#{$theme}-dark-h2-font-weight) !important;
                text-transform: var(--#{$theme}-dark-h2-text-transform) !important;
                font-style: var(--#{$theme}-dark-h2-font-style) !important;
                text-decoration-line: var(--#{$theme}-dark-h2-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-dark-h2-text-decoration-style) !important;
            }
    
            .maxi-light h2 {
                font-family: var(--#{$theme}-light-h2-font-family) !important;
                color: var(--#{$theme}-light-h2-color) !important;
                font-size: var(--#{$theme}-light-h2-font-size) !important;
                line-height: var(--#{$theme}-light-h2-line-height) !important;
                font-weight: var(--#{$theme}-light-h2-font-weight) !important;
                text-transform: var(--#{$theme}-light-h2-text-transform) !important;
                font-style: var(--#{$theme}-light-h2-font-style) !important;
                text-decoration-line: var(--#{$theme}-light-h2-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-light-h2-text-decoration-style) !important;
            }
    
            .maxi-dark h3 {
                font-family: var(--#{$theme}-dark-h3-font-family) !important;
                color: var(--#{$theme}-dark-h3-color) !important;
                font-size: var(--#{$theme}-dark-h3-font-size) !important;
                line-height: var(--#{$theme}-dark-h3-line-height) !important;
                font-weight: var(--#{$theme}-dark-h3-font-weight) !important;
                text-transform: var(--#{$theme}-dark-h3-text-transform) !important;
                font-style: var(--#{$theme}-dark-h3-font-style) !important;
                text-decoration-line: var(--#{$theme}-dark-h3-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-dark-h3-text-decoration-style) !important;
            }
    
            .maxi-light h3 {
                font-family: var(--#{$theme}-light-h3-font-family) !important;
                color: var(--#{$theme}-light-h3-color) !important;
                font-size: var(--#{$theme}-light-h3-font-size) !important;
                line-height: var(--#{$theme}-light-h3-line-height) !important;
                font-weight: var(--#{$theme}-light-h3-font-weight) !important;
                text-transform: var(--#{$theme}-light-h3-text-transform) !important;
                font-style: var(--#{$theme}-light-h3-font-style) !important;
                text-decoration-line: var(--#{$theme}-light-h3-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-light-h3-text-decoration-style) !important;
            }
    
            .maxi-dark h4 {
                font-family: var(--#{$theme}-dark-h4-font-family) !important;
                color: var(--#{$theme}-dark-h4-color) !important;
                font-size: var(--#{$theme}-dark-h4-font-size) !important;
                line-height: var(--#{$theme}-dark-h4-line-height) !important;
                font-weight: var(--#{$theme}-dark-h4-font-weight) !important;
                text-transform: var(--#{$theme}-dark-h4-text-transform) !important;
                font-style: var(--#{$theme}-dark-h4-font-style) !important;
                text-decoration-line: var(--#{$theme}-dark-h4-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-dark-h4-text-decoration-style) !important;
            }
    
            .maxi-light h4 {
                font-family: var(--#{$theme}-light-h4-font-family) !important;
                color: var(--#{$theme}-light-h4-color) !important;
                font-size: var(--#{$theme}-light-h4-font-size) !important;
                line-height: var(--#{$theme}-light-h4-line-height) !important;
                font-weight: var(--#{$theme}-light-h4-font-weight) !important;
                text-transform: var(--#{$theme}-light-h4-text-transform) !important;
                font-style: var(--#{$theme}-light-h4-font-style) !important;
                text-decoration-line: var(--#{$theme}-light-h4-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-light-h4-text-decoration-style) !important;
            }
    
            .maxi-dark h5 {
                font-family: var(--#{$theme}-dark-h5-font-family) !important;
                color: var(--#{$theme}-dark-h5-color) !important;
                font-size: var(--#{$theme}-dark-h5-font-size) !important;
                line-height: var(--#{$theme}-dark-h5-line-height) !important;
                font-weight: var(--#{$theme}-dark-h5-font-weight) !important;
                text-transform: var(--#{$theme}-dark-h5-text-transform) !important;
                font-style: var(--#{$theme}-dark-h5-font-style) !important;
                text-decoration-line: var(--#{$theme}-dark-h5-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-dark-h5-text-decoration-style) !important;
            }
    
            .maxi-light h5 {
                font-family: var(--#{$theme}-light-h5-font-family) !important;
                color: var(--#{$theme}-light-h5-color) !important;
                font-size: var(--#{$theme}-light-h5-font-size) !important;
                line-height: var(--#{$theme}-light-h5-line-height) !important;
                font-weight: var(--#{$theme}-light-h5-font-weight) !important;
                text-transform: var(--#{$theme}-light-h5-text-transform) !important;
                font-style: var(--#{$theme}-light-h5-font-style) !important;
                text-decoration-line: var(--#{$theme}-light-h5-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-light-h5-text-decoration-style) !important;
            }
    
            .maxi-dark h6 {
                font-family: var(--#{$theme}-dark-h6-font-family) !important;
                color: var(--#{$theme}-dark-h6-color) !important;
                font-size: var(--#{$theme}-dark-h6-font-size) !important;
                line-height: var(--#{$theme}-dark-h6-line-height) !important;
                font-weight: var(--#{$theme}-dark-h6-font-weight) !important;
                text-transform: var(--#{$theme}-dark-h6-text-transform) !important;
                font-style: var(--#{$theme}-dark-h6-font-style) !important;
                text-decoration-line: var(--#{$theme}-dark-h6-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-dark-h6-text-decoration-style) !important;
            }
    
            .maxi-light h6 {
                font-family: var(--#{$theme}-light-h6-font-family) !important;
                color: var(--#{$theme}-light-h6-color) !important;
                font-size: var(--#{$theme}-light-h6-font-size) !important;
                line-height: var(--#{$theme}-light-h6-line-height) !important;
                font-weight: var(--#{$theme}-light-h6-font-weight) !important;
                text-transform: var(--#{$theme}-light-h6-text-transform) !important;
                font-style: var(--#{$theme}-light-h6-font-style) !important;
                text-decoration-line: var(--#{$theme}-light-h6-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-light-h6-text-decoration-style) !important;
            }
    
            .maxi-dark p,
            .maxi-dark li {
                font-family: var(--#{$theme}-dark-p-font-family) !important;
                color: var(--#{$theme}-dark-p-color) !important;
                font-size: var(--#{$theme}-dark-p-font-size) !important;
                line-height: var(--#{$theme}-dark-p-line-height) !important;
                font-weight: var(--#{$theme}-dark-p-font-weight) !important;
                text-transform: var(--#{$theme}-dark-p-text-transform) !important;
                font-style: var(--#{$theme}-dark-p-font-style) !important;
                text-decoration-line: var(--#{$theme}-dark-p-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-dark-p-text-decoration-style) !important;
            }

            .maxi-light p,
            .maxi-light li {
                font-family: var(--#{$theme}-light-p-font-family) !important;
                color: var(--#{$theme}-light-p-color) !important;
                font-size: var(--#{$theme}-light-p-font-size) !important;
                line-height: var(--#{$theme}-light-p-line-height) !important;
                font-weight: var(--#{$theme}-light-p-font-weight) !important;
                text-transform: var(--#{$theme}-light-p-text-transform) !important;
                font-style: var(--#{$theme}-light-p-font-style) !important;
                text-decoration-line: var(--#{$theme}-light-p-decoration-line) !important;
                text-decoration-style: var(--#{$theme}-light-p-text-decoration-style) !important;
            }
    
            .maxi-dark a,
            .maxi-light a,
            .maxi-default a {
                color: var(--#{$theme}-light-highlight) !important;
            }
    
            .maxi-dark a:hover,
            .maxi-light a:hover,
            .maxi-default a:hover {
                color: var(--#{$theme}-light-hover) !important;
            }
    
            .maxi-dark {
                .maxi-highlight {
                    color: var(--#{$theme}-light-highlight) !important;
                }
    
                .maxi-divider {
                    border-color: var(--#{$theme}-light-highlight) !important;
                }
            }
    
            .maxi-light .maxi-highlight,
            .maxi-default .maxi-highlight {
                color: var(--#{$theme}-light-highlight) !important;
            }
    
            .maxi-light .maxi-divider,
            .maxi-default .maxi-divider {
                border-color: var(--#{$theme}-light-highlight) !important;
            }
        }
    }
}













// body {
//     &.Default {
//         .maxi-dark {
//             background-color: #000000 !important;
//         }

//         .maxi-light,
//         .maxi-default {
//             background-color: #ffffff !important;
//         }

//         .maxi-dark h1 {
//             font-family: "Roboto" !important;
//             color: #ffffff !important;
//             font-size: 45 !important;
//             line-height: 55px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-light h1 {
//             font-family: "Roboto" !important;
//             color: #000000 !important;
//             font-size: 45 !important;
//             line-height: 55px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-dark h2 {
//             font-family: "Roboto" !important;
//             color: #ffffff !important;
//             font-size: 38 !important;
//             line-height: 48px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-light h2 {
//             font-family: "Roboto" !important;
//             color: #000000 !important;
//             font-size: 38 !important;
//             line-height: 48px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-dark h3 {
//             font-family: "Roboto" !important;
//             color: #ffffff !important;
//             font-size: 30 !important;
//             line-height: 40px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-light h3 {
//             font-family: "Roboto" !important;
//             color: #000000 !important;
//             font-size: 30 !important;
//             line-height: 40px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-dark h4 {
//             font-family: "Roboto" !important;
//             color: #ffffff !important;
//             font-size: 26 !important;
//             line-height: 36px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-light h4 {
//             font-family: "Roboto" !important;
//             color: #000000 !important;
//             font-size: 26 !important;
//             line-height: 36px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-dark h5 {
//             font-family: "Roboto" !important;
//             color: #ffffff !important;
//             font-size: 22 !important;
//             line-height: 32px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-light h5 {
//             font-family: "Roboto" !important;
//             color: #000000 !important;
//             font-size: 22 !important;
//             line-height: 32px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-dark h6 {
//             font-family: "Roboto" !important;
//             color: #ffffff !important;
//             font-size: 20 !important;
//             line-height: 30px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-light h6 {
//             font-family: "Roboto" !important;
//             color: #000000 !important;
//             font-size: 20 !important;
//             line-height: 30px !important;
//             font-weight: 500 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-dark p,
//         .maxi-light p,
//         .maxi-dark li,
//         .maxi-light li {
//             font-family: "Roboto" !important;
//             color: #9b9b9b !important;
//             font-size: 16 !important;
//             line-height: 26px !important;
//             font-weight: 400 !important;
//             text-transform: none !important;
//             font-style: normal !important;
//             text-decoration-line: none;
//             text-decoration-style: unset !important;
//         }

//         .maxi-dark a,
//         .maxi-light a,
//         maxi-default a {
//             color: #00ccff !important;
//         }

//         .maxi-dark a:hover,
//         .maxi-light a:hover,
//         .maxi-default a:hover {
//             color: #999999 !important;
//         }

//         .maxi-dark {
//             .maxi-highlight {
//                 color: #00ccff !important;
//             }

//             .maxi-divider {
//                 border-color: #00ccff !important;
//             }
//         }

//         .maxi-light .maxi-highlight,
//         .maxi-default .maxi-highlight {
//             color: #00ccff !important;
//         }

//         .maxi-light .maxi-divider,
//         .maxi-default .maxi-divider {
//             border-color: #00ccff !important;
//         }
//     }

//     &.Mint {
//         .maxi-dark {
//             background-color: #0c4c65 !important;
//         }

//         .maxi-light,
//         .maxi-default {
//             background-color: #ffffff !important;
//         }

//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #000000 !important;
//         }

//         .maxi-dark h2 {
//             color: #36dbc2 !important;
//         }

//         .maxi-light h2 {
//             color: #000000 !important;
//         }

//         .maxi-dark h3 {
//             color: #ffffff !important;
//         }

//         .maxi-light h3 {
//             color: #000000 !important;
//         }

//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #000000 !important;
//         }

//         .maxi-dark h5 {
//             color: #ffffff !important;
//         }

//         .maxi-light h5 {
//             color: #000000 !important;
//         }

//         .maxi-dark h6 {
//             color: #ffffff !important;
//         }

//         .maxi-light h6 {
//             color: #000000 !important;
//         }

//         .maxi-dark p {
//             color: #36dbc2 !important;
//         }

//         .maxi-light p {
//             color: #9b9b9b !important;
//         }

//         .maxi-dark li {
//             color: #36dbc2 !important;
//         }

//         .maxi-light li {
//             color: #9b9b9b !important;
//         }

//         .maxi-dark a {
//             color: #07f7d3 !important;
//         }

//         .maxi-light a,
//         maxi-default a {
//             color: #00ccff !important;
//         }

//         .maxi-dark a:hover {
//             color: #64dd9e !important;
//         }

//         .maxi-light a:hover,
//         .maxi-default a:hover {
//             color: #0c4c65 !important;
//         }

//         .maxi-dark {
//             .maxi-highlight {
//                 color: #36dbc2 !important;
//             }

//             .maxi-divider {
//                 border-color: #36dbc2 !important;
//             }
//         }

//         .maxi-light .maxi-highlight,
//         .maxi-default .maxi-highlight {
//             color: #36dbc2 !important;
//         }

//         .maxi-light .maxi-divider,
//         .maxi-default .maxi-divider {
//             border-color: #36dbc2 !important;
//         }
//     }

//     &.Elegance {
//         .maxi-dark {
//             background-color: #1e1e26 !important;
//         }

//         .maxi-light,
//         .maxi-default {
//             background-color: #ffffff !important;
//         }

//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #1e1e26 !important;
//         }

//         .maxi-dark h2 {
//             color: #ffffff !important;
//         }

//         .maxi-light h2 {
//             color: #1e1e26 !important;
//         }

//         .maxi-dark h3 {
//             color: #ffffff !important;
//         }

//         .maxi-light h3 {
//             color: #1e1e26 !important;
//         }

//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #1e1e26 !important;
//         }

//         .maxi-dark h5 {
//             color: #ffffff !important;
//         }

//         .maxi-light h5 {
//             color: #1e1e26 !important;
//         }

//         .maxi-dark h6 {
//             color: #ffffff !important;
//         }

//         .maxi-light h6 {
//             color: #1e1e26 !important;
//         }

//         .maxi-dark p,
//         .maxi-light p,
//         .maxi-dark li,
//         .maxi-light li {
//             color: #9b9b9b !important;
//         }

//         .maxi-dark a,
//         .maxi-light a,
//         maxi-default a {
//             color: #dec79b !important;
//         }

//         .maxi-dark a:hover,
//         .maxi-light a:hover,
//         .maxi-default a:hover {
//             color: #9b9b9b !important;
//         }

//         .maxi-dark {
//             .maxi-highlight {
//                 color: #dec79b !important;
//             }

//             .maxi-divider {
//                 border-color: #dec79b !important;
//             }
//         }

//         .maxi-light .maxi-highlight,
//         .maxi-default .maxi-highlight {
//             color: #dec79b !important;
//         }

//         .maxi-light .maxi-divider,
//         .maxi-default .maxi-divider {
//             border-color: #dec79b !important;
//         }
//     }

//     &.Candy {
//         .maxi-dark {
//             background-color: #eaf4f9 !important;
//         }

//         .maxi-light,
//         .maxi-default {
//             background-color: #ffffff !important;
//         }

//         .maxi-dark h1,
//         .maxi-light h1 {
//             color: #2b2b33 !important;
//         }

//         .maxi-dark h2,
//         .maxi-light h2 {
//             color: #64c2ec !important;
//         }

//         .maxi-dark h3,
//         .maxi-light h3 {
//             color: #f74356 !important;
//         }

//         .maxi-dark h4,
//         .maxi-light h4 {
//             color: #2b2b33 !important;
//         }

//         .maxi-dark h5,
//         .maxi-light h5,
//         .maxi-dark h6,
//         .maxi-light h6 {
//             color: #f74356 !important;
//         }

//         .maxi-dark p,
//         .maxi-light p,
//         .maxi-dark li,
//         .maxi-light li {
//             color: #666666 !important;
//         }

//         .maxi-dark a,
//         .maxi-light a,
//         maxi-default a {
//             color: #f74356 !important;
//         }

//         .maxi-dark a:hover,
//         .maxi-light a:hover,
//         .maxi-default a:hover {
//             color: #64c2ec !important;
//         }

//         .maxi-dark {
//             .maxi-highlight {
//                 color: #f74356 !important;
//             }

//             .maxi-divider {
//                 border-color: #f74356 !important;
//             }
//         }

//         .maxi-light .maxi-highlight,
//         .maxi-default .maxi-highlight {
//             color: #f74356 !important;
//         }

//         .maxi-light .maxi-divider,
//         .maxi-default .maxi-divider {
//             border-color: #f74356 !important;
//         }
//     }

//     &.Bumblebee {
//         .maxi-dark {
//             background-color: #323c47 !important;
//         }

//         .maxi-light,
//         .maxi-default {
//             background-color: #ffffff !important;
//         }

//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #323c47 !important;
//         }

//         .maxi-dark h2 {
//             color: #64c2ec !important;
//         }

//         .maxi-light h2 {
//             color: #323c47 !important;
//         }

//         .maxi-dark h3 {
//             color: #f74356 !important;
//         }

//         .maxi-light h3 {
//             color: #323c47 !important;
//         }

//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #323c47 !important;
//         }

//         .maxi-dark h5 {
//             color: #f74356 !important;
//         }

//         .maxi-light h5,
//         .maxi-dark h6,
//         .maxi-light h6 {
//             color: #ffd012 !important;
//         }

//         .maxi-dark p {
//             color: #a7a7a7 !important;
//         }

//         .maxi-light p {
//             color: #666666 !important;
//         }

//         .maxi-dark li {
//             color: #a7a7a7 !important;
//         }

//         .maxi-light li {
//             color: #666666 !important;
//         }

//         .maxi-dark a,
//         .maxi-light a,
//         maxi-default a {
//             color: #ffd012 !important;
//         }

//         .maxi-dark a:hover,
//         .maxi-light a:hover,
//         .maxi-default a:hover {
//             color: #ff9212 !important;
//         }

//         .maxi-dark {
//             .maxi-highlight {
//                 color: #ffd012 !important;
//             }

//             .maxi-divider {
//                 border-color: #ffd012 !important;
//             }
//         }

//         .maxi-light .maxi-highlight,
//         .maxi-default .maxi-highlight {
//             color: #ffd012 !important;
//         }

//         .maxi-light .maxi-divider,
//         .maxi-default .maxi-divider {
//             border-color: #ffd012 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Default {
//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }
//         .maxi-light h1 {
//             color: #000000 !important;
//         }
//         .maxi-dark h2 {
//             color: #ffffff !important;
//         }
//         .maxi-light h2 {
//             color: #000000 !important;
//         }
//         .maxi-dark h3 {
//             color: #ffffff !important;
//         }
//         .maxi-light h3 {
//             color: #000000 !important;
//         }
//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }
//         .maxi-light h4 {
//             color: #000000 !important;
//         }
//         .maxi-dark h5 {
//             color: #ffffff !important;
//         }
//         .maxi-light h5 {
//             color: #000000 !important;
//         }
//         .maxi-dark h6 {
//             color: #ffffff !important;
//         }
//         .maxi-light h6 {
//             color: #000000 !important;
//         }
//         .maxi-dark p,
//         .maxi-light p {
//             color: #9b9b9b !important;
//         }
//         .maxi-dark li,
//         .maxi-light li {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Default {
//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Default {
//         .maxi-dark h2 {
//             color: #ffffff !important;
//         }

//         .maxi-light h2 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Default {
//         .maxi-dark h3 {
//             color: #ffffff !important;
//         }

//         .maxi-light h3 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Default {
//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Default {
//         .maxi-dark h5 {
//             color: #ffffff !important;
//         }

//         .maxi-light h5 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Default {
//         .maxi-dark h6 {
//             color: #ffffff !important;
//         }

//         .maxi-light h6 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Default {
//         .maxi-dark p,
//         .maxi-light p {
//             color: #9b9b9b !important;
//         }
//         .maxi-dark li,
//         .maxi-light li {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Default {
//         .maxi-dark p,
//         .maxi-light p {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Default {
//         .maxi-dark li,
//         .maxi-light li {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Mint {
//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Mint {
//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Mint {
//         .maxi-dark h2 {
//             color: #36dbc2 !important;
//         }

//         .maxi-light h2 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Mint {
//         .maxi-dark h2 {
//             color: #36dbc2 !important;
//         }

//         .maxi-light h2 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Mint {
//         .maxi-dark h3 {
//             color: #ffffff !important;
//         }

//         .maxi-light h3 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Mint {
//         .maxi-dark h3 {
//             color: #ffffff !important;
//         }

//         .maxi-light h3 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Mint {
//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Mint {
//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Mint {
//         .maxi-dark h5 {
//             color: #ffffff !important;
//         }

//         .maxi-light h5 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Mint {
//         .maxi-dark h5 {
//             color: #ffffff !important;
//         }

//         .maxi-light h5 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Mint {
//         .maxi-dark h6 {
//             color: #ffffff !important;
//         }

//         .maxi-light h6 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Mint {
//         .maxi-dark h6 {
//             color: #ffffff !important;
//         }

//         .maxi-light h6 {
//             color: #000000 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Mint {
//         .maxi-dark p {
//             color: #36dbc2 !important;
//         }

//         .maxi-light p {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Mint {
//         .maxi-dark p {
//             color: #36dbc2 !important;
//         }

//         .maxi-light p {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Mint {
//         .maxi-dark li {
//             color: #36dbc2 !important;
//         }

//         .maxi-light li {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Mint {
//         .maxi-dark li {
//             color: #36dbc2 !important;
//         }

//         .maxi-light li {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Elegance {
//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Elegance {
//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Elegance {
//         .maxi-dark h2 {
//             color: #ffffff !important;
//         }

//         .maxi-light h2 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Elegance {
//         .maxi-dark h2 {
//             color: #ffffff !important;
//         }

//         .maxi-light h2 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Elegance {
//         .maxi-dark h3 {
//             color: #ffffff !important;
//         }

//         .maxi-light h3 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Elegance {
//         .maxi-dark h3 {
//             color: #ffffff !important;
//         }

//         .maxi-light h3 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Elegance {
//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Elegance {
//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Elegance {
//         .maxi-dark h5 {
//             color: #ffffff !important;
//         }

//         .maxi-light h5 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Elegance {
//         .maxi-dark h5 {
//             color: #ffffff !important;
//         }

//         .maxi-light h5 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Elegance {
//         .maxi-dark h6 {
//             color: #ffffff !important;
//         }

//         .maxi-light h6 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Elegance {
//         .maxi-dark h6 {
//             color: #ffffff !important;
//         }

//         .maxi-light h6 {
//             color: #1e1e26 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Elegance {
//         .maxi-dark p,
//         .maxi-light p {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Elegance {
//         .maxi-dark p,
//         .maxi-light p {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Elegance {
//         .maxi-dark li,
//         .maxi-light li {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Elegance {
//         .maxi-dark li,
//         .maxi-light li {
//             color: #9b9b9b !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Candy {
//         .maxi-dark h1,
//         .maxi-light h1 {
//             color: #2b2b33 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Candy {
//         .maxi-dark h1,
//         .maxi-light h1 {
//             color: #2b2b33 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Candy {
//         .maxi-dark h2,
//         .maxi-light h2 {
//             color: #64c2ec !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Candy {
//         .maxi-dark h2,
//         .maxi-light h2 {
//             color: #64c2ec !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Candy {
//         .maxi-dark h3,
//         .maxi-light h3 {
//             color: #f74356 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Candy {
//         .maxi-dark h3,
//         .maxi-light h3 {
//             color: #f74356 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Candy {
//         .maxi-dark h4,
//         .maxi-light h4 {
//             color: #2b2b33 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Candy {
//         .maxi-dark h4,
//         .maxi-light h4 {
//             color: #2b2b33 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Candy {
//         .maxi-dark h5,
//         .maxi-light h5 {
//             color: #f74356 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Candy {
//         .maxi-dark h5,
//         .maxi-light h5 {
//             color: #f74356 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Candy {
//         .maxi-dark h6,
//         .maxi-light h6 {
//             color: #f74356 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Candy {
//         .maxi-dark h6,
//         .maxi-light h6 {
//             color: #f74356 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Candy {
//         .maxi-dark p,
//         .maxi-light p {
//             color: #666666 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Candy {
//         .maxi-dark p,
//         .maxi-light p {
//             color: #666666 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Candy {
//         .maxi-dark li,
//         .maxi-light li {
//             color: #666666 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Candy {
//         .maxi-dark li,
//         .maxi-light li {
//             color: #666666 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Bumblebee {
//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #323c47 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Bumblebee {
//         .maxi-dark h1 {
//             color: #ffffff !important;
//         }

//         .maxi-light h1 {
//             color: #323c47 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Bumblebee {
//         .maxi-dark h2 {
//             color: #64c2ec !important;
//         }

//         .maxi-light h2 {
//             color: #323c47 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Bumblebee {
//         .maxi-dark h2 {
//             color: #64c2ec !important;
//         }

//         .maxi-light h2 {
//             color: #323c47 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Bumblebee {
//         .maxi-dark h3 {
//             color: #f74356 !important;
//         }

//         .maxi-light h3 {
//             color: #323c47 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Bumblebee {
//         .maxi-dark h3 {
//             color: #f74356 !important;
//         }

//         .maxi-light h3 {
//             color: #323c47 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Bumblebee {
//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #323c47 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Bumblebee {
//         .maxi-dark h4 {
//             color: #ffffff !important;
//         }

//         .maxi-light h4 {
//             color: #323c47 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Bumblebee {
//         .maxi-dark h5 {
//             color: #f74356 !important;
//         }

//         .maxi-light h5 {
//             color: #ffd012 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Bumblebee {
//         .maxi-dark h5 {
//             color: #f74356 !important;
//         }

//         .maxi-light h5 {
//             color: #ffd012 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Bumblebee {
//         .maxi-dark h6,
//         .maxi-light h6 {
//             color: #ffd012 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Bumblebee {
//         .maxi-dark h6,
//         .maxi-light h6 {
//             color: #ffd012 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Bumblebee {
//         .maxi-dark p {
//             color: #a7a7a7 !important;
//         }

//         .maxi-light p {
//             color: #666666 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Bumblebee {
//         .maxi-dark p {
//             color: #a7a7a7 !important;
//         }

//         .maxi-light p {
//             color: #666666 !important;
//         }
//     }
// }

// @media screen and (max-width: 980px) {
//     body.Bumblebee {
//         .maxi-dark li {
//             color: #a7a7a7 !important;
//         }

//         .maxi-light li {
//             color: #666666 !important;
//         }
//     }
// }

// @media screen and (max-width: 480px) {
//     body.Bumblebee {
//         .maxi-dark li {
//             color: #a7a7a7 !important;
//         }

//         .maxi-light li {
//             color: #666666 !important;
//         }
//     }
// }
