.maxi-device-control .components-radio-control__option {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.maxi-device-control .components-radio-control__option .components-radio-control__input {
  margin: auto;
}

.maxi-device-control .components-radio-control__input {
	display: none;
}

.maxi-device-control .components-radio-control__option {
  width: 33%;
  text-align: center;
  border: 1px solid #dddfe1;
}
    
.maxi-device-control .components-base-control__field {
  display: flex;
}

.maxi-device-control .components-radio-control__option {
	height: 33px !important;
}
  
.maxi-device-control {
	width: 101%;
}

.maxi-device-control .components-radio-control__option:first-child svg{
  width: 27px;
  position:relative;
  top:3px;
}

.maxi-device-control .components-radio-control__option svg{
  width: 19px;
  position:relative;
  top:1.5px;
}

.maxi-device-control .components-radio-control__option:last-child svg{
  width:17px;
  position:relative;
  top:1.5px;
}