.maxi-font-icon-picker {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	width: 100%;

	&__icon,
	&__upload {
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none !important;
		border: 1px dashed #b4bbc1;
		border-radius: 3px;
		color: #464a53;
		width: 100%;
		min-height: 100px;
		background-color: #edeff0;

		i {
			font-size: 42px;
		}
	}

	&__control-buttons {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 8px 0;
		&__replace,
		&__remove {
			border: 2px solid #dddfe1;
			border-radius: 5px;
			color: #464a53 !important;
			box-shadow: none !important;
			margin: 0 5px 0 0;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.5s;
			.components-button {
				padding: 0;
				color: #464a53;
			}
			&:hover {
				background-color: #edeff0;
			}
		}
		&__remove {
			margin-right: 0;
		}
	}

	&__modal {
		background: #f2f2f2;
		padding: 0;
		overflow-x: hidden;
		min-height: 100%;
		position: absolute;
		width: 80%;
		min-height: 90%;
		max-width: 90%;
	}

	&__main-content {
		display: flex;
	}

	&__category-button {
		background: transparent;
		cursor: pointer;
		border: 0;
		outline: 0;
		&--active {
			color: #ff4a17;
		}
	}

	&__categories {
		flex-grow: 1;
	}

	&__icons {
		flex-grow: 3;
		display: block;
		width: 80%;
	}

	&__icons-list {
		display: flex;
		flex-wrap: wrap;
	}

	&__card {
		padding: 20px;
		text-align: center;
		i {
			font-size: 42px;
			cursor: pointer;
		}
		&:hover {
			.maxi-font-icon-picker__insert {
				opacity: 1;
			}
		}
	}

	&__insert {
		display: block;
		margin-top: 8px;
		padding: 5px 12px;
		font-size: 14px;
		margin-top: 10px;
		cursor: pointer;
		opacity: 0;
	}

	&__pagination {
		display: flex;
		justify-content: center;

		ul {
			display: inline-block;
			padding-left: 15px;
			padding-right: 15px;
		}

		li {
			display: inline-block;

			a {
				cursor: pointer;
				padding: 5px;
				font-size: 18px;
			}
		}

		&--active a {
			color: #ff4a17;
		}
	}

	&__clear-filters {
		padding: 10px;
		font-size: 14px;
		cursor: pointer;
		width: 100%;
		margin-top: 10px;
	}
}
