.maxi-alignment-control {
	.maxi-base-control__field {
		justify-content: space-between;
		border-radius: 5px;
	}

	.maxi-radio-control__option {
		opacity: 1 !important;
		min-width: 40px;
		height: 32px;
		background-color: #fff;
		color: #464a53;
		flex: 1;
		border: 1px solid #757575;
		margin: 0;
		transition: all 0.5s;

		&:hover {
			background-color: rgba(180, 180, 180, 0.12);
		}
		&:focus {
			background-color: rgba(180, 180, 180, 0.4);
		}
		input {
			display: none;

			&:checked ~ label {
				background-color: #f8fbfd;
				border-bottom: 2px solid #007cba;
				position: relative;
				z-index: 1;
			}
		}
		label {
			display: block;
			height: 100%;
		}
		svg {
			display: block;
			height: 100%;
			width: 20px;
			margin: auto;
			fill: #464a53;
		}
	}
}
