.maxi-alignment-control {
	.maxi-tabs-control__button {
		svg path {
			fill: var(--maxi-grey-4-color);
		}
		&--selected {
			svg path {
				fill: var(--maxi-secondary-color);
			}
		}
	}
	.maxi-tabs-control__button {
		height: 32px;
		padding: 8px !important;
		width: 22.5%;
		margin-right: 7px;
		border: 1.5px solid var(--maxi-grey-light);
		border-radius: 4px;
	}
	.maxi-tabs-control__button[aria-pressed='true'] {
		background-color: var(--maxi-light-blue) !important;
		border: none !important;
	}
}
