body .maxi-alignment-control {
	.maxi-tabs-control__button {
		height: 32px;
		padding: 8px;
		width: 23%;
		margin-right: 7px;
		border: 1.5px solid var(--maxi-grey-light);
		border-radius: 4px;
		transition: background-color 0.4s ease, border-color 0.4s ease;

		svg path {
			fill: var(--maxi-black);
			transition: fill 0.4s ease;
		}

		&:hover {
			background-color: var(--maxi-whisper-green);
			border-color: var(--maxi-secondary-color);

			svg path {
				fill: var(--maxi-secondary-color);
			}
		}

		&--selected svg path {
			fill: var(--maxi-secondary-color);
		}

		&:first-child {
		}

		&:last-child {
			margin-right: 0;
		}

		&[aria-pressed='true'] {
			background-color: var(--maxi-whisper-green);
			border-color: var(--maxi-secondary-color);
		}
	}

	&__toolbar {
		.maxi-base-control__field
			.maxi-tabs-control.maxi-settingstab-control_has-border-left-right {
			display: flex !important;
			flex-direction: row !important;
			justify-content: space-between !important;
			align-items: center !important;
			gap: 0 !important;
			margin-bottom: 0 !important;
			button {
				margin-right: 0 !important;
				svg {
					margin: 0 auto;
				}
			}
		}
	}
}

.maxi-alignment-control__label {
	margin-bottom: 5px;
	margin-top: -3px;
}

