@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-dynamic-content {
	.maxi-dynamic-content__custom-delimiter .maxi-text-input {
		padding: 8px;
	}
	.components-range-control
		.components-base-control__field
		.components-range-control__track
		+ span {
		top: -7px;
	}
}
