@import '../../../../../src/css/backend-variables.scss';
.toolbar-item {
	&__more-settings {
		width: auto !important;

		.maxi-more-settings__settings-selector {
			height: 100%;
			width: 100%;
		}
	}
}

.maxi-more-settings__popover.maxi-dropdown__content {
	margin-top: 0 !important;
	z-index: 9999999;

	&.maxi-dropdown__child-content {
		margin: -18px 0 0 91px !important;
	}
	.components-popover__content {
		width: 220px;
		margin-left: 0 !important;
		margin-top: 15px;
		transform: translate(3px, -13px);
		background-color: $w;
		font-family: 'Inter', sans-serif !important;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

		.maxi-reusableblocks__blocks-selector,
		.maxi-text-generator__generator,
		.maxi-copypaste__copy-selector {
			.components-button {
				&::before {
					content: '';
					display: block;
					height: 1px;
					left: 12px;
					right: 12px;
					background-color: $gl;
					position: $pa;
					bottom: 0;
				}
			}
		}
		.maxi-text-generator__generator,
		.maxi-reusableblocks__blocks-selector {
			.components-button {
				&::before {
					left: 0;
					right: 0;
				}
			}
		}
		.components-button {
			box-shadow: none;
			border: none;
			display: block;
			width: 100%;
			text-align: left;
			position: $pr;
			transition: 0.3s;
			height: 30px !important;
			padding: 6px 12px !important;
			span {
				float: right;
			}
			&:hover {
				background-color: $wg;
				color: $pc !important;
			}
			&::after {
				content: '';
				display: block;
				height: 1px;
				left: 0;
				right: 0;
				width: 0;
				background-color: $sc;
				position: $pa;
				bottom: 0;
				margin: auto;
				transition: 0.3s;
			}
			&:hover::after {
				width: 100%;
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-more-settings__popover .components-button {
		text-align: right !important;
	}
}
