@import '../../../src/css/backend-variables.scss';
.maxi-settingstab-control.maxi-transition-control__split-tabs {
	/* Scope unique styling only to TransitionControl split tabs */
	.maxi-tabs-control {
		&__button {
			border: $bg !important;
			border-radius: 6px !important;
			background-color: $w;
			color: $bk !important;
			margin-right: 6px !important;
			padding: 8px 12px !important;
			transition: $t !important;

			&:last-child {
				margin-right: 0 !important;
			}

			&:hover {
				border-color: $pc !important;
				background-color: $pg;
			}

			&[aria-pressed='true'] {
				background-color: $wg;
				border-color: $sc !important;
				color: $sc !important;
			}
		}
	}
}
