.maxi-settingstab-control.maxi-transition-control__split-tabs {
	/* Scope unique styling only to TransitionControl split tabs */
	.maxi-tabs-control {
		&__button {
			border: 1.5px solid var(--mgl) !important;
			border-radius: 6px !important;
			background-color: var(--mw);
			color: var(--mb) !important;
			margin-right: 6px !important;
			padding: 8px 12px !important;
			transition: all 0.4s ease !important;

			&:last-child {
				margin-right: 0 !important;
			}

			&:hover {
				border-color: var(--mpc) !important;
				background-color: var(--mpg);
			}

			&[aria-pressed='true'] {
				background-color: var(--mwg);
				border-color: var(--msc) !important;
				color: var(--msc) !important;
			}
		}
	}
}
