.maxi-sidebar .maxi-buttonstyles-control .maxi-buttonstyles-selector-control .components-base-control__field {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.maxi-sidebar .maxi-buttonstyles-control .maxi-buttonstyles-selector-control .components-base-control__field .components-radio-control__option {
  height: 50px;
  border-right-width: 0;
  margin: 0;
}

.maxi-sidebar .maxi-buttonstyles-control .maxi-buttonstyles-selector-control .components-base-control__field .components-radio-control__option:last-of-type {
  border-right-width: 2px;
}

.maxi-buttonstyles-control .maxi-buttonstyles-selector-control input {
  display: none;
}

.maxi-buttonstyles-control .maxi-buttonstyles-selector-control label {
  display: block;
  text-align: center;
  line-height: 46px;
}

.maxi-buttonstyles-control .maxi-buttonstyles-selector-control input:checked ~ label {
  color: #fff;
  background-color: #00ccff;
}

.maxi-buttoneditor-wrapper {
  display: flex;
}

.maxi-buttoneditor-control { 
  width: auto;
  height: auto;
}

.maxi-button-item .accordion__panel > .components-panel__body {
  padding: 1px !important;
}

.maxi-button-item .maxi-border-item .accordion__panel .maxi-border-type .components-base-control__field select {
  height: 28px;
  line-height: 20px;
  font-size: 10pt;
  margin-left: auto;
  padding: 0;
}

.maxi-button-item .maxi-padding-margin-item .components-maxi-dimensions-control__units {
  width: auto !important;
}

.maxi-button-item
.maxi-padding-margin-item
.components-maxi-dimensions-control
.components-maxi-dimensions-control__header
button,
.maxi-button-item .maxi-border-item .components-maxi-dimensions-control .components-maxi-dimensions-control__header button {
  padding: 0;
}

// .maxi-button-item .maxi-accordion {
//   margin: 0 !important;
// }

.maxi-button-item .maxi-padding-margin-item .components-maxi-dimensions-control__mobile-controls button[role="tab"] svg,
.maxi-button-item .maxi-border-item .components-maxi-dimensions-control__mobile-controls button[role="tab"] svg {
  padding-top: 3px !important;
  max-height: 17px;
}

.maxi-button-item .maxi-padding-margin-item .components-maxi-dimensions-control__mobile-controls button[role="tab"],
.maxi-button-item .maxi-border-item .components-maxi-dimensions-control__mobile-controls button[role="tab"] {
  padding-top: 0px !important;
}
  
.maxi-button-item .maxi-padding-margin-item .components-maxi-dimensions-control__mobile-controls button[role="tab"]:focus,
.maxi-button-item .maxi-border-item .components-maxi-dimensions-control__mobile-controls button[role="tab"]:focus {
  box-shadow: none !important;
}

.maxi-button-item .maxi-border-item .components-maxi-dimensions-control__units button,
.maxi-button-item .maxi-padding-margin-item .components-maxi-dimensions-control__units button {
  padding: 0;
  font-size: 9pt !important;
}

// .maxi-button-item .accordion__panel .maxi-accordion-tab > .components-base-control__label::before {
//   display: none !important;
// }

.maxi-button-item .accordion__panel .maxi-accordion-tab > .components-base-control__label {
  background: #f2f2f2;
  border: 1px solid #e8eaeb;
  box-shadow: none !important;
}

// .maxi-button-item .maxi-style-tab-setting {
//   background: unset !important;
// }

.maxi-button-item .accordion__panel {
  border: none !important;
  padding-left: 15px;
  padding-right: 18px;
  padding-top: 40px !important;
}

.maxi-button-item .maxi-typography-item .maxi-alignmentcontrol-control .components-radio-control__option {
  height: 30px !important;
}

.maxi-button-item
.maxi-typography-item
.maxi-colorcontrol-control
.maxi-popover-control
.components-base-control__field
.components-dropdown:nth-of-type(2) {
  margin-left: 0 !important;
}

.maxi-button-item .maxi-opacity-control .components-range-control__slider {
  position: static;
  background: none;
  box-shadow: none;
  padding: 0px;
  display: block;
}

.maxi-button-item
.maxi-border-item
.accordion__panel
.maxi-colorcontrol-control
.maxi-popover-control
.components-base-control__field
.maxi-popover-dropdown {
  margin-left: auto;
}
  
.maxi-button-item .maxi-typography-item .maxi-colorcontrol-control {
  margin-top: 15px;
}
  
.maxi-button-item .maxi-typography-item .maxi-alignmentcontrol-control {
  margin-bottom: 15px;
}
  
.maxi-button-item .maxi-padding-margin-item .accordion__panel {
  padding-top: 40px !important;
}
  
.maxi-button-item .maxi-padding-margin-item .maxi-buttonstyles-selector-control {
  margin-bottom: 20px !important;
}
  
.maxi-button-item .maxi-accordion > div:first-child .maxi-accordion-tab .components-base-control__label::after {
  top: 7px !important;
}
  
.maxi-button-item
.maxi-typography-item
.maxi-colorcontrol-control
.components-base-control__field
div.maxi-popover-dropdown
button {
  position: absolute;
}
  
.maxi-button-item
.maxi-border-item
.accordion__panel
.maxi-colorcontrol-control
.maxi-popover-control
.components-base-control__field
span {
  line-height: 24px !important;
}
  
.maxi-button-item
.maxi-border-item
.accordion__panel
.maxi-colorcontrol-control
.maxi-popover-control
.components-base-control__field
.components-button[type="reset"] {
  height: 30px !important;
}
  
.maxi-button-item
.maxi-border-item
.accordion__panel
.maxi-colorcontrol-control
.maxi-popover-control
.components-base-control__field
svg {
  width: 16px;
  height: 16px;
}
  
.maxi-button-item .maxi-box-settings-item .maxi-popover-control .maxi-settings-button .components-base-control__field span {
  line-height: 23px;
}
  
.maxi-button-item > div .accordion__panel {
  padding-bottom: 0px !important;
}
  
.maxi-button-item .maxi-box-settings-item .maxi-opacity-control .components-range-control__number {
  height: 24px !important;
}
 
.maxi-button-item .maxi-typography-item {
  line-height: 25px;
}
  
.maxi-button-item
.maxi-typography-item
.maxi-colorcontrol-control
.maxi-popover-control
.maxi-settings-button > .components-base-control__field
.maxi-popover-dropdown:nth-of-type(1) {
  margin-left: auto;
}
  
.maxi-button-item
.maxi-typography-item
.maxi-colorcontrol-control
.maxi-popover-control
.components-base-control__field > *:not(span) {
  width: 30px !important;
  height: 30px !important;
}

.maxi-buttonsettings-control
.components-panel__body.components-base-control.editor-panel-color-settings.block-editor-panel-color-settings.is-opened.typography.maxi-typography-control{
  margin-top: 0 !important;
}

.maxi-buttonsettings-control
.components-panel__body.components-base-control.editor-panel-color-settings.block-editor-panel-color-settings.is-opened.typography.maxi-typography-control
.maxi-typography-color-display{
  position:relative;
  left: 0 !important;
  margin-right:8px !important;
}

.maxi-settings-button
.components-button.is-secondary > svg{
  width:18px !important;
  height:18px !important;
}

.maxi-buttonsettings-control
.components-panel__body.components-base-control.editor-panel-color-settings.block-editor-panel-color-settings.is-opened.typography.maxi-typography-control
button.components-button.is-secondary{
  margin-right: 0px !important;
}

.maxi-buttonsettings-control
.maxi-popover-control.maxi-boxshadow-control
.components-base-control.maxi-settings-button
.components-base-control__field{
  position: relative;
  margin-top: 7px !important;
}

.maxi-button-item
.maxi-box-settings-item
.components-base-control__field > .components-range-control__number{
  height: 30px !important;
  margin-right: -5px;
}

.maxi-buttonsettings-control
.components-base-control__field > 
.components-radio-control__option:last-child{
  position: relative;
  top: 0 !important;
}

@media all and(max-width:2000px){
	
	.maxi-buttonsettings-control
	.maxi-alignmentcontrol-control{
	  margin-top:5px !important;
	}

	.maxi-buttonsettings-control
	.maxi-colorcontrol-control
	.components-base-control__field >
	.components-button.is-secondary > svg{
	  width:18px !important;
	}

    .maxi-button-item .accordion__panel {
      padding-left: 12px !important;
    }

	.maxi-button-item
	.components-button:not(.components-maxi-dimensions-control__mobile-controls-item):not(.components-maxi-dimensions-control_sync),
	.maxi-button-item .maxi-typography-item .maxi-popover-control .components-base-control__field > *:not(span) > * {
	  width: 24px !important;
	  height: 24px !important;
	  min-width: unset !important;
	}
	
	.maxi-button-item
	.maxi-typography-item
	.maxi-colorcontrol-control
	.maxi-popover-control
	.components-base-control__field
	> *:not(span) {
	  width: 24px !important;
	  height: 24px !important;
	}
  
	.maxi-button-item
	.maxi-border-item
	.accordion__panel
	.maxi-colorcontrol-control
	.maxi-popover-control
	.components-base-control__field
	svg {
	  width: 12px;
	  height: 12px;
	}
  
	.maxi-button-item
	.maxi-border-item
	.accordion__panel
	.maxi-colorcontrol-control
	.maxi-popover-control
	.components-base-control__field
	.components-button[type="reset"] {
	  height: 24px !important;
	}

    .maxi-buttonsettings-control
    .maxi-popover-control.maxi-boxshadow-control
    .components-base-control.maxi-settings-button
    .components-base-control__field{
	  position: relative;
	  margin-top: 5px !important;
    }

    .maxi-button-item
	.maxi-box-settings-item
	.components-base-control.components-range-control.maxi-opacity-control
	.components-base-control__field > .components-range-control__number{
	  height: 26px !important;
	  margin-right: -5px;
	}
}