@import '../_variables.css';
/* Rest of the styles */

#maxi-copy-report-content {
	display: none;
}

/* Button container */
.maxi-dashboard_main-content-settings {
	gap: 10px;
	margin-bottom: 20px;
	justify-content: center;
	width: 100%;
	max-width: clamp(280px, 95%, 1000px);
}

/* Button styles */
.maxi-dashboard_main-content .maxi-dashboard_copy-report-button,
.maxi-dashboard_main-content #maxi-download-report {
	background: var(--maxi-admin-black) !important;
	color: var(--maxi-admin-white) !important;
	border: none !important;
	cursor: pointer !important;
	padding: 5px 50px !important;
	font-size: 19px !important;
	font-weight: 700 !important;
	border-radius: 26px !important;
	text-decoration: none !important;
	transition: background 0.1s ease, transform 0.3s ease !important;
	box-shadow: none !important;
	margin: 20px 5px 20px 5px;
}

.maxi-dashboard_main-content .maxi-dashboard_copy-report-button:hover,
.maxi-dashboard_main-content #maxi-download-report:hover {
	background: var(--maxi-admin-purple-hover) !important;
}

/* Success message */
#maxi-copy-success {
	margin-top: 10px;
	padding: 10px;
	background: var(--maxi-admin-green-light);
	border-left: 4px solid var(--maxi-admin-green);
	display: none;
}

.other-plugin .some-class #maxi-status-wrapper {
	background: var(--maxi-admin-white) !important;
	/* Another plugin or theme override */
}

/* Updated styles for #maxi-status-wrapper */
#maxi-status-wrapper {
	background-color: var(--maxi-admin-light-grey);
	padding-top: clamp(1vw, 8vw, 3vw) !important;
	padding-bottom: clamp(1vw, 8vw, 4vw) !important;
	display: flex;
	justify-content: center;
	width: 100%;
}

/* Center the main content container and add spacing */
.maxi-dashboard_main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 10px 0;
}

.maxi-dashboard_main-content.maxi-dashboard_main-content-starter-sites {
	padding: 0;
}

/* Style the main heading */
.maxi-dashboard_main-content h1 {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 16px;
}

/* Style the description text */
.maxi-dashboard_main-content p {
	font-size: 16px;
	color: #666;
	margin-bottom: 40px;
}

/* Status wrapper styles */
#maxi-status-wrapper {
	background-color: var(--maxi-admin-light-grey);
	padding: 40px 20px;
	display: flex;
	justify-content: center;
	width: 100%;
}
