.maxi-number-counter {
	position: relative;

	&__replay {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		background: #232533;
		z-index: 2;
		border-radius: 3px;
	}
	&__box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100px;
		z-index: 1;

		&__background,
		&__circle {
			transform: rotate(-90deg);
			transform-origin: center;
		}
		&__text {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
