.toolbar-item-move__vertically {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-right: 2px !important;

	.components-button {
		width: 22px;
		padding: 0;
		height: 8px;
		display: inline-block;
		svg {
			width: 15px !important;
			height: 8px !important;
			path {
				transition: 0.3s;
			}
		}
		&:hover {
			path {
				fill: var(--maxi-secondary-color) !important;
				stroke: var(--maxi-secondary-color) !important;
			}
		}
	}
}
