.toolbar-item-move__vertically {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.components-button {
		width: 100%;
		padding: 0;
		height: 16px;
		display: flex;
		transition: 0.3s;
		border-radius: 0;

		svg {
			width: 15px !important;
			height: 8px !important;
		}

		&:hover {
			background-color: #eaf2f6 !important;
			border-color: var(--msc) !important;

			path {
				fill: var(--msc) !important;
			}
		}
	}

	.components-button:nth-child(1) {
		border-top: 2px solid transparent;

		svg {
			margin-top: auto !important;
			margin-bottom: 0 !important;
			path {
				transition: 0.3s;
			}
		}
	}

	.components-button:nth-child(2) {
		border-bottom: 2px solid transparent;

		svg {
			margin-bottom: auto !important;
			margin-top: 0 !important;
		}
	}
}
.toolbar-item-move__horizontally {
	transition: var(--maxi-trans-std);

	.components-button {
		border-radius: 0;
		height: 32px;
	}

	.components-button:nth-child(1) {
		border-left: 2px solid transparent;

		&:hover {
			background-color: #eaf2f6 !important;
			border-color: var(--msc);
		}
	}
	.components-button:nth-child(2) {
		border-right: 2px solid transparent;
		z-index: 1;

		&:hover {
			background-color: #eaf2f6 !important;
			border-color: var(--msc);
		}
	}
}
