.hover-animation-text.hover-animation-type-text-slide-down.hover-animation-duration-shorter .maxi-block-text-hover{
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-slide-down.hover-animation-duration-short .maxi-block-text-hover{
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-slide-down.hover-animation-duration-normal .maxi-block-text-hover{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-slide-down.hover-animation-duration-long .maxi-block-text-hover{
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-slide-down.hover-animation-duration-longer .maxi-block-text-hover{
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-slide-down,
.hover-animation-text .maxi-text-block-wrap{
    position: relative;
}

.hover-animation-text.hover-animation-type-text-slide-down .hover_el{
    position: relative;
    transform: translate(0,0);
    overflow: hidden;
}

.hover-animation-text.hover-animation-type-text-slide-down .maxi-block-text-hover .maxi-block-text-hover__title{
    margin: 0 0 10px !important;
}

.hover-animation-text.hover-animation-type-text-slide-down .maxi-block-text-hover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0,-100%);
    overflow-y: scroll;
    z-index: 99;
}


.hover-animation-text.hover-animation-type-text-slide-down:hover .maxi-block-text-hover{
    transform: translate(0,0);
}



.hover-animation-text.hover-animation-type-text-slide-down .maxi-block-text-hover::-webkit-scrollbar {
    width: 5px;
}

/* Track */

.hover-animation-text.hover-animation-type-text-slide-down .maxi-block-text-hover::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

.hover-animation-text.hover-animation-type-text-slide-down .maxi-block-text-hover::-webkit-scrollbar-thumb {
    background: #dadada;
}

/* Handle on hover */

.hover-animation-text.hover-animation-type-text-slide-down .maxi-block-text-hover::-webkit-scrollbar-thumb:hover {
    background: #000;
}