.maxi-toolbar__popover {
	z-index: 29;
	&--has-breadcrumb {
		.components-popover__content {
			.toolbar-wrapper {
				top: -35px !important;
				.toolbar-block-custom-label {
					top: -25px !important;
				}
			}
		}
	}
	.components-popover__content {
		background-color: transparent;
		border: none;
		overflow: visible;
		box-shadow: none;
		.toolbar-wrapper {
			display: flex;
			width: min-content;
			position: relative;
			top: -10px;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
			border-radius: 5px;

			& > div:not(.toolbar-block-custom-label):first-child {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				padding-left: 2px;
			}
			.toolbar-block-custom-label {
				font-size: 13px;
				font-weight: bold;
				background: #232533;
				color: #fff;
				width: auto;
				display: inline-block;
				padding: 0 0.5rem;
				border-radius: 5px;
				position: absolute;
				top: -25px;
				left: 0;

				& + .toolbar-item {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					padding-left: 2px;
				}
				&__block-style {
					text-transform: capitalize;
				}
			}
			@at-root .rtl #{&} {
				flex-direction: row-reverse;
			}
			button:focus {
				outline: none;
				box-shadow: none;
			}
			> div:not(.toolbar-block-custom-label),
			> button {
				width: 2rem;
				height: 2rem;
				background-color: #232533;
				padding: 0;
				cursor: pointer;
				border-radius: 0;
				position: relative;
				padding-right: 2px;
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					width: 2px;
					height: 70%;
					background-color: #616161;
					transform: translateY(-50%);
					padding-left: 2px;
				}
				&:last-child {
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					&:after {
						content: none;
					}
				}
			}
			.toolbar-item {
				display: flex;
				align-items: center;
				justify-content: center;

				&__link {
					&--active {
						.toolbar-item__icon {
							path {
								stroke: #ff4a17;
							}
						}
					}
				}
				&__text-options,
				&__border {
					.toolbar-item__icon {
						display: flex;
						justify-content: center;
						align-items: center;
						svg {
							width: 10px;
							height: auto;
						}
					}
				}
				&__button {
					display: block;
					width: 100%;
					height: 100%;
					padding: 0;
				}
				&__icon {
					display: block;
					width: 1rem;
					height: 1rem;
					margin: auto;
					fill: #fff;
				}
				&__move {
					cursor: move;
				}
			}
		}
	}
}

body .toolbar-item__popover {
	.components-maxi-control__reset-button {
		border: 2px solid #80828a;
		svg {
			fill: #fff !important;
		}
	}

	button.components-range-control__reset,
	button.components-circular-option-picker__clear {
		&:before {
			content: url('../../../img/maxi-reset-white.svg') !important;
		}
	}

	&__toggle-btn {
		.maxi-base-control__field {
			justify-content: space-between;
			border-radius: 5px;
			.maxi-base-control__label {
				flex: 3 !important;
			}
		}
		.maxi-radio-control__option {
			opacity: 1 !important;
			min-width: 40px;
			height: 30px;
			background-color: rgba(33, 141, 250, 0);
			font-size: 13px;
			line-height: 13px;
			color: #fff;
			font-weight: 500;
			flex: 1;
			border-bottom: none;
			border-right: 0;
			&:first-of-type {
				input {
					& ~ label {
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						@at-root .rtl #{&} {
							border-top-left-radius: 0;
							border-bottom-left-radius: 0;
							border-top-right-radius: 5px;
							border-bottom-right-radius: 5px;
						}
					}
				}
			}
			&:last-of-type {
				input {
					& ~ label {
						border-top-right-radius: 5px;
						border-bottom-right-radius: 5px;
						@at-root .rtl #{&} {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
							border-top-left-radius: 5px;
							border-bottom-left-radius: 5px;
						}
					}
				}
			}
			input {
				display: none;
				&:checked ~ label {
					background-color: #4f515c;
					position: relative;
					z-index: 1;
					border: 2px solid #dddfe1;
					border-bottom: 2px solid #ff4a17;
				}
			}
			label {
				display: block;
				height: 100%;
				text-align: center;
				line-height: 26px;
				border: 2px solid #5b5d68;
			}
		}
	}

	&:before,
	&:after {
		border-color: #232533 !important;
		border-left-color: transparent !important;
		border-right-color: transparent !important;
		z-index: -1;
	}
	.maxi-base-control,
	.components-base-control {
		&__field {
			color: #fff;
			margin-bottom: 0;
			.components-range-control__slider {
				& + span {
					background: #80828a !important;
				}
			}
			.components-range-control__track {
				& + span {
					span {
						background-color: #fff !important;
						&:before {
							border-color: #fff !important;
						}
					}
				}
			}
			.components-range-control__tooltip {
				border: 2px solid #80828a;
				background-color: #232433;
				color: #fff;
				&:after {
					border-top-color: #fff;
				}
			}
			.components-range-control__number {
				background-color: transparent;
				color: #fff;
				border-color: #80828a !important;
			}
			.maxi-select-control__input {
				background-color: transparent !important;
				color: #fff !important;
				border: 2px solid #80828a !important;
				option {
					color: #000 !important;
				}
			}
			.components-button {
				&.is-secondary {
					background-color: transparent;
					border-color: #80828a !important;
					&:hover {
						background-color: transparent !important;
					}
					svg {
						fill: #fff !important;
					}
				}
			}
		}
		&__label {
			color: #fff;
		}
	}

	.components-popover__content {
		background-color: #232433;
		border-radius: 5px;
		border: none;
		min-width: auto;
		padding: 15px;
		overflow: visible;
		.maxi-color-control {
			margin-bottom: 10px;
			color: #fff;
			.components-custom-gradient-picker {
				.components-base-control__field {
					margin-bottom: 10px;
				}
				.components-angle-picker-control {
					&__angle-circle-indicator,
					&__angle-circle {
						border-color: #808189;
					}
				}
				&__toolbar {
					background: none;
					button.components-toolbar__control {
						border-color: #808189;
						&.is-pressed,
						&:hover {
							background-color: #4f515b !important;
							border-color: #808189 !important;
							& > svg {
								background: none;
							}
						}
					}
				}
			}
			&__items {
				color: #fff;
				.maxi-radio-control__option {
					border-color: #80828a;
					background-color: #242433;
				}
				input {
					&:checked ~ label {
						background-color: #4f515c;
					}
				}
				svg {
					fill: #fff !important;
					path {
						stroke: #fff;
					}
				}
			}
			&__display {
				color: #fff;
			}
		}
		& > .components-base-control {
			&:nth-last-child(1) {
				margin-bottom: 0 !important;
			}
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	input[type='number'] {
		color: #fff;
		border-color: #80828a;
		&::placeholder {
			color: #fff;
		}
	}

	.maxi-default-styles-control__button {
		background: #232533;
		border: 1px solid #5b5d68;
		&--active {
			border: 2px solid #fff;
			background-color: #4f515c;
		}
		&:focus {
			outline: none;
			box-shadow: none;
		}
		svg {
			fill: #fff;
		}
		&:not(:first-of-type) {
			svg path {
				stroke: #fff;
			}
		}
	}

	.maxi-dimensions-control {
		color: #fff;
		&_sync {
			border-color: #80828a !important;
			background-color: transparent !important;
			width: 36px !important;
			&:hover {
				background-color: transparent !important;
			}
			&[aria-pressed='true'] {
				border-color: #fff;
				svg {
					fill: #fff;
				}
			}
		}
		&__mobile-controls-item {
			height: 36px;
			border-color: #80828a !important;
			svg {
				fill: currentColor;
				color: #fff;
			}
		}
		&__number {
			background-color: transparent;
			border-color: #80828a !important;
			color: #fff;
		}
	}

	&__advanced-button {
		position: absolute;
		top: 0 !important;
		left: 100% !important;
		transform: translate(0, -100%);
		background-color: #ff4a17;
		border-radius: 50%;
		min-width: 32px !important;
		padding: 0 !important;
		height: 32px;
		svg {
			fill: #fff;
			width: 20px;
		}
	}

	&__dropdown-options {
		display: flex;
		&__button {
			display: block;
			background: #fff;
			width: 100%;
			margin: 0 4px;
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
			&:hover {
				color: inherit;
			}
		}
	}

	.maxi-tabs-control {
		width: 100%;
		&__button {
			background: transparent;
			color: #fff;
			border: 2px solid #5b5d68;
			border-right: none;
			padding-top: 5px;
			padding-bottom: 5px;
			&:last-of-type {
				border: 2px solid #5b5d68;
			}
			&[aria-pressed='true'] {
				background: #4c4e59;
				border: 3px solid #dddfe1;
				border-bottom: 3px solid #ff4a17;
			}
		}
	}

	.maxi-tabs-content {
		width: 100%;
		.components-base-control__field {
			display: flex;
		}
		.components-base-control__label {
			flex-basis: 100%;
		}
		input[type='number'] {
			width: 3.5rem;
		}
	}
}

body.rtl .toolbar-item__popover {
	.maxi-radio-control__option {
		&:first-of-type {
			input {
				& ~ label {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
		}
		&:last-of-type {
			input {
				& ~ label {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
			}
		}
	}
}
