.maxi-toolbar__popover {
    .components-popover__content {
        background-color: transparent;
        border: none;
        overflow: visible;
        box-shadow: none;

        .toolbar-wrapper {
            display: flex;
            width: min-content;
            margin: 0 auto 0.5rem;
            position: relative;
            box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
            border-radius: 5px;

            &:after {
                content: "";
                border-left: 0.5rem solid transparent;
                border-right: 0.5rem solid transparent;
                border-top: 0.5rem solid #232533;
                position: absolute;
                bottom: -0.5rem;
                left: 50%;
                transform: translateX(-50%);
            }

            button:focus {
                outline: none;
                box-shadow: none;
            }

            .toolbar-item {
                width: 2rem;
                height: 2rem;
                background-color: #232533;
                padding: 0;
                cursor: pointer;
                border-radius: 0;
                position: relative;
                padding-right: 2px;

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 2px;
                    height: 70%;
                    background-color: #616161;
                    transform: translateY(-50%);
                    padding-left: 2px;
                }

                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    &:after {
                        content: none;
                    }
                }

                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    padding-left: 2px;
                }

                &__dropdown {
                    > button {
                        display: block;
                        width: 100%;
                        height: 100%;
                        padding: 0;
                    }
                }

                &__icon {
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    margin: auto;
                }

                &__move {
                    cursor: move;
                }
            }
        }
    }
}

.toolbar-item__popover {
    &:before,
    &:after {
        border-color: #232533 !important;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
    }

    .components-base-control {
        &__field {
            color: #fff;

            .components-range-control__slider {
                & + span {
                    background: #80828a !important;
                }
            }
            .components-range-control__track {
                & + span {
                    span {
                        background-color: #fff !important;

                        &:before {
                            border-color: #fff !important;
                        }
                    }
                }
            }
            .components-range-control__tooltip {
                border: 2px solid #80828a;
                background-color: #232433;
                color: #fff;

                &:after {
                    border-top-color: #fff;
                }
            }

            .components-range-control__number {
                background-color: transparent;
                color: #fff;
                border-color: #80828a !important;
            }

            .components-select-control__input {
                background-color: transparent !important;
                color: #fff !important;
                border: 2px solid #80828a !important;
            }

            .components-button {
                &.is-secondary {
                    background-color: transparent;
                    border-color: #80828a !important;

                    &:hover {
                        background-color: transparent !important;
                    }
                    svg {
                        fill: #fff !important;
                    }
                }
            }
        }

        &__label {
            color: #fff;
        }
    }

    .components-popover__content {
        background-color: #232433;
        border-radius: 5px;
        border: none;
        min-width: 300px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    input[type="number"] {
        color: #fff;
        border-color: #80828a;
    }

    .maxi-defaultstyles-control__button {
        background: #545660;
        border: 1px solid #fff;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        svg {
            fill: #fff;
        }

        &:not(:first-of-type) {
            svg path {
                stroke: #fff;
            }
        }
    }

    .components-maxi-dimensions-control {
        color: #fff;

        &_sync {
            border-color: #80828a !important;
            background-color: transparent !important;
            width: 36px !important;

            &:hover {
                background-color: transparent !important;
            }
            &[aria-pressed="true"] {
                border-color: #fff;
                
                svg {
                    fill: #fff;
                }
            }
        }
        &__mobile-controls-item {
            height: 36px;
            border-color: #80828a !important;

            svg {
                fill: currentColor;
                color: #fff;
            }
        }

        &__units-reset {
            background-color: none;
            border-color: #80828a !important;
    
            &:hover {
                background-color: transparent !important;
                border-color: #80828a !important;
            }
            svg {
                fill: #fff !important;
            }
        }

        &__number {
            background-color: transparent;
            border-color: #80828a !important;
            color: #fff;
        }
    }
}
