.maxi-info-helper-popover {
	.components-popover__content {
		width: 220px;
		padding: 0px 16px;
		transform: translateY(0%) !important;
	}
}
.maxi-info {
	display: flex;

	.maxi-base-control {
		flex: 1;
	}
	&__help-trigger {
		position: relative;
		display: flex;
		width: 100%;
	}
	&__help-icon {
		display: flex;
		column-gap: 10px;
		align-items: center;

		.maxi-info__help-icon-span {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 10px;
			width: 20px;
			height: 20px;
			min-width: 20px;
			font-size: 12px !important;
			border-radius: 50%;
			border: 1px solid var(--mgl);
			padding-top: 2px;
			padding-right: 1px;

			&:hover {
				border-color: var(--mg);
			}
		}
	}

	.maxi-base-control__field {
		.maxi-text-control__input {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			min-height: unset;
			max-height: unset !important;
			border: 1px solid var(--mgl);
			color: var(--mg);
			font-size: 12px;
			line-height: 14px;
			width: 100%;
			min-width: 50px;
			max-width: 25rem;
		}
		span:not(.maxi-info__help-icon-span) {
			margin: 0 !important;
		}
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-info__help-icon-span {
		margin-left: 10px;
		margin-right: 0px;
	}
	.maxi-info-helper-popover {
		margin-top: 12px;

		.components-popover__content {
			p {
				display: flex;
				column-gap: 5px;

				b {
					display: flex;
					white-space: pre;
				}
			}
		}
	}
}
