.maxi-typography-control {
	.maxi-typography-control__link-options {
		.maxi-tabs-control__button {
			&--selected {
				font-weight: 700;
			}
		}
	}
}

.maxi-base-control .components-maxi-control__font-reset-button {
	margin-top: -8px;
}

.maxi-base-control .components-maxi-control__reset-button {
	padding: 11px;
}
