.hover-animation-basic.hover-animation-type-slide.animate_image{
    overflow: hidden;
}

.hover-animation-basic.hover-animation-type-slide.hover-animation-duration-shorter .hover_el{
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.hover-animation-basic.hover-animation-type-slide.hover-animation-duration-short .hover_el{
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.hover-animation-basic.hover-animation-type-slide.hover-animation-duration-normal .hover_el{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-animation-basic.hover-animation-type-slide.hover-animation-duration-long .hover_el{
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hover-animation-basic.hover-animation-type-slide.hover-animation-duration-longer .hover_el{
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}



.hover-animation-basic.hover-animation-type-slide:hover .hover_el{
    -webkit-transform:  translate(-30px, 0px);
    transform:  translate(-30px, 0px);
}

.hover-animation-basic.hover-animation-type-slide.animate_image .hover_el{
    -webkit-transform: scale(1.15) translate(30px, 0px);
    transform: scale(1.15) translate(30px, 0px);
}

.hover-animation-basic.hover-animation-type-slide.animate_image:hover .hover_el{
    -webkit-transform: scale(1.15) translate(0, 0px);
    transform: scale(1.15) translate(0, 0px);
}

