
.hover-animation-basic.hover-animation-type-shine.hover-animation-duration-shorter:hover .hover_el:before{
    -webkit-animation: shine .45s;
    animation: shine .45s;
}
.hover-animation-basic.hover-animation-type-shine.hover-animation-duration-short:hover .hover_el:before{
    -webkit-animation: shine .6s;
    animation: shine .6s;
}

.hover-animation-basic.hover-animation-type-shine.hover-animation-duration-normal:hover .hover_el:before{
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

.hover-animation-basic.hover-animation-type-shine.hover-animation-duration-long:hover .hover_el:before{
    -webkit-animation: shine .9s;
    animation: shine .9s;
}

.hover-animation-basic.hover-animation-type-shine.hover-animation-duration-longer:hover .hover_el:before{
    -webkit-animation: shine 1.05s;
    animation: shine 1.05s;
}



.hover-animation-basic.hover-animation-type-shine .hover_el{
    position: relative;
    overflow: hidden;
}
.hover-animation-basic.hover-animation-type-shine .hover_el:before{
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 99;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}



@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

