@import '../../../../src/css/backend-variables.scss';
.maxi-repeater-info-box {
	background: var(--maxi-tertiary-color);
	color: $w !important;

	a {
		&,
		&:hover {
			color: $w !important;
		}
	}
}
