.maxi-hover-effect-control {
	.maxi-tabs-control {
		margin-bottom: 0 !important;
		&__button {
			&:last-child {
				border-right: 1px solid var(--maxi-grey-1-color);
			}
			&:first-child {
				border-left: 1px solid var(--maxi-grey-1-color);
			}
		}
	}
}
