@import '../../../src/css/backend-variables.scss';
.maxi-svg-icon-block {
	&__placeholder {
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 120px;
		color: $gd;
		background-color: $wg;
		font-size: 13px;
		border: 1px solid $pc;
		border-radius: 10px;
		box-shadow: none !important;

		.maxi-block-library__modal-button {
			overflow: hidden;
			color: $w;
			background: $pc;
			font-family: Inter, sans-serif;
			font-size: 12px;
			font-weight: 800;
			padding: 22px 22px 22px 10px;
			border: $bl;
			transition: all 0.1s;
			border-radius: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: $t;

			svg {
				width: 36px;
				height: 36px;
				padding: 8px;

				path {
					fill: $w;
				}
			}

			&:hover {
				background: $w !important;
				color: var(--maxi-cloud-primary-contrast) !important;
				border-color: $pc;

				path {
					fill: $pgr !important;
				}
			}
		}

		&--small {
			.maxi-block-library__modal-button {
				padding: 0;
				transition: none;

				svg {
					margin: auto;
					border-right: none;
				}
			}
		}

		&--smaller {
			.maxi-block-library__modal-button {
				height: 30px;
				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	&__replace-icon {
		width: 30px;
		height: 30px;
		background: $w;
		box-shadow: -3px 3px 6px 0px rgb(0 0 0 / 16%) !important;
		visibility: visible;
		transition: $t;

		svg {
			fill: $sc;
			width: 15px;
			height: 15px;
		}

		&:hover {
			background-color: $pg !important;
			transition: $t;
			svg {
				fill: $pc;
			}
		}
	}

	.maxi-svg-icon-block__icon {
		max-height: 100%;
		svg {
			width: 100% !important;
			max-height: 100%;
		}
	}

	.maxi-library-modal__action-section {
		margin-right: 0;
	}
}
