.maxi-svg-icon-block {
	&__placeholder {
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 120px;
		color: var(--maxi-grey-dark);
		background-color: var(--maxi-whisper-green);
		font-size: 13px;
		border: 1px solid var(--maxi-grey-light);
		border-radius: 3px;
		box-shadow: none !important;

		.maxi-block-library__modal-button {
			padding: 0 10px 0 0;
			overflow: hidden;
			color: var(--maxi-white);
			background: var(--maxi-secondary-color);
			font-family: Inter, sans-serif;
			font-size: 12px;
			font-weight: 500;
			border: 1px solid var(--maxi-grey-light);
			transition: all 0.1s;

			svg {
				width: 36px;
				height: 36px;
				padding: 8px;
				margin-right: 10px;
				background-color: var(--maxi-white);
				border-right: 1px solid var(--maxi-grey-light);
				transition: all 0.1s;
				path {
					fill: var(--maxi-secondary-color);
				}
			}

			&:hover {
				background: var(--maxi-white) !important;
				color: var(--maxi-secondary-color) !important;
				border-color: var(--maxi-secondary-color);
				svg {
					border-color: var(--maxi-secondary-color);
					transform: scale(1.1);
				}
			}
		}

		&--small {
			.maxi-block-library__modal-button {
				padding: 0;
				transition: none;

				svg {
					margin: auto;
					border-right: none;
				}
			}
		}
		&--smaller {
			.maxi-block-library__modal-button {
				height: 30px;
				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	&__replace-icon {
		width: 30px;
		height: 30px;
		background: var(--maxi-white);
		box-shadow: -3px 3px 6px 0px rgb(0 0 0 / 16%) !important;
		visibility: visible;
		transition: 0.3s;

		svg {
			fill: var(--maxi-secondary-color);
			width: 15px;
			height: 15px;
		}
		&:hover {
			svg {
				fill: var(--maxi-primary-color);
			}
		}
	}
	.maxi-svg-icon-block__icon {
		max-height: 100%;
		svg {
			width: 100% !important;
			max-height: 100%;
		}
	}
	.maxi-library-modal__action-section {
		margin-right: 0;
	}
}
