.maxi-svg-icon-block {
	&__placeholder {
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none !important;
		border: 1px dashed #b4bbc1;
		border-radius: 3px;
		color: #464a53;
		width: 100%;
		min-height: 100px;
		background-color: #edeff0;
		font-size: 13px;

		.maxi-block-library__modal-button {
			background: #232533;
			color: #fff;
			transition: all 0.5s;

			&:hover {
				background: #232533;
				opacity: 0.8;
			}
		}
	}
	&__replace-icon {
		width: 40px;
		height: 40px;
		opacity: 1;
		visibility: visible;
		background: #232533;

		svg {
			fill: #fff;
			width: 20px;
			height: 20px;
		}
	}

	.maxi-svg-icon-block__icon {
		svg {
			width: 100% !important;
		}
	}
	.maxi-library-modal__action-section {
		margin-right: 0;
	}
}
