.maxi-svg-icon-block {
	&__placeholder {
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 120px;
		color: var(--mdg);
		background-color: var(--mwg);
		font-size: 13px;
		border: 1px solid var(--mpc);
		border-radius: 10px;
		box-shadow: none !important;

		.maxi-block-library__modal-button {
			overflow: hidden;
			color: var(--mw);
			background: var(--mpc);
			font-family: Inter, sans-serif;
			font-size: 12px;
			font-weight: 800;
			padding: 22px 22px 22px 10px;
			border: 1px solid var(--mgl);
			transition: all 0.1s;
			border-radius: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.4s ease;

			svg {
				width: 36px;
				height: 36px;
				padding: 8px;

				path {
					fill: var(--mw);
				}
			}

			&:hover {
				background: var(--mw) !important;
				color: var(--mcp-c) !important;
				border-color: var(--mpc);

				path {
					fill: var(--maxi-primary-green) !important;
				}
			}
		}

		&--small {
			.maxi-block-library__modal-button {
				padding: 0;
				transition: none;

				svg {
					margin: auto;
					border-right: none;
				}
			}
		}

		&--smaller {
			.maxi-block-library__modal-button {
				height: 30px;
				svg {
					width: 30px;
					height: 30px;
				}
			}
		}
	}

	&__replace-icon {
		width: 30px;
		height: 30px;
		background: var(--mw);
		box-shadow: -3px 3px 6px 0px rgb(0 0 0 / 16%) !important;
		visibility: visible;
		transition: all 0.4s ease;

		svg {
			fill: var(--msc);
			width: 15px;
			height: 15px;
		}

		&:hover {
			background-color: var(--mpg) !important;
			transition: all 0.4s ease;
			svg {
				fill: var(--mpc);
			}
		}
	}

	.maxi-svg-icon-block__icon {
		max-height: 100%;
		svg {
			width: 100% !important;
			max-height: 100%;
		}
	}

	.maxi-library-modal__action-section {
		margin-right: 0;
	}
}
