body.maxi-blocks--active .maxi-svg-icon-block {
	display: flex;
	flex-direction: column;

	&[data-align='full'] {
		width: 100% !important;
		max-width: 100% !important;
	}

	.maxi-svg-icon-block__icon {
		display: flex;
		width: 100%;
		height: 100%;

		svg {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			margin: auto;
			z-index: 20;
		}
	}

	.maxi-background-displayer {
		z-index: 10;
	}
}
