body.maxi-blocks--active .maxi-svg-icon-block {
	display: flex;
	flex-direction: column;

	&[data-align='full'] {
		width: 100% !important;
		max-width: 100% !important;
	}
	svg {
		z-index: 20;
		position: relative;
	}
	.maxi-background-displayer {
		z-index: 10;
	}
}
