.maxi-css-code-editor {
	.w-tc-editor {
		margin: 8px 8px 0 0;
		width: 100%;
		background-color: var(--maxi-white);
		border: 1px solid var(--maxi-grey-light);
		font-family: monospace !important;
		flex: 1 0 100%;
		direction: ltr;

		textarea {
			background-color: var(--maxi-white);
			font-family: monospace !important;
		}
	}
	code {
		padding: 0;
		background-color: var(--maxi-white);
		font-family: monospace !important;
		span {
			background-color: var(--maxi-white);
			font-family: monospace !important;
		}
	}

	&__error {
		margin-top: 8px;
		padding-left: 10px;
		padding-right: 5px;
		font-style: italic;
		&.not-valid {
			border-left: 2px solid var(--maxi-primary-color);
		}
		&.valid {
			border-left: 2px solid var(--maxi-tertiary-color);
		}
	}

	.maxi-base-control__field {
		flex-direction: row;
		flex-wrap: wrap;

		.maxi-css-code-editor__validate-button {
			margin-left: 10px;
			float: right;
		}

		.components-button {
			height: 24px;
			background-color: var(--maxi-grey);
			border: 1px solid var(--maxi-grey-light);
			border-radius: 0;
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-css-code-editor__validate-button {
		margin-right: 10px;
		margin-left: 0px !important;
	}
}
