body.maxi-blocks--active .maxi-css-code-editor {
	.w-tc-editor {
		margin: var(--maxi-space-8px) var(--maxi-space-8px)
			var(--maxi-space-0px) var(--maxi-space-0px);
		width: var(--maxi-layout-full-width);
		background-color: var(--maxi-white);
		border: var(--maxi-border-1px) solid var(--maxi-grey-light);
		border-radius: var(--maxi-space-10px);
		font-family: var(--maxi-font-monospace) !important;
		flex: 1 0 var(--maxi-layout-full-width);
		direction: var(--maxi-direction-ltr);
		border-radius: var(--maxi-space-10px);
		transition: all var(--maxi-transition-300ms) ease;

		textarea.w-tc-editor-text {
			background-color: var(--maxi-white);
			font-family: var(--maxi-font-monospace) !important;
			font-size: var(--maxi-space-13px) !important;
			&:hover:not(#inspector-select-control-0):not([id^='inspector-input-control']):not([id^='url-input-control']) {
				border: var(--maxi-reset-border-none) !important;
			}
		}
		&:hover {
			border: var(--maxi-border-1px) solid var(--maxi-primary-color) !important;
		}
	}
	button.components-button[class*='maxi-advanced-css-control']:hover,
	button.components-button[class*='maxi-css-code-editor']:hover {
		color: inherit !important;
	}
	code {
		padding: var(--maxi-space-0px);
		background-color: var(--maxi-white);
		font-family: var(--maxi-font-monospace) !important;
		span {
			background-color: var(--maxi-white);
			font-family: var(--maxi-font-monospace) !important;
		}
	}

	&__error {
		margin-top: var(--maxi-space-8px);
		padding-left: var(--maxi-space-10px);
		padding-right: var(--maxi-space-5px);
		font-style: var(--maxi-font-style-italic);
		&.not-valid {
			border-left: var(--maxi-border-2px) solid var(--maxi-orange-red);
		}
		&.valid {
			border-left: var(--maxi-border-2px) solid var(--maxi-primary-color);
		}
	}

	.maxi-base-control__field {
		flex-direction: var(--maxi-layout-flex-row);
		flex-wrap: wrap;

		.maxi-css-code-editor__validate-button {
			margin-left: var(--maxi-space-10px);
			float: var(--maxi-float-right);
		}

		.components-button {
			height: var(--maxi-space-24px);
			background-color: var(--maxi-pastel-green);
			border: var(--maxi-border-1px) solid var(--maxi-mid-green);
			border-radius: var(--maxi-radius-30px);

			&:hover {
				background-color: var(--maxi-mid-green) !important;
				color: var(--maxi-white) !important;
				border-color: var(--maxi-primary-color) !important;
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-css-code-editor__validate-button {
		margin-right: var(--maxi-space-10px);
		margin-left: var(--maxi-space-0px) !important;
	}
}
