body.maxi-blocks--active .maxi-css-code-editor {
	&__textarea {
		margin: 8px 8px 0 0;
		width: 100%;
		min-height: 160px;
		background-color: var(--maxi-white);
		border: 1px solid var(--maxi-grey-light);
		border-radius: 10px;
		font-family: monospace !important;
		font-size: 13px !important;
		flex: 1 0 100%;
		direction: ltr;
		padding: 8px 10px;
		transition: all 0.3s ease;
		resize: vertical;

		&:hover {
			border: 1px solid var(--maxi-primary-color) !important;
		}
	}
	button.components-button[class*='maxi-advanced-css-control']:hover,
	button.components-button[class*='maxi-css-code-editor']:hover {
		color: inherit !important;
	}
	code {
		padding: 0;
		background-color: var(--maxi-white);
		font-family: monospace !important;
		span {
			background-color: var(--maxi-white);
			font-family: monospace !important;
		}
	}

	&__error {
		margin-top: 8px;
		padding-left: 10px;
		padding-right: 5px;
		font-style: italic;
		&.not-valid {
			border-left: 2px solid var(--maxi-orange-red);
		}
		&.valid {
			border-left: 2px solid var(--maxi-primary-color);
		}
	}

	.maxi-base-control__field {
		flex-direction: row;
		flex-wrap: wrap;

		.maxi-css-code-editor__validate-button {
			margin-left: 10px;
			float: right;
		}

		.components-button {
			height: 24px;
			background-color: var(--maxi-pastel-green);
			border: 1px solid var(--maxi-mid-green);
			border-radius: 30px;

			&:hover {
				background-color: var(--maxi-mid-green) !important;
				color: var(--maxi-white) !important;
				border-color: var(--maxi-primary-color) !important;
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-css-code-editor__validate-button {
		margin-right: 10px;
		margin-left: 0px !important;
	}
}
