@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-css-code-editor {
	.w-tc-editor {
		margin: 8px 8px 0 0;
		width: 100%;
		background-color: $w;
		border: $bl;
		border-radius: 10px;
		font-family: monospace !important;
		flex: 1 0 100%;
		direction: ltr;
		border-radius: 10px;
		transition: $t;

		textarea.w-tc-editor-text {
			background-color: $w;
			font-family: monospace !important;
			font-size: 13px !important;
			&:hover:not(#inspector-select-control-0):not([id^='inspector-input-control']):not([id^='url-input-control']) {
				border: none !important;
			}
		}
		&:hover {
			border: 1px solid $pc !important;
		}
	}
	button.components-button[class*='maxi-advanced-css-control']:hover,
	button.components-button[class*='maxi-css-code-editor']:hover {
		color: inherit !important;
	}
	code {
		padding: 0;
		background-color: $w;
		font-family: monospace !important;
		span {
			background-color: $w;
			font-family: monospace !important;
		}
	}

	&__error {
		margin-top: 8px;
		padding-left: 10px;
		padding-right: 5px;
		font-style: italic;
		&.not-valid {
			border-left: 2px solid var(--maxi-orange-red);
		}
		&.valid {
			border-left: 2px solid $pc;
		}
	}

	.maxi-base-control__field {
		flex-direction: row;
		flex-wrap: wrap;

		.maxi-css-code-editor__validate-button {
			margin-left: 10px;
			float: right;
		}

		.components-button {
			height: 24px;
			background-color: $pg;
			border: 1px solid $mg;
			border-radius: 30px;

			&:hover {
				background-color: $mg !important;
				color: $w !important;
				border-color: $pc !important;
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-css-code-editor__validate-button {
		margin-right: 10px;
		margin-left: 0px !important;
	}
}
