body.maxi-blocks--active .maxi-css-code-editor {
	.w-tc-editor {
		margin: 8px 8px 0 0;
		width: 100%;
		background-color: var(--mw);
		border: 1px solid var(--mgl);
		border-radius: 10px;
		font-family: monospace !important;
		flex: 1 0 100%;
		direction: ltr;
		border-radius: 10px;
		transition: all 0.3s ease;

		textarea.w-tc-editor-text {
			background-color: var(--mw);
			font-family: monospace !important;
			font-size: 13px !important;
			&:hover:not(#inspector-select-control-0):not([id^='inspector-input-control']):not([id^='url-input-control']) {
				border: none !important;
			}
		}
		&:hover {
			border: 1px solid var(--mpc) !important;
		}
	}
	button.components-button[class*='maxi-advanced-css-control']:hover,
	button.components-button[class*='maxi-css-code-editor']:hover {
		color: inherit !important;
	}
	code {
		padding: 0;
		background-color: var(--mw);
		font-family: monospace !important;
		span {
			background-color: var(--mw);
			font-family: monospace !important;
		}
	}

	&__error {
		margin-top: 8px;
		padding-left: 10px;
		padding-right: 5px;
		font-style: italic;
		&.not-valid {
			border-left: 2px solid var(--mor);
		}
		&.valid {
			border-left: 2px solid var(--mpc);
		}
	}

	.maxi-base-control__field {
		flex-direction: row;
		flex-wrap: wrap;

		.maxi-css-code-editor__validate-button {
			margin-left: 10px;
			float: right;
		}

		.components-button {
			height: 24px;
			background-color: var(--mpg);
			border: 1px solid var(--mmg);
			border-radius: 30px;

			&:hover {
				background-color: var(--mmg) !important;
				color: var(--mw) !important;
				border-color: var(--mpc) !important;
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-css-code-editor__validate-button {
		margin-right: 10px;
		margin-left: 0px !important;
	}
}
