.maxi-custom-css-control {
	.maxi-custom-css-control__category {
		.maxi-base-control__field {
			display: flex !important;
			flex-direction: row;

			.maxi-select-control__input {
				flex: 2 !important;
			}
		}
	}
	.maxi-base-control {
		&__field {
			align-items: start;
			flex-direction: column;
		}

		&:nth-child(1) .maxi-base-control__label {
			margin-top: 7px;
		}
	}
}
