.maxi-custom-css-control {
	.maxi-custom-css-control__category {
		.maxi-base-control__field {
			display: var(--maxi-display-flex) !important;
			flex-direction: var(--maxi-layout-flex-row);

			.maxi-select-control__input {
				flex: var(--maxi-z-overlay) !important;
			}
		}
	}

	.maxi-base-control {
		&__field {
			align-items: var(--maxi-vertical-align-start);
			flex-direction: var(--maxi-layout-flex-column);
		}

		&:nth-child(1) .maxi-base-control__label {
			margin-top: var(--maxi-space-0px);
		}
	}

	.maxi-base-control__field {
		flex-direction: var(--maxi-layout-flex-row);
		flex-wrap: wrap;

		.components-button {
			margin-left: var(--maxi-space-10px);
			float: var(--maxi-float-right);
			height: var(--maxi-space-24px);
			background-color: var(--maxi-whisper-green);
			border: var(--maxi-border-1px) solid var(--maxi-mid-green);
			border-radius: var(--maxi-space-0px);
			color: var(--maxi-black);

			&:hover {
				border: var(--maxi-border-1px) solid var(--maxi-secondary-color);
				background-color: var(--maxi-pastel-green);
			}
		}
	}

	.w-tc-editor {
		margin: var(--maxi-space-5px) var(--maxi-space-0px)
			var(--maxi-space-0px) var(--maxi-space-0px);
		width: var(--maxi-layout-full-width);
		background-color: var(--maxi-white);
		border: var(--maxi-border-1px) solid var(--maxi-grey-light);
		font-family: var(--maxi-font-monospace) !important;
		flex: 1 0 var(--maxi-layout-full-width);
		direction: var(--maxi-direction-ltr) !important;

		textarea {
			background-color: var(--maxi-white);
			font-family: var(--maxi-font-monospace) !important;
		}
	}

	code {
		padding: var(--maxi-space-0px);
		background-color: var(--maxi-white);
		font-family: var(--maxi-font-monospace) !important;

		span {
			background-color: var(--maxi-white);
			font-family: var(--maxi-font-monospace) !important;
		}
	}

	.maxi-custom-css-control__error {
		margin-top: var(--maxi-space-8px);
		padding-left: var(--maxi-space-10px);
		padding-right: var(--maxi-space-5px);
		font-style: var(--maxi-font-style-italic);

		&.not-valid {
			border-left: var(--maxi-border-2px) solid var(--maxi-primary-color);
		}

		&.valid {
			border-left: var(--maxi-border-2px) solid
				var(--maxi-secondary-color);
		}
	}
}
