@import '../../../src/css/backend-variables.scss';
.maxi-custom-css-control {
	.maxi-custom-css-control__category {
		.maxi-base-control__field {
			display: flex !important;
			flex-direction: row;

			.maxi-select-control__input {
				flex: 2 !important;
			}
		}
	}

	.maxi-base-control {
		&__field {
			align-items: start;
			flex-direction: column;
		}

		&:nth-child(1) .maxi-base-control__label {
			margin-top: 0;
		}
	}

	.maxi-base-control__field {
		flex-direction: row;
		flex-wrap: wrap;

		.components-button {
			margin-left: 10px;
			float: right;
			height: 24px;
			background-color: $wg;
			border: 1px solid $mg;
			border-radius: 0;
			color: $bk;

			&:hover {
				border: 1px solid $sc;
				background-color: $pg;
			}
		}
	}

	.w-tc-editor {
		margin: 5px 0 0 0;
		width: 100%;
		background-color: $w;
		border: $bl;
		font-family: monospace !important;
		flex: 1 0 100%;
		direction: ltr !important;

		textarea {
			background-color: $w;
			font-family: monospace !important;
		}
	}

	code {
		padding: 0;
		background-color: $w;
		font-family: monospace !important;

		span {
			background-color: $w;
			font-family: monospace !important;
		}
	}

	.maxi-custom-css-control__error {
		margin-top: 8px;
		padding-left: 10px;
		padding-right: 5px;
		font-style: italic;

		&.not-valid {
			border-left: 2px solid $pc;
		}

		&.valid {
			border-left: 2px solid $sc;
		}
	}
}
