.maxi-custom-css-control {
	.maxi-custom-css-control__category {
		.maxi-base-control__field {
			display: flex !important;
			flex-direction: row;

			.maxi-select-control__input {
				flex: 2 !important;
			}
		}
	}

	.maxi-base-control {
		&__field {
			align-items: start;
			flex-direction: column;
		}

		&:nth-child(1) .maxi-base-control__label {
			margin-top: 0;
		}
	}

	.maxi-base-control__field {
		flex-direction: row;
		flex-wrap: wrap;

		.components-button {
			margin-left: 10px;
			float: right;
			height: 24px;
			background-color: var(--maxi-whisper-green);
			border: 1px solid var(--maxi-mid-green);
			border-radius: 0;
			color: var(--maxi-black);

			&:hover {
				border: 1px solid var(--maxi-secondary-color);
				background-color: var(--maxi-pastel-green);
			}
		}
	}

	.w-tc-editor {
		margin: 5px 0 0 0;
		width: 100%;
		background-color: var(--maxi-white);
		border: 1px solid var(--maxi-grey-light);
		font-family: monospace !important;
		flex: 1 0 100%;
		direction: ltr !important;

		textarea {
			background-color: var(--maxi-white);
			font-family: monospace !important;
		}
	}

	code {
		padding: 0;
		background-color: var(--maxi-white);
		font-family: monospace !important;

		span {
			background-color: var(--maxi-white);
			font-family: monospace !important;
		}
	}

	.maxi-custom-css-control__error {
		margin-top: 8px;
		padding-left: 10px;
		padding-right: 5px;
		font-style: italic;

		&.not-valid {
			border-left: 2px solid var(--maxi-primary-color);
		}

		&.valid {
			border-left: 2px solid var(--maxi-secondary-color);
		}
	}
}
