@import '../../../src/css/backend-variables.scss';
.maxi-default-styles-control:not(.maxi-button-default-styles) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;

	.maxi-default-styles-control__button {
		display: flex;
		justify-content: center;
		height: 32px;
		width: 22.5%;
		border: $bg;
		border-radius: 4px;
		transition: all 0.5s;

		&--active {
			background-color: $wg;
			border-color: $sc;

			path {
				fill: $sc;
				//stroke: $sc;
			}
			&:first-child,
			&:nth-child-4 {
				svg {
					path {
						fill: $sc;
						//stroke: $sc;
					}
				}
			}
			// &:nth-child(3),
			// &:nth-child(4) {
			// 	path {
			// 		stroke: $sc;
			// 	}
			// }
		}

		&:hover {
			background-color: $pg;
			stroke: $sc;

			svg {
				path {
					//stroke: $sc !important;
					fill: $sc !important;
				}
			}
		}

		&__icon {
			width: 40px;
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
