.maxi-default-styles-control:not(.maxi-button-default-styles) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;

	.maxi-default-styles-control__button {
		display: flex;
		justify-content: center;
		height: 32px;
		width: 22.5%;
		border: 1.5px solid var(--mgl);
		border-radius: 4px;
		transition: all 0.5s;

		&--active {
			background-color: var(--mwg);
			border-color: var(--msc);

			path {
				fill: var(--msc);
				//stroke: var(--msc);
			}
			&:first-child,
			&:nth-child-4 {
				svg {
					path {
						fill: var(--msc);
						//stroke: var(--msc);
					}
				}
			}
			// &:nth-child(3),
			// &:nth-child(4) {
			// 	path {
			// 		stroke: var(--msc);
			// 	}
			// }
		}

		&:hover {
			background-color: var(--mpg);
			stroke: var(--msc);

			svg {
				path {
					//stroke: var(--msc) !important;
					fill: var(--msc) !important;
				}
			}
		}

		&__icon {
			width: 40px;
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
