.maxi-default-styles-control:not(.maxi-button-default-styles) {
	display: var(--maxi-display-flex);
	flex-wrap: wrap;
	justify-content: var(--maxi-layout-space-between);
	margin-bottom: var(--maxi-space-10px);

	.maxi-default-styles-control__button {
		display: var(--maxi-display-flex);
		justify-content: var(--maxi-layout-center);
		height: var(--maxi-control-height-32px);
		width: var(--maxi-layout-22-5-percent);
		border: var(--maxi-border-1-5px) solid var(--maxi-mid-green);
		border-radius: var(--maxi-radius-4px);
		transition: all var(--maxi-transition-500ms);

		&--active {
			background-color: var(--maxi-whisper-green);

			path {
				fill: var(--maxi-secondary-color);
				//stroke: var(--maxi-secondary-color);
			}
			&:first-child,
			&:nth-child-4 {
				svg {
					path {
						fill: var(--maxi-secondary-color);
						//stroke: var(--maxi-secondary-color);
					}
				}
			}
			// &:nth-child(3),
			// &:nth-child(4) {
			// 	path {
			// 		stroke: var(--maxi-secondary-color);
			// 	}
			// }
		}

		&:hover {
			background-color: var(--maxi-pastel-green);
			stroke: var(--maxi-secondary-color);

			svg {
				path {
					//stroke: var(--maxi-secondary-color) !important;
					fill: var(--maxi-secondary-color) !important;
				}
			}
		}

		&__icon {
			width: var(--maxi-control-height-40px);
		}
		svg {
			width: var(--maxi-layout-full-width);
			height: var(--maxi-layout-full-width);
		}
	}
}
