.maxi-default-styles-control {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 8px;

	&__button {
		display: flex;
		justify-content: center;
		height: 32px;
		border: 1px solid #757575;
		flex: 1;
		border-radius: 0;
		transition: all 0.5s;

		&--active {
			background-color: #f8fbfd;
			border: 1px solid #dbdde6;
			border-bottom: 2px solid #007cba;

			&:first-child,
			&:nth-child-4 {
				svg {
					path {
						fill: #007cba;
					}
				}
			}
		}
		&:hover {
			background-color: rgba(180, 180, 180, 0.12);
		}
		&:focus {
			background-color: rgba(180, 180, 180, 0.4);
		}
		&__icon {
			width: 40px;
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
