.maxi-default-styles-control:not(.maxi-button-default-styles) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 8px;

	.maxi-default-styles-control__button {
		display: flex;
		justify-content: center;
		height: 32px;
		border: 1px solid var(--maxi-grey-1-color);
		flex: 1;
		border-radius: 0;
		transition: all 0.5s;

		&--active {
			background-color: #f8fbfd;
			border: 1px solid #dbdde6;
			border-bottom: 2px solid var(--maxi-secondary-color);

			&:first-child,
			&:nth-child-4 {
				svg {
					path {
						fill: #007cba;
					}
				}
			}
		}
		&:hover {
			background-color: var(--maxi-grey-3-color);
		}
		&:focus {
			background-color: var(--maxi-grey-4-color);
		}
		&__icon {
			width: 40px;
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
