.maxi-default-styles-control:not(.maxi-button-default-styles) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;

	.maxi-default-styles-control__button {
		display: flex;
		justify-content: center;
		height: 32px;
		width: 22.5%;
		border: 1.5px solid var(--maxi-grey-light);
		border-radius: 4px;
		transition: all 0.5s;

		&--active {
			background-color: var(--maxi-light-blue);
			border: none;

			path {
				fill: var(--maxi-secondary-color);
			}
			&:first-child,
			&:nth-child-4 {
				svg {
					path {
						fill: var(--maxi-secondary-color);
					}
				}
			}
			&:nth-child(3),
			&:nth-child(4) {
				path {
					stroke: var(--maxi-secondary-color);
				}
			}
		}

		&:hover {
			background-color: var(--maxi-grey-3-color);
		}

		&__icon {
			width: 40px;
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
}
