.maxi-default-styles-control:not(.maxi-button-default-styles) {
	display: var(--maxi-display-flex);
	flex-wrap: wrap;
	justify-content: var(--maxi-layout-space-between);

	.maxi-default-styles-control__button {
		position: var(--maxi-layout-relative);
		width: calc(var(--maxi-layout-full-width) / 3);
		height: var(--maxi-layout-auto) !important;
		padding: var(--maxi-space-6px);
		border: var(--maxi-border-1-5px) solid var(--maxi-grey-light);
		border-radius: var(--maxi-radius-10px);
		margin-bottom: var(--maxi-space-10px);
		transition: all var(--maxi-transition-400ms) ease;

		&--active {
			background-color: var(--maxi-whisper-green);

			path {
				fill: var(--maxi-secondary-color);
			}
			&:first-child,
			&:nth-child-4 {
				svg {
					path {
						fill: var(--maxi-secondary-color);
					}
				}
			}
		}

		&:hover {
			background-color: var(--maxi-pastel-green);
			stroke: var(--maxi-secondary-color);

			svg {
				path {
					fill: var(--maxi-secondary-color) !important;
				}
			}
		}

		&__icon {
			width: var(--maxi-control-height-40px);
		}
		svg {
			width: var(--maxi-layout-full-width);
			height: var(--maxi-layout-full-width);
		}
	}
}
