@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__slide__popover {
	display: flex;
	padding-bottom: 10px;
	padding-top: 0;
	padding-left: 0;
	margin-left: -9px;
	.maxi-slider-toolbar__slide {
		position: $pr;
		margin: 0 7px;
		span {
			display: block;
			font-size: 14px;
			line-height: 22px;
			text-align: center;
			width: 24px;
			height: 24px;
			border: 1px solid;
		}
		&:hover,
		&--active {
			span {
				border-color: $pc;
				color: $pc;
			}
		}
		.maxi-slider-toolbar__slide-remove {
			position: $pa;
			right: -9px;
			top: -9px;
			padding: 0;
			height: 17px;
			min-width: 17px;
			border-radius: 50%;

			svg {
				background-color: white;
				border-radius: 50%;
				border: 1px solid white;
			}
			&:hover {
				svg {
					background-color: $pc;
					border-color: $pc;
					path {
						fill: white;
					}
				}
			}
		}
	}
	button.maxi-slider-toolbar__slide--add {
		padding: 0;
		margin: 0 0 0 5px;
		height: 24px;
	}
}
