
.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-shorter .hover_el,
.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-shorter .maxi-block-text-hover {
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-short .hover_el,
.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-short .maxi-block-text-hover {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-normal .hover_el,
.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-normal .maxi-block-text-hover {
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-long .hover_el,
.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-long .maxi-block-text-hover {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-longer .hover_el,
.hover-animation-text.hover-animation-type-text-flip-diagonal.hover-animation-duration-longer .maxi-block-text-hover {
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal {
    -webkit-perspective: 50em;
    -moz-perspective: 50em;
    perspective: 50em;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal,
.hover-animation-text .maxi-text-block-wrap {
    position: relative;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal .hover_el {
    position: relative;
    /*-webkit-transform: rotateY(0deg);*/
    /*-moz-transform: rotateY(0deg);*/
    /*-ms-transform: rotateY(0deg);*/
    /*-o-transform: rotateY(0deg);*/
    /*transform: rotateY(0deg);*/
    /*overflow: hidden;*/

    backface-visibility: hidden;
    -webkit-transition-delay: 0.15s !important;
    -moz-transition-delay: 0.15s !important;
    transition-delay: 0.15s !important;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal:hover .hover_el {
    -webkit-transform: rotate3d(-1, 1, 0, 100deg);
    -moz-transform: rotate3d(-1, 1, 0, 100deg);
    -ms-transform: rotate3d(-1, 1, 0, 100deg);
    -o-transform: rotate3d(-1, 1, 0, 100deg);
    transform: rotate3d(-1, 1, 0, 100deg);
    opacity: 0;
    -webkit-transition-delay: 0s !important;
    -moz-transition-delay: 0s !important;
    transition-delay: 0s !important;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal .maxi-block-text-hover .maxi-block-text-hover__title {
    margin: 0 0 10px !important;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal .maxi-block-text-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    z-index: 99;
    opacity: 0;

    -webkit-transform: rotate3d(1, -1, 0, 90deg);
    -moz-transform: rotate3d(1, -1, 0, 90deg);
    -ms-transform: rotate3d(1, -1, 0, 90deg);
    -o-transform: rotate3d(1, -1, 0, 90deg);
    transform: rotate3d(1, -1, 0, 90deg);
}

.hover-animation-text.hover-animation-type-text-flip-diagonal:hover .maxi-block-text-hover {
    opacity: 1;

    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    -ms-transform: rotate3d(0, 0, 0, 0deg);
    -o-transform: rotate3d(0, 0, 0, 0deg);
    transform: rotate3d(0, 0, 0, 0deg);

    -webkit-transition-delay: 0.15s;
    -moz-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hover-animation-text.hover-animation-type-text-flip-diagonal .maxi-block-text-hover::-webkit-scrollbar {
    width: 5px;
}

/* Track */

.hover-animation-text.hover-animation-type-text-flip-diagonal .maxi-block-text-hover::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

.hover-animation-text.hover-animation-type-text-flip-diagonal .maxi-block-text-hover::-webkit-scrollbar-thumb {
    background: #dadada;
}

/* Handle on hover */

.hover-animation-text.hover-animation-type-text-flip-diagonal .maxi-block-text-hover::-webkit-scrollbar-thumb:hover {
    background: #000;
}