.maxi-base-control {
	margin-bottom: 7px;

	&__field {
		display: flex !important;
		align-items: center;
		margin-bottom: 8px;
	}

	&__label {
		display: inline-block;
		flex: 1;
		width: 50%;
		min-height: 18px;
		margin-right: 10px;
		margin-bottom: 0;
	}

	&__help {
		margin-top: -8px;
		font-style: italic;
	}
}
