.maxi-base-control {
	&__field {
		display: flex !important;
		align-items: center;
		margin-bottom: 8px;
	}

	&__label {
		display: inline-block;
		flex: 1;
		min-height: 18px;
		margin: 0;
	}

	&__help {
		margin-top: -8px;
		font-style: italic;
	}
}

.maxi-additional__css {
	.maxi-base-control {
		&__field {
			align-items: start;
			flex-direction: column;
		}
	}
	.w-tc-editor {
		width: 100%;
		border: 1px solid var(--maxi-grey-1-color);
		font-family: monospace !important;
		textarea {
			font-family: monospace !important;
		}
	}
	code {
		padding: 0;
		background: #fff;
		font-family: monospace !important;
		span {
			background: #fff;
			font-family: monospace !important;
		}
	}
}
