.maxi-base-control {
	&__field {
		display: flex !important;
		align-items: center;
		margin-bottom: 8px;
	}

	&__label {
		display: inline-block;
		flex: 1;
		min-height: 18px;
		margin: 0;
	}

	&__help {
		margin-top: -8px;
		font-style: italic;
	}
}

.maxi-additional__css {
	.maxi-base-control {
		&__field {
			align-items: start;
			flex-direction: column;
		}
	}
}
