body.maxi-blocks--active .maxi-number-counter-block {
	.maxi-number-counter {
		&__box {
			position: relative;
			z-index: 2;

			&__text {
				font-family: 'Roboto', sans-serif !important;
			}
		}
	}
}
