body.maxi-blocks--active .maxi-number-counter-block {
	// This element doesn't exist anymore
	.maxi-number-counter {
		&__replay {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			right: 0;
			background: #232533;
			z-index: 3;
			border-radius: 3px;
		}
		&__box {
			position: relative;
			margin: 0 auto;
			// min-height: 100px;
			z-index: 2;
			width: 100%;
			max-width: 100%;

			&__background,
			&__circle {
				transform: rotate(-90deg);
				transform-origin: center;
			}
		}
	}
}
