@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-number-counter-block {
	// This element doesn't exist anymore
	display: flex;
	.maxi-number-counter {
		&__box {
			position: $pr;
			z-index: 2;
			width: 100%;
			max-width: 100%;

			&__background,
			&__circle {
				transform: rotate(-90deg);
				transform-origin: center;
			}

			// Fixes issues coming from #4309 as the CSS is not migrated
			svg + .maxi-number-counter__box__text {
				text-align: center;
				position: $pa;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
			}

			.circle-hidden {
				display: block;
				text-align: center;
			}
		}
	}
}
