.maxi-svg-defaults {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

	&__item {
		cursor: pointer;
		height: 40px;
		padding: 0;
		width: calc(16.6666666667% - 5px);
		border: 2px solid #dddfe1;
		border-radius: 5px;
		margin: 0 5px 5px 0;

		&:first-child {
			svg {
				height: 27px;
			}
		}
		&--active {
			background: #f2f2f2;
		}
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: #f2f2f2;
		}
		svg {
			width: 40px;
			height: 35px;
			padding: 5px;
		}
	}
}
