.maxi-group-block {
	margin: auto;

	&__group {
		border: 1px solid #7fbddc;
		width: 100%;

		.maxi-row-block {
			z-index: 1;
		}
	}
	.block-list-appender {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		z-index: 1;

		.block-editor-button-block-appender[aria-label='Add block'] {
			top: calc(100% - 10px);
			left: calc(50% - 48px);
		}
		.maxi-block-placeholder {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
	}
}
