body.maxi-blocks--active .maxi-navigation-menu-block {
	&__container {
		width: 100%;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.block-list-appender.wp-block {
		position: absolute;
		width: revert;
		height: revert;
	}
}
