@import '../../../src/css/backend-variables.scss';
.maxi-search-block {
	align-items: center;
	overflow: hidden;

	&--icon-left {
		input.icon-reveal {
			margin-left: -25px !important;
		}
	}
	&--icon-center {
		.maxi-search-block__input--hidden {
			margin-right: 0 !important;
			margin-left: 0 !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			border-left-width: 0 !important;
			border-right-width: 0 !important;
		}
		input.icon-reveal {
			margin-right: -25px !important;
		}
	}

	&--icon-right {
		input.icon-reveal {
			margin-right: -25px !important;
		}
	}
}

.maxi-skin-control__reveal-action-tabs {
	.components-button {
		background: $w;
		border: none;
		border-radius: 10px;
		padding: 6px 12px;
		margin: 0;
		min-width: 70px;
		height: 30px;
		box-shadow: 0 0 0 1px $gl;
		color: $gd;
		transition: all 0.2s ease;

		&:first-child {
			margin-right: 8px;
		}
		&:last-child {
			margin-right: 2px !important;
		}

		&:hover {
			background: $w;
			box-shadow: 0 0 0 1px $pc;
			color: $pc;
		}

		&:active,
		&[aria-pressed='true'] {
			background: $wg !important;
			box-shadow: 0 0 0 1px $mg !important;
			color: $gd !important;
			font-weight: 700;
		}
	}
}
