@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-search-block {
	position: $pr;
	display: flex;
	align-items: center;
	height: auto;
	overflow: hidden;

	&--icon-left {
		justify-content: flex-start;

		.maxi-search-block__button {
			order: 0;
		}
		input {
			margin-left: -25px !important;
		}
	}

	&--icon-center {
		justify-content: center;

		.maxi-search-block__button {
			order: 1;
		}
		.maxi-search-block__input {
			margin-right: -25px !important;
		}
		.maxi-search-block__input--hidden {
			margin-right: 0 !important;
			margin-left: 0 !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
			border-left-width: 0 !important;
			border-right-width: 0 !important;
		}
	}

	&--icon-right {
		justify-content: flex-end;

		.maxi-search-block__button {
			order: 2;
		}
		input {
			margin-right: -25px !important;
		}
	}

	&__input {
		order: 1;
		width: 100%;
		height: unset;
		display: flex;
		align-items: center;
		outline: none;
		border-width: 0;
		border-radius: 0;
		margin: 0;
		padding: 0;

		&:focus {
			box-shadow: none;
		}

		&--hidden {
			width: 0;
			opacity: 0;
			visibility: hidden;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		z-index: 1;
		cursor: $ptr;
		height: 100%;
		aspect-ratio: 1 / 1;
		justify-content: center;

		&__icon {
			box-sizing: content-box;
			display: flex;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		&__content {
			white-space: pre;
		}
	}
}
