.maxi-responsive-tabs-control {
	.maxi-tabs-content:not(.maxi-tabs-content--disable-padding) {
		padding: 8px 0 0;
	}
	.maxi-tabs-control {
		margin-right: -8px;
		margin-left: -8px;
		&.maxi-settingstab-control_has-border-left-right {
			margin-right: 0;
			margin-left: 0;
		}

		&__button {
			padding: 10px;
			font-weight: 500;

			&[aria-pressed='true'] {
				color: var(--maxi-primary-color);
				background-color: var(--maxi-whisper-green);
			}
		}
	}
}
.maxi-responsive-tabs-control {
	.maxi-tabs-content:not(.maxi-tabs-content--disable-padding) {
		padding: 12px 0 0;
	}
	.maxi-tabs-control {
		margin-right: -8px;
		margin-left: -8px;
		&.maxi-settingstab-control_has-border-left-right {
			margin-right: 0;
			margin-left: 0;
		}

		&__button {
			padding: 10px;
			font-weight: 500;

			&[aria-pressed='true'] {
				color: var(--maxi-primary-color);
				background-color: var(--maxi-whisper-green);
			}
		}
	}
}
