@import '../../../src/css/backend-variables.scss';
.maxi-responsive-tabs-control {
	.maxi-tabs-content:not(.maxi-tabs-content--disable-padding) {
		padding: 8px 0 0;
	}
	.maxi-tabs-control {
		margin-right: -8px;
		margin-left: -8px;
		&.maxi-settingstab-control_has-border-left-right {
			margin-right: 0;
			margin-left: 0;
		}

		&__button {
			padding: 8px;
			font-weight: 500;

			&[aria-pressed='true'] {
				color: $sc !important;
				background-color: $wg !important;
				font-weight: 700 !important;
				fill: $sc !important;
			}
		}
	}
}
.maxi-responsive-tabs-control {
	.maxi-tabs-content:not(.maxi-tabs-content--disable-padding) {
		padding: 8px 0 0;
	}
	.maxi-tabs-control {
		margin-right: -8px;
		margin-left: -8px;
		&.maxi-settingstab-control_has-border-left-right {
			margin-right: 0;
			margin-left: 0;
		}

		&__button {
			padding: 8px;
			font-weight: 500;

			&[aria-pressed='true'] {
				color: $pc;
				background-color: $wg;
			}
		}
	}
}
