body.maxi-blocks--active select.maxi-select-control__input {
	flex: 1;
	width: 100%;
	min-width: 50px;
	max-width: 25rem;
	min-height: unset;
	max-height: unset !important;
	padding: 8px;
	border: 1px solid var(--maxi-grey-1-color);
	border-radius: 0 !important;
	margin: 0;
	color: var(--maxi-grey-5-color);
	background: #fff
		url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"> <path fill="rgba(180, 180, 180, 0.4)" d="M4.82 5.783a.963.963 0 0 1-.684-.283L.283 1.651A.967.967 0 0 1 1.651.283L4.82 3.462 7.988.293a.963.963 0 0 1 1.358 1.358L5.494 5.5a.963.963 0 0 1-.674.283Z"/> </svg>')
		no-repeat right 8px top 50%;
	background-size: 9px 9px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	cursor: pointer;
	opacity: 1;
	outline: 0;
	svg {
		fill: var(--maxi-grey-4-color);
	}

	.maxi-option {
		&__in-use {
			color: var(--maxi-green-1-color);
			font-weight: 500;
		}
	}
}
