@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active {
	select.maxi-select-control__input {
		flex: 1;
		width: 100%;
		min-width: 50px;
		max-width: 25rem;
		min-height: unset;
		max-height: unset !important;
		padding: 8px;
		border: $bg;
		margin: 0;
		color: $g;
		background-size: 9px 9px;
		font-size: 12px;
		line-height: 14px;
		vertical-align: middle;
		-webkit-appearance: none;
		appearance: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
		cursor: $ptr;
		opacity: 1;
		outline: 0;
		background-image: linear-gradient(
				$gl,
				$gl
			),
			url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"> <path fill="rgba(180, 180, 180, 0.9)" d="M4.82 5.783a.963.963 0 0 1-.684-.283L.283 1.651A.967.967 0 0 1 1.651.283L4.82 3.462 7.988.293a.963.963 0 0 1 1.358 1.358L5.494 5.5a.963.963 0 0 1-.674.283Z"/> </svg>') !important;
		background-repeat: no-repeat, no-repeat !important;
		background-size: 1px 18px, 8px 8px !important;
		background-position: right 1px center, right 5px center !important;
		&:hover,
		&:focus,
		&:active {
			background-image: linear-gradient(
					$gl,
					$gl
				),
				url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"> <path fill="rgba(99, 186, 121, 1)" d="M4.82 5.783a.963.963 0 0 1-.684-.283L.283 1.651A.967.967 0 0 1 1.651.283L4.82 3.462 7.988.293a.963.963 0 0 1 1.358 1.358L5.494 5.5a.963.963 0 0 1-.674.283Z"/> </svg>') !important;
		}
		svg {
			fill: $g;
		}
	}
	.maxi-select-control__input {
		padding-left: 12px !important;
		transition: $t;
	}
	// Consolidate hover rule to avoid empty ruleset warning
	.maxi-select-control__input:hover,
	.maxi-text-control__input:hover {
		/* Intentionally left for future hover tweaks; keep non-empty to satisfy linter */
		outline: none;
	}
	.maxi-select-control__input:focus,
	.maxi-text-control__input:focus {
		border-color: none !important;
	}
	.maxi-option {
		&__in-use {
			color: var(--maxi-highlight-color);
			font-weight: 500;
		}
	}

	.maxi-select-control {
		&__second-style {
			&:first-child {
				.maxi-base-control__field {
					margin-top: 3px;
				}
			}
			.maxi-base-control__field {
				position: $pr;
				margin-top: 12px;
				background-color: $w;
				border: $bl !important;
				border-radius: 5px;
				margin-right: -3px;
			}
			.maxi-base-control__label {
				position: $pa;
				top: -8px;
				left: 8px;
				font-size: 10px !important;
				color: $gd;
				font-style: normal;
				background: $w;
				padding: 0 5px;
				pointer-events: none;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
			.maxi-select-control__input {
				padding: 10px 11px;
				border: none !important;
				/* Short right divider + chevron */
				background-color: $w !important;
				background-image: linear-gradient(
						$gl,
						$gl
					),
					url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"> <path fill="rgba(180, 180, 180, 0.9)" d="M4.82 5.783a.963.963 0 0 1-.684-.283L.283 1.651A.967.967 0 0 1 1.651.283L4.82 3.462 7.988.293a.963.963 0 0 1 1.358 1.358L5.494 5.5a.963.963 0 0 1-.674.283Z"/> </svg>') !important;
				background-repeat: no-repeat, no-repeat !important;
				background-size: 1px 18px, 8px 8px !important;
				background-position: right 1px center, right 5px center !important;
				&:hover,
				&:focus,
				&:active {
					background-image: linear-gradient(
							$gl,
							$gl
						),
						url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"> <path fill="rgba(99, 186, 121, 1)" d="M4.82 5.783a.963.963 0 0 1-.684-.283L.283 1.651A.967.967 0 0 1 1.651.283L4.82 3.462 7.988.293a.963.963 0 0 1 1.358 1.358L5.494 5.5a.963.963 0 0 1-.674.283Z"/> </svg>') !important;
				}
			}
			#inspector-select-control-5 {
				border: none !important;
				outline: none !important;
				box-shadow: none !important;
			}
			/* Scope width only to the Font weight selector instance */
			&:not(.maxi-dc-type):not(.maxi-dc-field):not(.maxi-context-loop-control__type)
				#inspector-select-control-4.maxi-select-control__input {
				flex: 0 0 auto !important;
				width: 104px !important;
				height: 36px !important;
				line-height: 36px !important;
				padding-top: 0 !important;
				padding-bottom: 0 !important;
			}
		}
	}
}
