.maxi-block-placeholder {
    background: rgba(235, 235, 235, 0.8);
    border: 1px solid #93959b;
    border-radius: 5px;
    position: relative;
    z-index: 2;

    &__text {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: 'Roboto',sans-serif !important;
        font-size: 16px !important;
        line-height: 1.4 !important;
    }

    .block-editor-inserter{
        display: block;
        margin: 28px 0;
        width: 100%;
    }

    &__button {
        position: relative !important;
        visibility: visible !important;
        opacity: 1 !important;
        margin: auto !important;
        left: inherit !important;
        transform: none !important;
    }
}