body.maxi-blocks--active .maxi-block__resizer {
	.maxi-resizable {
		&__handle {
			display: var(--maxi-display-none);
			width: var(--maxi-space-20px);
			height: var(--maxi-space-20px);
			z-index: var(--maxi-space-20px);
			position: var(--maxi-layout-absolute);
			&--show {
				display: var(--maxi-display-block);
			}
			&:after {
				content: '';
				display: var(--maxi-display-block);
				position: var(--maxi-layout-absolute);
				width: var(--maxi-space-20px);
				height: var(--maxi-space-20px);
				border: var(--maxi-border-2px) solid var(--maxi-white);
				border-radius: var(--maxi-radius-round);
				background: var(--maxi-primary-color);
				cursor: var(--maxi-cursor-inherit);
			}
			&--repeater:after {
				background: var(--maxi-tertiary-color);
			}

			&:before {
				content: '';
				display: var(--maxi-display-block);
				cursor: var(--maxi-cursor-inherit);
				position: var(--maxi-layout-absolute);
				background: var(--maxi-primary-color);
			}

			&-right {
				right: var(--maxi-space-0px);
				top: var(--maxi-layout-half);
				transform: translate(50%, -50%);
			}
			&-left {
				left: var(--maxi-space-0px);
				top: var(--maxi-layout-half);
				transform: translate(-50%, -50%);
			}
			&-top {
				top: var(--maxi-space-0px);
				left: var(--maxi-layout-half);
				transform: translate(-50%, -50%);
			}
			&-bottom {
				bottom: var(--maxi-space-0px);
				left: var(--maxi-layout-half);
				transform: translate(-50%, 50%);
			}
		}
		&__side-handle {
			&.maxi-resizable__handle-top,
			&.maxi-resizable__handle-bottom {
				width: var(--maxi-layout-full-width);
				&:active,
				&:hover {
					&:before {
						animation: horiz-line-motion
							var(--maxi-transition-100ms)
							var(--maxi-animation-timing-ease-out)
							var(--maxi-space-0px);
						opacity: var(--maxi-opacity-visible) !important;
					}
				}
				&:before {
					width: var(--maxi-layout-full-width);
					opacity: var(--maxi-opacity-hidden);
				}
			}
			&.maxi-resizable__handle-left,
			&.maxi-resizable__handle-right {
				height: var(--maxi-layout-full-width);
				&:active,
				&:hover {
					&:before {
						animation: vert-line-motion var(--maxi-transition-100ms)
							var(--maxi-animation-timing-ease-out)
							var(--maxi-space-0px);
						opacity: var(--maxi-opacity-visible) !important;
					}
				}
				&:before {
					height: var(--maxi-layout-full-width);
					opacity: var(--maxi-opacity-hidden);
				}
			}
		}
		&__handle-wrapper {
			display: var(--maxi-display-contents);
		}
	}
	.maxi-resizable__handle--overflow,
	&--overflow .maxi-resizable__handle {
		&:after {
			top: var(--maxi-space-0px);
			right: var(--maxi-space-0px);
			bottom: var(--maxi-space-0px);
			left: var(--maxi-space-0px);
			margin: var(--maxi-layout-auto);
		}

		&-top {
			top: var(--maxi-space-0px) !important;

			&:after {
				margin-top: var(--maxi-space-0px);
			}
		}
		&-right {
			right: var(--maxi-space-0px) !important;

			&:after {
				margin-right: var(--maxi-space-0px);
			}
		}
		&-left {
			left: var(--maxi-space-0px) !important;

			&:after {
				margin-left: var(--maxi-space-0px);
			}
		}
		&-bottom {
			bottom: var(--maxi-space-0px) !important;

			&:after {
				margin-bottom: var(--maxi-space-0px);
			}
		}
		&-topleft {
			top: var(--maxi-space-0px) !important;
			left: var(--maxi-space-0px) !important;

			&:after {
				margin-top: var(--maxi-space-0px);
				margin-left: var(--maxi-space-0px);
			}
		}
		&-topright {
			top: var(--maxi-space-0px) !important;
			right: var(--maxi-space-0px) !important;

			&:after {
				margin-top: var(--maxi-space-0px);
				margin-right: var(--maxi-space-0px);
			}
		}
		&-bottomleft {
			bottom: var(--maxi-space-0px) !important;
			left: var(--maxi-space-0px) !important;

			&:after {
				margin-bottom: var(--maxi-space-0px);
				margin-left: var(--maxi-space-0px);
			}
		}
		&-bottomright {
			bottom: var(--maxi-space-0px) !important;
			right: var(--maxi-space-0px) !important;

			&:after {
				margin-bottom: var(--maxi-space-0px);
				margin-right: var(--maxi-space-0px);
			}
		}
	}
}

@keyframes horiz-line-motion {
	0% {
		opacity: var(--maxi-opacity-hidden);
		width: var(--maxi-space-0px);
	}
	100% {
		opacity: var(--maxi-opacity-visible);
		width: var(--maxi-layout-full-width);
	}
}

@keyframes vert-line-motion {
	0% {
		opacity: var(--maxi-opacity-hidden);
		height: var(--maxi-space-0px);
	}
	100% {
		opacity: var(--maxi-opacity-visible);
		height: var(--maxi-layout-full-width);
	}
}
