body.maxi-blocks--active .maxi-block__resizer {
	.maxi-resizable {
		&__handle {
			display: none;
			width: 15px;
			height: 15px;
			z-index: 20;
			&--show {
				display: block;
			}
			&:before {
				content: '';
				display: block;
				cursor: inherit;
				position: absolute;
				border-top: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 10px solid transparent;
			}
			&-top {
				top: 0 !important;
				&:before {
					top: -10px;
					left: -10px !important;
					transform: rotate(45deg) !important;
					border-right: 10px solid var(--maxi-primary-color);
					border-bottom: 10px solid transparent !important;
				}
			}
			&-right {
				right: 0 !important;
				&:before {
					left: 10px !important;
					transform: rotate(-225deg) !important;
				}
			}
			&-bottom {
				bottom: 0 !important;
				&:before {
					bottom: 0px;
					left: 0px;
					border-bottom: 5px solid var(--maxi-primary-color);
					border-left: 0;
					border-right: 0;
				}
			}
			&-left {
				left: 0 !important;
				&:before {
					left: -10px;
					transform: rotate(-135deg);
					border-bottom: 10px solid var(--maxi-primary-color);
				}
			}
		}
		&__side-handle {
			&.maxi-resizable__handle-top,
			&.maxi-resizable__handle-bottom {
				width: 100%;
				&:active,
				&:hover {
					&:before {
						animation: horiz-line-motion 0.1s ease-out 0s;
						opacity: 1 !important;
					}
				}
				&:before {
					width: 100%;
					opacity: 0;
				}
			}
			&.maxi-resizable__handle-left,
			&.maxi-resizable__handle-right {
				height: 100%;
				&:active,
				&:hover {
					&:before {
						animation: vert-line-motion 0.1s ease-out 0s;
						opacity: 1 !important;
					}
				}
				&:before {
					height: 100%;
					opacity: 0;
				}
			}
		}
	}
}

@keyframes horiz-line-motion {
	0% {
		opacity: 0;
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes vert-line-motion {
	0% {
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}
