body.maxi-blocks--active .maxi-block__resizer {
	.maxi-resizable {
		&__handle {
			display: none;
			width: 15px;
			height: 15px;
			z-index: 20;
			&--show {
				display: block;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: calc(50% - #{ceil(15px / 2)});
				right: calc(50% - #{ceil(15px / 2)});
				width: 10px;
				height: 10px;
				border: 2px solid var(--maxi-white);
				border-radius: 50%;
				background: var(--maxi-primary-color);
				cursor: inherit;
			}

			&--repeater:after {
				background: var(--maxi-tertiary-color);
			}

			&:before {
				content: '';
				display: block;
				cursor: inherit;
				position: absolute;
				background: var(--maxi-primary-color);
			}
			&-right {
				&:before {
					top: 50%;
					right: calc(50% - 2px);
					transform: translateY(-50%);
					width: 4px;
				}
			}
			&-left {
				&:before {
					top: 50%;
					left: calc(50% - 2px);
					transform: translateY(-50%);
					width: 4px;
				}
			}
			&-top {
				&:before {
					top: calc(50% - 2px);
					left: 50%;
					transform: translateX(-50%);
					height: 4px;
				}
			}
			&-bottom {
				&:before {
					bottom: calc(50% - 2px);
					left: 50%;
					transform: translateX(-50%);
					height: 4px;
				}
			}
		}
		&__side-handle {
			&.maxi-resizable__handle-top,
			&.maxi-resizable__handle-bottom {
				width: 100%;
				&:active,
				&:hover {
					&:before {
						animation: horiz-line-motion 0.1s ease-out 0s;
						opacity: 1 !important;
					}
				}
				&:before {
					width: 100%;
					opacity: 0;
				}
			}
			&.maxi-resizable__handle-left,
			&.maxi-resizable__handle-right {
				height: 100%;
				&:active,
				&:hover {
					&:before {
						animation: vert-line-motion 0.1s ease-out 0s;
						opacity: 1 !important;
					}
				}
				&:before {
					height: 100%;
					opacity: 0;
				}
			}
		}
		&__handle-wrapper {
			display: contents;
		}
	}
	.maxi-resizable__handle--overflow,
	&--overflow .maxi-resizable__handle {
		&:after {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
		}

		&-top {
			top: 0 !important;

			&:after {
				margin-top: 0;
			}
		}
		&-right {
			right: 0 !important;

			&:after {
				margin-right: 0;
			}
		}
		&-left {
			left: 0 !important;

			&:after {
				margin-left: 0;
			}
		}
		&-bottom {
			bottom: 0 !important;

			&:after {
				margin-bottom: 0;
			}
		}
		&-topleft {
			top: 0 !important;
			left: 0 !important;

			&:after {
				margin-top: 0;
				margin-left: 0;
			}
		}
		&-topright {
			top: 0 !important;
			right: 0 !important;

			&:after {
				margin-top: 0;
				margin-right: 0;
			}
		}
		&-bottomleft {
			bottom: 0 !important;
			left: 0 !important;

			&:after {
				margin-bottom: 0;
				margin-left: 0;
			}
		}
		&-bottomright {
			bottom: 0 !important;
			right: 0 !important;

			&:after {
				margin-bottom: 0;
				margin-right: 0;
			}
		}
	}
}

@keyframes horiz-line-motion {
	0% {
		opacity: 0;
		width: 0;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}

@keyframes vert-line-motion {
	0% {
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}
