.toolbar-item__popover__list-options {
	display: flex;
	margin: -13px -11px 0;

	&__button {
		font-weight: 700;
		font-size: 15px;
		border-right: 1px solid var(--mgl);
		transition: all 0.4s ease !important;

		&:hover {
			color: var(--mpc) !important;
			svg path {
				stroke: var(--mpc) !important;
			}
		}

		&:last-child {
			border-right: none;
		}

		svg path {
			fill: transparent;
			stroke: #000;
			stroke-width: 1;
		}

		&[aria-pressed='true'] {
			color: var(--msc);
			border-bottom: 2px solid var(--msc);

			svg path {
				stroke: var(--msc);
			}
		}
	}
}

.components-popover
	.components-popover__content
	.toolbar-wrapper
	.toolbar-item {
	&__list-options {
		svg path {
			fill: transparent;
			stroke: #000;
		}
	}
}
