@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__popover__list-options {
	display: flex;
	margin: -13px -11px 0;

	&__button {
		font-weight: 700;
		font-size: 15px;
		border-right: $bl;
		transition: $t !important;

		&:hover {
			color: $pc !important;
			svg path {
				stroke: $pc !important;
			}
		}

		&:last-child {
			border-right: none;
		}

		svg path {
			fill: $tr;
			stroke: #000;
			stroke-width: 1;
		}

		&[aria-pressed='true'] {
			color: $sc;
			border-bottom: 2px solid $sc;

			svg path {
				stroke: $sc;
			}
		}
	}
}

.components-popover
	.components-popover__content
	.toolbar-wrapper
	.toolbar-item {
	&__list-options {
		svg path {
			fill: $tr;
			stroke: #000;
		}
	}
}
