.toolbar-item__popover__list-options {
	display: flex;
	margin: -8px -8px 0;

	&__button {
		font-weight: 700;
		font-size: 15px;
		border-right: 1px solid var(--maxi-grey-light);

		// To avoid changing the color of button with text
		&:hover {
			color: inherit;
		}

		&:last-child {
			border-right: none;
		}

		svg path {
			fill: transparent;
			stroke: #000;
			stroke-width: 1;
		}

		&[aria-pressed='true'] {
			color: var(--maxi-secondary-color);
			border-bottom: 2px solid var(--maxi-secondary-color);

			svg path {
				stroke: var(--maxi-secondary-color);
			}
		}
	}
}

.components-popover
	.components-popover__content
	.toolbar-wrapper
	.toolbar-item {
	&__list-options {
		svg path {
			fill: transparent;
			stroke: #000;
		}
	}
}
