.maxi-accordion-control__item[data-name='popup settings'],
.maxi-accordion-control__item[data-name='playback icon'] {
	.maxi-library-modal__action-section__label {
		margin: 10px;
	}
	.maxi-color-control__palette-label {
		.maxi-base-control__label {
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
	.maxi-video-icon-control__hover-status {
		margin-top: 10px;
	}
	.maxi-video-icon-control__icon-position {
		select {
			flex: 2;
		}
	}
}
.maxi-tabs-control__button-video {
	margin-left: -8px;
}

.maxi-tabs-control__button-popup {
	margin-right: -8px;
}

body.maxi-blocks--active {
	.maxi-advanced-number-control.maxi-video-popup-control__animation-duration {
		.maxi-advanced-number-control__input-wrapper {
			width: 80px !important;
		}

		.maxi-dimensions-control__units select.maxi-select-control__input {
			min-width: 42px !important;
		}
	}
}
