.maxi-video-block {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: unset;

	&__popup-wrapper {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		z-index: 999;

		display: flex;
		justify-content: center;
		align-items: center;

		cursor: auto;
	}

	&__video-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80%;
		height: 90%;
	}

	& > &__video-player {
		height: 100%;
	}

	&__video-player {
		width: 100%;
		max-height: 100%;
		object-fit: cover;
	}

	&__overlay,
	&__select-overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&__select-overlay {
		background: transparent;
	}

	&__play-button {
		z-index: 1;

		cursor: pointer;
	}

	&__close-button {
		position: absolute;
		top: 64px;
		right: 0;

		transform: translateX(-100%);
		cursor: pointer;
	}
}
