.maxi-video-block {
	&__popup-wrapper {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		z-index: 999;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: rgba($color: #000000, $alpha: 0.7);

		cursor: auto;
	}

	&__iframe-container {
		width: 90%;
		height: 60%;
	}

	&__video-disabled,
	&__video-player {
		width: 100%;
		height: 100%;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: transparent;
	}

	&__thumbnail {
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__play-button {
		border: 0;
		background: transparent;
		box-sizing: border-box;
		width: 0;
		height: 74px;
		border-color: transparent transparent transparent #202020;
		border-style: solid;
		border-width: 37px 0 37px 60px;
		cursor: pointer;
	}

	&__close-button {
		position: absolute;
		right: 50px;
		top: 50px;

		width: 32px;
		height: 32px;

		cursor: pointer;
	}

	&__close-button:before,
	&__close-button:after {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 33px;
		width: 2px;
		background-color: #fff;
	}
	&__close-button:before {
		transform: rotate(45deg);
	}
	&__close-button:after {
		transform: rotate(-45deg);
	}
}
