.maxi-responsive-selector {
    position: fixed;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    border-radius: 5px 0 0 5px;
    background-color: #ff4a17;

    &__button {
        display: block;
        border-bottom: 1px solid #fff;
        text-align: center;

        &:last-of-type {
            border-bottom: none;
        }

        &[aria-pressed="true"] {
            color: #fff;
        }
    }
}