.maxi-responsive-selector {
    position: fixed;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;

    &__label {
        display: inline-block;
        text-align: center;
        margin: 0 20px 5px 0;
    }
    &__button {
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        padding: 0 10px;
        margin: 0 20px 5px 0;
        background-color: #f8f8f8;
        border: 2px solid transparent;
        height: 40px;
        transition: border-color 0.5s;

        &:hover {
            border-color: #b4b4b4;
            color: #464a53 !important;
        }
        &:first-of-type {
            height: 35px;
        }
        &[aria-pressed="true"] {
            border-color: #b4b4b4;
            border-bottom-color: #ff4a17;
        }
    }
}