body.maxi-blocks--active.maxi-blocks--accessibility .maxi-sidebar {
	.maxi-toggle-switch__toggle {
		&__track {
			border-color: var(--magy);
		}
		input[type='checkbox'] {
			&:focus + .maxi-toggle-switch__toggle__track {
				box-shadow: 0 0 0 1px var(--msc);
			}
		}
	}
}

.maxi-toggle-switch {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8px;
	margin-top: 1px;

	&--is-checked {
		.maxi-toggle-switch__toggle__thumb {
			background-color: var(--mpc);
			border-color: var(--mpc);
			transform: translateX(20px);
		}
	}
	&--disabled {
		opacity: 0.5;
	}
	.maxi-base-control {
		&__field {
			width: 100%;
			margin-bottom: 0;
		}
		&__label {
			cursor: pointer;
		}
	}
	&__toggle {
		position: relative;
		cursor: pointer;

		input[type='checkbox'] {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			opacity: 0;

			&:focus + .maxi-toggle-switch__toggle__track {
				border-radius: 12px;
				outline: 1px solid transparent;
			}
		}
		&__track {
			content: '';
			display: inline-block;
			box-sizing: border-box;
			vertical-align: top;
			width: 44px;
			height: 24px;
			background-color: var(--mw);
			background-image: var(--maxi-icon-check),
				var(--maxi-icon-cross);
			background-repeat: no-repeat, no-repeat;
			background-position: 8px center, 24px center;
			background-size: 10px auto, 10px auto;
			border: 1.5px solid var(--mgl) !important;
			border-radius: 12px;
			outline: 0;
			transition: 0.2s background ease, 0.2s border-color ease;
		}
		&__thumb {
			position: absolute;
			top: 3px;
			left: 3px;
			display: block;
			box-sizing: border-box;
			width: 18px;
			height: 18px;
			background-color: var(--mw);
			border: 1.5px solid var(--mgl) !important;
			border-radius: 50%;
			transition: 0.1s transform ease;
		}
	}
}

.maxi-toggle-switch__toggle:hover {
	.maxi-toggle-switch__toggle__track {
		border-color: var(--mg) !important;
	}
	.maxi-toggle-switch__toggle__thumb {
		border-color: var(--mg) !important;
	}
}

.maxi-base-control.maxi-toggle-switch.maxi-toggle-switch--is-checked.maxi-context-loop__toggle {
	margin-top: 10px;
}
