.maxi-toggle-switch {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8px;

	.maxi-base-control {
		&__field {
			width: 100%;
			margin-bottom: 0;
		}
		&__label {
			cursor: pointer;
		}
	}
	&__toggle {
		cursor: pointer;

		input[type='checkbox'] {
			height: 0;
			width: 0;
			visibility: hidden;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			z-index: -1;
		}
		label {
			cursor: pointer;
			width: 44px;
			height: 24px;
			border: 1px solid #dbdde6;
			display: block;
			border-radius: 12px;
			position: relative;
			background-color: #f1f1f1;
			background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.8 8"><path d="M8.43.22A1 1 0 0 0 7 .37L2.93 5.48 1.72 4.21a1 1 0 0 0-1.41 0 1 1 0 0 0 0 1.41l2 2.1h.05a.83.83 0 0 0 .16.09l.1.06A1.15 1.15 0 0 0 3 8a.93.93 0 0 0 .4-.09l.11-.07a.71.71 0 0 0 .18-.12s0 0 0-.06l4.8-6A1 1 0 0 0 8.43.22Z"/></svg>'),
				url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="m5.6 4 2.55-2.55A.85.85 0 1 0 7 .25L4.4 2.8 1.85.25a.85.85 0 0 0-1.2 1.2L3.2 4 .65 6.55a.85.85 0 0 0 0 1.2.83.83 0 0 0 .6.25.82.82 0 0 0 .6-.25L4.4 5.2 7 7.75a.82.82 0 0 0 .6.25.83.83 0 0 0 .6-.25.85.85 0 0 0 0-1.2Z" transform="translate(-.4)"/></svg>');
			background-repeat: no-repeat, no-repeat;
			background-position: 8px center, 24px center;
			background-size: 10px auto, 10px auto;

			&:after {
				content: '';
				position: absolute;
				top: 2px;
				left: 2px;
				width: 18px;
				height: 18px;
				background: #fff;
				border: 1px solid #dbdde6;
				border-radius: 50%;
				transition: 0.3s;
				z-index: 2;
			}
		}
		input:checked + label {
			background-color: #fff;
		}
		input:checked + label:after {
			left: calc(100% - 2px);
			transform: translateX(-100%);
			background: #ff4a17;
			border: 1px solid #ff4a17;
		}
		label:active:after {
			width: 18px;
		}
	}
}
