@import '../../../../../src/css/backend-variables.scss';
.components-column-pattern {
	&__icon {
		width: 100%;
		height: 100%;
		overflow: visible;
		path {
			fill: $w;
			stroke: $gd;
			stroke-width: 1.5px !important;
		}
	}
	.components-column-pattern__template-button svg {
		overflow: visible;
	}
	&__templates {
		margin-bottom: 5px;
		& .components-column-pattern-apply_settings {
			border: $bl;
			justify-content: center;
		}
	}
	&__template-button {
		width: 33.3333333333%;
		padding: 0 5px;

		&:active {
			color: $pc !important;
		}

		&:hover {
			border-color: $pc;
			color: $pc;
			svg path {
				stroke: $pc !important;
			}
		}

		&[aria-pressed='true'] {
			color: $pc;
			border-color: $pc;
			svg path {
				stroke: $pc;
			}
		}

		&--toolbar {
			&:hover {
				svg path {
					fill: $pc;
				}
			}

			&[aria-pressed='true'] {
				svg path {
					fill: $pc;
				}
			}

			svg path {
				stroke: unset;
				stroke-width: unset;
			}
		}
		&.components-column-pattern-apply_settings {
			width: 100%;
			margin-bottom: 10px;
			margin-top: -10px;
			&:hover {
				background-color: $mg;
				color: $w;
				border-color: $pc;
			}
		}
	}
}
