.components-column-pattern {
	&__icon {
		width: 100%;
		height: 100%;
		path {
			fill: #ffffff;
			stroke: #464a53;
			stroke-width: 2px;
		}
	}

	&__templates {
		margin-bottom: 5px;
		& .components-column-pattern-apply_settings {
			border: 1px solid var(--maxi-grey-1-color);
			justify-content: center;
		}
	}
	&__template-button {
		width: 33.3333333333%;
		padding: 0 5px;

		&:active {
			color: #ff4a17 !important;
		}

		&:hover {
			border-color: #ff4a17;
			color: #ff4a17;
			svg path {
				stroke: #ff4a17 !important;
			}
		}

		&[aria-pressed='true'] {
			color: #ff4a17;
			border-color: #ff4a17;
			svg path {
				stroke: #ff4a17;
			}
		}

		&--toolbar {
			&:hover {
				svg path {
					fill: #ff4a17;
				}
			}

			&[aria-pressed='true'] {
				svg path {
					fill: #ff4a17;
				}
			}

			svg path {
				stroke: unset;
				stroke-width: unset;
			}
		}
	}
}
