.components-column-pattern {
	&__icon {
		width: 100%;
		height: 100%;
		overflow: visible;
		path {
			fill: var(--mw);
			stroke: var(--mdg);
			stroke-width: 1.5px !important;
		}
	}
	.components-column-pattern__template-button svg {
		overflow: visible;
	}
	&__templates {
		margin-bottom: 5px;
		& .components-column-pattern-apply_settings {
			border: 1px solid var(--mgl);
			justify-content: center;
		}
	}
	&__template-button {
		width: 33.3333333333%;
		padding: 0 5px;

		&:active {
			color: var(--mpc) !important;
		}

		&:hover {
			border-color: var(--mpc);
			color: var(--mpc);
			svg path {
				stroke: var(--mpc) !important;
			}
		}

		&[aria-pressed='true'] {
			color: var(--mpc);
			border-color: var(--mpc);
			svg path {
				stroke: var(--mpc);
			}
		}

		&--toolbar {
			&:hover {
				svg path {
					fill: var(--mpc);
				}
			}

			&[aria-pressed='true'] {
				svg path {
					fill: var(--mpc);
				}
			}

			svg path {
				stroke: unset;
				stroke-width: unset;
			}
		}
		&.components-column-pattern-apply_settings {
			width: 100%;
			margin-bottom: 10px;
			margin-top: -10px;
			&:hover {
				background-color: var(--mmg);
				color: var(--mw);
				border-color: var(--mpc);
			}
		}
	}
}
