.components-column-pattern {
	width: 392px;
	&__icon {
		width: 100%;
		height: 100%;
		path {
			fill: var(--maxi-black-2-color);
			stroke: #464a53;
			stroke-width: 2px;
		}
	}

	&__templates {
		margin-bottom: 5px;
		text-align: center;
	}
	&__template-button {
		width: 18.8%;
		padding: 0;
		height: 26px;
		margin-right: 1.5%;
		&:nth-child(5n+5){
			margin-right: 0;
		}

		&:hover {
			svg path {
				stroke: #ff4a17 !important;
			}
		}

		&[aria-pressed='true'] {
			svg path {
				stroke: #ff4a17;
			}
		}

		&--toolbar {
			&:hover {
				svg path {
					fill: #fff;
				}
			}

			&[aria-pressed='true'] {
				svg path {
					fill: #fff;
				}
			}

			svg path {
				stroke: unset;
				stroke-width: 2px;
			}
		}
	}
}
