.maxi-advanced-number-control {
	.maxi-base-control {
		margin-bottom: 0;
	}
	&__value {
		width: 20%;
		height: 31px;
		flex: none;
	}
	.components-range-control {
		width: 100%;
		flex: 100% !important;
		margin: 8px 0 0 !important;
	}
	.maxi-base-control__label {
		flex: 2 !important;
	}
	.maxi-base-control__field,
	.components-base-control__field {
		flex-wrap: wrap;

		& > * {
			margin-left: 4px;
		}
		.maxi-base-control__label,
		.components-base-control__label,
		.components-range-control {
			margin-left: 0 !important;
		}

		.components-range-control__root {
			margin-left: 7px !important;
			width: calc(100% - 16px);
		}
	}
}
