.maxi-advanced-number-control {
	&__second-style {
		.maxi-base-control__field {
			position: relative;
		}
		.maxi-base-control__label {
			position: absolute;
			top: -8px;
			left: 8px;
			font-size: 10px !important;
			color: var(--maxi-black) !important;
			font-style: italic;
			padding: 0 5px;
			pointer-events: none;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		.maxi-select-control__input {
			padding: 9px 8px;
		}
	}
	.maxi-base-control {
		margin-bottom: 0;
	}
	&__value {
		width: 20%;
		height: 31px;
		flex: none;
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
		&:after,
		&:before {
			position: absolute;
			right: 5px;
			width: 1.6em;
			height: 0.9em;
			font-size: 10px;
			pointer-events: none;
			background: var(--maxi-white);
		}

		&:after {
			color: var(--maxi-orange-red);
			content: '\25B2';
			width: 12px;
			background-color: var(--maxi-mid-green);
			margin-top: 1px;
		}

		&:before {
			color: var(--maxi-orange-red);
			width: 12px;
			content: '\25BC';
			background-color: var(--maxi-mid-green);
			margin-bottom: 5px;
			bottom: -0.5em;
		}
	}
	.components-range-control {
		width: 100%;
		flex: 100%;
		margin: 8px 0 0;

		&.maxi-advanced-number-control__range--small {
			.components-simple-tooltip {
				transform: none;
			}
		}
		&.maxi-advanced-number-control__range--big {
			.components-simple-tooltip {
				transform: translateX(-90%);
			}
		}
	}
	.maxi-base-control__label {
		flex: 2;
	}
	.maxi-base-control__field,
	.components-base-control__field {
		flex-wrap: wrap;

		& > * {
			margin-left: 4px;
		}
		.maxi-base-control__label,
		.components-base-control__label,
		.components-range-control {
			margin-left: 0;
		}

		.components-range-control__root {
			margin-left: 7px !important;
			width: calc(100% - 16px);
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-select-control__input {
		text-align: right;
	}
	.maxi-base-control__label {
		left: unset;
		right: 8px;
	}
}
