body.maxi-blocks--active .maxi-sidebar {
	.maxi-button-default-styles {
		display: flex;
		flex-wrap: wrap;

		.maxi-default-styles-control__button {
			position: var(--maxi-layout-relative);
			width: calc(var(--maxi-layout-full-width) / 3);
			height: var(--maxi-layout-auto) !important;
			padding: var(--maxi-space-6px);
			border: var(--maxi-border-1-5px) solid var(--maxi-grey-light);
			border-radius: var(--maxi-radius-10px);
			margin-bottom: var(--maxi-space-10px);
			transition: all var(--maxi-transition-400ms) ease;

			&:focus {
				background: var(--maxi-grey);
			}
			&:hover {
				border: 1.5px solid var(--maxi-primary-color);
				background: var(--maxi-whisper-green);

				&::after {
					content: '';
					position: var(--maxi-layout-absolute);
					bottom: var(--maxi-layout-zero);
					left: var(--maxi-layout-zero);
					width: var(--maxi-layout-full-width);
				}
			}
			&:nth-child(6) {
				svg {
					border-radius: var(--maxi-radius-10px);
					box-shadow: var(--maxi-space-0px) var(--maxi-space-0px)
						var(--maxi-space-8px) var(--maxi-space-0px)
						var(--maxi-grey);
				}
			}
			&:nth-child(n + 7) {
				display: var(--maxi-display-flex);
				align-items: var(--maxi-layout-center);
				justify-content: var(--maxi-layout-center);
				width: calc(var(--maxi-layout-full-width) / 5);

				svg {
					width: var(--maxi-space-30px);
					height: var(--maxi-space-30px);
				}
			}
			svg {
				width: var(--maxi-layout-full-width);
				height: var(--maxi-layout-full-width);
			}
		}
	}

	.maxi-icon-control__inherit .maxi-base-control__field {
		column-gap: var(--maxi-space-10px);
		padding-top: var(--maxi-space-20px) !important;
	}
}

body.maxi-blocks--active .maxi-button-block__content.hidden {
	display: none !important;
}

body.margin-top {
	margin-top: var(--maxi-space-20px) !important;
}
