body.maxi-blocks--active .maxi-controls {
	.maxi-button-default-styles {
		display: flex;
		flex-wrap: wrap;

		.maxi-default-styles-control__button {
			width: calc(100% / 3);
			height: auto !important;
			padding: 8px;
			border: 1px solid #dbdde6;

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}

body.maxi-blocks--active .maxi-button-block__content.hidden {
	display: none !important;
}
