body.maxi-blocks--active .maxi-sidebar {
	.maxi-button-default-styles {
		display: flex;
		flex-wrap: wrap;

		.maxi-default-styles-control__button {
			position: relative;
			width: calc(100% / 3);
			height: auto !important;
			padding: 6px;
			border: 1.5px solid var(--maxi-grey-light);
			border-radius: 10px;
			margin-bottom: 10px;
			transition: background 0.4s;

			&:focus {
				background: var(--maxi-grey);
			}
			&:hover {
				border: 1.5px solid var(--maxi-primary-color);

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
				}
			}
			&:nth-child(6) {
				svg {
					border-radius: 10px;
					box-shadow: 0 0 8px 0 var(--maxi-grey);
				}
			}
			&:nth-child(n + 7) {
				display: flex;
				align-items: center;
				justify-content: center;
				width: calc(100% / 5);

				svg {
					width: 33px;
					height: 33px;
				}
			}
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	.maxi-icon-control__inherit .maxi-base-control__field {
		column-gap: 10px;
		padding-top: 20px !important;
	}
}

body.maxi-blocks--active .maxi-button-block__content.hidden {
	display: none !important;
}

body.margin-top {
	margin-top: 20px !important;
}
