.maxi-button-extra {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0;

	&__button {
		height: auto;
		align-items: center;
		display: flex;

		&--icon-left {
			i {
				order: 0;
				margin-right: 5px;
				@at-root .rtl #{&} {
					order: 1;
				}
			}
		}

		&--icon-right {
			i {
				order: 1;
				margin-left: 5px;
				@at-root .rtl #{&} {
					order: 0;
				}
			}
		}
	}
}
