.maxi-button-extra {
	display: flex;
}

.button-maxi .components-panel__body.maxi-panel.maxi-color-setting.maxi-style-tab-setting.is-opened {
	background: #f2f2f2;
	padding: 0 !important;
}

.button-maxi .maxi-buttonsettings-control {
	background: #f2f2f2;
}

.button-maxi .maxi-typography-item .accordion__panel {
	padding: 16px !important;
}

.button-maxi .maxi-typography-item .accordion__panel {
	padding: 35px !important;
}

.components-popover__content {
	margin-right: -35px !important;
}
