.maxi-font-icon-control {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #fff;

	&__upload {
		flex: 1;
		display: block;
		text-align: center;
		box-shadow: none !important;
		border: 2px solid #dddfe2;
		border-radius: 5px;
		color: #464a53;
		min-height: 90px;
		background-color: #f2f2f2;
	}

	&__modal {
		background: #f2f2f2;
		padding: 0;
		overflow-x: hidden;
		min-height: 100%;
		position: absolute;
		width: 80%;
		min-height: 90%;
		max-width: 90%;
	}

	&__main-content {
		display: flex;
	}

	&__category-button {
		background: transparent;
		cursor: pointer;
		border: 0;
		outline: 0;
		&--active {
			color: #ff4a17;
		}
	}

	&__categories {
		flex-grow: 1;
	}

	&__icons {
		flex-grow: 3;
		display: flex;
		flex-wrap: wrap;
		width: 80%;
	}

	&__card {
		padding: 20px;
		text-align: center;
		i {
			font-size: 32px;
		}
	}

	&__insert {
		display: block;
		margin-top: 8px;
		cursor: pointer;
	}
}
