.toolbar-item__icon-background__popover {
	min-width: 300px;

	&__warning {
		text-align: left;
		font-style: italic;
		margin-bottom: 8px;
		margin-top: 0;
		border-left: 2px solid var(--maxi-primary-color);
		padding: 4px 0 4px 9px;
		border-radius: 0;
		color: #151617;
	}
}
