

.hover-animation-basic.hover-animation-type-gray-scale.hover-animation-duration-shorter .hover_el{
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
.hover-animation-basic.hover-animation-type-gray-scale.hover-animation-duration-short .hover_el{
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.hover-animation-basic.hover-animation-type-gray-scale.hover-animation-duration-normal .hover_el{
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover-animation-basic.hover-animation-type-gray-scale.hover-animation-duration-long .hover_el{
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hover-animation-basic.hover-animation-type-gray-scale.hover-animation-duration-longer .hover_el{
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}



.hover-animation-basic.hover-animation-type-gray-scale .hover_el{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.hover-animation-basic.hover-animation-type-gray-scale:hover .hover_el{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


