.maxi-block-inserter {
	width: var(--maxi-layout-full-width);
	height: var(--maxi-layout-full-width);

	&__text {
		text-align: var(--maxi-text-align-center);
		white-space: var(--maxi-white-space-nowrap);
		overflow: var(--maxi-overflow-hidden);
		text-overflow: ellipsis;
		font-family: var(--maxi-font-ui) !important;
		font-size: var(--maxi-font-size-16px) !important;
		line-height: var(--maxi-line-height-normal) !important;
	}
	.block-editor-inserter {
		display: var(--maxi-display-flex);
		width: var(--maxi-layout-full-width);
		min-height: var(--maxi-space-40px);
		pointer-events: var(--maxi-pointer-events-auto) !important;
	}
	&__text {
		&:empty {
			display: var(--maxi-display-none);
		}
	}

	&__button,
	&__button.components-button.is-next-40px-default-size {
		display: var(--maxi-display-block);
		position: var(--maxi-layout-relative);
		width: var(--maxi-space-16px);
		height: var(--maxi-space-16px);
		margin: var(--maxi-layout-auto);
		padding: var(--maxi-reset-padding) !important;
		background: var(--maxi-primary-color) !important;
		box-shadow: var(--maxi-reset-box-shadow);
		border-radius: var(--maxi-space-0px);
		transition: all var(--maxi-transition-400ms) ease !important;

		&--repeater {
			background: var(--maxi-tertiary-color) !important;
		}

		&:hover,
		&:focus {
			box-shadow: var(--maxi-reset-box-shadow);
			outline: var(--maxi-reset-outline);
			background: var(--maxi-black) !important;
		}

		svg {
			display: var(--maxi-display-block);
			width: var(--maxi-space-16px);
			height: var(--maxi-space-16px);
			fill: var(--maxi-white);
		}
	}

	&__dropdown {
		&-selector {
			background: var(--maxi-primary-color);
			border: var(--maxi-border-2px) solid var(--maxi-black);
		}

		&-content {
			z-index: var(--maxi-z-dropdown);
			.block-editor-inserter {
				.components-button {
					position: var(--maxi-layout-relative);
					display: var(--maxi-display-block);
					width: var(--maxi-layout-full-width);
					height: var(--maxi-space-30px) !important;
					border: var(--maxi-reset-border-none);
					box-shadow: var(--maxi-reset-box-shadow) !important;
					text-align: var(--maxi-text-align-left);
					text-transform: capitalize;
					transition: all var(--maxi-transition-400ms) ease;
					&::after,
					&::before {
						content: '';
						position: var(--maxi-layout-absolute);
						bottom: var(--maxi-space-0px);
						left: var(--maxi-space-0px);
						right: var(--maxi-space-0px);
						display: var(--maxi-display-block);
						height: var(--maxi-space-1px);
						background-color: var(--maxi-grey-light);
					}
					&::after {
						width: var(--maxi-space-0px);
						margin: var(--maxi-layout-auto);
						background-color: var(--maxi-secondary-color);
						transition: all var(--maxi-transition-400ms) ease;
					}
					&:hover {
						background-color: var(--maxi-whisper-green);
						&::after {
							width: var(--maxi-layout-full-width);
						}
					}
				}
				&:last-child {
					.components-button {
						&::before {
							display: var(--maxi-display-none);
						}
					}
				}
			}
			.block-editor-inserter {
				width: var(--maxi-layout-full-width);
			}
			.maxi-block-inserter__content {
				width: var(--maxi-control-width-180px);
			}
		}
	}
	// TODO: https://github.com/maxi-blocks/maxi-blocks/issues/5806
	// &__last {
	// 	.maxi-block-inserter__button,
	// 	.maxi-block-inserter__button.is-next-40px-default-size {
	// 		width: 25px;
	// 		height: 25px;
	// 		margin: auto;
	// 		background: var(--maxi-black) !important;
	// 		border: 1px solid var(--maxi-white);
	// 		svg {
	// 			width: 24px;
	// 			height: 24px;
	// 		}
	// 		&:hover,
	// 		&:focus {
	// 			background: var(--maxi-secondary-color) !important;
	// 		}
	// 	}
	// }
}

.maxi-wrapper-block-inserter {
	transform: translateY(-50%);
	animation: none;

	.components-popover__content {
		height: var(--maxi-layout-auto);
		background: var(--maxi-reset-background);
		border: var(--maxi-reset-border-none);
		border-radius: var(--maxi-space-0px);
		box-shadow: var(--maxi-reset-box-shadow);
		outline: var(--maxi-reset-outline);

		.components-dropdown {
			background-color: var(--maxi-white);
		}
	}

	&__button-wrapper {
		&--repeater {
			.maxi-block-inserter__button,
			&:before {
				background: var(--maxi-tertiary-color) !important;
			}
		}

		&:before {
			content: '';
			position: var(--maxi-layout-absolute);
			top: var(--maxi-layout-half);
			left: var(--maxi-layout-half);
			transform: translate(-50%, -50%);
			width: var(--maxi-space-0px);
			height: var(--maxi-space-5px);
			background-color: var(--maxi-primary-color);
			transition: all var(--maxi-transition-400ms) ease;
		}

		&:hover:before {
			width: var(--maxi-inter-blocks-inserter-width);
		}
	}
}

.maxi-inter-blocks-inserter {
	transform: translateY(-50%);

	.components-popover__content {
		border: var(--maxi-reset-border-none);
		background: var(--maxi-reset-background);
		border-radius: var(--maxi-space-0px);
		box-shadow: var(--maxi-reset-box-shadow);
		outline: var(--maxi-reset-outline);

		.components-dropdown {
			background-color: var(--maxi-reset-background);
		}

		> div:first-of-type {
			display: var(--maxi-display-flex);
		}

		.maxi-inter-blocks-inserter__toggle {
			opacity: var(--maxi-opacity-hidden);
			height: var(--maxi-space-10px);
			cursor: var(--maxi-cursor-pointer);
			transition: all var(--maxi-transition-400ms) ease;

			&::before {
				content: '';
				position: var(--maxi-layout-absolute);
				top: var(--maxi-layout-half);
				left: var(--maxi-layout-half);
				transform: translate(-50%, -50%);
				width: var(--maxi-space-0px);
				height: var(--maxi-space-0px);
			}
			&--is-hovered {
				opacity: var(--maxi-opacity-visible);
				height: var(--maxi-space-10px);
				fill: var(--maxi-white) !important;

				.maxi-inter-blocks-inserter__content-item {
					width: var(--maxi-space-20px);
					height: var(--maxi-space-20px);
					margin-top: var(--maxi-space-0px);
				}

				svg {
					fill: var(--maxi-white);
				}

				&::before {
					width: var(--maxi-layout-full-width);
					height: var(--maxi-space-5px);
					background-color: var(--maxi-primary-color);
					margin-top: var(--maxi-space-0px);
				}
			}
		}
	}

	&__content-item {
		position: var(--maxi-layout-absolute);
		top: var(--maxi-layout-half);
		left: 66%;
		transform: translate(-50%, -50%);
		width: var(--maxi-space-20px);
		height: var(--maxi-space-20px);
		padding: var(--maxi-reset-padding) !important;
		background: var(--maxi-primary-color);
		border-radius: var(--maxi-radius-100px);
		color: var(--maxi-white);

		&:hover {
			color: var(--maxi-white);
		}
	}
}
