.maxi-block-inserter {
	width: 100%;
	height: 100%;

	&__text {
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: 'Inter', sans-serif !important;
		font-size: 16px !important;
		line-height: 1.4 !important;
	}
	.block-editor-inserter {
		display: flex;
		width: 100%;
		min-height: 40px;
		pointer-events: auto !important;
	}
	&__text {
		&:empty {
			display: none;
		}
	}

	&__button,
	&__button.components-button.is-next-40px-default-size {
		display: block;
		position: relative;
		width: 16px;
		height: 16px;
		margin: auto;
		padding: 0 !important;
		background: var(--maxi-primary-color) !important;
		box-shadow: none;
		border-radius: 0;
		transition: all 0s ease;

		&--repeater {
			background: var(--maxi-tertiary-color) !important;
		}

		&:hover,
		&:focus {
			box-shadow: none;
			outline: none;
			background: var(--maxi-black) !important;
		}

		svg {
			display: block;
			width: 16px;
			height: 16px;
			fill: var(--maxi-white);
		}
	}

	&__dropdown {
		&-selector {
			background: var(--maxi-primary-color);
			border: 2px solid var(--maxi-black);
		}

		&-content {
			z-index: 99999;
			.block-editor-inserter {
				.components-button {
					position: relative;
					display: block;
					width: 100%;
					height: 30px !important;
					border: none;
					box-shadow: none !important;
					text-align: left;
					text-transform: capitalize;
					transition: 0.3s;
					&::after,
					&::before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						display: block;
						height: 1px;
						background-color: var(--maxi-grey-light);
					}
					&::after {
						width: 0;
						margin: auto;
						background-color: var(--maxi-secondary-color);
						transition: 0.3s;
					}
					&:hover {
						background-color: var(--maxi-whisper-green);
						&::after {
							width: 100%;
						}
					}
				}
				&:last-child {
					.components-button {
						&::before {
							display: none;
						}
					}
				}
			}
			.block-editor-inserter {
				width: 100%;
			}
			.maxi-block-inserter__content {
				width: 180px;
			}
		}
	}
	// TODO: https://github.com/maxi-blocks/maxi-blocks/issues/5806
	// &__last {
	// 	.maxi-block-inserter__button,
	// 	.maxi-block-inserter__button.is-next-40px-default-size {
	// 		width: 25px;
	// 		height: 25px;
	// 		margin: auto;
	// 		background: var(--maxi-black) !important;
	// 		border: 1px solid var(--maxi-white);
	// 		svg {
	// 			width: 24px;
	// 			height: 24px;
	// 		}
	// 		&:hover,
	// 		&:focus {
	// 			background: var(--maxi-secondary-color) !important;
	// 		}
	// 	}
	// }
}

.maxi-wrapper-block-inserter {
	transform: translateY(-50%);
	animation: none;

	.components-popover__content {
		height: auto;
		background: transparent;
		border: none;
		border-radius: 0;
		box-shadow: none;
		outline: none;

		.components-dropdown {
			background-color: var(--maxi-white);
		}
	}

	&__button-wrapper {
		&--repeater {
			.maxi-block-inserter__button,
			&:before {
				background: var(--maxi-tertiary-color) !important;
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 5px;
			background-color: var(--maxi-primary-color);
			transition: all 0.3s ease;
		}

		&:hover:before {
			width: var(--maxi-inter-blocks-inserter-width);
		}
	}
}

.maxi-inter-blocks-inserter {
	transform: translateY(-50%);

	.components-popover__content {
		border: none;
		background: transparent;
		border-radius: 0;
		box-shadow: none;
		outline: none;

		.components-dropdown {
			background-color: transparent;
		}

		> div:first-of-type {
			display: flex;
		}

		.maxi-inter-blocks-inserter__toggle {
			opacity: 0;
			height: 10px;
			cursor: pointer;
			transition: all 0.3s ease;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 0%;
				height: 0;
			}
			&--is-hovered {
				opacity: 1;
				height: 10px;
				fill: var(--maxi-white) !important;

				.maxi-inter-blocks-inserter__content-item {
					width: 20px;
					height: 20px;
					margin-top: 0;
				}

				svg {
					fill: var(--maxi-white);
				}

				&::before {
					width: 100%;
					height: 5px;
					background-color: var(--maxi-primary-color);
					margin-top: 0;
				}
			}
		}
	}

	&__content-item {
		position: absolute;
		top: 50%;
		left: 66%;
		transform: translate(-50%, -50%);
		width: 20px;
		height: 20px;
		padding: 0 !important;
		background: var(--maxi-primary-color);
		border-radius: 100%;
		color: var(--maxi-white);

		&:hover {
			color: var(--maxi-white);
		}
	}
}
