.toolbar-item__popover {
	.toolbar-item__context-loop__popover {
		min-width: 280px;
		.maxi-axis-control {
			.maxi-base-control {
				&__field {
					margin-bottom: 0;
				}
				&__label {
					display: block;
					width: 125px;
				}
				.maxi-advanced-number-control__value {
					flex: 1;
				}
			}
			& > div {
				display: flex;
			}
		}
	}
	.maxi-base-control {
		input[type='text'],
		input[type='number'],
		select {
			border: 2px solid var(--mgl);
			color: var(--mgl);
		}
	}
	.maxi-axis-control {
		color: var(--mw);
		&__content {
			&__item {
				&__checkbox {
					input {
						border: 2px solid var(--mgl);
						background-color: var(--mdg);
						&:focus {
							border-color: var(--mgl);
						}
					}
				}
				&__sync {
					margin-top: 35px;
					border-color: var(--mgl);
					button {
						&[aria-pressed='true'] {
							background: var(--mdg) !important;
						}
						svg {
							fill: var(--mw);
						}
					}
				}
			}
		}
	}
}
