@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__popover {
	.toolbar-item__context-loop__popover {
		min-width: 280px;
		.maxi-axis-control {
			.maxi-base-control {
				&__field {
					margin-bottom: 0;
				}
				&__label {
					display: block;
					width: 125px;
				}
				.maxi-advanced-number-control__value {
					flex: 1;
				}
			}
			& > div {
				display: flex;
			}
		}
	}
	.maxi-base-control {
		input[type='text'],
		input[type='number'],
		select {
			border: 2px solid $gl;
			color: $gl;
		}
	}
	.maxi-axis-control {
		color: $w;
		&__content {
			&__item {
				&__checkbox {
					input {
						border: 2px solid $gl;
						background-color: $gd;
						&:focus {
							border-color: $gl;
						}
					}
				}
				&__sync {
					margin-top: 35px;
					border-color: $gl;
					button {
						&[aria-pressed='true'] {
							background: $gd !important;
						}
						svg {
							fill: $w;
						}
					}
				}
			}
		}
	}
}
