.maxi-textarea-control__input {
	width: 100%;
	padding: var(--maxi-space-6px) var(--maxi-space-8px);

	box-shadow: 0 0 0 transparent;
	transition: box-shadow var(--maxi-transition-100ms) linear;
	border-radius: var(--maxi-radius-2px);
	border: var(--maxi-border-1px) solid var(--maxi-grey-light);
	transition-duration: 0ms;

	/* Fonts smaller than 16px causes mobile safari to zoom. */
	font-size: var(--maxi-font-size-16px);
	/* Override core line-height. To be reviewed. */
	line-height: var(--maxi-line-height-normal);

	@media (min-width: 600px) {
		font-size: var(--maxi-font-size-13px);
		/* Override core line-height. To be reviewed. */
		line-height: var(--maxi-line-height-normal);
	}

	&:focus {
		border-color: var(--maxi-grey-light);
	}
	// Use opacity to work in various editor styles.
	&::-webkit-input-placeholder {
		color: rgba(var(--maxi-grey-dark), 0.62);
	}
	&::-moz-placeholder {
		opacity: 1; // Necessary because Firefox reduces this from 1.
		color: rgba(var(--maxi-grey-dark), 0.62);
	}
	&:-ms-input-placeholder {
		color: rgba(var(--maxi-grey-dark), 0.62);
	}

	&--disable-resize {
		resize: none;
	}
}
