.maxi-prompt-control-modify-tab {
	display: flex;
	flex-direction: column;

	&__abort {
		padding: 8px 0;
		background: var(--maxi-white-4-color);
	}

	&__abort {
		position: sticky;
		bottom: 0;
		justify-content: center;
	}

	&--select-open {
		min-height: 280px;
	}
}
