.maxi-with-unit-control {
	clear: both;
}
  
.maxi-with-unit-control .components-base-control__field {
	position: relative;
}
  
.maxi-with-unit-control .components-range-control__reset {
	margin-left: 6px !important;
}
  
.maxi-width-height-item .components-radio-control__option label {
	height: 30px !important;
	line-height: 28px;
}
  
.maxi-width-height-item .components-range-control__number {
	top: -9px;
	height: 31px !important;
}
  
.maxi-width-height-item .components-range-control__reset {
	height: 31px !important;
	width: 31px !important;
}

.maxi-width-height-item .components-range-control__reset {
	top: -9px !important;
}

.maxi-width-height-item .maxi-size-setting .components-range-control__number {
	max-height: 30px !important;
}

.maxi-width-height-item
.components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
	position: relative;
	top: 0;
	left: 7px;
}

.maxi-width-height-item
.components-base-control.maxi-unit-control.components-radio-control{
	position:relative;
	top: 1px;
	right: 4px;
}
  
.maxi-width-height-item
.components-base-control.components-range-control.maxi-with-unit-control >
.components-base-control__field{
	margin-bottom: 5px !important;
}

.maxi-width-height-item
.components-base-control__field > label{
  position:relative;
  top:3px !important;
}

@media all and(max-width:2000px){

  .maxi-width-height-item
  .components-base-control.maxi-unit-control.components-radio-control{
  	position:relative;
	  top: 1px;
	  right: -4px;
  }

  .maxi-width-height-item
  .components-base-control.maxi-unit-control.components-radio-control
  .components-base-control__field
  .components-radio-control__option > label{
    height:26px !important;
  }

  .maxi-width-height-item
  .components-panel__body.maxi-panel.maxi-size-setting.maxi-style-tab-setting.is-opened{
    padding: 15px !important;
  }

  .maxi-width-height-item .maxi-unit-control > .components-base-control__field:nth-of-type(1){
    position: relative !important;
    top: -1px !important;
  }
      
  .maxi-width-height-item .maxi-size-setting .components-range-control__number {
    max-height: 26px !important;
  }
    
  .maxi-width-height-item .components-radio-control__option label {
    height: 26px !important;
    line-height: 26px;
    width: 25px !important;
    left: -31px !important;
    min-width: unset;
    position: relative;
  }

  .maxi-width-height-item .components-range-control__number {
    height: 31px !important;
  }

  .maxi-width-height-item .maxi-unit-control .components-base-control__field {
    left: 30px;
    position: relative;
  }

  .maxi-width-height-item 
  .components-base-control__field >
    input[type="number"].components-range-control__number{
    height: 26px !important;
    margin-right: 4px !important;
  }
      
  .maxi-width-height-item
  .components-range-control__root.css-yaebbd-Root.exqw8y20 >
  .components-range-control__number.css-1foiknu-InputNumber.exqw8y213{
    position: relative;
    top: 0;
    left: 6px;
  }

  .maxi-width-height-item .components-base-control.maxi-unit-control.components-radio-control{
	  position:relative;
	  top:0px !important;
  } 
}