// div[data-type="gutenberg-extra/block-section-extra"].is-focused {
//     outline: dotted red;
// }
.gx-section-block:hover {
    outline: 1px solid grey;
}

div.wp-block[data-align="full"] > div.gx-section-block {
    width: auto;
}

div.gx-section-block {
    width: 100%;
    margin: auto;
    position: relative;

    > div.gx-section-selector-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(0%);
        opacity: 0;
        visibility: hidden;
        transition: all 1s ease;
        font-size: 12px;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(0px);
            width: 5rem;
            height: 2rem;
            border-top: 8px solid black;
            border-left: 8px solid black;
            opacity: 0;
            visibility: hidden;
            transition: all 1s ease;
        }

        > div.gx-section-selector-item-wrapper {
            display: inline;

            .gx-section-selector-item {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .block-editor-inner-blocks,
    .block-list-appender,
    .gx-section-dropdown {
        width: 100%;
    }

    .gx-section-appender-button {
        display: block;
        width: 100%;
    }

    &.is-selected,
    &.has-child-selected {
        > div.gx-section-selector-wrapper:before {
            transform: translate(-8px, calc(100% - 8px));
            opacity: 1;
            visibility: visible;
        }
    
        > div.gx-section-selector-wrapper {
            transform: translateY(calc(-100% - 8px));
            opacity: 1;
            visibility: visible;
        }
    }
}


