.gx-box-settings-item .components-base-control__field .gx-popover-dropdown .components-button.is-secondary {
	margin: 0px !important;
  }
  
  .gx-box-settings-item .gx-colorcontrol-control .components-base-control__field .gx-popover-dropdown:nth-of-type(1) {
	margin-left: auto;
	/* margin-right: 5px; */
  }
  
  .gx-box-settings-item .gx-colorcontrol-control .components-base-control__field .gx-popover-dropdown:nth-of-type(2) {
	/* margin-right: 5px; */
	margin-left: unset;
  }
  
  .gx-box-settings-item .components-base-control__field .gx-popover-dropdown:nth-of-type(1) svg {
	width: 18px !important;
	height: 18px;
  }

  .gx-box-settings-item .gradient {
	height: 31px;
	padding: 0px 3px 0px 4px;
  }
  
  .gx-box-settings-item .box-shadow button {
	margin-left: 0;
  }
  
  .gx-box-settings-item .box-shadow {
	margin-bottom: -6px;
  }
  
  .gx-box-settings-item .component-color-indicator {
	margin-top: -3px;
  }
  
  .gx-box-settings-item .block-editor-panel-color-gradient-settings {
	width: 100% !important;
  }
  
  .gx-box-settings-item .border-color {
	padding-right: 5px !important;
  }
  
  .gx-box-settings-item .gx-Border {
	/* top: -10px; */
	margin-bottom: 20px;
  }
  
  .gx-box-settings-item .gx-Border .components-gx-dimensions-control__actions {
	margin: auto;
  }
  
  .gx-box-settings-item .block-editor-panel-color-gradient-settings {
	width: 200px;
	margin: 0 !important;
	margin-left: 12px !important;
  }
  
  .gx-box-settings-item .block-editor-panel-color-gradient-settings {
	margin-top: 3px !important;
  }
  
  .gx-box-settings-item .gpw {
	padding: 0;
  }

  .gx-box-settings-item .border-color {
	margin-bottom: 16px !important;
  }

  .gx-box-settings-item .gx-border-type select {
	border-radius: 4px !important;
	height: 100%;
  }
  
  .gx-box-settings-item .gx-border-setting .gx-border-type .components-base-control__field {
	margin-bottom: 10px;
  }
  
  .gx-box-settings-item .gx-reset-button button {
	width: 27px;
  }