/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.gx-image-box-link {
	display: flex;
}

.gx-sidebar .gx-advanced-tab-setting .gx-additional-css .components-base-control__field{
	flex-direction: column;
	align-items: flex-start;
}

.gx-sidebar .gx-advanced-tab-setting .components-base-control .components-base-control__label{
	flex: 120%;
}

.gx-sidebar .gx-advanced-tab-setting textarea {
	height: 200px;
}