.maxi-block--backend {
	.maxi-editor-url-input__button {
		position: var(--maxi-layout-absolute);
		top: var(--maxi-control-height-43px);
		right: var(--maxi-space-0px);
		width: var(--maxi-control-height-40px);
		height: var(--maxi-control-height-40px);
		background: var(--maxi-grey-dark);

		.components-button.has-icon {
			min-width: var(--maxi-control-height-40px);
		}
		button {
			width: var(--maxi-control-height-40px);
			height: var(--maxi-control-height-40px);
			box-shadow: var(--maxi-box-shadow-url-input) !important;
			border-radius: var(--maxi-space-0px);
		}
		form,
		button {
			background: var(--maxi-white);
		}
		button {
			&:hover {
				svg {
					fill: var(--maxi-primary-color);
				}
			}
		}
		form {
			.block-editor-url-input,
			button {
				box-shadow: var(--maxi-reset-box-shadow);
				border: var(--maxi-border-1px) solid var(--maxi-grey-light);
			}
		}
		svg {
			width: var(--maxi-space-20px);
			height: var(--maxi-space-20px);
			fill: var(--maxi-primary-color);
		}
		.components-base-control__field {
			margin-bottom: var(--maxi-space-0px);
			input {
				padding-top: var(--maxi-space-9px);
				padding-bottom: var(--maxi-space-8px);
				width: var(--maxi-control-width-300px);
				font-size: var(--maxi-font-size-14px);
			}
		}
		.maxi-editor-url-input__warning {
			width: var(--maxi-control-width-300px);
			font-size: var(--maxi-font-size-13px);
			margin-top: var(--maxi-space-0px);
			margin-bottom: var(--maxi-space-3px);
			margin-left: calc(-1 * var(--maxi-space-301px));
			color: var(--maxi-primary-color);
			padding-left: var(--maxi-space-8px);
			background: var(--maxi-white);
		}
		.maxi-editor-url-input__button-modal-line {
			display: var(--maxi-display-flex);
			flex-direction: var(--maxi-flex-row-reverse);
		}
	}
}

.maxi-row-block__container {
	@for $i from 3 through 8 {
		.maxi-block__resizer:first-child:nth-last-child(#{$i}) {
			.maxi-block--backend {
				.maxi-editor-url-input__button-modal-line {
					flex-direction: var(--maxi-flex-row);
				}
				.maxi-editor-url-input__warning {
					margin-left: var(--maxi-space-57px);
				}
			}
		}
	}
	@for $i from 6 through 8 {
		.maxi-block__resizer:nth-child(2):nth-last-child(#{$i}) {
			.maxi-block--backend {
				.maxi-editor-url-input__button-modal-line {
					flex-direction: var(--maxi-flex-row);
				}
				.maxi-editor-url-input__warning {
					margin-left: var(--maxi-space-57px);
				}
			}
		}
	}
}
