@import '../../../src/css/backend-variables.scss';
.maxi-block--backend {
	.maxi-editor-url-input__button {
		position: $pa;
		top: 43px;
		right: 0;
		width: 40px;
		height: 40px;
		background: $gd;

		.components-button.has-icon {
			min-width: 40px;
		}
		button {
			width: 40px;
			height: 40px;
			box-shadow: -3px 3px 6px 0px rgb(0 0 0 / 16%) !important;
			border-radius: 0;
		}
		form,
		button {
			background: $w;
		}
		button {
			&:hover {
				svg {
					fill: $pc;
				}
			}
		}
		form {
			.block-editor-url-input,
			button {
				box-shadow: none;
				border: $bl;
			}
		}
		svg {
			width: 20px;
			height: 20px;
			fill: $pc;
		}
		.components-base-control__field {
			margin-bottom: 0;
			input {
				padding-top: 9px;
				padding-bottom: 8px;
				width: 300px;
				font-size: 14px;
			}
		}
		.maxi-editor-url-input__warning {
			width: 300px;
			font-size: 13px;
			margin-top: 0px;
			margin-bottom: 3px;
			margin-left: -301px;
			color: $pc;
			padding-left: 8px;
			background: $w;
		}
		.maxi-editor-url-input__button-modal-line {
			display: flex;
			flex-direction: row-reverse;
		}
	}
}

.maxi-row-block__container {
	@for $i from 3 through 8 {
		.maxi-block__resizer:first-child:nth-last-child(#{$i}) {
			.maxi-block--backend {
				.maxi-editor-url-input__button-modal-line {
					flex-direction: row;
				}
				.maxi-editor-url-input__warning {
					margin-left: 57px;
				}
			}
		}
	}
	@for $i from 6 through 8 {
		.maxi-block__resizer:nth-child(2):nth-last-child(#{$i}) {
			.maxi-block--backend {
				.maxi-editor-url-input__button-modal-line {
					flex-direction: row;
				}
				.maxi-editor-url-input__warning {
					margin-left: 57px;
				}
			}
		}
	}
}
