input[type="checkbox"].gutenberg-extra-checkbox-input {
  position: relative;
  width: 23px;
  height: 23px;
  background: #00cdff !important;
  border-color: #00cdff !important;
  &:focus {
    box-shadow: none !important;
  }
}

input[type="checkbox"].gutenberg-extra-checkbox-input:checked::before {
  content: url("../src/components/checkbox/check-box.svg");
  position: absolute;
  top: 56%;
  left: 50%;
  width: 18px;
  transform: translate(-50%, -50%);
  margin: auto;
}
