// div[data-type="gutenberg-extra/block-column-extra"].is-focused {
//     border: 1px #ccc solid;
//     border-radius: 20px;
// }
.gx-block-wrapper[data-type="gutenberg-extra/block-column-extra"]:hover {
    outline: 1px solid blue;
}

.wp-block[data-type="gutenberg-extra/block-column-extra"] {
    margin: 0;
}

.gx-column-block .block-list-appender {
    width: 100%
}