body.maxi-blocks--active .maxi-text-control {
	.maxi-base-control__field {
		flex-wrap: wrap;
	}

	input.maxi-text-control__input {
		min-height: unset;
		max-height: unset !important;
		padding: 2px 8px;
		border-radius: 5px;
		background-color: rgba(33, 141, 250, 0);
		border: 1px solid var(--maxi-grey-1-color);
		font-size: 13px;
		color: #464a53;
		font-weight: 500;
		flex: 1;

		&:focus {
			border-color: var(--maxi-grey-6-color);
		}
	}

	&__validation-text {
		color: #ff0000;
		width: 100%;
		text-align: right;
	}
	&--fullwidth {
		.maxi-base-control__field {
			display: block !important;
		}
		.maxi-base-control__label {
			margin-bottom: 5px;
		}
		.maxi-text-control__input {
			display: block;
			width: 100%;
		}
	}
}
