.maxi-text-control {
	.maxi-base-control__field {
		flex-wrap: wrap;
	}

	&__input {
		min-height: unset;
		max-height: unset !important;
		border-radius: 5px;
		background-color: rgba(33, 141, 250, 0);
		border: 2px solid #dddfe1;
		font-size: 13px;
		color: #464a53;
		font-weight: 500;
		flex: 1;
	}

	&__validation-text {
		color: #ff0000;
		width: 100%;
		text-align: right;
	}
	&--fullwidth {
		.maxi-base-control__field {
			display: block !important;
		}
		.maxi-base-control__label {
			margin-bottom: 5px;
		}
		.maxi-text-control__input {
			display: block;
			width: 100%;
		}
	}
}
