body.maxi-blocks--active .components-popover.maxi-popover-button {
	.components-popover__content {
		margin: auto;
		overflow: hidden;
		transform: translateY(100%);
		border-radius: 0;
		outline: none;
		border: 1px solid #ccc;
		box-shadow: none !important;
	}

	&--old .components-popover__content {
		transform: translateX(-50%);
	}

	&--open {
		z-index: -1;
	}
}
