body.toplevel_page_maxi-blocks-dashboard {
	background-color: #fff;
	.maxi-dashboard_header {
		background-color: #ff4a17;
	}
}
.maxi-dashboard_main-content_accordion {
	max-width: 700px;
	h3 {
		margin: 0;
	}
	h4 {
		margin-top: 0;
	}

	&-item {
		width: 100%;
		overflow: hidden;
		margin-bottom: 10px;
		border: 1px solid #dbdde6;
		&-label {
			display: flex;
			justify-content: space-between;
			padding: 1em;
			margin-bottom: -1px;
			font-weight: bold;
			cursor: pointer;
			border-bottom: 1px solid #dbdde6;

			&:hover {
			}
			&::after {
				content: '\276F';
				width: 1em;
				height: 1em;
				text-align: center;
				transition: all 0.35s;
				color: #141516;
			}
		}
		&-checkbox {
			display: none !important;
			&:checked {
				+ .maxi-dashboard_main-content_accordion-item-label {
					&::after {
						transform: rotate(90deg);
					}
				}
				~ .maxi-dashboard_main-content_accordion-item-content {
					max-height: 100vh;
					padding: 1em;
				}
			}
		}
		&-content {
			max-height: 0;
			padding: 0 1em;
			background: white;
			transition: all 0.35s;
		}
	}
}
