:root {
	--maxi-primary-color: #82c251;
	--maxi-secondary-color: #007cba;
	--maxi-grey-1-color: #f3f4f5;
	--maxi-grey-2-color: #b4b4b40a;
	--maxi-grey-3-color: rgba(180, 180, 180, 0.12);
	--maxi-grey-4-color: #030303;
	--maxi-grey-5-color: #464a53;
	--maxi-grey-6-color: rgba(180, 180, 180, 0.8);
	--maxi-grey-7-color: #b4b4b4;
	--maxi-grey-8-color: #f5f5f5;
	--maxi-grey-9-color: #dbdde6;
	--maxi-grey-10-color: #e1e2ea;
	--maxi-grey-11-color: #242424;
	--maxi-black-1-color: #141516;
	--maxi-black-2-color: #151617;
	--maxi-black-main-color: #000;
	--maxi-white: #fff;
	--maxi-white-1-color: #f1f1f1;
	--maxi-white-2-color: #f9f9f9;
	--maxi-white-3-color: #fcfcfc;
	--maxi-white-4-color: #f8fbfd;
	--maxi-white-5-color: #f8f8f8;
	--maxi-accessibility-grey-1-color: #757575;
	--maxi-light-blue-1-color: #e5f2f8;
	--maxi-light-blue-2-color: #e5f2f8;
	--maxi-light-blue-3-color: #7fbddc;
	--maxi-highlight-color: #f066ff;
	--maxi-highlight-top-color: #000000;
	--maxi-light-yellow-1-color: #faebcc;
}
