:root {
	--maxi-primary-color: #FF4A17;
	--maxi-secondary-color: #007CBA;
	--maxi-grey-1-color: #dbdde6;
	--maxi-grey-2-color: rgba(180, 180, 180, 0.04);
	--maxi-grey-3-color: rgba(180, 180, 180, 0.12);
	--maxi-grey-4-color: rgba(180, 180, 180, 0.4);
	--maxi-black-1-color: #141516;
	--maxi-white-1-color: #f1f1f1;
	--maxi-white-2-color: #f9f9f9;
}
