/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
 *
*/

@import "../../customizer/css/maxi-themes-styles.scss";

@import "./library-button-modal.scss";
@import "./native-components.scss";
@import "./inserter-card.scss";

/*****************
* General settings
******************/
h2.gx_error {
	text-align: center;
	font-size: 16px;
}

.maxi-sidebar,
.maxi-sidebar *,
.maxi-popover * {
	font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif !important;
	font-weight: 500 !important;
	font-size: 13px;
	color: #464a53;
}

.block-editor-inserter {
	color: #fff !important;
	&__toggle {
		svg {
			fill: #fff !important;
		}
	}
}


/*****************
* Editor settings
******************/
body.maxi-blocks--active {
	.block-editor-block-list__layout.is-root-container {
		.maxi-block {
			&[data-align="full"] {
				.wp-block {
					max-width: none;
				}
			}

			&__resizer {
				.components-resizable-box__handle {
					display: none;
					visibility: hidden;

					&:before,
					&:after {
						background: #ff4a17;
					}
				}

				&:hover {
					.components-resizable-box__handle {
						display: block;
						visibility: visible;
					}
				}
			}
		}
	}
}

/*****************
* Maxi Blocks
******************/
body {
	.maxi-container-block {
		.maxi-container-block__container {
			padding-right: 0 !important;
			padding-left: 0 !important;
			& > .block-list-appender {
				margin: 0;
			}
			.maxi-column-block__resizer {
				margin: 0 !important;
			}
		}
		& > .block-editor-block-list__layout {
			padding: 0 !important;

			& > .wp-block-maxi-blocks-row-maxi {
				padding: 0 !important;
				justify-content: space-between;
			}
		}
	}
}
.maxi-block {
	.block-editor-block-list__layout {
		// padding: 10px;
		&:focus:after {
			box-shadow: none !important;
		}
	}
	.block-list-appender {
		.block-editor-button-block-appender {
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			opacity: 0;
			transition: all 0.3s ease;
			height: 1.5rem;
			width: 1.5rem;
			margin: auto;
			padding: 0;
			background: #1e1e1e;
			z-index: 9;

			&:hover {
				visibility: visible;
				opacity: 1;
			}

			&:hover,
			&:focus {
				outline: none;
				box-shadow: none;
			}

			svg {
				fill: #fff;
				min-width: 2rem;
				min-height: 2rem;
			}
		}
	}

	.block-list-appender--show {
		.block-editor-button-block-appender {
			visibility: visible !important;
			opacity: 1 !important;
		}
	}
}

/****************
* Gutenberg Panel
****************/
.maxi-controls {
	background: #f2f2f2;

	> div {
		background: #f2f2f2;
	}

	* {
		overflow-x: none;
	}

	.components-panel__body {
		// This should be fix
		border-top: none;

		.components-panel__body-title {
			display: none !important;
		}

		.maxi-panel:first-child {
			margin-top: 0 !important;
		}
	}

	.block-editor-block-inspector__advanced {
		display: none;
	}
}

body.maxi-blocks--active .maxi-sidebar,
body .maxi-popover,
body .toolbar-item__popover {
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		min-height: unset;
		max-height: unset !important;
		border-radius: 5px;
		background-color: rgba(33, 141, 250, 0);
		border: 2px solid #dddfe1;
		font-size: 13px;
		color: #464a53;
		font-weight: 500;
		flex: 1;
	}

	.components-range-control__number {
		.components-input-control__backdrop {
			border: none;
		}
		.components-input-control__input {
			border: 2px solid #dddfe2;
			border-radius: 5px;
			padding-right: 0;
			height: 30px;
			line-height: 30px;
		}
	}

	select {
		padding: 0 24px 0px 10px !important;
		opacity: 1 !important;
	}

	.components-color-picker {
		&__body {
			padding-right: 0;
			padding-left: 0;
		}
	}

	button.components-range-control__reset,
	button.components-circular-option-picker__clear {
		font-size: 0 !important;

		&:before {
			content: url("../img/maxi-reset.svg") !important;
			margin: auto;
			margin-left: auto;
			color: #464a53;
			width: 14px;
			height: 14px;
		}
	}

	.components-panel {
		background: transparent;
		border: none;
	}
}
body .toolbar-item__popover {
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		color: #fff;
		border-color: #80828a;
	}
	input[type="number"] {
		padding-right: 0;
	}
	.components-range-control__number {
		.components-input-control {
			&__container {
				background-color: transparent;
			}
			&__input {
				border-color: #80828a;
				color: #fff;
			}
		}
	}
}

/************
* Unit Select
************/

.components-base-control {
	.components-maxi-dimensions-control__units {
		margin-bottom: 0 !important;
		.components-base-control__field {
			margin-bottom: 0;
			.components-select-control__input {
				min-width: 3.2rem;
				max-width: 100%;
			}
		}
	}
}

/*************
* Reset Button
*************/

.components-maxi-control__reset-button {
	display: inline-flex;
	width: 31px;
	min-width: 31px;
	height: 31px;
	text-decoration: none;
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
	background-color: rgba(0, 0, 0, 0);
	transition: box-shadow 0.1s linear;
	align-items: center;
	overflow: hidden;
	padding: 0;
	opacity: 1;
	border-radius: 5px;
	box-shadow: none;
	border: 2px solid #dddfe1;
	margin-left: 5px;

	svg {
		width: 14px;
		height: 14px;
		fill: #464a53;
		margin: auto;
	}
}

.maxi-fancy-radio-control {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;

	.maxi-display-control {
		width: 100%;
	}
	.components-radio-control {
		width: 100%;

		.components-base-control__label {
			flex: 5 !important;
		}
		&__option {
			opacity: 1 !important;
			min-width: 40px;
			height: 40px;
			background-color: rgba(33, 141, 250, 0);
			font-size: 20px;
			color: #464a53;
			font-weight: 500;
			flex: 1;
			border: 2px solid #dddfe1;
			border-right: 0;

			&:first-of-type {
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
			}
			&:last-of-type {
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				border-right: 2px solid #dddfe1;
			}
			input {
				display: none;

				&:checked ~ label {
					background-color: #f2f2f2;
					outline: 1px solid transparent;
					position: relative;
					z-index: 1;
				}
			}
			label {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			svg {
				display: block;
				height: 100%;
				width: 20px;
				margin: auto;
				fill: #464a53;
			}
		}
	}
}

.maxi-classic-radio-control {
	margin-bottom: 5px;

	&__bordered {
		.components-radio-control {
			&__option {
				label {
					border: 2px solid #dddfe1;
					border-radius: 2px;
					margin: 0 2px;
				}
			}
		}
	}
	.components-radio-control {
		width: 100%;

		.components-base-control__field {
			flex-wrap: wrap;
		}
		&__option {
			opacity: 1 !important;
			width: 20%;

			input {
				display: none;

				&:checked ~ label {
					background-color: #f2f2f2;
					outline: 1px solid transparent;
					position: relative;
					z-index: 1;
				}
			}
			label {
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 6px;
				border-radius: 5px;
				margin-bottom: 5px;
			}
			svg {
				display: block;
				height: 100%;
				width: 100%;
				margin: auto;
			}
		}
	}
}
