/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
 *
*/

@import "./library-button-modal.scss";
@import "./native-components.scss";
@import "./inserter-card.scss";

/*****************
* General settings
******************/
h2.gx_error {
	text-align: center;
	font-size: 16px;
}

.maxi-sidebar,
.maxi-sidebar *:not(i),
.maxi-popover *:not(i) {
	font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif !important;
	font-weight: 500 !important;
	font-size: 13px;
	color: #464a53;
}

.block-editor-inserter {
	color: #fff !important;
	&__toggle {
		svg {
			fill: #fff !important;
		}
	}
}

/*****************
* Editor settings
******************/
body.maxi-blocks--active {
	.block-editor-block-list__layout.is-root-container {
		.maxi-block {
			&[data-align="full"] {
				.wp-block:not[data-align="normal"] {
					max-width: none;
				}
			}
		}
	}
}

.edit-post-visual-editor i {
	font-style: normal;
}

/*****************
* Maxi Blocks
******************/
body {
	.maxi-container-block {
		.maxi-container-block__container {
			& > .block-list-appender {
				margin: 0;
			}
		}
		& > .block-editor-block-list__layout {
			padding: 0;

			& > .wp-block-maxi-blocks-row-maxi {
				padding: 0 !important;
				justify-content: space-between;
			}
		}
	}
}
.maxi-block {
	.block-editor-block-list__layout {
		// padding: 10px;
		&:focus:after {
			box-shadow: none !important;
		}
	}
	&:hover {
		.block-list-appender {
			.block-editor-button-block-appender {
				visibility: visible !important;
				opacity: 1 !important;
			}
		}
	}
	.block-list-appender {
		max-width: none;

		.block-editor-button-block-appender {
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			opacity: 0;
			transition: all 0.3s ease;
			height: 1.5rem;
			width: 1.5rem;
			margin: auto;
			padding: 0;
			background: #1e1e1e;
			z-index: 9;

			&:hover,
			&:focus {
				outline: none;
				box-shadow: none;
			}

			svg {
				fill: #fff;
				min-width: 2rem;
				min-height: 2rem;
			}
		}
	}

	.block-list-appender--show {
		.block-editor-button-block-appender {
			visibility: visible !important;
			opacity: 1 !important;
		}
	}

	&.maxi-block--has-link .maxi-text-block__content{
		transition: color .3s ease;
	}
}

/****************
* Gutenberg Panel
****************/
.maxi-controls {
	background: #f2f2f2;

	> div {
		background: #f2f2f2;
	}

	* {
		overflow-x: none;
	}

	.components-panel__body {
		// This should be fix
		border-top: none;

		.components-panel__body-title {
			display: none !important;
		}

		.maxi-panel:first-child {
			margin-top: 0 !important;
		}
	}

	.block-editor-block-inspector__advanced {
		display: none;
	}
}

body.maxi-blocks--active .maxi-sidebar,
body .maxi-popover,
body .toolbar-item__popover {
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		min-height: unset;
		max-height: unset !important;
		border-radius: 5px;
		background-color: rgba(33, 141, 250, 0);
		border: 2px solid #dddfe1;
		font-size: 13px;
		color: #464a53;
		font-weight: 500;
		flex: 1;
	}
	input[type="number"] {
		padding: 0 0 0 8px;
		height: auto;
	}

	.components-range-control__number {
		.components-input-control__backdrop {
			border: none;
		}
		.components-input-control__input {
			border: 2px solid #dddfe2;
			border-radius: 5px;
			padding-right: 0;
			height: 30px;
			line-height: 30px;
		}
	}

	select {
		padding: 0 24px 0px 10px !important;
		opacity: 1 !important;
	}

	button.components-range-control__reset,
	button.components-circular-option-picker__clear {
		font-size: 0 !important;

		&:before {
			content: url("../../img/maxi-reset.svg") !important;
			margin: auto;
			margin-left: auto;
			color: #464a53;
			width: 14px;
			height: 14px;
		}
	}

	.components-panel {
		background: transparent;
		border: none;
	}

	.components-simple-tooltip {
		color: #fff;
	}
}

body.maxi-blocks--active.rtl .maxi-sidebar,
body.rtl .maxi-popover,
body.rtl .toolbar-item__popover {
	input[type="number"] {
		padding: 0 8px 0 0px;
	}
}

body .toolbar-item__popover {
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		color: #fff;
		border-color: #80828a;
	}
	input[type="number"] {
		padding-right: 0;
	}
	.components-range-control__number {
		.components-input-control {
			&__container {
				background-color: transparent;
			}
			&__input {
				border-color: #80828a;
				color: #fff;
			}
		}
	}
}

.components-base-control {
	&__field {
		.components-select-control {
			&__input {
				&:disabled {
					background-color: #f2f2f2 !important;
				}
			}
		}
	}
}

/************
* Unit Select
************/

.maxi-base-control {
	.maxi-dimensions-control__units {
		margin-bottom: 0 !important;
		.maxi-base-control__field {
			margin-bottom: 0;
			.maxi-select-control__input {
				min-width: 3.2rem;
				max-width: 100%;
			}
		}
	}
}

/*************
* Reset Button
*************/

.maxi-base-control .components-maxi-control__reset-button {
	display: inline-flex;
	width: 31px;
	min-width: 31px;
	height: 31px;
	text-decoration: none;
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
	background-color: rgba(0, 0, 0, 0);
	transition: box-shadow 0.1s linear;
	align-items: center;
	overflow: hidden;
	padding: 0;
	opacity: 1;
	border-radius: 5px;
	box-shadow: none;
	border: 2px solid #dddfe1;
	margin-left: 5px;
	@at-root .rtl #{&} {
		margin-left: unset;
		margin-right: 5px;
	}

	svg {
		width: 14px;
		height: 14px;
		fill: #464a53;
		margin: auto;
	}
}

/*******************************
* Style Card Editor Boat Icon
*******************************/

svg path#styleCardBoat_a {
	fill: var(--maxi-light-color-4);
}

svg path#styleCardBoat_b {
	stroke: var(--maxi-light-color-7);
}
