/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
 *
*/

@import "./native-components.scss";
@import "./inserter-card.scss";

/*****************
* General settings
******************/
h2.gx_error {
	text-align: center;
	font-size: 16px;
}

.maxi-sidebar,
.maxi-sidebar *:not(i),
.maxi-popover *:not(i) {
	font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif !important;
	font-weight: normal;
	font-size: 12px;
	color: #464a53;
}

.block-editor-inserter {
	color: #fff !important;
	&__toggle {
		svg {
			fill: #fff !important;
		}
	}
}

.interface-interface-skeleton {
	&__sidebar {
		border-left: 1px solid #dbdde6 !important;
	}
}

/*****************
* Editor settings
******************/
body.maxi-blocks--active {
	.block-editor-block-list__layout.is-root-container {
		.maxi-block {
			&[data-align="full"] {
				margin: 0 auto;

				.wp-block:not[data-align="normal"] {
					max-width: none;
				}
			}
		}
	}
}

.edit-post-visual-editor i {
	font-style: normal;
}

/*****************
* Maxi Blocks
******************/
body {
	.maxi-container-block {
		.maxi-container-block__container {
			& > .block-list-appender {
				margin: 0;
			}
		}
		& > .block-editor-block-list__layout {
			padding: 0;

			& > .wp-block-maxi-blocks-row-maxi {
				padding: 0 !important;
				justify-content: space-between;
			}
		}
	}
}
.maxi-block {
	.block-editor-block-list__layout {
		// padding: 10px;
		&:focus:after {
			box-shadow: none !important;
		}
	}
	&:hover {
		.block-list-appender {
			.block-editor-button-block-appender {
				visibility: visible !important;
				opacity: 1 !important;
			}
		}
	}
	.block-list-appender {
		max-width: none;

		.block-editor-button-block-appender {
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			opacity: 0;
			transition: all 0.3s ease;
			height: 1.5rem;
			width: 1.5rem;
			margin: auto;
			padding: 0;
			background: #1e1e1e;
			z-index: 9;

			&:hover,
			&:focus {
				outline: none;
				box-shadow: none;
			}

			svg {
				fill: #fff;
				min-width: 2rem;
				min-height: 2rem;
			}
		}
	}

	.block-list-appender--show {
		.block-editor-button-block-appender {
			visibility: visible !important;
			opacity: 1 !important;
		}
	}

	&.maxi-block--has-link .maxi-text-block__content{
		transition: color .3s ease;
	}
}

/****************
* Gutenberg Panel
****************/
.maxi-controls {
	background: #f5f5f5;

	> div {
		background: #f5f5f5;
	}

	* {
		overflow-x: none;
	}

	.components-panel__body {
		// This should be fix
		border-top: none;

		.components-panel__body-title {
			display: none !important;
		}

		.maxi-panel:first-child {
			margin-top: 0 !important;
		}
	}

	.block-editor-block-inspector__advanced {
		display: none;
	}
}

body.maxi-blocks--active .maxi-sidebar,
body .maxi-popover,
body .toolbar-item__popover {
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		min-height: unset;
		max-height: unset !important;
		border-radius: 0;
		background-color: #fff;
		border: 1px solid #DBDDE6;
		font-size: 12px;
		color: #464a53;
		flex: 1.3;
		padding: 8px;
		line-height: 12px;
	}
	input[type=number] {
		padding-right: 0;
	}
	input[type=number]::-webkit-inner-spin-button {
		opacity: 1;
		width: 30px;
		height: 30px;
		background-color: #fff !important;
	}


	.components-range-control__number {
		.components-input-control__backdrop {
			border: none;
		}
	}

	select {
		padding: 0 24px 0px 10px !important;
		opacity: 1 !important;
	}

	button.components-range-control__reset,
	button.components-circular-option-picker__clear {
		font-size: 0 !important;

		&:before {
			content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11.34 11.5" role="img" aria-hidden="true" focusable="false"><path d="M11.32.75a.74.74 0 0 0-.75-.75.76.76 0 0 0-.75.75v1.49A5.6 5.6 0 1 0 5.6 11.5a5.44 5.44 0 0 0 1.48-.2.74.74 0 0 0 .52-.92.76.76 0 0 0-.92-.53A4.1 4.1 0 1 1 9.22 4H6.57a.75.75 0 0 0 0 1.5h4a.75.75 0 0 0 .53-.22.77.77 0 0 0 .22-.54Z"></path></svg>') !important;
			margin: auto;
			margin-left: auto;
			color: #141516;
			width: 14px;
			height: 14px;
		}
	}

	.components-panel {
		background: transparent;
		border: none;
	}

	.components-simple-tooltip {
		color: #fff;
	}
}

body.maxi-blocks--active.rtl .maxi-sidebar,
body.rtl .maxi-popover,
body.rtl .toolbar-item__popover {
	input[type="number"] {
		padding: 0 8px 0 0px;
	}
}

body .toolbar-item__popover {
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		color: #fff;
		border-color: #80828a;
	}
	input[type="number"] {
		padding-right: 0;
	}
	.components-range-control__number {
		.components-input-control {
			&__container {
				background-color: transparent;
			}
			&__input {
				border-color: #80828a;
				color: #fff;
			}
		}
	}
}

.components-base-control {
	&__field {
		.components-select-control {
			&__input {
				&:disabled {
					background-color: #f2f2f2 !important;
				}
			}
		}
	}
}

/************
* Unit Select
************/

.maxi-base-control {
	.maxi-dimensions-control__units {
		margin-bottom: 0 !important;
		.maxi-base-control__field {
			margin-bottom: 0;
			.maxi-select-control__input {
				min-width: 3.2rem;
				max-width: 100%;
			}
		}
	}
}

/*************
* Reset Button
*************/
.maxi-base-control .components-maxi-control__reset-button {
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    text-decoration: none;
    cursor: pointer;
    background: none;
    background-color: #fff;
    transition: box-shadow 0.1s linear;
    overflow: hidden;
    padding: 8px;
    opacity: 1;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #E1E2EA;
	transition: all 0.5s;
	margin-left: 8px;

	&:hover {
		background: #f1f1f1;
	}
	svg {
		width: 14px;
		height: 14px;
		fill: #141516;
		margin: auto;
	}
	@at-root .rtl #{&} {
		margin-right: 8px;
	}
}

/*******************************
* Style Card Editor Boat Icon
*******************************/

svg path#styleCardBoat_a {
	fill: rgba(var(--maxi-light-color-4), 1);
}

svg path#styleCardBoat_b {
	stroke: rgba(var(--maxi-light-color-7), 1);
}
