/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
 *
*/
@import './maxi-themes.scss';
@import './backend-variables.scss';
@import './native-components.scss';
@import './inserter-card.scss';

/*****************
* General settings
******************/
.interface-interface-skeleton {
	&__sidebar {
		overflow-x: hidden;
		.interface-complementary-area__fill {
			position: relative !important;
			width: auto !important;
			.editor-sidebar {
				min-width: 295px;
				overflow-x: hidden;
			}
		}
	}

	&__content {
		background-color: #e9e9e9 !important;

	}
}

// Scrollbar fix for Safari
@media not all and (min-resolution: 0.001dpcm) {
	@supports (-webkit-appearance: none) {
		.interface-interface-skeleton__sidebar {
			padding-right: 15px;
		}
	}
}

h2.gx_error {
	font-size: 16px;
	text-align: center;
}
.maxi-sidebar,
.maxi-sidebar
	*:not(i):not(.block-editor-block-card):not(.block-editor-block-card
		*):not(.components-range-control__root):not(.components-range-control__root
		*):not([class*='maxi-transform-control']):not([class*='maxi-transform-control']
		*):not(.w-tc-editor-text):not(.maxi-css-code-editor__code-editor *),
.maxi-popover *:not(i) {
	transition: var(--maxi-trans-std);
	color: var(--mdg);
	font-family: var(--maxi-font-sans) !important;
	font-weight: normal;
	.block-editor-block-card__name {
		padding: 0 !important;
	}
}

.maxi-sidebar .block-editor-block-card *:not(i) {
	color: var(--mdg);
	font-family: var(--maxi-font-sans) !important;
	font-weight: normal;
	.block-editor-block-card__name {
		padding: 0 !important;
	}
}

.maxi-sidebar.maxi-style-cards__popover {
	transition: none;
}

.block-editor-inserter {
	transition: var(--maxi-trans-std);
	color: var(--mw) !important;
	height: 100%;

	&__toggle {
		transition: var(--maxi-trans-std);
		svg {
			transition: var(--maxi-trans-std);
			fill: var(--mw) !important;
		}
	}
}

/*****************
* Editor settings
******************/
.edit-post-visual-editor,
.edit-site-visual-editor,
.editor-visual-editor {
	i {
		font-style: normal;
	}
}

.editor-visual-editor {
	overflow: visible;
}

/*****************
* MaxiBlocks
******************/
body {
	.maxi-container-block {
		& > .block-list-appender {
			width: 100%;
			max-width: none;
			margin: 0;
		}

		& > .block-editor-block-list__layout {
			padding: 0;

			& > .wp-block-maxi-blocks-row-maxi {
				justify-content: space-between;
				padding: 0 !important;
			}
		}
	}
}
.maxi-block {
	transition: var(--maxi-trans-std);

	.block-editor-block-list__layout {
		transition: var(--maxi-trans-std);
		&:focus:after {
			box-shadow: none !important;
		}
	}
	&:hover {
		transition: var(--maxi-trans-std);
		& > .block-editor-block-list__layout {
			& > .block-list-appender {
				.block-editor-button-block-appender {
					opacity: 1 !important;
					visibility: visible !important;
					transition: opacity 0.5s ease, visibility 0.5s ease;
				}
			}
		}
	}
	.block-list-appender.wp-block {
		position: relative;
		width: 100%;
		max-width: none;
		pointer-events: auto !important;

		&:has(> .maxi-block-inserter) {
			height: 100%;
		}
	}

	.maxi-block .maxi-block-inserter {
		height: 100%;
		display: flex;
		align-items: center;
	}

	&.maxi-block--has-link .maxi-text-block__content {
		transition: color 0.3s ease;
	}

	&__settings {
		&__upload-button {
			@extend %upload-button-base;
			svg {
				fill: var(--msc);
			}
			&:hover svg {
				fill: var(--mpc);
			}
		}
	}
}

/****************
* Gutenberg Panel
****************/
.maxi-sidebar {
	.components-panel__body {
		// This should be fix
		border-top: none;

		.components-panel__body-title {
			display: none !important;
		}

		.maxi-panel:first-child {
			margin-top: 0 !important;
		}
	}

	.block-editor-block-inspector__advanced {
		display: none;
	}
}

body.maxi-blocks--active.maxi-blocks--accessibility .maxi-sidebar {
	input[type='text'],
	input[type='number'],
	textarea,
	select {
		border-color: var(--magy);

		&:focus {
			border-color: var(--msc);
			box-shadow: 0 0 0 1px var(--msc);
			outline: 2px solid transparent;
		}

		&:hover {
			border-color: var(--msc);
			box-shadow: 0 0 0 1px var(--msc);
			outline: 2px solid transparent;
		}
	}
	button.maxi-color-control__palette-box,
	button.maxi-tabs-control__button,
	.maxi-components-button {
		border-color: var(--mgl);
	}
	button.maxi-color-control__palette-box--active,
	button.maxi-color-control__palette-box:focus,
	button.maxi-tabs-control__button--selected,
	button.maxi-tabs-control__button:focus,
	.maxi-components-button:focus:not(:disabled) {
		z-index: 2;
		border-color: var(--msc);
		box-shadow: 0 0 0 1px var(--msc);
		outline: 2px solid transparent;
	}
	.maxi-base-control .components-maxi-control__reset-button {
		border-color: var(--mgl);
	}
}

body.maxi-blocks--active .maxi-sidebar,
body .maxi-popover,
body .toolbar-item__popover {
	input[type='text'],
	input[type='number'],
	textarea:not(.w-tc-editor-text),
	select {
		transition: var(--maxi-trans-std);
		flex: 1;
		max-height: unset !important;
		min-height: unset;
		padding: 10px;
		border-radius: var(--maxi-radius-sm) !important;
		color: var(--mdg);
		background-color: var(--mw);
		font-size: 13px;
		line-height: normal;

		&:focus {
			box-shadow: none;
			outline: none;
		}
		&:active {
			color: var(--mdg);
		}
	}
	input[type='number'] {
		padding-right: 0;
	}
	input[type='number']::-webkit-inner-spin-button {
		height: 31px;
		opacity: 1;
	}
	.components-range-control__number {
		.components-input-control__backdrop {
			border: none;
		}
	}
	.maxi-components-button:focus:not(:disabled) {
		box-shadow: none;
		outline: none;
	}
	button.components-range-control__reset,
	button.components-circular-option-picker__clear {
		font-size: 0 !important;

		&:before {
			content: var(--maxi-icon-reset) !important;
			width: 14px;
			height: 14px;
			margin: auto;
			color: var(--mdg);
		}
		&:hover {
			transition: var(--maxi-trans-std);
			&:before {
				content: var(--maxi-icon-reset-hover) !important;
			}
		}
	}
	.components-panel {
		background: transparent;
		border: none;
	}
	.components-simple-tooltip {
		color: var(--mw);
	}
}

body.maxi-blocks--active .components-tooltip {
	pointer-events: none;
}

body.maxi-blocks--active.rtl .maxi-sidebar,
body.rtl .maxi-popover,
body.rtl .toolbar-item__popover {
	input[type='number'] {
		padding: 0 8px 0 0px;
	}
}

body .toolbar-item__popover {
	input[type='text'],
	input[type='number'],
	textarea,
	select {
		border-color: var(--mg);
	}
	input[type='number'] {
		padding-right: 0;
	}
	.components-range-control__number {
		.components-input-control {
			&__container {
				background-color: transparent;
			}
			&__input {
				color: var(--mdg);
				border-color: var(--mgl);
			}
		}
	}
}

.components-base-control {
	&__field {
		.components-select-control {
			&__input {
				&:disabled {
					background-color: var(--mpg) !important;
					color: var(--mb) !important;
					font-weight: 700 !important;

					&:hover {
						background-color: var(--mmg) !important;
						color: var(--mw) !important;
					}
				}
			}
		}
	}
}

/************
* Unit Select
************/
.maxi-base-control {
	.maxi-dimensions-control__units {
		margin-bottom: 0 !important;
		.maxi-select-control__input {
			border: none !important;
		}

		.maxi-base-control__field {
			margin-bottom: 0;

			.maxi-select-control__input {
				// min-width: 1rem;
				max-width: 100%;
			}
		}
	}
}

// Tighten unit select spacing inside AdvancedNumberControl only
body.maxi-blocks--active {
	.maxi-advanced-number-control
		.maxi-dimensions-control__units
		select.maxi-select-control__input {
		/* Prevent stretching and tighten internal spacing */
		flex: 0 0 auto !important;
		width: auto !important;
		max-width: 60px !important;
		min-width: 55px !important;
		padding: 8px 6px !important;
		background-color: var(--mw) !important;
		border-left: none !important;
		border-right: none !important;
	}
}

/*******************************
* Style Card Editor Boat Icon and Cloud library Icon
*******************************/
#template-library-fill,
svg path#styleCardMenu_a,
svg path#styleCardBoat_a {
	fill: rgba(var(--maxi-active-sc-color), 1);
}
.maxi-responsive-close svg g,
.template-library-cloud-icon path,
#maxi-button__go-to-customizer svg,
svg path#styleCardMenu_b,
svg path#styleCardBoat_b,
#styleCardBoat_b {
	stroke: var(--mdg);
}
.maxi-responsive-close {
	background-color: rgba(var(--maxi-active-sc-color), 1);
}
.maxi-responsive-close:hover svg g {
	stroke: var(--mw);
}

/*******************************
* Grid lines
*******************************/

.maxi-block {
	&::after {
		transition: var(--maxi-trans-std);
		content: '';
		position: absolute;
		pointer-events: none;
		top: -1px !important;
		right: -3px !important;
		bottom: -1px !important;
		left: -3px !important;
		border: 2px solid var(--mlb-a);
		border-radius: 0;
		box-shadow: none !important;
		opacity: 0;
	}

	&.maxi-block--repeater::after {
		border-color: var(--mtc);
	}

	&.maxi-block--full-width::after {
		width: calc(100% - 4px);
	}

	&:not(.is-selected) {
		&:hover {
			transition: var(--maxi-trans-std);
			&::after {
				opacity: 1;
			}
		}
	}

	&.is-selected {
		&::after {
			opacity: 1;

			&:not(.maxi-block--is-repeater) {
				border-color: var(--mpc);
			}
		}
		&:focus {
			box-shadow: none;
		}
	}

	&.maxi-container-block {
		&::after {
			top: 0px !important;
			right: 0px !important;
			bottom: 0px !important;
			left: 0px !important;
		}
		.maxi-block-indicators__padding--left {
			position: absolute;
			left: 4px;
		}
		.maxi-block-indicators__padding--right {
			position: absolute;
			right: 4px;
		}
	}
}
/*******************************
* FSE previews
*******************************/

body {
	.maxi-blocks-pattern-preview {
		transform: none !important;
		aspect-ratio: inherit !important;
	}
	.maxi-blocks-pattern-preview-grid {
		aspect-ratio: inherit !important;
		min-height: auto !important;
		&__card {
			height: auto !important;
		}
	}

	.block-editor-block-preview__content:has(.maxi-blocks-pattern-preview) {
		transform: none !important;
		aspect-ratio: inherit !important;
	}
}

/*******************************
* RTL
*******************************/

html[dir='rtl'] {
	.interface-interface-skeleton__sidebar {
		scrollbar-gutter: unset;
	}
	.maxi-color-control
		.chrome-picker
		> div
		> div:last-of-type:last-of-type
		div:not(.saturation-white, .saturation-black)
		label,
	.maxi-responsive-selector
		.maxi-style-cards__popover
		.maxi-style-cards__sc__actions
		button,
	.maxi-responsive-selector
		.maxi-style-cards__popover
		.maxi-style-cards__sc__more-sc--select,
	.maxi-responsive-selector
		.maxi-style-cards__popover
		.maxi-style-cards__sc__ie
		button,
	.maxi-responsive-selector
		.maxi-style-cards__popover
		.maxi-style-cards__sc
		a.components-button,
	.maxi-responsive-selector
		.maxi-style-cards__popover
		.maxi-style-cards__sc__save
		input[type='text'],
	.maxi-responsive-selector .action-buttons__button svg {
		margin-right: 0;
		margin-left: 5px;
	}
	.maxi-responsive-selector .action-buttons__help svg {
		margin-left: 2px;
	}
	.maxi-responsive-selector
		.maxi-style-cards__popover
		.maxi-style-cards__quick-color-presets__reset-button
		svg,
	.maxi-responsive-selector .maxi-style-cards__popover__title > svg {
		margin-right: 0;
		margin-left: 10px;
	}
	.maxi-responsive-selector
		.maxi-style-cards__popover
		.maxi-style-cards__sc__more-sc--select
		.maxi-select-control__input {
		padding-right: 20px;
	}
	.maxi-advanced-number-control .maxi-base-control__field > *,
	.maxi-advanced-number-control .components-base-control__field > * {
		margin-left: 0;
		margin-right: 4px;
	}
	.maxi-tab-content__box
		.maxi-base-control.maxi-typography-control__orientation,
	.maxi-tab-content__box
		.maxi-base-control.maxi-typography-control__direction {
		margin-bottom: 8px;
	}
	.rtl .maxi-base-control .components-maxi-control__reset-button {
		margin-left: 0;
	}
}

// Shared upload button base styles
%upload-button-base {
	width: 30px;
	height: 30px;
	box-shadow: -3px 3px 6px 0px rgb(0 0 0 / 16%) !important;
	border-radius: 0;
	background: var(--mw);
	visibility: visible;
	transition: var(--maxi-trans-std);
	svg {
		width: 15px;
		height: 15px;
		transition: fill 0.3s ease;
	}
}

/***************
* Upload button
***************/
.maxi-settings-media-upload {
	&__button {
		@extend %upload-button-base;
		svg {
			fill: var(--mpc);
		}
		&:hover {
			background-color: var(--mpg) !important;
			border-color: var(--mpc);
			svg {
				fill: var(--mpc);
			}
		}
	}
}

/**
* Hide scrollbar in iframe editor #3574
*/
body[maxi-blocks-responsive]:not(.branch-6-6):not(.branch-6-7):not(.branch-6-8) {
	&::-webkit-scrollbar {
		width: 0;
	}
}

body.maxi-blocks--active.branch-6-8
	.editor-visual-editor.is-scrollable
	.block-editor-block-canvas
	> .block-editor-writing-flow {
	overflow-y: auto;
}

/** Fix templates padding in the editor */

body.maxi-blocks--active .editor-styles-wrapper .has-global-padding,
body.maxi-blocks--active
	.is-root-container.is-desktop-preview.has-global-padding {
	padding-right: 0;
	padding-left: 0;
}

body.maxi-blocks--active
	.editor-styles-wrapper
	.block-editor-block-list__layout.is-root-container
	> :where(:not(.alignleft):not(.alignright):not(.alignfull)):has(.maxi-container-block) {
	max-width: 100%;
}

/** Fix breakpoints change on opening a sidebar in the editor experience */
body.maxi-blocks--active .interface-interface-skeleton__body {
	display: flex;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden; /* Hide horizontal overflow at this level */
}

body.maxi-blocks--active .interface-interface-skeleton__sidebar,
body.maxi-blocks--active .interface-interface-skeleton__secondary-sidebar {
	flex-shrink: 0;
}

body.maxi-blocks--active .interface-interface-skeleton__content {
	flex-grow: 1;
	min-width: 0; /* Allow content to shrink below its content width */
	overflow-x: auto; /* Enable horizontal scrolling */
	-webkit-overflow-scrolling: touch; /* Enhanced scrolling on iOS */

	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth; /* Smooth scrolling behavior */
	}

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto; /* Respect user's reduced motion preference */
	}
}

body.maxi-blocks--active .edit-post-visual-editor {
	width: 100%;
	min-width: calc(100vw - var(--maxi-blocks-scrollbar-width, 15px));
}
body.maxi-blocks--active
	.editor-styles-wrapper
	.block-editor-block-list__layout.is-root-container.is-desktop-preview {
	padding-bottom: 40vh;
}

body.maxi-blocks--active
	.editor-styles-wrapper.block-editor-writing-flow:after {
	display: none;
}

// Tab button icon states - using @extend to reduce compiled CSS
%tab-icon-fill-states {
	svg path {
		fill: var(--mdg);
	}
	&.maxi-tabs-control__button--selected svg path {
		fill: var(--msc);
	}
}

.maxi-tabs-control__button {
	&-none {
		@extend %tab-icon-fill-states;
		svg path {
			transition: fill 0.5s ease;
		}
	}

	&-color,
	&-image,
	&-video {
		@extend %tab-icon-fill-states;
	}

	&-gradient {
		svg path {
			stroke: var(--mdg);
			fill: none;
		}
		&.maxi-tabs-control__button--selected {
			svg path {
				stroke: var(--msc);
			}
			svg linearGradient stop {
				&:first-child {
					stop-color: var(--mw);
				}
				&:last-child {
					stop-color: var(--msc);
				}
			}
		}
	}
}

// Reset button
.maxi-components-button.maxi-reset-button {
	transition: var(--maxi-trans-std);
	width: 9px !important;
	height: 31px !important;
	padding: 0 !important;
	margin-left: 4px !important;
	margin-right: 4px !important;
	border-radius: var(--maxi-radius-sm) !important;

	svg {
		width: 10px !important;
		height: 10px !important;
		fill: var(--mg) !important;
	}

	&:hover {
		border-color: var(--mdg) !important;
		svg {
			fill: var(--msc) !important;
		}
	}
}

.maxi-base-control__field {
	display: flex !important;
	gap: 0 !important;
}
.maxi-conteCSxt-loop__toggle {
	margin-top: 10px;
}
// Accordion icon
.maxi-accordion-icon,
.maxi-video-block-icon {
	fill: var(--mpc) !important;
}

// Transitions
body {
	.maxi-settingstab-control {
		button,
		input {
			transition: var(--maxi-trans-std);
		}
	}
}

// fix Tablet / Mobile Gutenberg preview
body.maxi-blocks--active {
	.block-editor-iframe__scale-container {
		iframe[name='editor-canvas'] {
			height: 100% !important;
			margin: 0 !important;
			padding: 0 !important;
			border: none !important;
			box-shadow: none !important;
			border-radius: 0 !important;
			overflow: hidden !important;
			box-sizing: border-box !important;
		}
	}
}
