/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
 *
*/

@import "../../customizer/css/maxi-themes-styles.scss";

@import './library-button-modal.scss';
@import "./native-components.scss";
@import "./inserter-card.scss";

/*****************
* General settings
******************/
h2.gx_error {
	text-align: center;
	font-size: 16px;
}

.maxi-sidebar,
.maxi-sidebar *,
.maxi-popover * {
	font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif !important;
	font-weight: 500 !important;
	font-size: 13px;
	color: #464a53;
}

/****************
* Gutenberg Panel
****************/
.maxi-controls {
	background: #f2f2f2;

	> div {
		background: #f2f2f2;
	}

	* {
		overflow-x: none;
	}

	.components-panel__body {	// This should be fix
		border-top: none;

		.components-panel__body-title {
			display: none !important;
		}

		.maxi-panel:first-child {
			margin-top: 0 !important;
		}
	}

	.block-editor-block-inspector__advanced {
		display: none;
	}
}

.maxi-sidebar,
.maxi-popover {
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		min-height: unset;
		max-height: unset !important;
		border-radius: 5px;
		background-color: rgba(33, 141, 250, 0);
		border: 2px solid #dddfe1;
		font-size: 13px;
		color: #464a53;
		font-weight: 500;
		flex: 1;
	}

	select {
		padding: 0 24px 0px 10px !important;
		border: 1px solid #dddfe1 !important;
		opacity: 1 !important;
	}

	button.components-range-control__reset,
	button.components-circular-option-picker__clear {
		font-size: 0 !important;

		&:before {
			content: url("../img/maxi-reset.svg") !important;
			margin: auto;
			margin-left: auto;
			color: #464a53;
			width: 14px;
			height: 14px;
		}
	}

	.components-panel {
		background: transparent;
		border: none;
	}
}

.maxi-sidebar {
	.maxi-sizecontrol-control {
		.maxi-sizecontrol-value {
			width: 20%;
			height: 31px;
			flex: none;
		}
		.components-range-control {
			width: 100%;
			flex: 100% !important;
			margin-left: 0 !important;
		}
		.components-base-control__label {
			flex: 2 !important;
		}
		.components-base-control__field {
			flex-wrap: wrap;
			& > * {
				margin-left: 4px;
			}
			.components-base-control__label,
			.components-range-control {
				margin-left: 0 !important;
			}
		}
	}
}

/************
* Unit Select
************/

.components-base-control {
	.components-maxi-dimensions-control__units {
		margin-bottom: 0 !important;
		.components-base-control__field {
			margin-bottom: 0;
			.components-select-control__input {
				min-width: 3.2rem;
				max-width: 100%;
			}
		}
	}
}

/*************
* Reset Button
*************/

.components-maxi-dimensions-control__units-reset {
	display: inline-flex;
	width: 31px;
	min-width: 31px;
	height: 31px;
	text-decoration: none;
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
	background-color: rgba(0, 0, 0, 0);
	transition: box-shadow 0.1s linear;
	align-items: center;
	overflow: hidden;
	padding: 0;
	opacity: 1;
	border-radius: 5px;
	box-shadow: none;
	border: 2px solid #dddfe1;
	margin-left: 5px;

	svg {
		width: 14px;
		height: 14px;
		fill: #464a53;
		margin: auto;
	}
}

