/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
 *
*/

@import "../../customizer/css/maxi-themes-styles.scss";

@import './library-button-modal.scss';
@import "./native-components.scss";
@import "./inserter-card.scss";

/*****************
* General settings
******************/
h2.gx_error {
	text-align: center;
	font-size: 16px;
}

.maxi-sidebar,
.maxi-sidebar *,
.maxi-popover * {
	font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif !important;
	font-weight: 500 !important;
	font-size: 16px;
	color: #464a53;
}

/****************
* Gutenberg Panel
****************/
.maxi-controls {
	background: #f2f2f2;

	> div {
		background: #f2f2f2;
	}

	* {
		overflow-x: none;
		background: #fff;
	}

	.components-panel__body {	// This should be fix
		border-top: none;

		.components-panel__body-title {
			display: none !important;
		}

		.maxi-panel:first-child {
			margin-top: 0 !important;
		}
	}

	.block-editor-block-inspector__advanced {
		display: none;
	}
}

.maxi-sidebar,
.maxi-popover {
	input[type="text"],
	input[type="number"],
	textarea,
	select {
		min-height: unset;
		max-height: unset !important;
		border-radius: 5px;
		background-color: rgba(33, 141, 250, 0);
		border: 2px solid #dddfe1;
		font-size: 16px;
		color: #464a53;
		font-weight: 500;
	}

	select {
		padding: 0 24px 0px 5px !important;
		border: 1px solid #dddfe1 !important;
		opacity: 1 !important;
	}

	button.components-range-control__reset,
	button.components-circular-option-picker__clear {
		font-size: 0 !important;

		&:before {
			content: url("../img/maxi-reset.svg") !important;
			margin: auto;
			margin-left: auto;
			color: #464a53;
			width: 18px;
			height: 18px;
		}
	}

	.components-panel {
		background: transparent;
		border: none;
	}
}

/**************************
* Component Color Indicator
**************************/
.maxi-component-color-inidicator {
	margin: auto;

	span {
		display: block;
		width: 24px;
		height: 24px;
		margin: auto;
		border: 1px solid #dddfe1 !important;
		opacity: 1 !important;
		margin-right: 8px !important;
		float: left;
		border-radius: 5px;
	}
}

/************
* Unit button
************/

// .components-maxi-dimensions-control__units button.is-primary,
.maxi-sizecontrol-unit .components-radio-control__option input:checked + label {
	color: #464a53 !important;
	background: #f2f2f2 !important;
}

.components-maxi-dimensions-control__units {
	display: flex;

	.maxi-unit-button {
		top: -1px;
		display: block;
		min-width: 33px;
		height: 30px;
		font-size: 13px;
		margin-right: -2px;
		justify-content: center;
		line-height: 20px;
		border: 2px solid #dddfe1 !important;
		position: relative;
		text-align: center;
		text-shadow: none;
		text-transform: uppercase;
		color: #464a53 !important;
		background: #fff;
		box-shadow: none;
		padding: 0;
		box-shadow: none !important;

		&:hover {
			background: #fff !important;
		}

		&:focus {
			border: none;
			&:enabled {
				box-shadow: none !important;
			}
		}

		&[aria-pressed="true"] {
			background-color: #f2f2f2;
		}
	}
}

/*************
* Reset Button
*************/

.components-maxi-dimensions-control__units-reset {
	display: inline-flex;
	width: 26px;
	min-width: 26px;
	height: 26px;
	text-decoration: none;
	cursor: pointer;
	-webkit-appearance: none;
	background: none;
	background-color: rgba(0, 0, 0, 0);
	transition: box-shadow 0.1s linear;
	align-items: center;
	overflow: hidden;
	padding: 0;
	opacity: 1;
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid #dddfe1;

	svg {
		width: 18px;
		height: 18px;
		fill: #464a53;
		margin: auto;
	}
}

////////////////////////////////

@media all and(max-width:2000px) {
	.divider-dimension .components-range-control__number {
		left: 167px;
	}

	.maxi-accordion-tab.maxi-image-tab .components-button.is-secondary {
		width: 30px !important;
		height: 30px !important;
	}

	.components-base-control.components-radio-control .components-base-control__field {
		position: relative;
		top: -1px !important;
	}

	.maxi-sidebar input[type="number"].components-maxi-dimensions-control__number {
		height: 26px !important;
	}

	.divider-dimension .maxi-sizecontrol-unit {
		position: relative;
		top: -1px;
	}

	// .components-maxi-dimensions-control__units button,
	.maxi-sizecontrol-unit .components-radio-control__option label {
		min-width: 27px;
		line-height: 28px;
		top: 1px;
		height: 28px !important;
	}

	.edit-post-layout.is-sidebar-opened .edit-post-plugin-sidebar__sidebar-layout.maxi-sidebar,
	.edit-post-layout.is-sidebar-opened .edit-post-sidebar.maxi-sidebar {
		font-size: 16px !important;
		width: 310px;
	}

	#gxAddLayoutButton,
	#gxGoToCustomizerButton,
	.maxi-tab-control,
	h2.gx_error,
	.maxi-tabs-content label,
	.maxi-tabs-content .components-base-control__label,
	.maxi-popover label,
	.maxi-controls .maxi-accordion-control .components-base-control__label,
	.maxi-tabs-content input[type="text"],
	.maxi-tabs-content input[type="number"],
	.maxi-tabs-content textarea,
	.maxi-tabs-content select,
	.maxi-popover input[type="text"],
	.maxi-popover input[type="number"],
	.maxi-popover textarea,
	.maxi-popover select,
	.maxi-tabs-content input[type="text"],
	.maxi-tabs-content input[type="number"],
	.maxi-tabs-content textarea,
	.maxi-tabs-content select,
	.maxi-popover input[type="text"],
	.maxi-popover input[type="number"],
	.maxi-popover textarea,
	.maxi-popover select {
		font-size: 13px;
	}
	// #gxAddLayoutButton,
	// #gxGoToCustomizerButton,
	// .maxi-tab,
	// h2.gx_error,
	// .maxi-panel label,
	// .maxi-panel .components-base-control__label,
	// .maxi-popover label,
	// .maxi-controls .maxi-accordion .components-base-control__label,
	// .maxi-panel input[type="text"],
	// .maxi-panel input[type="number"],
	// .maxi-panel textarea,
	// .maxi-panel select,
	// .maxi-popover input[type="text"],
	// .maxi-popover input[type="number"],
	// .maxi-popover textarea,
	// .maxi-popover select,
	// .maxi-panel input[type="text"],
	// .maxi-panel input[type="number"],
	// .maxi-panel textarea,
	// .maxi-panel select,
	// .maxi-popover input[type="text"],
	// .maxi-popover input[type="number"],
	// .maxi-popover textarea,
	// .maxi-popover select {
	// 	font-size: 13px;
	// }

	.maxi-sidebar .block-editor-block-card {
		font-size: 17px;
	}

	.maxi-sidebar .block-editor-block-card .block-editor-block-card__title {
		line-height: 8px;
		padding-top: 7px;
	}

	.maxi-sidebar .block-editor-block-card .block-editor-block-card__title:after {
		top: 5px;
		width: 21px;
	}

	.maxi-sidebar .block-editor-block-icon svg {
		transform: scale(1.32);
		margin-top: 0;
	}

	.maxi-sidebar .block-editor-block-icon {
		width: 20px;
		height: 25px;
	}

	.maxi-sidebar .block-editor-block-card__description {
		font-size: 11px;
		line-height: 130%;
	}

	.maxi-sidebar .edit-post-settings-sidebar__panel-block.maxi-controls .block-editor-block-card {
		padding: 13px 16px;
	}

	.maxi-tab {
		padding-top: 0;
		padding-bottom: 6px;
	}

	.maxi-tab.maxi-content-tab-label:before {
		transform: none;
		min-height: auto;
		margin-bottom: 0;
		padding-bottom: 0;
		padding-top: 12px;
	}

	.maxi-tab.maxi-content-tab-label:before,
	.maxi-tab.maxi-style-tab-label:before,
	.maxi-tab.maxi-advanced-tab-label:before {
		min-height: auto;
		margin-bottom: 0;
		padding-bottom: 0;
		width: 4rem;
		height: 3.6rem;
		margin: auto;
	}

	.maxi-tab.maxi-advanced-tab-label:before {
		padding-top: 9px;
		transform: scale(0.37);
	}

	.maxi-tab.maxi-content-tab-label::before {
		transform: scale(0.37);
		padding-top: 12px;
	}

	.maxi-tab.maxi-style-tab-label::before {
		transform: scale(0.23);
	}

	.maxi-tabs {
		padding-top: 0;
		margin-bottom: 10px;
	}

	.components-circular-option-picker
		.components-button.components-circular-option-picker__clear.is-secondary.is-small {
		margin-top: 0px !important;
	}

	.components-range-control__number {
		min-height: 26px !important;
		max-width: 48px;
		height: 25px;
		top: 0px;
		left: 250px;
		z-index: 1;
		padding: 0 !important;
		border: 2px solid #dddfe1 !important;
		padding-left: 5px !important;
		padding-top: 1px !important;
	}

	.components-range-control__number {
		min-height: 26px !important;
		max-width: 48px;
		height: 25px;
		top: 0px;
		left: 234px;
		z-index: 1;
		padding: 0 !important;
		border: 2px solid #dddfe1 !important;
		padding-left: 5px !important;
		padding-top: 1px !important;
	}

	.maxi-controls .maxi-box-settings-item .accordion__panel[aria-hidden="false"] {
		margin-top: -30px;
		width: 109% !important;
		margin-bottom: 20px;
		margin-left: -4%;
		margin-right: auto;
		padding-top: 53px;
		padding-bottom: 24px;
		border-top: 2px solid #e8eaeb;
	}

	.maxi-controls .accordion__panel {
		margin-top: -30px;
		width: 109% !important;
		margin-bottom: 20px;
		margin-left: -4%;
		margin-right: auto;
		padding-top: 28px;
		padding-bottom: 24px;
		border-top: 2px solid #e8eaeb;
	}

	.block-editor-block-card::after {
		position: absolute;
		content: url("../img/maxi-logo.svg");
		width: 1.4rem !important;
		right: 30px;
		top: 8px !important;
	}

	.components-range-control.maxi-sizecontrol-value .components-base-control__field .components-range-control__number {
		margin-left: auto;
		max-height: 28px;
		height: 28px !important;
		margin-right: 2px;
	}

	.block-editor-block-card__content > .block-editor-block-card__description {
		width: 100%;
		margin-top: 10px !important;
	}
}
