/***********
* Block card
***********/
.maxi-sidebar {
	.block-editor-block-icon {
		flex: 0;
		height: 16px;
		width: 16px;
		margin: 0;

		svg {
			width: 16px;
			height: 16px;
			min-width: 16px;
			min-height: 16px;
			max-width: 16px;
			max-height: 16px;
		}
	}
	.block-editor-block-inspector {
		.block-editor-block-card {
			position: $pr;
			padding: 8px;
			color: $gd;
			letter-spacing: 0;

			&__content,
			> div.components-flex {
				margin: 0 0 0 6px;
			}
			&__title {
				margin: 1.5px 0 0 0;
				font-size: 13px;
				font-weight: 600;
				line-height: 1;
				text-transform: uppercase;
			}
			&__description {
				display: none;
				width: 100%;
				margin: 0;
				position: $pr;
				left: -25px;
				padding-top: 5px;
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.block-editor-block-card__content,
	.block-editor-block-card > div.components-flex {
		margin-right: 8px !important;
		margin-left: 0 !important;
	}
	.block-editor-block-card__description {
		left: unset !important;
		right: -25px;
	}
}
