/***********
* Block card
***********/
.maxi-sidebar {
	.block-editor-block-icon {
		width: 16px;
		height: 16px;
		flex: 0;
		margin: 0;

		svg {
			width: 16px;
			height: 16px;
			min-width: 16px;
			min-height: 16px;
			max-width: 16px;
			max-height: 16px;
		}
	}
	.block-editor-block-inspector.maxi-controls {
		.block-editor-block-card {
			color: #fff;
			padding: 8px;
			margin: 0 0 8px 0 !important;
			position: relative;
			border-bottom: 1px solid #dbdde6;
			background: #fff;
			letter-spacing: 0;
			flex-wrap: wrap;


			&__title {
				line-height: unset;
				margin: 0 0 0 8px;
				font-size: 14px;
				font-weight: 500;
			}
			&__description {
				width: 100%;
				margin: 8px 0 0;
			}
		}
	}
}
