/*********************
* Library button modal
*********************/
.edit-post-layout.is-sidebar-opened
	.edit-post-plugin-sidebar__sidebar-layout.maxi-sidebar,
.edit-post-layout.is-sidebar-opened .edit-post-sidebar.maxi-sidebar {
	overflow-x: hidden;
	width: 330px;
	background: #f2f2f2;
}

.maxi-enabled .title {
	background-color: #f2f2f2;
}

/* 3 Tabs: Content, Style, Advaced */
.maxi-tab {
	width: 33.33333%;
	font-size: 16px;
	color: #000;
	font-weight: 500;
	display: inline-block;
	text-align: center;
	border-bottom: 2px solid #e8eaeb;
	padding-top: 20px;
	padding-bottom: 15px;
}

// ??????
.maxi-tabs {
	padding-top: 0;
	margin-bottom: 15px;
}

.maxi-tab:before {
	margin-bottom: 5px;
}

.maxi-tab:hover {
	cursor: pointer;
}

.maxi-tab:hover,
.maxi-tab:hover .title,
.maxi-tab:active,
.maxi-tab:focus {
	background: #f2f2f2;
}

.maxi-tab.maxi-enabled {
	background-color: #f2f2f2;
	border-bottom: 2px solid #00ccff;
}

.maxi-tab.maxi-content-tab-label:before {
	content: url("../../img/maxi-content.svg");
	transition: all 0.3s;
	display: block;
	transform: scale(1.2);
	max-width: 100%;
	min-height: 45px;
	padding-top: 6px;
}

.maxi-tab.maxi-style-tab-label:before {
	content: url("../../img/maxi-style.svg");
	transition: all 0.3s;
	display: block;
	min-height: 37px;
	padding-bottom: 7px;
}

.maxi-tab.maxi-advanced-tab-label:before {
	content: url("../../img/maxi-advanced.svg");
	transition: all 0.3s;
	display: block;
	min-height: 37px;
	padding-bottom: 7px;
}

.maxi-tab.maxi-content-tab-label::before,
.maxi-tab.maxi-style-tab-label::before,
.maxi-tab.maxi-advanced-tab-label::before {
	min-height: auto;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 2rem;
	height: 4rem;
	margin: auto;
}

.maxi-tab.maxi-advanced-tab-label::before {
	min-height: 37px;
	width: 2rem;
	padding-bottom: 7px;
	padding-top: 16px;
}

.maxi-tab.maxi-content-tab-label::before {
	padding-top: 16px;
}

.maxi-tab.maxi-style-tab-label::before {
	width: 1.4rem;
	padding-top: 15px;
}

.maxi-content-tab-setting {
	padding: 20px !important;
}

.maxi-tab.maxi-content-tab::before {
	margin-bottom: -5px !important;
}

.maxi-tab .content-title {
	position: relative;
	top: -5px;
}

.maxi-tab .style-title {
	position: relative;
	top: -4px;
}

.maxi-tab .advanced-title {
	position: relative;
	top: -4px;
}

.maxi-sidebar .components-form-toggle .components-form-toggle__thumb {
	background-color: #dddfe1;
	border: 5px solid #dddfe1;
}

.maxi-sidebar .components-form-toggle .components-form-toggle__off {
	color: #dddfe1;
}

.maxi-sidebar
	.components-form-toggle.is-checked
	.components-form-toggle__track {
	background-color: #00ccff;
	border: 9px solid transparent;
}

.maxi-sidebar
	.components-form-toggle.is-checked
	.components-form-toggle__thumb {
	background-color: #fff;
	border-width: 0;
}

/**
* Tabs
*/
.maxi-controls .components-panel__body.maxi-content-tab-setting {
	border-top: 2px solid #e8eaeb;
	border-bottom: 2px solid #e8eaeb;
}
