/**
* Default and variables
*/
$styles: 'dark', 'light';
$levels: 'p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';
$responsive_sizes: 'xxl', 'xl', 'l', 'm', 's', 'xs';
$responsive_breakpoints: 1921, 1920, 1366, 1024, 768, 480;
$responsive_width: '';
$current_responsive_stage: '';
$color_set: '1', '2', '3', '4', '5', '6', '7', '8';

/**
* Backend
*/
body.maxi-blocks--active {
	@each $style in $styles {
		/* Palette */
		.maxi-color-palette--#{$style} {
			@each $color_number in $color_set {
				.maxi-color-control__palette
					.maxi-color-control__palette-box
					.maxi-color-control__palette-item__#{$color_number} {
					background-color: rgba(
						var(--maxi-#{$style}-color-#{$color_number}),
						1
					);
				}
			}
		}
	}
}

/* Style cards responsive mixin */
@mixin style-card-styles($responsive_size) {
	@each $style in $styles {
		$class_name: '.maxi-block--backend';

		.maxi-#{$style} {
			&.maxi-text-block,
			.maxi-text-block {
				@each $level in $levels {
					#{$level} {
						&.maxi-text-block__content {
							font-family: var(
								--maxi-#{$style}-#{$level}-font-family-#{$responsive_size}
							);
							font-size: var(
								--maxi-#{$style}-#{$level}-font-size-#{$responsive_size}
							);
							line-height: var(
								--maxi-#{$style}-#{$level}-line-height-#{$responsive_size}
							);
							letter-spacing: var(
								--maxi-#{$style}-#{$level}-letter-spacing-#{$responsive_size}
							);
							font-weight: var(
								--maxi-#{$style}-#{$level}-font-weight-#{$responsive_size}
							);
							text-transform: var(
								--maxi-#{$style}-#{$level}-text-transform-#{$responsive_size}
							);
							font-style: var(
								--maxi-#{$style}-#{$level}-font-style-#{$responsive_size}
							);
							text-decoration: var(
								--maxi-#{$style}-#{$level}-text-decoration-#{$responsive_size}
							);
							white-space: var(
								--maxi-#{$style}-#{$level}-white-space-#{$responsive_size}
							);
							text-wrap: var(
								--maxi-#{$style}-#{$level}-text-wrap-#{$responsive_size}
							);
							word-spacing: var(
								--maxi-#{$style}-#{$level}-word-spacing-#{$responsive_size}
							);
							margin-bottom: var(
								--maxi-#{$style}-#{$level}-margin-bottom-#{$responsive_size}
							);
							text-indent: var(
								--maxi-#{$style}-#{$level}-text-indent-#{$responsive_size}
							);
						}
					}
				}
			}

			&.maxi-list-block ul.maxi-text-block__content,
			.maxi-list-block ul.maxi-text-block__content,
			&.maxi-list-block ol.maxi-text-block__content,
			.maxi-list-block ol.maxi-text-block__content {
				margin-bottom: var(
					--maxi-#{$style}-p-margin-bottom-#{$responsive_size}
				);
			}

			&.maxi-text-block li,
			.maxi-text-block li {
				&.maxi-text-block__content,
				& {
					font-family: var(
						--maxi-#{$style}-p-font-family-#{$responsive_size}
					);
					font-size: var(
						--maxi-#{$style}-p-font-size-#{$responsive_size}
					);
					line-height: var(
						--maxi-#{$style}-p-line-height-#{$responsive_size}
					);
					letter-spacing: var(
						--maxi-#{$style}-p-letter-spacing-#{$responsive_size}
					);
					white-space: var(
						--maxi-#{$style}-p-white-space-#{$responsive_size}
					);
					text-wrap: var(
						--maxi-#{$style}-p-text-wrap-#{$responsive_size}
					);
					word-spacing: var(
						--maxi-#{$style}-p-word-spacing-#{$responsive_size}
					);
				}
			}

			.maxi-button-block__content {
				font-family: var(
					--maxi-#{$style}-button-font-family-#{$responsive_size},
					var(--maxi-#{$style}-p-font-family-#{$responsive_size})
				);
				font-size: var(
					--maxi-#{$style}-button-font-size-#{$responsive_size}
				);
				line-height: var(
					--maxi-#{$style}-button-line-height-#{$responsive_size}
				);
				letter-spacing: var(
					--maxi-#{$style}-button-letter-spacing-#{$responsive_size}
				);
				font-weight: var(
					--maxi-#{$style}-button-font-weight-#{$responsive_size}
				);
				text-transform: var(
					--maxi-#{$style}-button-text-transform-#{$responsive_size}
				);
				font-style: var(
					--maxi-#{$style}-button-font-style-#{$responsive_size}
				);
				text-decoration: var(
					--maxi-#{$style}-button-text-decoration-#{$responsive_size}
				);
				white-space: var(
					--maxi-#{$style}-button-white-space-#{$responsive_size}
				);
				text-wrap: var(
					--maxi-#{$style}-button-text-wrap-#{$responsive_size}
				);
				word-spacing: var(
					--maxi-#{$style}-button-word-spacing-#{$responsive_size}
				);
				text-indent: var(
					--maxi-#{$style}-button-text-indent-#{$responsive_size}
				);
			}

			&.maxi-image-block,
			.maxi-image-block {
				figcaption {
					font-family: var(
						--maxi-#{$style}-p-font-family-#{$responsive_size}
					);
					font-size: var(
						--maxi-#{$style}-p-font-size-#{$responsive_size}
					);
					line-height: var(
						--maxi-#{$style}-p-line-height-#{$responsive_size}
					);
					letter-spacing: var(
						--maxi-#{$style}-p-letter-spacing-#{$responsive_size}
					);
					font-weight: var(
						--maxi-#{$style}-p-font-weight-#{$responsive_size}
					);
					text-transform: var(
						--maxi-#{$style}-p-text-transform-#{$responsive_size}
					);
					font-style: var(
						--maxi-#{$style}-p-font-style-#{$responsive_size}
					);
					text-decoration: var(
						--maxi-#{$style}-p-text-decoration-#{$responsive_size}
					);
					white-space: var(
						--maxi-#{$style}-p-white-space-#{$responsive_size}
					);
					text-wrap: var(
						--maxi-#{$style}-p-text-wrap-#{$responsive_size}
					);
					word-spacing: var(
						--maxi-#{$style}-p-word-spacing-#{$responsive_size}
					);
					text-indent: var(
						--maxi-#{$style}-p-text-indent-#{$responsive_size}
					);
				}
			}

			.maxi-hover-details {
				h4 {
					font-family: var(
						--maxi-#{$style}-h4-font-family-#{$responsive_size}
					);
					font-size: var(
						--maxi-#{$style}-h4-font-size-#{$responsive_size}
					);
					line-height: var(
						--maxi-#{$style}-h4-line-height-#{$responsive_size}
					);
					letter-spacing: var(
						--maxi-#{$style}-h4-letter-spacing-#{$responsive_size}
					);
					font-weight: var(
						--maxi-#{$style}-h4-font-weight-#{$responsive_size}
					);
					text-transform: var(
						--maxi-#{$style}-h4-text-transform-#{$responsive_size}
					);
					font-style: var(
						--maxi-#{$style}-h4-font-style-#{$responsive_size}
					);
					text-decoration: var(
						--maxi-#{$style}-h4-text-decoration-#{$responsive_size}
					);
					white-space: var(
						--maxi-#{$style}-h4-white-space-#{$responsive_size}
					);
					text-wrap: var(
						--maxi-#{$style}-h4-text-wrap-#{$responsive_size}
					);
					word-spacing: var(
						--maxi-#{$style}-h4-word-spacing-#{$responsive_size}
					);
					margin-bottom: var(
						--maxi-#{$style}-h4-margin-bottom-#{$responsive_size}
					);
					text-indent: var(
						--maxi-#{$style}-h4-text-indent-#{$responsive_size}
					);
				}

				p {
					font-family: var(
						--maxi-#{$style}-p-font-family-#{$responsive_size}
					);
					font-size: var(
						--maxi-#{$style}-p-font-size-#{$responsive_size}
					);
					line-height: var(
						--maxi-#{$style}-p-line-height-#{$responsive_size}
					);
					letter-spacing: var(
						--maxi-#{$style}-p-letter-spacing-#{$responsive_size}
					);
					font-weight: var(
						--maxi-#{$style}-p-font-weight-#{$responsive_size}
					);
					text-transform: var(
						--maxi-#{$style}-p-text-transform-#{$responsive_size}
					);
					font-style: var(
						--maxi-#{$style}-p-font-style-#{$responsive_size}
					);
					text-decoration: var(
						--maxi-#{$style}-p-text-decoration-#{$responsive_size}
					);
					white-space: var(
						--maxi-#{$style}-p-white-space-#{$responsive_size}
					);
					text-wrap: var(
						--maxi-#{$style}-p-text-wrap-#{$responsive_size}
					);
					word-spacing: var(
						--maxi-#{$style}-p-word-spacing-#{$responsive_size}
					);
					margin-bottom: var(
						--maxi-#{$style}-p-margin-bottom-#{$responsive_size}
					);
					text-indent: var(
						--maxi-#{$style}-p-text-indent-#{$responsive_size}
					);
				}
			}

			&.maxi-search-block,
			.maxi-search-block {
				&__input,
				&__button__content {
					font-family: var(
						--maxi-#{$style}-p-font-family-#{$responsive_size}
					);
					font-size: var(
						--maxi-#{$style}-p-font-size-#{$responsive_size}
					);
					line-height: var(
						--maxi-#{$style}-p-line-height-#{$responsive_size}
					);
					letter-spacing: var(
						--maxi-#{$style}-p-letter-spacing-#{$responsive_size}
					);
					font-weight: var(
						--maxi-#{$style}-p-font-weight-#{$responsive_size}
					);
					text-transform: var(
						--maxi-#{$style}-p-text-transform-#{$responsive_size}
					);
					font-style: var(
						--maxi-#{$style}-p-font-style-#{$responsive_size}
					);
					text-decoration: var(
						--maxi-#{$style}-p-text-decoration-#{$responsive_size}
					);
					white-space: var(
						--maxi-#{$style}-p-white-space-#{$responsive_size}
					);
					text-wrap: var(
						--maxi-#{$style}-p-text-wrap-#{$responsive_size}
					);
					word-spacing: var(
						--maxi-#{$style}-p-word-spacing-#{$responsive_size}
					);
					text-indent: var(
						--maxi-#{$style}-p-text-indent-#{$responsive_size}
					);
				}
			}
		}
	}
}

/* Style cards backend */
@each $responsive_size in $responsive_sizes {
	$current_responsive_attribute: '[maxi-blocks-responsive=#{$responsive_size}]';

	body.maxi-blocks--active {
		.edit-post-visual-editor#{$current_responsive_attribute},
		&.editor-styles-wrapper#{$current_responsive_attribute} {
			@include style-card-styles($responsive_size);
		}
	}
}
