/**
* Default theme
*/

:root {
    // Dark
    --maxi-dark-background-1: #081219;
    --maxi-dark-background-2: #007cba;
    --maxi-dark-highlight-text: #ff4a17;
    --maxi-dark-highlight-background: #ff4a17;
    --maxi-dark-highlight-border: #ff4a17;
    --maxi-dark-highlight-color1: #ff4a17;
    --maxi-dark-highlight-color2: #081219;
	--maxi-dark-hover: #c9340a;
	--maxi-dark-link: #ff4a17;
    --maxi-dark-p-color: #9b9b9b;
    --maxi-dark-p-font-family: Roboto;
    --maxi-dark-p-font-size-general: 16px;
    --maxi-dark-p-font-size-xxl: 20px;
    --maxi-dark-p-font-size-xl: 16px;
    --maxi-dark-p-font-size-l: 16px;
    --maxi-dark-p-font-size-m: 16px;
    --maxi-dark-p-font-size-s: 16px;
    --maxi-dark-p-font-size-xs: 16px;
    --maxi-dark-p-line-height-xxl: 1.5;
    --maxi-dark-p-line-height-xl: 1.625;
    --maxi-dark-p-line-height-l: 1.625;
    --maxi-dark-p-line-height-m: 1.625;
    --maxi-dark-p-line-height-s: 1.625;
    --maxi-dark-p-line-height-xs: 1.625;
    --maxi-dark-p-font-weight: 400;
    --maxi-dark-p-letter-spacing: 0;
    --maxi-dark-p-transform: none;
    --maxi-dark-p-style: normal;
    --maxi-dark-p-decoration: unset;
    --maxi-dark-p-decoration-line: none;
    --maxi-dark-a-color: #00ccff;
    --maxi-dark-a-font-family: Roboto;
    --maxi-dark-h1-color: #ffffff;
    --maxi-dark-h1-font-family: Roboto;
    --maxi-dark-h1-font-size-general: 45px;
    --maxi-dark-h1-font-size-xxl: 50px;
    --maxi-dark-h1-font-size-xl: 45px;
    --maxi-dark-h1-font-size-l: 40px;
    --maxi-dark-h1-font-size-m: 36px;
    --maxi-dark-h1-font-size-s: 34px;
    --maxi-dark-h1-font-size-xs: 32px;
    --maxi-dark-h1-line-height-general: 1.22;
    --maxi-dark-h1-line-height-xxl: 1.18;
    --maxi-dark-h1-line-height-xl: 1.1;
    --maxi-dark-h1-line-height-l: 1.22;
    --maxi-dark-h1-line-height-m: 1.27;
    --maxi-dark-h1-line-height-s: 1.27;
    --maxi-dark-h1-line-height-xs: 1.27;
    --maxi-dark-h1-font-weight: 500;
    --maxi-dark-h1-letter-spacing: 0;
    --maxi-dark-h1-transform: none;
    --maxi-dark-h1-style: normal;
    --maxi-dark-h1-decoration: unset;
    --maxi-dark-h1-decoration-line: none;
    --maxi-dark-h2-color: #ffffff;
    --maxi-dark-h2-font-family: Roboto;
    --maxi-dark-h2-font-size-general: 38px;
    --maxi-dark-h2-font-size-xxl: 44px;
    --maxi-dark-h2-font-size-xl: 38px;
    --maxi-dark-h2-font-size-l: 36px;
    --maxi-dark-h2-font-size-m: 32px;
    --maxi-dark-h2-font-size-s: 30px;
    --maxi-dark-h2-font-size-xs: 28px;
    --maxi-dark-h2-line-height-xxl: 1.21;
    --maxi-dark-h2-line-height-xl: 1.05;
    --maxi-dark-h2-line-height-l: 1.26;
    --maxi-dark-h2-line-height-m: 1.33;
    --maxi-dark-h2-line-height-s: 1.33;
    --maxi-dark-h2-line-height-xs: 1.33;
    --maxi-dark-h2-font-weight: 500;
    --maxi-dark-h2-letter-spacing: 0;
    --maxi-dark-h2-transform: none;
    --maxi-dark-h2-style: normal;
    --maxi-dark-h2-decoration: unset;
    --maxi-dark-h2-decoration-line: none;
    --maxi-dark-h3-color: #ffffff;
    --maxi-dark-h3-font-family: Roboto;
    --maxi-dark-h3-font-size-general: 30px;
    --maxi-dark-h3-font-size-xxl: 34px;
    --maxi-dark-h3-font-size-xl: 30px;
    --maxi-dark-h3-font-size-l: 30px;
    --maxi-dark-h3-font-size-m: 26px;
    --maxi-dark-h3-font-size-s: 24px;
    --maxi-dark-h3-font-size-xs: 24px;
    --maxi-dark-h3-line-height-xxl: 1.25;
    --maxi-dark-h3-line-height-xl: 2.09;
    --maxi-dark-h3-line-height-l: 1.33;
    --maxi-dark-h3-line-height-m: 1.36;
    --maxi-dark-h3-line-height-s: 1.36;
    --maxi-dark-h3-line-height-xs: 1.36;
    --maxi-dark-h3-font-weight: 500;
    --maxi-dark-h3-letter-spacing: 0;
    --maxi-dark-h3-transform: none;
    --maxi-dark-h3-style: normal;
    --maxi-dark-h3-decoration: unset;
    --maxi-dark-h3-decoration-line: none;
    --maxi-dark-h4-color: #ffffff;
    --maxi-dark-h4-font-family: Roboto;
    --maxi-dark-h4-font-size-general: 26px;
    --maxi-dark-h4-font-size-xxl: 30px;
    --maxi-dark-h4-font-size-xl: 26px;
    --maxi-dark-h4-font-size-l: 24px;
    --maxi-dark-h4-font-size-m: 24px;
    --maxi-dark-h4-font-size-s: 22px;
    --maxi-dark-h4-font-size-xs: 22px;
    --maxi-dark-h4-line-height-xxl: 1.33;
    --maxi-dark-h4-line-height-xl: 1.24;
    --maxi-dark-h4-line-height-l: 1.38;
    --maxi-dark-h4-line-height-m: 1.42;
    --maxi-dark-h4-line-height-s: 1.42;
    --maxi-dark-h4-line-height-xs: 1.42;
    --maxi-dark-h4-font-weight: 500;
    --maxi-dark-h4-letter-spacing: 0;
    --maxi-dark-h4-transform: none;
    --maxi-dark-h4-style: normal;
    --maxi-dark-h4-decoration: unset;
    --maxi-dark-h4-decoration-line: none;
    --maxi-dark-h5-color: #ffffff;
    --maxi-dark-h5-font-family: Roboto;
    --maxi-dark-h5-font-size-general: 22px;
    --maxi-dark-h5-font-size-xxl: 26px;
    --maxi-dark-h5-font-size-xl: 22px;
    --maxi-dark-h5-font-size-l: 22px;
    --maxi-dark-h5-font-size-m: 20px;
    --maxi-dark-h5-font-size-s: 20px;
    --maxi-dark-h5-font-size-xs: 20px;
    --maxi-dark-h5-line-height-xxl: 1.36;
    --maxi-dark-h5-line-height-xl: 1.26;
    --maxi-dark-h5-line-height-l: 1.45;
    --maxi-dark-h5-line-height-m: 1.5;
    --maxi-dark-h5-line-height-s: 1.5;
    --maxi-dark-h5-line-height-xs: 1.5;
    --maxi-dark-h5-font-weight: 500;
    --maxi-dark-h5-letter-spacing: 0;
    --maxi-dark-h5-transform: none;
    --maxi-dark-h5-style: normal;
    --maxi-dark-h5-decoration: unset;
    --maxi-dark-h5-decoration-line: none;
    --maxi-dark-h6-color: #ffffff;
    --maxi-dark-h6-font-family: Roboto;
    --maxi-dark-h6-font-size-general: 20px;
    --maxi-dark-h6-font-size-xxl: 24px;
    --maxi-dark-h6-font-size-xl: 20px;
    --maxi-dark-h6-font-size-l: 20px;
    --maxi-dark-h6-font-size-m: 18px;
    --maxi-dark-h6-font-size-s: 18px;
    --maxi-dark-h6-font-size-xs: 18px;
    --maxi-dark-h6-line-height-xxl: 1.39;
    --maxi-dark-h6-line-height-xl: 1.29;
    --maxi-dark-h6-line-height-l: 1.5;
    --maxi-dark-h6-line-height-m: 1.56;
    --maxi-dark-h6-line-height-s: 1.56;
    --maxi-dark-h6-line-height-xs: 1.56;
    --maxi-dark-h6-font-weight: 500;
    --maxi-dark-h6-letter-spacing: 0;
    --maxi-dark-h6-transform: none;
    --maxi-dark-h6-style: normal;
    --maxi-dark-h6-decoration: unset;
    --maxi-dark-h6-decoration-line: none;

    // Light
    --maxi-light-background-1: #ffffff;
    --maxi-light-background-2: #f2f9fd;
    --maxi-light-highlight-text: #ff4a17;
    --maxi-light-highlight-background: #ff4a17;
    --maxi-light-highlight-border: #ff4a17;
    --maxi-light-highlight-color1: #ff4a17;
    --maxi-light-highlight-color2: #081219;
	--maxi-light-hover: #c9340a;
	--maxi-light-link: #ff4a17;
    --maxi-light-p-color: #9b9b9b;
    --maxi-light-p-font-family: Roboto;
    --maxi-light-p-font-size-general: 16px;
    --maxi-light-p-font-size-xxl: 20px;
    --maxi-light-p-font-size-xl: 16px;
    --maxi-light-p-font-size-l: 16px;
    --maxi-light-p-font-size-m: 16px;
    --maxi-light-p-font-size-s: 16px;
    --maxi-light-p-font-size-xs: 16px;
    --maxi-light-p-line-height-xxl: 1.5;
    --maxi-light-p-line-height-xl: 1.625;
    --maxi-light-p-line-height-l: 1.625;
    --maxi-light-p-line-height-m: 1.625;
    --maxi-light-p-line-height-s: 1.625;
    --maxi-light-p-line-height-xs: 1.625;
    --maxi-light-p-font-weight: 400;
    --maxi-light-p-letter-spacing: 0;
    --maxi-light-p-transform: none;
    --maxi-light-p-style: normal;
    --maxi-light-p-decoration: unset;
    --maxi-light-p-decoration-line: none;
    --maxi-light-a-color: #00ccff;
    --maxi-light-a-font-family: Roboto;
    --maxi-light-h1-color: #000000;
    --maxi-light-h1-font-family: Roboto;
    --maxi-light-h1-font-size-general: 45px;
    --maxi-light-h1-font-size-xxl: 50px;
    --maxi-light-h1-font-size-xl: 45px;
    --maxi-light-h1-font-size-l: 40px;
    --maxi-light-h1-font-size-m: 36px;
    --maxi-light-h1-font-size-s: 34px;
    --maxi-light-h1-font-size-xs: 32px;
    --maxi-light-h1-line-height-xxl: 1.18;
    --maxi-light-h1-line-height-xl: 1.1;
    --maxi-light-h1-line-height-l: 1.22;
    --maxi-light-h1-line-height-m: 1.27;
    --maxi-light-h1-line-height-s: 1.27;
    --maxi-light-h1-line-height-xs: 1.27;
    --maxi-light-h1-font-weight: 500;
    --maxi-light-h1-letter-spacing: 0;
    --maxi-light-h1-transform: none;
    --maxi-light-h1-style: normal;
    --maxi-light-h1-decoration: unset;
    --maxi-light-h1-decoration-line: none;
    --maxi-light-h2-color: #000000;
    --maxi-light-h2-font-family: Roboto;
    --maxi-light-h2-font-size-general: 38px;
    --maxi-light-h2-font-size-xxl: 44px;
    --maxi-light-h2-font-size-xl: 38px;
    --maxi-light-h2-font-size-l: 36px;
    --maxi-light-h2-font-size-m: 32px;
    --maxi-light-h2-font-size-s: 30px;
    --maxi-light-h2-font-size-xs: 28px;
    --maxi-light-h2-line-height-xxl: 1.21;
    --maxi-light-h2-line-height-xl: 1.05;
    --maxi-light-h2-line-height-l: 1.26;
    --maxi-light-h2-line-height-m: 1.33;
    --maxi-light-h2-line-height-s: 1.33;
    --maxi-light-h2-line-height-xs: 1.33;
    --maxi-light-h2-font-weight: 500;
    --maxi-light-h2-letter-spacing: 0;
    --maxi-light-h2-transform: none;
    --maxi-light-h2-style: normal;
    --maxi-light-h2-decoration: unset;
    --maxi-light-h2-decoration-line: none;
    --maxi-light-h3-color: #000000;
    --maxi-light-h3-font-family: Roboto;
    --maxi-light-h3-font-size-general: 30px;
    --maxi-light-h3-font-size-xxl: 34px;
    --maxi-light-h3-font-size-xl: 30px;
    --maxi-light-h3-font-size-l: 30px;
    --maxi-light-h3-font-size-m: 26px;
    --maxi-light-h3-font-size-s: 24px;
    --maxi-light-h3-font-size-xs: 24px;
    --maxi-light-h3-line-height-xxl: 1.25;
    --maxi-light-h3-line-height-xl: 2.09;
    --maxi-light-h3-line-height-l: 1.33;
    --maxi-light-h3-line-height-m: 1.36;
    --maxi-light-h3-line-height-s: 1.36;
    --maxi-light-h3-line-height-xs: 1.36;
    --maxi-light-h3-font-weight: 500;
    --maxi-light-h3-letter-spacing: 0;
    --maxi-light-h3-transform: none;
    --maxi-light-h3-style: normal;
    --maxi-light-h3-decoration: unset;
    --maxi-light-h3-decoration-line: none;
    --maxi-light-h4-color: #000000;
    --maxi-light-h4-font-family: Roboto;
    --maxi-light-h4-font-size-general: 26px;
    --maxi-light-h4-font-size-xxl: 30px;
    --maxi-light-h4-font-size-xl: 26px;
    --maxi-light-h4-font-size-l: 24px;
    --maxi-light-h4-font-size-m: 24px;
    --maxi-light-h4-font-size-s: 22px;
    --maxi-light-h4-font-size-xs: 22px;
    --maxi-light-h4-line-height-xxl: 1.33;
    --maxi-light-h4-line-height-xl: 1.24;
    --maxi-light-h4-line-height-l: 1.38;
    --maxi-light-h4-line-height-m: 1.42;
    --maxi-light-h4-line-height-s: 1.42;
    --maxi-light-h4-line-height-xs: 1.42;
    --maxi-light-h4-font-weight: 500;
    --maxi-light-h4-letter-spacing: 0;
    --maxi-light-h4-transform: none;
    --maxi-light-h4-style: normal;
    --maxi-light-h4-decoration: unset;
    --maxi-light-h4-decoration-line: none;
    --maxi-light-h5-color: #000000;
    --maxi-light-h5-font-family: Roboto;
    --maxi-light-h5-font-size-general: 22px;
    --maxi-light-h5-font-size-xxl: 28px;
    --maxi-light-h5-font-size-xl: 22px;
    --maxi-light-h5-font-size-l: 22px;
    --maxi-light-h5-font-size-m: 20px;
    --maxi-light-h5-font-size-s: 20px;
    --maxi-light-h5-font-size-xs: 20px;
    --maxi-light-h5-line-height-xxl: 1.36;
    --maxi-light-h5-line-height-xl: 1.26;
    --maxi-light-h5-line-height-l: 1.45;
    --maxi-light-h5-line-height-m: 1.5;
    --maxi-light-h5-line-height-s: 1.5;
    --maxi-light-h5-line-height-xs: 1.5;
    --maxi-light-h5-font-weight: 500;
    --maxi-light-h5-letter-spacing: 0;
    --maxi-light-h5-transform: none;
    --maxi-light-h5-style: normal;
    --maxi-light-h5-decoration: unset;
    --maxi-light-h5-decoration-line: none;
    --maxi-light-h6-color: #000000;
    --maxi-light-h6-font-family: Roboto;
    --maxi-light-h6-font-size-general: 20px;
    --maxi-light-h6-font-size-xxl: 24px;
    --maxi-light-h6-font-size-xl: 20px;
    --maxi-light-h6-font-size-l: 20px;
    --maxi-light-h6-font-size-m: 18px;
    --maxi-light-h6-font-size-s: 18px;
    --maxi-light-h6-font-size-xs: 18px;
    --maxi-light-h6-line-height-xxl: 1.39;
    --maxi-light-h6-line-height-xl: 1.29;
    --maxi-light-h6-line-height-l: 1.5;
    --maxi-light-h6-line-height-m: 1.56;
    --maxi-light-h6-line-height-s: 1.56;
    --maxi-light-h6-line-height-xs: 1.56;
    --maxi-light-h6-font-weight: 500;
    --maxi-light-h6-letter-spacing: 0;
    --maxi-light-h6-transform: none;
    --maxi-light-h6-style: normal;
    --maxi-light-h6-decoration: unset;
    --maxi-light-h6-decoration-line: none;
}
