/**
* Default and variables
*/
// @import './maxi-themes-default.scss';

$styles: 'dark', 'light';
$levels: 'p', 'li', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';
$responsive_sizes: 'general', 'xxl', 'xl', 'l', 'm', 's', 'xs';
$responsive_breakpoints: 1921, 1920, 1366, 1024, 768, 480;
$responsive_width: '';
$current_responsive_stage: 'general';
$color_set: '1', '2', '3', '4', '5', '6', '7';

/**
* Styles
*/

/* Frontend */
body.maxi-blocks--active {
	@each $style in $styles {
		.maxi-#{$style} {
			/* Color Presets */
			@each $color_number in $color_set {
				&.maxi-sc-#{$style}-background-color-#{$color_number},
				.maxi-sc-#{$style}-background-color-#{$color_number} {
					&.maxi-button-block .maxi-button-block__button, {
						--maxi-#{$style}-button-background-color-palette: var(--maxi-#{$style}-color-#{$color_number});
					}
					> .maxi-background-displayer .maxi-background-displayer__color {
						background: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
				&.maxi-sc-#{$style}-border-color-#{$color_number},
				.maxi-sc-#{$style}-border-color-#{$color_number} {
					&:not(.maxi-button-block) {
						border-color: var(--maxi-#{$style}-color-#{$color_number});
					}
					> .maxi-block__resizer .maxi-block-hover-wrapper,
					> .maxi-block-hover-wrapper,
					> .maxi-button-block__button {
						border-color: var(--maxi-#{$style}-color-#{$color_number});
					}
					> .maxi-container-arrow:before,
					> .maxi-container-arrow:after {
						background: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
				&.maxi-sc-#{$style}-typography-color-#{$color_number},
				.maxi-sc-#{$style}-typography-color-#{$color_number} {
					&.maxi-button-block,
					.maxi-image-block__caption {
						--maxi-#{$style}-button-text-color-palette: var(--maxi-#{$style}-color-#{$color_number});

					}
				}
				@each $level in $levels {
					&.maxi-sc-#{$style}-typography-color-#{$color_number} > .maxi-text-block__content,
					.maxi-sc-#{$style}-typography-color-#{$color_number} > .maxi-text-block__content {
						--maxi-#{$style}-#{$level}-color-general-palette: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
				&.maxi-sc-#{$style}-icon-color-#{$color_number},
				.maxi-sc-#{$style}-icon-color-#{$color_number} {
					.maxi-font-icon-block__icon i {
						--maxi-#{$style}-font-icon-color-palette: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
				&.maxi-sc-#{$style}-svgColorFill-color-#{$color_number},
				.maxi-sc-#{$style}-svgColorFill-color-#{$color_number} {
					.maxi-svg-icon-block__icon svg[data-fill],
					.maxi-svg-icon-block__icon svg *[data-fill] {
						fill: var(--maxi-light-icon-fill, var(--maxi-light-icon-fill-palette));
						--maxi-#{$style}-icon-fill-palette: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
				&.maxi-sc-#{$style}-svgColorLine-color-#{$color_number},
				.maxi-sc-#{$style}-svgColorLine-color-#{$color_number} {
					.maxi-svg-icon-block__icon svg[data-stroke],
					.maxi-svg-icon-block__icon svg *[data-stroke] {
						stroke: var(--maxi-light-icon-line, var(--maxi-light-icon-line-palette));
						--maxi-#{$style}-icon-line-palette: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
				&.maxi-sc-#{$style}-box-shadow-color-#{$color_number},
				.maxi-sc-#{$style}-box-shadow-color-#{$color_number} {
					&,
					> .maxi-block-hover-wrapper,
					> .maxi-block__resizer .maxi-block-hover-wrapper {
						--maxi-shadow-color: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
				&.maxi-sc-#{$style}-divider-color-#{$color_number},
				.maxi-sc-#{$style}-divider-color-#{$color_number} {
					hr.maxi-divider-block__divider {
						--maxi-#{$style}-divider-color-palette: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
				&.maxi-sc-#{$style}-link-color-#{$color_number},
				.maxi-sc-#{$style}-link-color-#{$color_number} {
					a:not(.maxi-button-block__button) {
						--maxi-#{$style}-link-color-palette: var(--maxi-#{$style}-color-#{$color_number});
					}
				}
			}
			/* Color Presets on hover */
			&:not(.maxi-button-block):hover {
				@each $color_number in $color_set {
					&.maxi-sc-#{$style}-background-hover-color-#{$color_number} {
						> .maxi-background-displayer .maxi-background-displayer__color {
							background-color: var(--maxi-#{$style}-color-#{$color_number});
						}
					}
					&.maxi-sc-#{$style}-border-hover-color-#{$color_number} {
							border-color: var(--maxi-#{$style}-color-#{$color_number});
						> .maxi-block-hover-wrapper,
						> .maxi-block__resizer .maxi-block-hover-wrapper {
							border-color: var(--maxi-#{$style}-color-#{$color_number});
						}
						> .maxi-container-arrow:before,
						> .maxi-container-arrow:after {
							background: var(--maxi-#{$style}-color-#{$color_number});
						}
					}
					&.maxi-sc-#{$style}-typography-hover-color-#{$color_number} {
						> .maxi-text-block__content,
						.maxi-image-block__caption {
							color: var(--maxi-#{$style}-color-#{$color_number});
						}
					}
					&.maxi-sc-#{$style}-icon-hover-color-#{$color_number} {
						.maxi-font-icon-block__icon i,
						.maxi-font-icon-block__icon:hover i {
							color: var(--maxi-#{$style}-hover, var(--maxi-#{$style}-color-#{$color_number}));
						}
					}
					&.maxi-sc-#{$style}-box-shadow-hover-color-#{$color_number} {
						&,
						> .maxi-block-hover-wrapper,
						> .maxi-block__resizer .maxi-block-hover-wrapper {
							--maxi-shadow-color: var(--maxi-#{$style}-color-#{$color_number});
						}
					}
				}
			}
			/* Color Presets on button hover */
			&.maxi-button-block {
				@each $color_number in $color_set {
					&.maxi-sc-#{$style}-background-hover-color-#{$color_number} {
						> .maxi-button-block__button:hover {
							--maxi-#{$style}-button-background-hover-color-palette: var(--maxi-#{$style}-color-#{$color_number});
						}
					}
					&.maxi-sc-#{$style}-border-hover-color-#{$color_number} {
						> .maxi-button-block__button:hover {
							--maxi-#{$style}-button-border-hover-color-palette: var(--maxi-#{$style}-color-#{$color_number});
						}
					}
					&.maxi-sc-#{$style}-typography-hover-color-#{$color_number} {
						.maxi-button-block:hover {
							--maxi-#{$style}-button-text-hover-color-palette: var(--maxi-#{$style}-color-#{$color_number});						}
					}
					&.maxi-sc-#{$style}-box-shadow-hover-color-#{$color_number} {
						> .maxi-button-block__button:hover {
							--maxi-shadow-color: var(--maxi-#{$style}-color-#{$color_number});
						}
					}
				}
			}
		}
		/* End of Color Presets */

		/* Individual settings per a block type */
		.maxi-#{$style}[class*='maxi-sc'] {
			@each $level in $levels {
				#{$level} {
					color: var(--maxi-#{$style}-#{$level}-color-general, var(--maxi-#{$style}-#{$level}-color-general-palette));
					font-family: var(--maxi-#{$style}-#{$level}-font-family-general);
					font-weight: var(--maxi-#{$style}-#{$level}-font-weight-general);
					font-style: var(--maxi-#{$style}-#{$level}-font-style-general);
					text-transform: var(--maxi-#{$style}-#{$level}-text-transform-general);
					text-decoration: var(--maxi-#{$style}-#{$level}-text-decoration-general);
				}
			}

			a:not(.maxi-button-block__button) {
				color: var(--maxi-#{$style}-link, var(--maxi-#{$style}-link-palette));
				&:visited, &:hover, &:active, &:focus {
			        color: var(--maxi-#{$style}-hover, var(--maxi-#{$style}-link-hover-palette));
			        span {
			        	color: var(--maxi-#{$style}-hover, var(--maxi-#{$style}-link-hover-palette));
			        }
			    }
			}

			&.maxi-divider-block__divider,
			hr.maxi-divider-block__divider {
				border-color: var(--maxi-#{$style}-divider-color, var(--maxi-#{$style}-divider-color-palette));
			}

			&.maxi-font-icon-block__icon i,
			.maxi-font-icon-block__icon i {
				color: var(--maxi-#{$style}-font-icon-color);
				color: var(--maxi-#{$style}-font-icon-color, var(--maxi-#{$style}-font-icon-color-palette));
			}

			&.maxi-svg-icon-block__icon svg[data-fill],
			&.maxi-svg-icon-block__icon svg *[data-fill] {
				fill: var(--maxi-#{$style}-icon-fill, var(--maxi-#{$style}-icon-fill-palette));
			}

			&.maxi-svg-icon-block__icon svg[data-stroke],
			&.maxi-svg-icon-block__icon svg *[data-stroke] {
				stroke: var(--maxi-#{$style}-icon-line, var(--maxi-#{$style}-icon-line-palette));
			}

			&.maxi-button-block .maxi-button-block__button,
			.maxi-button-block .maxi-button-block__button {
				color: var(--maxi-#{$style}-button-text-color, var(--maxi-#{$style}-button-text-color-palette));
				background-color: var(--maxi-#{$style}-button-background-color, var(--maxi-#{$style}-button-background-color-palette));
				font-family: var(--maxi-#{$style}-button-font-family-general);
				font-weight: var(--maxi-#{$style}-button-font-weight-general);
				font-style: var(--maxi-#{$style}-button-font-style-general);
				text-transform: var(--maxi-#{$style}-button-text-transform-general);
				text-decoration: var(--maxi-#{$style}-button-text-decoration-general);
				&:visited, &:hover, &:active, &:focus {
					color: var(--maxi-#{$style}-button-text-hover-color, var(--maxi-#{$style}-button-text-hover-color-palette, var(--maxi-#{$style}-button-text-color, var(--maxi-#{$style}-button-text-color-palette))));
					background-color: var(--maxi-#{$style}-hover, var(--maxi-#{$style}-button-background-hover-color-palette,  var(--maxi-#{$style}-button-background-color, var(--maxi-#{$style}-button-background-color-palette))));
					border-color: var(--maxi-#{$style}-hover, var(--maxi-#{$style}-button-border-color-palette));
			    }
			}
		}
	}
}

/**
* Backend
*/
body.maxi-blocks--active {
	@each $style in $styles {
		/* Palette */
		div#editor .maxi-color-palette--#{$style} {
			@each $color_number in $color_set {
				.maxi-sc-color-palette .maxi-sc-color-palette__box .maxi-sc-color-palette__box__item__#{$color_number} {
					background-color: var(--maxi-#{$style}-color-#{$color_number});
				}
			}
		}
	}
}

/**
* Responsive
*/
@each $responsive_size in $responsive_sizes {
	body.maxi-blocks--active {
		@each $style in $styles {
			.edit-post-visual-editor.editor-styles-wrapper[maxi-blocks-responsive="#{$responsive_size}"] {
				.maxi-block--backend {
					&.maxi-#{$style} {
						@each $level in $levels {
							#{$level} {
								&.maxi-text-block__content {
									font-size: var(--maxi-#{$style}-#{$level}-font-size-#{$responsive_size});
									line-height: var(--maxi-#{$style}-#{$level}-line-height-#{$responsive_size});
									letter-spacing: var(--maxi-#{$style}-#{$level}-letter-spacing-#{$responsive_size});
								}
							}
						}
					}
					.maxi-button-block__button {
						font-size: var(--maxi-#{$style}-button-font-size-#{$responsive_size});
						line-height: var(--maxi-#{$style}-button-line-height-#{$responsive_size});
						letter-spacing: var(--maxi-#{$style}-button-letter-spacing-#{$responsive_size});
					}
					.maxi-font-icon-block__icon i {
						font-size: var(--maxi-#{$style}-font-icon-font-size-#{$responsive_size});
					}
				}
			}
		}

	}
}

@each $responsive_breakpoint in $responsive_breakpoints {
	@if $responsive_breakpoint == 480 {
		$responsive_width: max-width;
		$current_responsive_stage: 'xs';
	}
	@if $responsive_breakpoint == 768 {
		$responsive_width: max-width;
		$current_responsive_stage: 's';
	}
	@if $responsive_breakpoint == 1024 {
		$responsive_width: max-width;
		$current_responsive_stage: 'm';
	}
	@if $responsive_breakpoint == 1366 {
		$responsive_width: max-width;
		$current_responsive_stage: 'l';
	}
	@if $responsive_breakpoint == 1920 {
		$responsive_width: max-width;
		$current_responsive_stage: 'xl';
	}
	@if $responsive_breakpoint == 1921 {
		$responsive_width: min-width;
		$current_responsive_stage: 'xxl';
	}
	@media only screen and ($responsive_width: #{$responsive_breakpoint}px) {
		body.maxi-blocks--active {
			@each $style in $styles {
				.maxi-#{$style} {
					@each $level in $levels {
						#{$level} {
							font-size: var(--maxi-#{$style}-#{$level}-font-size-#{$current_responsive_stage});
							line-height: var(--maxi-#{$style}-#{$level}-line-height-#{$current_responsive_stage});
							letter-spacing: var(--maxi-#{$style}-#{$level}-letter-spacing-#{$current_responsive_stage});
						}
					}
				}
				.maxi-button-block__button {
					font-size: var(--maxi-#{$style}-button-font-size-#{$current_responsive_stage});
					line-height: var(--maxi-#{$style}-button-line-height-#{$current_responsive_stage});
					letter-spacing: var(--maxi-#{$style}-button-letter-spacing-#{$current_responsive_stage});
				}
				.maxi-font-icon-block__icon i {
					font-size: var(--maxi-#{$style}-font-icon-font-size-#{$current_responsive_stage});
				}
			}
		}
	}
}
