/************
* BaseControl
* SelectorControl
* RangeControl
* RadioControl
* ButtonControl
************/

.maxi-sidebar,
.maxi-popover,
.toolbar-item__popover {
	hr {
		margin-top: 12px !important;
		margin-bottom: 12px !important;
		border: 1.5px solid var(--maxi-grey-light);
	}
	.block-editor-link-control {
		.block-editor-url-input__input {
			color: var(--maxi-grey-dark);

			&::placeholder {
				color: var(--maxi-grey-dark) !important;
			}
		}
		&__search-item-info {
			color: var(--maxi-grey-dark);
		}
		&__search-item-action {
			color: var(--maxi-white);
			background-color: var(--maxi-black);
			box-shadow: inset 0 0 0 1px var(--maxi-white);

			&:hover {
				color: var(--maxi-primary-color) !important;
				box-shadow: inset 0 0 0 1px var(--maxi-primary-color) !important;
			}
		}
		&__search-item-header {
			max-width: 165px;
		}
		&__search-item-details {
			max-width: 185px;
		}
		&__search-item-title {
			&:focus {
				box-shadow: none;
				outline: none;
			}
			mark {
				color: var(--maxi-primary-color);
			}
		}
		&__search-results-wrapper {
			margin-bottom: 8px;
		}
		&__search-item-type {
			background-color: var(--maxi-black);
			border-radius: 2px;
		}
		&__search-item {
			margin-bottom: 3px;
			color: var(--maxi-white);
			background-color: var(--maxi-grey-dark);

			&.is-current {
				margin-bottom: 8px;
				color: var(--maxi-white);
				background-color: var(--maxi-grey-dark);

				a {
					margin-bottom: 5px;
					color: var(--maxi-primary-color);
					text-decoration: none;
				}
			}
			&:hover {
				background-color: var(--maxi-grey-dark);
			}
		}
		&__search-results-wrapper:before,
		&__search-results-wrapper:after {
			background: none;
		}
	}
	// BaseControl
	.components-base-control:not(.block-editor-link-control__search-input) {
		margin-bottom: 7px;

		&:last-child {
			margin-bottom: 5px !important;
			margin-top: 0px;
		}

		.components-base-control__field {
			display: flex !important;
			align-items: center;

			.components-base-control__label {
				flex: 1;
				min-height: 18px;
				margin-bottom: 0;
				margin-right: 10px;
			}

			// ButtonControl
			.components-button {
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				padding: 8px;
				border-radius: 0;
				background-color: var(--maxi-white);
				text-decoration: none;
				transition: 0.5s linear;
				cursor: pointer;
				-webkit-appearance: none;
				opacity: 1;

				&:hover {
					border-color: var(--maxi-grey-light);
					box-shadow: none !important;
					cursor: pointer;
				}

				&.is-primary {
					border-color: var(--maxi-primary-color);

					&:focus:enabled {
						box-shadow: 0 0 0 1px var(--maxi-white),
							0 0 0 3px var(--maxi-primary-color);
					}
				}

				&.is-secondary {
					border: 1px solid var(--maxi-grey-light);
					box-shadow: none !important;

					&:hover {
						background-color: var(--maxi-white);
						border-color: var(--maxi-grey-light);
					}

					svg {
						width: 14px !important;
						height: 14px !important;
					}
				}

				&[type='reset'] {
					svg {
						fill: var(--maxi-grey-dark);
					}
				}

				svg {
					margin: auto;
				}
			}
		}
	}

	// RangeControl
	.components-range-control {
		.components-range-control__root {
			align-items: center;
			margin: 0;

			& > span:not(.components-range-control__wrapper) {
				margin-left: 8px;
			}
		}
		.components-base-control__label {
			position: absolute;
			overflow: hidden;
			width: 1px;
			height: 1px;
			padding: 0;
			border: 0;
			margin: -1px;
			clip: rect(0 0 0 0);
		}
		.components-base-control__field {
			flex-wrap: wrap;
			margin: 0 auto !important;

			.components-range-control__wrapper {
				width: 16px;
				height: 16px;
				min-height: 16px;
				margin-left: 0;
			}
			.components-range-control__tooltip {
				top: auto;
				bottom: -26px !important;
				background-color: var(--maxi-grey-dark);
			}
			.components-range-control__slider {
				& + span {
					height: 2px;
					margin-top: 6px;
					margin-right: -8px;
					background: var(--maxi-grey-light);
				}
			}
			.components-range-control__track {
				height: 2px;
				margin-top: 6px;
				margin-left: -8px;
				background: var(--maxi-secondary-color) !important;

				& + span {
					top: -10px;
					width: 16px;
					height: 16px;
					transform: translateX(0);
					background-color: transparent;
					margin-left: -9px;

					span {
						position: relative;
						width: 16px;
						height: 16px;
						margin-right: -3px;
						border: 2px solid var(--maxi-black);
						background-color: var(--maxi-white);

						&:after {
							content: '';
							position: absolute;
							top: 2px;
							left: 2px;
							width: 8px;
							height: 8px;
							border-radius: 50%;
							background: var(--maxi-black);
						}
						&::before {
							display: none !important;
						}
					}
				}
			}
			.components-base-control__label {
				flex: 40%;
			}
		}
	}
}

.maxi-popover {
	.components-popover__content {
		min-width: 373px !important;
		padding: 20px;
		box-shadow: 0 46px 133px rgba(150, 176, 203, 0.23) !important;
		outline: none;

		@at-root .rtl #{&} {
			min-width: 0px !important;
		}
	}
}

.maxi-sidebar .editor-sidebar__panel-tabs > div:first-child {
	overflow-x: hidden;
}
