/************
* BaseControl
* SelectorControl
* RangeControl
* RadioControl
* ButtonControl
************/

.maxi-sidebar,
.maxi-popover,
.toolbar-item__popover {
	.block-editor-link-control {
		.block-editor-url-input__input {
			color: #fff;
			&::placeholder {
				color: #5f6063 !important;
			}
		}
		&__search-item-info {
			color: #b7b7b7;
		}
		&__search-item-action {
			background-color: #000;
			color: #fff;
			box-shadow: inset 0 0 0 1px #fff;
			&:hover {
				box-shadow: inset 0 0 0 1px #ff4a17 !important;
				color: #ff4a17 !important;
			}
		}
		&__search-item-title {
			&:focus {
				box-shadow: none;
				outline: none;
			}
			mark {
				color: #ff4a17;
			}
		}
		&__search-results-wrapper {
			margin-bottom: 10px;
		}
		&__search-item-type {
			background-color: #000;
			border-radius: 2px;
		}
		&__search-item {
			background-color: #4f515c;
			margin-bottom: 3px;
			color: #fff;

			&.is-current {
				background-color: #4f515c;
				margin-bottom: 10px;
				color: #fff;
				a {
					color: #ff4a17;
					margin-bottom: 5px;
					text-decoration: none;
				}
			}
			&:hover {
				background-color: #42434a;
			}
		}
		&__search-results-wrapper:before,
		&__search-results-wrapper:after {
			background: none;
		}
	}
	// BaseControl
	.components-base-control:not(.block-editor-link-control__search-input) {
		margin-bottom: 7px;

		&:last-child {
			margin-bottom: 0 !important;
		}

		.components-base-control__field {
			display: flex !important;
			align-items: center;

			.components-base-control__label {
				margin-bottom: 0;
				margin-right: 10px;
				flex: 1;
				min-height: 18px;
			}

			// RadioControl
			.maxi-radio-control__option:not(:last-child) {
				margin-bottom: 0 !important;
			}

			// ButtonControl
			.components-button {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 8px;
				text-decoration: none;
				cursor: pointer;
				-webkit-appearance: none;
				background-color: #fff;
				transition: 0.5s linear;
				overflow: hidden;
				opacity: 1;
				border-radius: 0;

				&:hover {
					box-shadow: none !important;
					border-color: #c5c5c5;
					cursor: pointer;
				}

				&.is-primary {
					border-color: #00ccff;

					&:focus:enabled {
						box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00ccff;
					}
				}

				&.is-secondary {
					box-shadow: none !important;
					border: 1px solid #757575;

					&:hover {
						background-color: #f1f1f1;
						border-color : rgba(180,180,180,0.8);
					}

					svg {
						width: 14px !important;
						height: 14px !important;
					}
				}

				&[type="reset"] {
					svg {
						fill: #464a53;
					}
				}

				svg {
					margin: auto;
				}
			}
		}
	}

	// RangeControl
	.components-range-control {
		.components-range-control__root {
			align-items: center;

			& > span:not(.components-range-control__wrapper) {
				margin-left: 8px;
			}
		}
		.components-base-control__label {
			border: 0;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		.components-base-control__field {
			flex-wrap: wrap;
			margin-bottom: 0 !important;

			.components-range-control__wrapper {
				margin-left: 0;
				width: 16px;
				height: 16px;
				min-height: 16px;
			}
			.components-range-control__tooltip {
				top: auto;
				bottom: -26px !important;
				background-color: #141516;
			}
			.components-range-control__slider {
				& + span {
					background: #dddfe1;
					height: 2px;
					margin-top: 6px;
				}
			}
			.components-range-control__track {
				height: 2px;
				margin-top: 6px;
				background: #007CBA !important;

				& + span {
					top: -6px;
					height: 16px;
					width: 16px;

					span {
						position: relative;
						width: 16px;
						height: 16px;
					}
				}
			}
			.components-base-control__label {
				flex: 40%;
			}
		}
	}
}

.maxi-popover {
	.components-popover__content {
		padding: 20px;
		min-width: 373px !important;
		box-shadow: 0 46px 133px rgba(150, 176, 203, 0.23) !important;
		@at-root .rtl #{&} {
			min-width: 0px !important;
		}
	}
}
