// until we have a full implementation, this import
// will make the style cards (just the default) works
// on the frontend
// @import './maxi-themes.scss';
@import './maxi-themes-banner.scss';

.maxi-block {
    position: relative;
}

.maxi-link-wrapper {
    display: block;
}
