/********
* General
********/
.maxi-link-wrapper {
    display: block;
}

.maxi-block{
    position: relative;

    &:not([data-align="full"]) {
        margin-right: auto;
        margin-left: auto;
    }
}
.maxi-shape-divider {
    svg {
        width: 100%;
        height: 100%;
    }
}