// until we have a full implementation, this import
// will make the style cards (just the default) works
// on the frontend
@import './maxi-themes.scss';
@import './maxi-themes-banner.scss';

.page-template-full-width-template-php {
	#header,
	#footer {
		padding: 0 5%;
	}
}

.maxi-block {
	position: relative;
	z-index: 0;

	// To not break pages full-width which wasn't updated after #3269
	&[data-align='full'] {
		width: 100% !important;
		max-width: 100% !important;
	}

	span.maxi-block-anchor {
		position: absolute;
		top: 0;
	}
}

.maxi-link-wrapper {
	display: contents;

	.maxi-text-block__content {
		transition: color 0.3s ease;
	}

	> .maxi-block--has-link {
		max-width: inherit;
	}
}
