// until we have a full implementation, this import
// will make the style cards (just the default) works
// on the frontend
@import './maxi-themes-banner.scss';

.page-template-full-width-template-php {
	#header,
	#footer {
		padding: 0 5%;
	}
}

// Ensures a good displaying of native blocks inside MaxiBlocks
.editor-styles-wrapper .maxi-block .wp-block:not(.maxi-block) {
	margin-right: 0;
	margin-left: 0;
}

.maxi-block {
	position: relative;
	z-index: 0;

	// To not break pages full-width which wasn't updated after #3269
	&[data-align='full'] {
		width: 100% !important;
		max-width: 100% !important;
	}

	span.maxi-block-anchor {
		position: absolute;
		top: 0;
	}

	/** Layer for disable maxi blocks on tablet and mobile devices **/
	&--disabled > *:not(.maxi-block__disabled) {
		pointer-events: none;
		cursor: not-allowed;
		opacity: 0.7;
	}
	&__disabled {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999999;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 0 0px 1px var(--mw);

		p {
			padding: 10px;
			margin: auto;
			color: var(--mw);
			background-color: var(--mb);
			font-family: Inter, sans-serif;
			font-size: 14px;
			text-align: center;
		}
	}

	&--hidden {
		display: none !important;
	}

	* {
		margin-block-start: 0;
		margin-block-end: 0;
		padding-inline-start: 0;
		padding-inline-end: 0;
	}
	.maxi-pagination {
		width: 100%;
		display: flex;
		a {
			text-decoration: none;
			transition: var(--maxi-trans-std);
		}
		.maxi-pagination__pages {
			a:not(:last-child),
			span:not(:last-child) {
				margin-right: 7px;
			}
		}
	}
}

.maxi-link-wrapper {
	display: contents;

	.maxi-text-block__content {
		transition: color 0.3s ease;
	}

	> .maxi-block--has-link {
		max-width: inherit;
	}

	// Override the default button style that makes cursor default for links
	button {
		cursor: pointer;
	}
}

// 2025
body.maxi-blocks--active .maxi-block--use-sc .entry-content:has(.maxi-block) {
	margin-block-start: 0;
}

// Override WordPress core destructive button styles
.components-button.is-destructive {
	--wp-components-color-accent: var(--mor) !important;
	--wp-components-color-accent-darker-10: var(
		--msc
	) !important;
	--wp-components-color-accent-darker-20: var(
		--mtc
	) !important;
}

.components-button.is-destructive:not(.is-primary):not(.is-secondary):not(.is-tertiary):not(.is-link) {
	color: var(--mor) !important;

	&:hover:not(:disabled) {
		color: var(--mtc) !important;
	}

	&:focus:not(:disabled) {
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus)
			var(--mor) !important;
	}

	&:active:not(:disabled) {
		background: var(--mgl) !important;
	}
}
