body.maxi-blocks--active.maxi-blocks--accessibility .maxi-sidebar {
	.maxi-shape-divider-control {
		&__shape-selector {
			&__display {
				border-color: var(--maxi-grey);

				&:focus {
					border-color: var(--maxi-secondary-color);
					box-shadow: 0 0 0 1px var(--maxi-secondary-color);
					outline: 2px solid transparent;
				}
			}
		}
	}
}
.maxi-shape-divider-control {
	&__shape-list {
		.maxi-tabs-control {
			display: var(--maxi-display-flex);
			flex-wrap: wrap;
			width: 271px;
			height: var(--maxi-layout-auto);
			overflow-y: scroll;
		}

		.maxi-tabs-control__button {
			width: var(--maxi-layout-full-width);
			flex-direction: var(--maxi-flex-direction-row);

			svg {
				width: var(--maxi-layout-full-width) !important;
			}
			&:focus,
			&--selected {
				border: var(--maxi-border-none);
				background-color: var(--maxi-white) !important;
				box-shadow: var(--maxi-box-shadow-none);
				outline: var(--maxi-outline-none);

				svg {
					fill: var(--maxi-secondary-color);
				}
			}
		}
	}
	&__shape-selector {
		width: var(--maxi-layout-full-width);
		margin-bottom: var(--maxi-space-8px);

		&__display {
			display: var(--maxi-display-block);
			width: var(--maxi-layout-full-width);
			padding: var(--maxi-space-18px) 0;
			border: 1px solid var(--maxi-secondary-color);
			border-radius: var(--maxi-radius-4px) !important;
			background-color: var(--maxi-whisper-green);
			text-align: var(--maxi-text-align-center);
			transition: all var(--maxi-transition-500ms);
			cursor: var(--maxi-cursor-pointer);

			&:hover {
				border-color: var(--maxi-grey);
			}
		}
	}
}
