@import '../../../../../src/css/backend-variables.scss';
body.maxi-blocks--active.maxi-blocks--accessibility .maxi-sidebar {
	.maxi-shape-divider-control {
		&__shape-selector {
			&__display {
				border-color: $g;

				&:focus {
					border-color: $sc;
					box-shadow: 0 0 0 1px $sc;
					outline: 2px solid $tr;
				}
			}
		}
	}
}
.maxi-shape-divider-control {
	&__shape-list {
		.maxi-tabs-control {
			display: flex;
			flex-wrap: wrap;
			width: 271px;
			height: 300px;
			overflow-y: scroll;
		}

		.maxi-tabs-control__button {
			width: 100%;
			flex-direction: row;

			svg {
				width: 100% !important;
			}
			&:focus,
			&--selected {
				border: none;
				background-color: $w !important;
				box-shadow: none;
				outline: none;

				svg {
					fill: $sc;
				}
			}
		}
	}
	&__shape-selector {
		width: 100%;
		margin-bottom: 8px;

		&__display {
			display: block;
			width: 100%;
			padding: 18px 0;
			border: 1px solid $mg;
			border-radius: 4px !important;
			background-color: $wg;
			text-align: center;
			transition: all 0.5s;
			cursor: $ptr;

			&:hover {
				border-color: $g;
			}
		}
	}
}
