body.maxi-blocks--active .maxi-navigation-link-block {
	width: fit-content;
	height: fit-content;

	&__content {
		display: inline-block;
		text-decoration: none;
		padding: 10px;

		&:focus {
			outline: none !important;
			box-shadow: none !important;
		}

		&::before,
		&::after {
			content: ' ';
			position: absolute;
			z-index: -1;
		}
	}
}
