body.maxi-blocks--active .maxi-navigation-link-block {
	width: fit-content;

	&__content {
		text-decoration: none;

		&:focus {
			outline: none !important;
			box-shadow: none !important;
		}

		&::after {
			content: ' ';
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
}
