.maxi-settingstab-control {
	width: 100%;

	.maxi-tabs-control {
		display: flex;
		padding-top: 0;

		&:not(.maxi-tabs-control--disable-padding) {
			margin-bottom: 8px;
		}
		&__button {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: auto;
			padding: 8px;
			border-bottom: 1px solid var(--maxi-grey-1-color);
			border-top: 1px solid var(--maxi-grey-1-color);
			border-right: 1px solid var(--maxi-grey-1-color);
			border-radius: 0;
			color: var(--maxi-black-1-color);
			background-color: #fff;
			text-align: center;
			transform: 0.5s all;

			&:last-child {
				border-right: none;
			}
			&:hover {
				background-color: var(--maxi-grey-3-color);
				cursor: pointer;
			}
			&:focus:not(:disabled) {
				background-color: var(--maxi-grey-2-color);
				box-shadow: none !important;
				outline: none !important;
			}
			&:active {
				background-color: var(--maxi-grey-3-color);
			}
			&[aria-pressed='true'] {
				border-bottom: 2px solid var(--maxi-primary-color);
				color: var(--maxi-black-1-color);
				background-color: var(--maxi-white-3-color);
				font-weight: 500;
			}
		}

		&__notification {
			position: absolute;
			z-index: 8;
			top: 0;
			right: 0;
			width: 9px;
			height: 9px;
		}
	}
	.maxi-tabs-content {
		&:not(.maxi-tabs-content--disable-padding) {
			padding: 12px;
			background-color: #fff;
		}

		.maxi-tab-content {
			display: none;

			&__box {
				padding: 8px;
				border-top: 1px solid var(--maxi-grey-1-color);
				border-bottom: 1px solid var(--maxi-grey-1-color);
				margin-bottom: 8px;
				background-color: #fff;

				& > *:last-child {
					.maxi-base-control__field {
						margin-bottom: 0 !important;
					}
				}
				.components-base-control__label {
					flex: none;
					width: 50%;
				}
			}
			&--selected {
				display: block;
			}
		}
	}
}
