.maxi-settingstab-control {
	width: 100%;
	transition: var(--maxi-trans-std);

	&.maxi-axis-control__sync {
		.maxi-tabs-control__button {
			margin-left: 7px;
			border: 1.5px solid var(--mgl);
			border-radius: 4px;
			transition: var(--maxi-trans-std);
			padding: 4px 6px;

			svg {
				fill: var(--msc);
				transition: var(--maxi-trans-std);
			}

			&[aria-pressed='true'],
			&:hover {
				background-color: var(--mpg);
				border: 1.5px solid var(--msc);
				font-weight: 700;

				svg {
					fill: var(--mpc) !important;
				}
			}
		}
	}

	&:not(.maxi-responsive-tabs-control) {
		& > .maxi-tabs-control {
			&.quick-start {
				background: var(--maxi-admin-black);
				color: var(--maxi-admin-white);
				border: none;
				transition: var(--maxi-trans-std);
			}
			.maxi-tabs-control__button:not(.maxi-tabs-control__button--nested) {
				transition: var(--maxi-trans-std);

				&[aria-pressed='true'] {
					border-bottom: 1.5px solid var(--mb) !important;
					background-color: var(--mwg);
				}
			}
		}
	}
	.maxi-tabs-control {
		display: flex;
		padding-top: 0;

		&--nested {
			padding: 8px 8px 0;
			margin-bottom: -18px;

			.maxi-tabs-control__button {
				transition: var(--maxi-trans-std);
				&:hover {
					background-color: var(--mpg);
				}
				&:focus:not(:disabled) {
					background-color: var(--mw);
				}
			}
		}

		&__sidebar-settings-tabs {
			.maxi-tabs-control__button[aria-pressed='true'] {
				transition: var(--maxi-trans-std);
				color: var(--mb);
			}
		}
		&:not(.maxi-tabs-control--disable-padding) {
			margin-bottom: 0;
		}
		&--bottom-space {
			margin-bottom: 8px !important;
		}
		&__button {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: auto;
			padding: 12px 8px;
			border-bottom: 1.5px solid var(--mgl);
			border-top: 1.5px solid var(--mgl);
			border-right: 1.5px solid var(--mgl);
			border-radius: 0;
			color: var(--mdg);
			background-color: var(--mw);
			text-align: center;
			white-space: nowrap;
			transition: var(--maxi-trans-std);

			&:last-child {
				border-right: none;
				transition: var(--maxi-trans-std);
			}
			&:hover {
				background-color: var(--mwg);
				cursor: pointer;
				color: var(--mb);
			}
			&:focus:not(:disabled) {
				box-shadow: none;
				outline: none;
				transition: var(--maxi-trans-std);
			}
			&:active {
				background-color: var(--mwg) !important;
				transition: var(--maxi-trans-std);
			}
			&[aria-pressed='true'] {
				color: var(--mpc) !important;
				font-weight: 700 !important;
				background-color: var(--mwg) !important;
				transition: var(--maxi-trans-std);
			}
			&--active:before {
				content: '';
				position: absolute;
				top: 5px !important;
				left: -2px !important;
				z-index: 1;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--mlb-a);
				margin-left: 5px;
				transform: translateY(-50%);
				transition: var(--maxi-trans-std);
			}

			&.maxi-accordion-control__item__button {
				padding-left: 25px;
				transition: var(--maxi-trans-std);
			}

			&.maxi-clip-path-control__handles-button {
				transition: var(--maxi-trans-std);
				&[aria-pressed='true'] {
					background-color: var(--mpg);
					border-color: var(--mmg);
					color: var(--mb);
					border-radius: 6px !important;
				}
				&:hover {
					background-color: var(--mwg);
					border-radius: 6px !important;
				}
			}

			&.maxi-tabs-control__button-visual,
			&.maxi-tabs-control__button-edit.points {
				border: 1.5px solid var(--mgl) !important;
				transition: var(--maxi-trans-std);
				&[aria-pressed='true'] {
					background-color: var(--mpg) !important;
					border-color: var(--maxi-primary-green) !important;
					color: var(--mb) !important;
					font-weight: 700;
					border-radius: 6px !important;
				}
				&:hover {
					background-color: var(--mwg) !important;
				}
				&:last-child {
					border: 1.5px solid var(--mgl) !important;
					border-radius: 6px !important;
					transition: var(--maxi-trans-std);
				}
				&:first-child {
					border-radius: 6px !important;
					transition: var(--maxi-trans-std);
				}
			}

			&.maxi-tabs-control__button-edit.points[aria-pressed='true'],
			&.maxi-tabs-control__button-visual[aria-pressed='true'] {
				background-color: var(--mwg) !important;
				border-color: var(--mpc) !important;
				color: var(--mpc) !important;
				font-weight: 700;
				border-radius: 6px !important;
			}
		}

		&__notification {
			transition: var(--maxi-trans-std);
			position: absolute;
			z-index: 8;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 8px 0;
			border-color: transparent var(--mpc) transparent
				transparent;
		}

		.maxi-base-control {
			&__field {
				width: 100%;
				margin-bottom: 0;
			}
			&__label {
				flex: 4;
			}
		}

		&__full-width {
			width: 100%;
			.maxi-base-control {
				&__field {
					flex-wrap: wrap;
				}
				&__label {
					display: block;
					flex: 100% !important;
					width: 100%;
					margin: 0 0 8px !important;
				}
			}
		}
	}

	.maxi-tabs-content {
		&:not(.maxi-tabs-content--disable-padding) {
			padding: 0px 8px 0px;
			background-color: var(--mw);
		}

		&--nested {
			background: var(--mw);
			border: 1.5px solid var(--msc);
			padding: 25px 0 0;
			margin-bottom: 8px;
			border-radius: var(--maxi-radius-sm);
			overflow: hidden;
		}

		.maxi-tab-content {
			display: none;
			background: var(--mw);

			&__box {
				position: relative;
				padding: 8px;
				border-top: 1.5px solid var(--mgl);
				border-bottom: 1.5px solid var(--mgl);
				background-color: var(--mw);

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: var(--mgl);
				}
				& > *:last-child {
					.maxi-base-control__field {
						margin-bottom: 0 !important;
					}
				}
				.components-base-control__label {
					flex: none;
					width: 50%;
				}
			}
			&--selected {
				display: block;
			}
		}
	}

	&_has-border-left-right {
		.maxi-tabs-control__button {
			&:last-child {
				border-right: 1.5px solid var(--mgl);
			}
			&:first-child {
				border-left: 1.5px solid var(--mgl);
			}
		}
	}
}
.sidebar-block-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--mw);
	padding-left: 5px;

	.maxi-text-control__input {
		padding-left: 10px !important;
		transition: var(--maxi-trans-std);
	}

	.maxi-custom-label {
		width: 100%;
		position: relative;
		transition: var(--maxi-trans-std);
	}
	.maxi-base-control.maxi-block-style-control {
		position: relative;
		min-width: 75px;
		margin: 0 5px;
		transition: var(--maxi-trans-std);
	}
	.maxi-block-style-preview {
		position: relative;
		min-width: 100px;
		margin-inline-start: 10px;
		height: 32px;
		transition: var(--maxi-trans-std);
	}
	.block-style-label-2,
	.maxi-base-control__label {
		position: absolute;
		top: -8px;
		inset-inline-start: 8px;
		font-size: 8px;
		color: var(--mdg);
		font-style: italic;
		background: var(--mw);
		padding: 0 5px;
		pointer-events: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		transition: var(--maxi-trans-std);
	}
}
.block-info-icon {
	position: absolute;
	inset-inline-end: 5px;
	border: 2px solid var(--mgl);
	border-radius: 50%;
	height: 16px;
	width: 16px;
	text-align: center;
	top: 9px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--maxi-trans-std);

	&:hover {
		border-color: var(--mpc);
		color: var(--mdg);
		transition: var(--maxi-trans-std);
	}

	span {
		font-size: 10px;
		transition: var(--maxi-trans-std);
	}
}
