.maxi-settingstab-control {
	width: 100%;
	.maxi-tabs-control {
		display: flex;
		padding-top: 0;
		&:not(.maxi-tabs-control--disable-padding) {
			margin-bottom: 10px;
		}
		&__button {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: auto;
			font-size: 13px;
			color: #000;
			font-weight: 500;
			text-align: center;
			border-bottom: 2px solid #e8eaeb;
			border-radius: 0;
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: #fff;
			&:hover {
				cursor: pointer;
				color: #000;
			}
			&:focus {
				box-shadow: none !important;
				outline: none !important;
			}
			&:hover,
			&:active,
			&:focus {
				background: #f2f2f2;
			}
			&[aria-pressed='true'] {
				background-color: #f2f2f2;
				border-bottom: 2px solid #ff4a17;
			}
		}

		&__notification {
			position: absolute;
			top: 0;
			left: 100%;
			transform: translate(-50%, -50%);
			width: 1rem;
			height: 1rem;
			background: red;
			border-radius: 50%;
		}
	}
	.maxi-tabs-content {
		&:not(.maxi-tabs-content--disable-padding) {
			padding-top: 12px !important;
			padding-left: 12px !important;
			padding-right: 12px !important;
			padding-bottom: 12px !important;
			background-color: #fff;
		}

		.maxi-tab-content {
			display: none;
			&__box {
				padding: 16px 10px 10px;
				background-color: #fff;
				margin-bottom: 10px;
				border-top: 2px solid #e8eaeb;
				border-bottom: 1px solid #e8eaeb;
				.components-base-control__label {
					flex: none;
					width: 50%;
				}
			}

			&--selected {
				display: block;
			}
		}
	}
}
