.maxi-settingstab-control {
	width: 100%;

	&.maxi-axis-control__sync {
		.maxi-tabs-control__button {
			margin-left: 7px;
			border: 1.5px solid var(--maxi-grey-1-color);
			border-radius: 4px;

			&[aria-pressed='true'],
			&:hover {
				background-color: var(--maxi-light-blue-2-color);
				border-width: 0;
				font-weight: 700;
			}
		}
	}

	&:not(.maxi-responsive-tabs-control) {
		& > .maxi-tabs-control {
			.maxi-tabs-control__button:not(.maxi-tabs-control__button--nested) {
				&[aria-pressed='true'] {
					border-top: 2px solid var(--maxi-black-1-color) !important;
				}
			}
		}
	}
	.maxi-tabs-control {
		display: flex;
		padding-top: 0;

		&--nested {
			padding: 8px 8px 0;
			margin-bottom: -18px;

			.maxi-tabs-control__button {
				&:hover {
					background-color: var(--maxi-grey-8-color);
				}
				&:focus:not(:disabled) {
					background-color: var(--maxi-white-2-color);
				}
			}
		}

		&__sidebar-settings-tabs {
			.maxi-tabs-control__button[aria-pressed='true'] {
				color: var(--maxi-black-1-color);
			}
		}
		&:not(.maxi-tabs-control--disable-padding) {
			margin-bottom: 0;
		}
		&--bottom-space {
			margin-bottom: 8px !important;
		}
		&__button {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: auto;
			padding: 14px 8px;
			border-bottom: 1px solid var(--maxi-grey-1-color);
			border-top: 1px solid var(--maxi-grey-1-color);
			border-right: 1px solid var(--maxi-grey-1-color);
			border-radius: 0;
			color: var(--maxi-grey-11-color);
			background-color: #fff;
			text-align: center;
			white-space: nowrap;

			&:last-child {
				border-right: none;
			}
			&:hover {
				background-color: var(--maxi-grey-3-color);
				cursor: pointer;
			}
			&:focus:not(:disabled) {
				box-shadow: none;
				outline: none;
			}
			&:active {
				background-color: var(--maxi-grey-3-color);
			}
			&[aria-pressed='true'] {
				color: var(--maxi-black-1-color);
				font-weight: 700;
			}
			svg:not(.maxi-tabs-control__notification) {
				display: block;
				width: 20px;
				height: 100%;
				margin: 0;
				fill: var(--maxi-grey-5-color);
			}
			&--active:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 10px;
				height: 10px;
				z-index: 1;
				border-top: 2px solid var(--maxi-highlight-color);
				border-left: 2px solid var(--maxi-highlight-color);
			}
		}

		&__notification {
			position: absolute;
			z-index: 8;
			top: 0;
			right: 0;
			width: 9px;
			height: 9px;
		}

		.maxi-base-control {
			&__field {
				width: 100%;
				margin-bottom: 0;
			}
			&__label {
				flex: 4;
			}
		}

		&__full-width {
			width: 100%;
			.maxi-base-control {
				&__field {
					flex-wrap: wrap;
				}
				&__label {
					display: block;
					flex: 100% !important;
					width: 100%;
					margin: 0 0 8px !important;
				}
			}
		}
	}

	.maxi-tabs-content {
		&:not(.maxi-tabs-content--disable-padding) {
			padding: 0px 8px 5px;
			background-color: #fff;
		}

		&--nested {
			background: var(--maxi-white-4-color);
			border: 1px solid var(--maxi-secondary-color);
			padding: 25px 0 0;
			margin-bottom: 8px;
			border-radius: 5px;
			overflow: hidden;
		}

		.maxi-tab-content {
			display: none;
			background: #fff;

			&__box {
				position: relative;
				padding: 8px;
				border-top: 1px solid var(--maxi-grey-1-color);
				border-bottom: 8px solid var(--maxi-grey-8-color);
				background-color: #fff;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: var(--maxi-grey-1-color);
				}
				& > *:last-child {
					.maxi-base-control__field {
						margin-bottom: 0 !important;
					}
				}
				.components-base-control__label {
					flex: none;
					width: 50%;
				}
			}
			&--selected {
				display: block;
			}
		}
	}

	&_has-border-left-right {
		.maxi-tabs-control__button {
			&:last-child {
				border-right: 1px solid var(--maxi-grey-1-color);
			}
			&:first-child {
				border-left: 1px solid var(--maxi-grey-1-color);
			}
		}
	}
}
.sidebar-block-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #fff;
	padding-left: 5px;

	.maxi-text-control__input {
		padding-left: 10px !important;
	}
	.maxi-select-control__input {
		padding-left: 12px !important;
	}
	.maxi-select-control__input:hover,
	.maxi-text-control__input:hover {
		border-color: var(--maxi-black-1-color) !important;
	}
	.maxi-select-control__input:focus,
	.maxi-text-control__input:focus {
		border-color: var(--maxi-primary-color) !important;
	}

	.maxi-custom-label {
		width: 100%;
		position: relative;
	}
	.maxi-base-control.maxi-block-style-control {
		position: relative;
		min-width: 75px;
		margin: 0 5px;
	}
	.maxi-block-style-preview {
		position: relative;
		min-width: 100px;
		margin-left: 10px;
		height: 32px;
	}
	.block-style-label-2,
	.maxi-base-control__label {
		position: absolute;
		top: -8px;
		left: 8px;
		font-size: 8px;
		color: #5d5e5f;
		font-style: italic;
		background: #fff;
		padding: 0 5px;
		pointer-events: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}
.block-info-icon {
	position: absolute;
	right: 5px;
	border: 1px solid var(--maxi-grey-1-color);
	border-radius: 50%;
	height: 16px;
	width: 16px;
	text-align: center;
	top: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		border-color: var(--maxi-grey-4-color);
		color: var(--maxi-grey-4-color);
	}

	span {
		font-size: 10px;
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.block-info-icon {
		right: unset;
		left: 5px;
	}
	.maxi-settingstab-control .maxi-tabs-control__button:last-child {
		border-left: 1px solid var(--maxi-grey-1-color);
		border-right: 1px solid var(--maxi-grey-1-color);
	}
	.maxi-block-style-preview {
		margin-left: unset;
		margin-right: 10px;
	}
}
