.maxi-settingstab-control {
	width: 100%;

	.maxi-tabs-control {
		display: flex;
		padding-top: 0;

		&:not(.maxi-tabs-control--disable-padding) {
			margin-bottom: 8px;
		}
		&__button {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: auto;
			color: #141516;
			text-align: center;
			border-bottom: 1px solid #757575;
			border-top: 1px solid #dbdde6;
			border-right: 1px solid #757575;
			border-radius: 0;
			padding: 8px;
			background-color: #fff;
			transform: 0.5s all;

			&:last-child {
				border-right: none;
			}
			&:hover {
				cursor: pointer;
				background-color: rgba(180, 180, 180, 0.12);
			}
			&:focus {
				background-color: rgba(180, 180, 180, 0.04);
			}
			&:active {
				background-color: rgba(180, 180, 180, 0.12);
			}
			&[aria-pressed='true'] {
				background-color: #fcfcfc;
				color: #151617;
				border-bottom: 2px solid #ff4a17;
				font-weight: 500;
			}
		}

		&__notification {
			position: absolute;
			top: 0;
			left: 100%;
			transform: translate(-50%, -50%);
			width: 1rem;
			height: 1rem;
			background: red;
			border-radius: 50%;
			z-index: 8;
		}
	}
	.maxi-tabs-content {
		&:not(.maxi-tabs-content--disable-padding) {
			padding-top: 12px !important;
			padding-left: 12px !important;
			padding-right: 12px !important;
			padding-bottom: 12px !important;
			background-color: #fff;
		}

		.maxi-tab-content {
			display: none;

			&__box {
				padding: 8px;
				background-color: #fff;
				margin-bottom: 8px;
				border-top: 1px solid #dbdde6;
				border-bottom: 1px solid #dbdde6;

				& > *:last-child {
					.maxi-base-control__field {
						margin-bottom: 0 !important;
					}
				}
				.components-base-control__label {
					flex: none;
					width: 50%;
				}
			}

			&--selected {
				display: block;
			}
		}
	}
}
