@import '../../../src/css/backend-variables.scss';
.maxi-settingstab-control {
	width: 100%;
	transition: $t;

	&.maxi-axis-control__sync {
		.maxi-tabs-control__button {
			margin-left: 7px;
			border: $bg;
			border-radius: 4px;
			transition: $t;
			padding: 4px 6px;

			svg {
				fill: $sc;
				transition: $t;
			}

			&[aria-pressed='true'],
			&:hover {
				background-color: $pg;
				border: 1.5px solid $sc;
				font-weight: 700;

				svg {
					fill: $pc !important;
				}
			}
		}
	}

	&:not(.maxi-responsive-tabs-control) {
		& > .maxi-tabs-control {
			&.quick-start {
				background: var(--maxi-admin-black);
				color: var(--maxi-admin-white);
				border: none;
				transition: $t;
			}
			.maxi-tabs-control__button:not(.maxi-tabs-control__button--nested) {
				transition: $t;

				&[aria-pressed='true'] {
					border-bottom: 1.5px solid $bk !important;
					background-color: $wg;
				}
			}
		}
	}
	.maxi-tabs-control {
		display: flex;
		padding-top: 0;

		&--nested {
			padding: 8px 8px 0;
			margin-bottom: -18px;

			.maxi-tabs-control__button {
				transition: $t;
				&:hover {
					background-color: $pg;
				}
				&:focus:not(:disabled) {
					background-color: $w;
				}
			}
		}

		&__sidebar-settings-tabs {
			.maxi-tabs-control__button[aria-pressed='true'] {
				transition: $t;
				color: $bk;
			}
		}
		&:not(.maxi-tabs-control--disable-padding) {
			margin-bottom: 0;
		}
		&--bottom-space {
			margin-bottom: 8px !important;
		}
		&__button {
			position: $pr;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: auto;
			padding: 12px 8px;
			border-bottom: 1.5px solid $gl;
			border-top: 1.5px solid $gl;
			border-right: 1.5px solid $gl;
			border-radius: 0;
			color: $gd;
			background-color: $w;
			text-align: center;
			white-space: nowrap;
			transition: $t;

			&:last-child {
				border-right: none;
				transition: $t;
			}
			&:hover {
				background-color: $wg;
				cursor: $ptr;
				color: $bk;
			}
			&:focus:not(:disabled) {
				box-shadow: none;
				outline: none;
				transition: $t;
			}
			&:active {
				background-color: $wg !important;
				transition: $t;
			}
			&[aria-pressed='true'] {
				color: $pc !important;
				font-weight: 700 !important;
				background-color: $wg !important;
				transition: $t;
			}
			&--active:before {
				content: '';
				position: $pa;
				top: 5px !important;
				left: -2px !important;
				z-index: 1;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--maxi-light-blue-alt);
				margin-left: 5px;
				transform: translateY(-50%);
				transition: $t;
			}

			&.maxi-accordion-control__item__button {
				padding-left: 25px;
				transition: $t;
			}

			&.maxi-clip-path-control__handles-button {
				transition: $t;
				&[aria-pressed='true'] {
					background-color: $pg;
					border-color: $mg;
					color: $bk;
					border-radius: 6px !important;
				}
				&:hover {
					background-color: $wg;
					border-radius: 6px !important;
				}
			}

			&.maxi-tabs-control__button-visual,
			&.maxi-tabs-control__button-edit.points {
				border: $bg !important;
				transition: $t;
				&[aria-pressed='true'] {
					background-color: $pg !important;
					border-color: $pgr !important;
					color: $bk !important;
					font-weight: 700;
					border-radius: 6px !important;
				}
				&:hover {
					background-color: $wg !important;
				}
				&:last-child {
					border: $bg !important;
					border-radius: 6px !important;
					transition: $t;
				}
				&:first-child {
					border-radius: 6px !important;
					transition: $t;
				}
			}

			&.maxi-tabs-control__button-edit.points[aria-pressed='true'],
			&.maxi-tabs-control__button-visual[aria-pressed='true'] {
				background-color: $wg !important;
				border-color: $pc !important;
				color: $pc !important;
				font-weight: 700;
				border-radius: 6px !important;
			}
		}

		&__notification {
			transition: $t;
			position: $pa;
			z-index: 8;
			top: 0;
			right: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 8px 8px 0;
			border-color: $tr $pc $tr
				$tr;
		}

		.maxi-base-control {
			&__field {
				width: 100%;
				margin-bottom: 0;
			}
			&__label {
				flex: 4;
			}
		}

		&__full-width {
			width: 100%;
			.maxi-base-control {
				&__field {
					flex-wrap: wrap;
				}
				&__label {
					display: block;
					flex: 100% !important;
					width: 100%;
					margin: 0 0 8px !important;
				}
			}
		}
	}

	.maxi-tabs-content {
		&:not(.maxi-tabs-content--disable-padding) {
			padding: 0px 8px 0px;
			background-color: $w;
		}

		&--nested {
			background: $w;
			border: 1.5px solid $sc;
			padding: 25px 0 0;
			margin-bottom: 8px;
			border-radius: 5px;
			overflow: hidden;
		}

		.maxi-tab-content {
			display: none;
			background: $w;

			&__box {
				position: $pr;
				padding: 8px;
				border-top: 1.5px solid $gl;
				border-bottom: 1.5px solid $gl;
				background-color: $w;

				&:after {
					content: '';
					position: $pa;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: $gl;
				}
				& > *:last-child {
					.maxi-base-control__field {
						margin-bottom: 0 !important;
					}
				}
				.components-base-control__label {
					flex: none;
					width: 50%;
				}
			}
			&--selected {
				display: block;
			}
		}
	}

	&_has-border-left-right {
		.maxi-tabs-control__button {
			&:last-child {
				border-right: 1.5px solid $gl;
			}
			&:first-child {
				border-left: 1.5px solid $gl;
			}
		}
	}
}
.sidebar-block-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: $w;
	padding-left: 5px;

	.maxi-text-control__input {
		padding-left: 10px !important;
		transition: $t;
	}

	.maxi-custom-label {
		width: 100%;
		position: $pr;
		transition: $t;
	}
	.maxi-base-control.maxi-block-style-control {
		position: $pr;
		min-width: 75px;
		margin: 0 5px;
		transition: $t;
	}
	.maxi-block-style-preview {
		position: $pr;
		min-width: 100px;
		margin-left: 10px;
		height: 32px;
		transition: $t;
	}
	.block-style-label-2,
	.maxi-base-control__label {
		position: $pa;
		top: -8px;
		left: 8px;
		font-size: 8px;
		color: $gd;
		font-style: italic;
		background: $w;
		padding: 0 5px;
		pointer-events: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		transition: $t;
	}
}
.block-info-icon {
	position: $pa;
	right: 5px;
	border: 2px solid $gl;
	border-radius: 50%;
	height: 16px;
	width: 16px;
	text-align: center;
	top: 9px;
	cursor: $ptr;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: $t;

	&:hover {
		border-color: $pc;
		color: $gd;
		transition: $t;
	}

	span {
		font-size: 10px;
		transition: $t;
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.block-info-icon {
		right: unset;
		left: 5px;
	}
	.maxi-settingstab-control .maxi-tabs-control__button:last-child {
		border-left: 1.5px solid $gl;
		border-right: 1.5px solid $gl;
	}
	.maxi-block-style-preview {
		margin-left: unset;
		margin-right: 10px;
	}
}
