/**
 * Editor styles for the admin
 */

$white: var(--maxi-white);

.maxi-block-library__modal {
	width: 80%;
	min-height: 90%;
	max-width: 90%;

	.components-modal__content {
		background: var(--maxi-cloud-primary-whisper);
		padding: 0;
		overflow-x: hidden;
		min-height: 100%;
		position: absolute;
		width: 100%;
	}

	.components-modal__header {
		margin-bottom: 25px;
		padding-left: 50px;
		padding-right: 25px;

		h1 {
			font-weight: bold;
			font-size: 1rem;
		}
	}

	.components-tab-panel__tab-content {
		background: $white;
		padding: 35px;
		border-top: 1px solid var(--maxi-grey-light);
	}

	.components-tab-panel__tabs {
		padding: 0 35px;
		margin-bottom: -1px;

		button {
			padding: 15px 20px;
			background: none;
			border: none;
			font-size: 16px;

			&:hover {
				background: $white;
				cursor: pointer;
			}
		}
	}

	.components-tab-panel__tabs .maxi-block-library__modal-active-tab {
		font-weight: 600;
		background: $white;
		border: 1px solid var(--maxi-grey-light);
		border-bottom: none;
	}

	.components-base-control {
		display: inline-block;
	}

	.components-base-control:last-child {
		float: right;
	}

	.maxi-block-library__modal-header {
		background: var(--maxi-grey-light);
		padding: 20px;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 5em;

		.components-base-control:last-child {
			align-self: flex-end;
			margin: 0;
		}

		.components-base-control__field {
			margin-bottom: 0;
		}

		select,
		input {
			font-size: 16px;
			height: 34px;
			width: 100%;
		}
	}

	.maxi-cloud-choices {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;
	}

	.maxi-cloud-view-full {
		grid-template-columns: 1fr;
	}

	.maxi-cloud-view {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;
		margin-bottom: 20px;
	}

	.maxi-cloud-view-left {
		p {
			margin: 0;
			line-height: 2.2em;
		}
	}

	.maxi-cloud-view-right {
		text-align: right;

		button {
			margin-left: 5px;
			height: auto;
			padding: 5px;
		}
	}

	.maxi-cloud-design {
		text-align: center;
		margin-bottom: 40px;
		position: relative;

		img {
			max-width: 100%;
			display: block;
		}

		.maxi-cloud-insert-button {
			height: auto;
			background: none;
			border: none;
			box-shadow: none;
			border-bottom: none;
			padding: 0;
			z-index: 5;
			position: relative;
		}
	}

	.maxi-cloud-design-inside {
		transition: 0.2s ease;
		border: solid 1px var(--maxi-grey-light);

		&:hover {
			box-shadow: 0px 0px 0px 8px var(--maxi-grey-light);
		}
	}

	.maxi-cloud-design-info {
		background: $white;
		border-top: solid 1px var(--maxi-grey-light);
		text-align: left;
		position: relative;
		padding: 12px;

		button {
			&:active {
				vertical-align: middle !important;
			}
		}
	}

	.maxi-cloud-design-title {
		font-weight: bold;
	}

	button.maxi-cloud-favorite-button {
		background: none;
		border: none;
		box-shadow: none;
		float: right;
		border-radius: 3px;
		margin-top: -3px;
	}

	.components-button-group .components-button.maxi-cloud-favorite-button {
		border-radius: 3px;
		padding: 0 8px 0px;
	}

	button.maxi-cloud-favorite-button:hover {
		background: $white;
		border: none;
		box-shadow: inset 0 0 0 1px var(--maxi-grey-light),
			inset 0 0 0 2px $white, 0 1px 1px rgba(25, 30, 35, 0.2);
	}

	.components-button-group
		.components-button.maxi-cloud-favorite-button:focus {
		box-shadow: inset 0 0 0 1px var(--maxi-grey-light),
			inset 0 0 0 2px $white, 0 1px 1px rgba(25, 30, 35, 0.2);
		background: $white;
	}

	button.components-button.is-default:active:enabled {
		box-shadow: inset 0 0 0 1px var(--maxi-grey-light),
			inset 0 0 0 2px $white;
	}

	.maxi-cloud-icon-favorite {
		fill: var(--maxi-grey);
	}

	.maxi-cloud-icon-favorite-active {
		fill: var(--maxi-cloud-primary-contrast);
	}

	.maxi-cloud-zoom-button {
		position: absolute;
		top: 15px;
		right: 15px;
		background: $white;
		border-radius: 5px !important;
		transition: 0.2s ease;
		z-index: 10;
		border-radius: 5px;
		padding: 5px;
		height: auto;
		opacity: 0;
		display: none;
	}

	.maxi-cloud-design:hover {
		.maxi-cloud-zoom-button {
			opacity: 1;
		}
	}

	.maxi-cloud-zoom-layout {
		grid-column: 1 / -1;
	}

	.maxi-block-library__modal__loading_message {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		height: 100%;

		p {
			font-size: 42px;
			color: $white;
		}
	}
	.maxi-block__item--hidden {
		display: none !important;
	}
}

.maxi-block-library__placeholder {
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 120px;
	color: var(--maxi-grey-dark);
	background-color: var(--maxi-cloud-primary-whisper);
	font-size: 13px;
	border: 1px solid var(--maxi-cloud-primary-light);
	border-radius: 10px;
	box-shadow: none !important;
	.components-placeholder__instructions {
		margin-bottom: 1.4em;
	}

	.maxi-library-modal__action-section {
		width: auto;
	}

	button.maxi-block-library__modal-button__placeholder {
		overflow: hidden;
		color: var(--maxi-white);
		background: var(--maxi-cloud-primary);
		font-family: Inter, sans-serif;
		font-size: 12px;
		font-weight: 800;
		padding: 22px 22px 22px 20px;
		border: 1px solid var(--maxi-grey-light);
		border-radius: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease;

		svg {
			margin-right: 8px;

			path {
				transition: fill 0.3s ease;
			}
		}

		&:hover {
			background: var(--maxi-white) !important;
			color: var(--maxi-cloud-primary-contrast) !important;
			border-color: var(--maxi-tertiary-color);

			svg path {
				fill: var(--maxi-cloud-primary) !important;
			}
		}

		&--small {
			padding: 0;
			transition: none;
		}
		&--smaller {
			height: 30px;
		}
	}

	.maxi-placeholder__instructions {
		position: static !important;
	}

	.maxi-library-modal__action-section__buttons {
		text-align: center;
	}

	.maxi-placeholder__instructions {
		position: static !important;
	}

	.maxi-library-modal__action-section__buttons {
		text-align: center;
	}
}

[data-type='maxi-blocks/maxi-clouds'] {
	-webkit-animation: 2s ease 0s normal forwards 1 fadein;
	animation: 2s ease 0s normal forwards 1 fadein;

	@keyframes fadein {
		0% {
			opacity: 0;
		}
		66% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes fadein {
		0% {
			opacity: 0;
		}
		66% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-library-modal .maxi-cloud-toolbar__logo svg {
		margin-left: 10px;
		margin-right: 0;
	}
	.maxi-block-library__modal-button__placeholder {
		padding: 0 0 0 10px;

		svg {
			margin-left: 10px;
			margin-right: 0;
		}
	}
}
