// Remove padding from accordion panel for clip-path control
.maxi-accordion-control__item__panel:not(.maxi-accordion-control__item__panel--disable-padding):has(.maxi-clip-path-control__wrapper) {
	padding: 0;
}

.maxi-clip-path-mode-control {
	.maxi-tabs-control__button {
		&:first-child {
			margin-right: 4px;
		}

		&:last-child {
			margin-left: 4px;
		}
	}
}

.maxi-clip-path-control {
	.clip-path-defaults {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 8px;
		gap: 5px;

		&__items__none {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__items {
			position: relative;
			width: 28px;
			height: 30px;
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 3px;
			border: 1.5px solid var(--mgl);
			border-radius: 4px;
			cursor: pointer;
			transition: var(--maxi-trans-std);

			.clip-path-defaults__clip-path {
				background-color: var(--mgl);
				transition: var(--maxi-trans-std);
			}

			path {
				fill: var(--mgl);
				transition: var(--maxi-trans-std);
			}

			&[aria-pressed='true'],
			&:hover {
				background: var(--mpg);
				border: 1px solid var(--mpc) !important;

				.clip-path-defaults__clip-path {
					background-color: var(--msc);
				}

				path {
					fill: var(--msc) !important;
				}
			}
		}
		&__clip-path {
			background-color: var(--mgl);
			width: 18px;
			height: 18px;
			transform: translateZ(0);
			margin: auto;
		}

		svg {
			width: 18px;
			height: 18px;
			path {
				fill: var(--mgl);
			}
		}
	}

	.maxi-clip-path-controller {
		display: flex;
		position: relative;
		&__handle {
			display: flex;
			align-items: center;
			padding-bottom: 0.75rem;

			span {
				display: block;
				border-radius: 50%;
			}

			&.maxi-clip-path-color-handle {
				margin-right: 0.5rem;

				span {
					width: 0.5rem;
					height: 0.5rem;
				}
			}

			&.maxi-clip-path-delete-handle {
				position: absolute;
				left: 0;
				bottom: 0;

				span {
					position: relative;
					width: 1rem;
					height: 1rem;
					background-color: var(--mor);
					cursor: pointer;
					transition: var(--maxi-trans-std); // Added transition

					&:hover {
						background-color: var(
							--mpc
						); // Darker shade on hover
						transform: scale(1.1); // Slight scale effect on hover
					}

					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 50%;
						height: 0.1rem;
						background-color: var(--mw);
						transition: var(--maxi-trans-std); // Added transition
					}
				}
			}
		}
		&__item {
			width: 100%;
			.maxi-base-control {
				margin-bottom: 5px;
				&__field {
					width: 100%;
					display: flex;

					.maxi-base-control__label {
						margin-right: 10px;
						min-width: 65px !important;
					}
					input {
						width: 60px;
					}
				}
			}
		}
	}

	.maxi-clip-path-visual-editor-wrapper {
		border: 2px solid var(--msc) !important;
		border-radius: 5px;
	}
	.maxi-clip-path-visual-editor {
		background-color: var(--mw) !important;
		position: relative;
		width: 100%;
		margin: 10px 10px 10px 0;
		min-height: 291px;
		overflow: visible;
		border: 1px solid var(--mgl);
		border-radius: 6px;

		&__preview {
			background-color: var(--mpg) !important;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
		}
	}

	.maxi-clip-path-button {
		background-color: var(--msc);
		position: absolute;
		transform: translate(-50%, -50%);
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		z-index: 10;
		cursor: crosshair;

		&--radius {
			clip-path: circle(50% at 50% 50%);

			&__hidden {
				position: absolute;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				z-index: 1;
			}
		}

		&--single {
			top: 50%;
			left: 50%;
		}

		&__hidden-tooltip {
			display: block;
		}
	}
}

.maxi-clip-path-add-point-button {
	background-color: var(--mw) !important;
	border-color: var(--mgl) !important;
	border: 1.5px solid var(--mgl) !important;
	color: var(--mb) !important;
	font-weight: 700;
	border-radius: 6px;
	margin-bottom: 20px !important;

	&:hover {
		background-color: var(--mwg) !important;
		border-color: var(--msc) !important;
	}
}

.maxi-clip-path-control .button {
	border-radius: 6px;
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-clip-path-delete-handle {
		left: unset;
		right: 0;
	}
}
