.maxi-clip-path-control {
	.clip-path-defaults {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		&__items__none {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__items {
			cursor: pointer;
			border: 1px solid #dddfe1;
			border-radius: 0;
			margin: 0;
			height: 31.8px;
			width: 31.8px;
			padding: 0;
			position: relative;
			&:nth-child(6n) {
				margin-right: 0;
			}
			&::after {
				content: '';
				display: block;
				background-color: var(--maxi-secondary-color);
				position: absolute;
				bottom: -1px;
				left: -1px;
				height: 0;
				right: -1px;
			}
			&[aria-pressed='true'],
			&:hover {
				&::after {
					height: 2px;
				}

				.clip-path-defaults__clip-path {
					background-color: var(--maxi-secondary-color);
				}

				path {
					fill: var(--maxi-secondary-color);
				}
			}
		}
		&__clip-path {
			width: 20px;
			height: 20px;
			background-color: #000;
			margin: auto;
		}

		svg {
			width: 20px;
			height: 20px;
			path {
				fill: #000;
			}
		}
	}

	.maxi-clip-path-controller {
		display: flex;
		&__handle {
			display: flex;
			align-items: center;
			padding-bottom: 0.75rem;

			span {
				display: block;
				border-radius: 50%;
			}

			&.maxi-clip-path-color-handle {
				margin-right: 0.5rem;

				span {
					width: 0.5rem;
					height: 0.5rem;
				}
			}

			&.maxi-clip-path-delete-handle {
				margin-left: 0.5rem;

				span {
					position: relative;
					width: 1rem;
					height: 1rem;
					background-color: #ff4a16;
					cursor: pointer;

					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 50%;
						height: 0.1rem;
						background-color: #fff;
					}
				}
			}
		}
		&__item {
			width: 100%;
		}
	}

	.maxi-clip-path-visual-editor-wrapper {
		border: 2px solid #dddfe1;
		border-radius: 5px;
	}
	.maxi-clip-path-visual-editor {
		position: relative;
		width: 100%;
		margin: 5px 0px;
		min-height: 291px;

		&__preview {
			position: absolute;
			top: 0.25px;
			left: 0.25px;
			width: 100%;
			height: 100%;
			background-color: #f2f2f2;
		}
	}

	.maxi-clip-path-button {
		position: absolute;
		transform: translate(-50%, -50%);
		width: 0.5rem;
		height: 0.5rem;
		border-radius: 50%;
		z-index: 1;
		cursor: crosshair;

		&--radius {
			clip-path: circle(50% at 50% 50%);
			border: 0.5rem solid;

			&__hidden {
				position: absolute;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				z-index: 1;
			}
		}

		&--single {
			top: 50%;
			left: 50%;
		}

		&__hidden-tooltip {
			display: block;
		}
	}
}
.maxi-background-control__layers {
	.maxi-clip-path-control {
		.clip-path-defaults {
			&__items {
				height: 31.8px;
				width: 31.8px;

				&:nth-child(5n) {
					margin-right: 0;
				}
				&:nth-child(6n) {
					margin-right: 0;
				}
			}
		}
	}
}
