@import '../../../src/css/backend-variables.scss';
.maxi-prompt-control {
	&__buttons {
		display: flex;
		gap: 8px;
		margin-bottom: 8px;
	}

	&-history-buttons {
		padding-left: 10px;
		column-gap: 5px;
	}

	&-history-tab,
	&-modify-tab {
		.maxi-prompt-control__buttons {
			.maxi-components-button {
				height: auto;
				padding: 0;
				color: $bk;
			}
		}
	}

	&-generate-tab {
		padding-top: 8px;
		.maxi-react-select-control {
			z-index: 10000;
			& > label {
				display: block;
				margin-bottom: 3px;
			}
			& > div > div {
				z-index: 10000;
				border-color: $gl;
			}
		}
		.maxi-prompt-control__buttons {
			.maxi-components-button {
				justify-content: center;
				width: 100%;
				border: 1.5px solid $sc;
				color: $sc !important;
				background: $wg;
				font-size: 16px !important;
				font-weight: 700 !important;
				border-radius: 30px;
				text-align: center;
				&:hover {
					border-color: $pc !important;
					background: $mg;
				}
				&:disabled {
					opacity: 0.6;
					cursor: not-allowed;
					border-color: $g !important;
					color: $gd !important;
					background: $gl;
				}
			}
		}
	}

	&__buttons {
		.maxi-components-button {
			height: auto;
			padding: 4px 8px !important;
			width: auto;
			border: 1.5px solid $sc;
			color: $sc !important;
			background: $wg;
			font-size: 12px !important;
			font-weight: 600 !important;
			border-radius: 30px;
			text-align: center;
			cursor: $ptr;

			&:hover {
				background: $pg;
				border-color: $sc;
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 0 2px $cpl;
			}
		}
	}
}
