.maxi-prompt-control {
	&__buttons {
		display: flex;
		gap: 8px;
		margin-bottom: 8px;
	}

	&-history-buttons {
		padding-left: 10px;
		column-gap: 5px;
	}

	&-history-tab,
	&-modify-tab {
		.maxi-prompt-control__buttons {
			.maxi-components-button {
				height: auto;
				padding: 0;
				color: var(--mb);
			}
		}
	}

	&-generate-tab {
		padding-top: 8px;
		.maxi-react-select-control {
			z-index: 10000;
			& > label {
				display: block;
				margin-bottom: 3px;
			}
			& > div > div {
				z-index: 10000;
				border-color: var(--mgl);
			}
		}
		.maxi-prompt-control__buttons {
			.maxi-components-button {
				justify-content: center;
				width: 100%;
				border: 1.5px solid var(--msc);
				color: var(--msc) !important;
				background: var(--mwg);
				font-size: 16px !important;
				font-weight: 700 !important;
				border-radius: 30px;
				text-align: center;
				&:hover {
					border-color: var(--mpc) !important;
					background: var(--mmg);
				}
				&:disabled {
					opacity: 0.6;
					cursor: not-allowed;
					border-color: var(--mg) !important;
					color: var(--mdg) !important;
					background: var(--mgl);
				}
			}
		}
	}

	&__buttons {
		.maxi-components-button {
			height: auto;
			padding: 4px 8px !important;
			width: auto;
			border: 1.5px solid var(--msc);
			color: var(--msc) !important;
			background: var(--mwg);
			font-size: 12px !important;
			font-weight: 600 !important;
			border-radius: 30px;
			text-align: center;
			cursor: pointer;

			&:hover {
				background: var(--mpg);
				border-color: var(--msc);
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 0 2px var(--mcp-l);
			}
		}
	}
}
