.maxi-prompt-control {
	&__buttons {
		display: flex;
		gap: 8px;
		margin-bottom: 5px;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s;
		border: 1px solid #dddfe1;
		border-radius: 0;
		padding: 8px;
		color: #232533;
		background: var(--maxi-white-3-color);
	}
}
