.maxi-advanced-css-control {
	&__example-wrapper {
		width: var(--maxi-layout-full-width);
	}

	&__example-button {
		margin-top: var(--maxi-space-10px);
	}
	textarea {
		border: var(--maxi-reset-border-none) !important;
		&:hover {
			border: var(--maxi-reset-border-none) !important;
		}
	}
}
