@import '../../../src/css/backend-variables.scss';
.maxi-advanced-css-control {
	&__example-wrapper {
		width: 100%;
	}

	&__example-button {
		margin-top: 10px;
	}
	textarea {
		border: none !important;
		&:hover {
			border: none !important;
		}
	}
}
