.toolbar-item__text-color__popover {
	min-width: var(--maxi-space-300px);
}
.toolbar-item {
	&__text-options {
		.toolbar-item__icon {
			path {
				fill: var(--maxi-admin-white) !important;
				stroke: var(--maxi-admin-black) !important;
				stroke-width: var(--maxi-space-0-4px);
				transform: var(--maxi-transform-translate-1-2px-0-75px);
			}
		}
	}

	&__text-color {
		& > div {
			width: var(--maxi-layout-full-width);
			height: var(--maxi-layout-full-height);
		}
	}
}
