.toolbar-item__text-color__popover {
	min-width: 300px;
}
.toolbar-item {
	&__text-options {
		.toolbar-item__icon {
			path {
				fill: #fff !important;
				stroke: #000 !important;
				stroke-width: 0.4px;
				transform: translate(1.2px, 0.75px);
			}
		}
	}

	&__text-color {
		& > div {
			width: 100%;
			height: 100%;
		}
	}
}
