.toolbar-item__replace-image {
	.maxi-dropdown__url-upload-content {
		& .maxi-components-popover__content.components-popover__content {
			transform: translate(0px, -13px);
			border-radius: var(--maxi-radius-sm);
		}
	}
	button {
		text-align: end !important;
	}
}
