.maxi-warning-box {
	position: relative;
	padding: 0.5rem;
	background: var(--mly);
	color: var(--mdg) !important;
	line-height: 1.3em;

	&__links {
		display: inline-block;

		&.manage-transitions {
			margin: 4px 0;
		}

		a {
			text-decoration: underline;
			font-size: 13px !important;
			cursor: pointer;
			color: var(--mdg) !important;
			transition: all 0.5s;

			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: var(--mtc) !important;
			}
		}
	}

	&__close-button {
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
	}
}
.maxi-accordion-control__item__panel {
	.maxi-warning-box {
		border: 1px solid var(--mby);
		margin-bottom: 8px;
		border-radius: 7px !important;
	}
}
