.maxi-warning-box {
	position: relative;
	padding: 1rem;
	background: #fcf8e3;
	color: #8a6d3b !important;

	&__links {
		margin-top: 10px;

		&.manage-transitions {
			margin-bottom: 10px;
		}

		a {
			text-decoration: underline;
			font-size: 11px !important;
			cursor: pointer;
			color: #000 !important;
			margin-right: 5px;
			transition: all 0.5s;

			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: #000 !important;
				opacity: 0.6;
			}
		}
	}

	&__close-button {
		position: absolute;
		top: 5px;
		right: 5px;
		cursor: pointer;
	}
}
.maxi-accordion-control__item__panel {
	.maxi-warning-box {
		border: 1px solid var(--maxi-light-yellow-1-color);
		margin-bottom: 8px;
	}
}
