.maxi-warning-box {
	position: var(--maxi-layout-relative);
	padding: var(--maxi-space-1rem);
	background: var(--maxi-light-yellow);
	color: var(--maxi-grey-dark) !important;
	width: var(--maxi-layout-full-width);

	&__links {
		margin-top: var(--maxi-space-10px);

		&.manage-transitions {
			margin-bottom: var(--maxi-space-10px);
		}

		a {
			text-decoration: underline;
			font-size: var(--maxi-font-size-11px) !important;
			cursor: var(--maxi-cursor-pointer);
			color: var(--maxi-grey-dark) !important;
			margin-right: var(--maxi-space-5px);
			transition: all var(--maxi-transition-500ms);

			&:last-child {
				margin-right: var(--maxi-space-0px);
			}
			&:hover {
				color: var(--maxi-tertiary-color) !important;
			}
		}
	}

	&__close-button {
		position: var(--maxi-layout-absolute);
		top: var(--maxi-space-5px);
		right: var(--maxi-space-5px);
		cursor: var(--maxi-cursor-pointer);
	}
}
.maxi-accordion-control__item__panel {
	.maxi-warning-box {
		border: 1px solid var(--maxi-bright-yellow);
		margin-bottom: var(--maxi-space-8px);
		border-radius: var(--maxi-space-7px) !important;
	}
}
