.maxi-warning-box {
	padding: 1rem;
	background: #fcf8e3;
	color: #8a6d3b !important;

	&__links {
		margin-top: 5px;

		a {
			text-decoration: underline;
			font-size: 11px !important;
			cursor: pointer;
			color: #000 !important;
			margin-right: 5px;
			transition: all 0.5s;

			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: #000 !important;
				opacity: 0.6;
			}
		}
	}
}
.maxi-accordion-control__item__panel {
	.maxi-warning-box {
		border: 1px solid #faebcc;
		margin-bottom: 8px;
	}
}
