@import '../../../src/css/backend-variables.scss';
.maxi-warning-box {
	position: $pr;
	padding: 0.5rem;
	background: var(--maxi-light-yellow);
	color: $gd !important;
	line-height: 1.3em;

	&__links {
		display: inline-block;

		&.manage-transitions {
			margin: 4px 0;
		}

		a {
			text-decoration: underline;
			font-size: 13px !important;
			cursor: $ptr;
			color: $gd !important;
			transition: all 0.5s;

			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: var(--maxi-tertiary-color) !important;
			}
		}
	}

	&__close-button {
		position: $pa;
		top: 5px;
		right: 5px;
		cursor: $ptr;
	}
}
.maxi-accordion-control__item__panel {
	.maxi-warning-box {
		border: 1px solid var(--maxi-bright-yellow);
		margin-bottom: 8px;
		border-radius: 7px !important;
	}
}
