.maxi-responsive-selector {
	position: absolute;
	display: flex;
	background: #fff;
	border-color: #dbdde6;
	border-style: solid;
	border-width: 0 1px 1px;
	top: 61px;
	left: 0;
	z-index: 99;
	flex-direction: row;
	align-items: center;
	padding: 0 25px 0 0;
	box-shadow: 0 5px 15px 0 rgba(119, 119, 119, 0.1);

	.action-buttons {
		display: inline-block;
		&__button {
			position: relative;
			color: #081219;
			background-color: #fff;
			font-family: Roboto, sans-serif;
			font-size: 12px;
			letter-spacing: 0px;
			border-right: 1px solid #dbdde6;
			border-radius: 0;
			transition: all 0.5s;
			margin-left: 0;
			box-shadow: none !important;
			height: 40px;
			padding: 2px 7px;

			svg {
				margin-right: 5px;
			}
			&::after {
				content: '';
				position: absolute;
				display: block;
				background-color: #081219;
				transition: 0.3s;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 0;
			}
			&:hover {
				background-color: #f9f9f9;
				&::after {
					height: 2px;
				}
			}
		}
		&__help {
			position: relative;
			display: flex;
			color: #081219;
			font-family: Roboto, sans-serif;
			font-size: 12px;
			line-height: 100%;
			font-weight: 500;
			border-radius: 0;
			transition: 0.3s;
			padding: 0;
			height: 40px;
			margin-left: 9px;
			vertical-align: middle;
			justify-content: center;
			align-items: center;
			box-shadow: none;

			&::after {
				content: '';
				position: absolute;
				display: block;
				background-color: #007cba;
				transition: 0.3s;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 0;
			}
			&:hover {
				color: #007cba;
				&::after {
					height: 2px;
				}
				svg {
					g {
						stroke: #007cba;
					}
				}
			}
			svg {
				margin-right: 2px;
				g {
					transition: 0.3s;
				}
			}
		}
	}
	&__close {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		z-index: 99;
		padding: 0 7px 0 9px;
		right: 0;
		svg {
			g {
				transition: 0.3s;
			}
		}
		&:hover {
			svg {
				g {
					stroke: #007cba;
				}
			}
		}
	}
	&__button {
		&-item {
			position: relative;
			display: flex;
			line-height: 100%;
			border-right: 1px solid #dbdde6;
			border-radius: 0;
			transition: border-color 0.5s;
			margin: 0 0 0 0;
			height: 40px;
			width: 56px;
			padding: 2px !important;
			justify-content: center;
			align-items: center;

			svg {
				display: block;
				margin: 0 auto;
			}
			&:hover {
				color: #000;
			}
			&:first-of-type {
				margin-left: 0;
				font-size: 1rem;
			}

			&::after {
				content: '';
				position: absolute;
				display: block;
				background-color: #081219;
				transition: 0.3s;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 0;
			}
			&[aria-pressed='true'] {
				background-color: #eaf2f6 !important;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				&::after {
					height: 2px;
					background-color: #007cba;
				}
				svg {
					&:not(.maxi-tabs-control__notification) {
						color: var(--wp-admin-theme-color);
					}
				}
			}
			&:hover {
				background-color: #f9f9f9;
				&::after {
					height: 2px;
				}
			}
			&:focus {
				box-shadow: none !important;
			}
			.maxi-tabs-control__notification {
				position: absolute;
				z-index: 8;
				top: 0;
				right: 0;
				width: 7px;
				height: 7px;
			}
		}
		&-wrapper {
			&.maxi-responsive-selector__base {
				svg {
					&:not(.maxi-tabs-control__notification) {
						height: 20px;
					}
				}
				.maxi-components-button {
					&[aria-pressed='true'] {
						.maxi-responsive-selector__button-current-size {
							color: #007cba;
						}
					}
				}
			}
		}
		&-current-size {
			font-family: 'Roboto', sans-serif !important;
			font-size: 10px;
			line-height: 100%;
			margin-top: 2px;
			font-weight: 500;
		}
	}
}
@media only screen and (max-width: 768px) {
	.maxi-responsive-selector {
		display: block;
		.action-buttons {
			&__button {
				margin: 0 0 8px 0;
				svg {
					margin-right: 0;
				}
			}
		}
		&__button {
			margin: 0 0 8px 0;
			display: block;
		}
	}
}
@media only screen and (max-width: 1366px) {
	.action-buttons {
		&__button span {
			display: none;
		}
	}
}
