@import '../../../src/css/backend-variables.scss';
.maxi-responsive-selector {
	position: $pa;
	display: flex;
	background: $w;
	border-color: $gl;
	border-style: solid;
	border-width: 1px;
	top: 60px;
	left: 0;
	z-index: 99;
	flex-direction: row;
	align-items: center;
	padding: 0 25px 0 0;
	box-shadow: 0 5px 15px 0 rgba(119, 119, 119, 0.1);

	.maxi-responsive-selector__base:hover {
		.maxi-tabs-control__notification {
			opacity: 1 !important;
		}
	}

	.action-buttons {
		display: inline-block;
		&__button {
			position: $pr;
			color: $gd;
			background-color: $w;
			font-family: Inter, sans-serif;
			font-size: 12px;
			letter-spacing: 0px;
			border-right: $bl;
			border-radius: 0;
			transition: all 0.5s;
			margin-left: 0;
			box-shadow: none !important;
			height: 40px;
			padding: 0px 10px 0px 10px;
			outline: none !important;
			font-weight: bold !important;

			svg {
				margin-right: 5px;
			}
			&::after {
				content: '';
				position: $pa;
				display: block;
				background-color: $tr;
				transition: 0.3s;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 2px;
			}
			&:hover {
				background-color: $pg;
				color: $gd;
			}
		}
		&__help {
			position: $pr;
			display: flex;
			color: $gd;
			font-family: Inter, sans-serif;
			font-size: 12px;
			line-height: 100%;
			font-weight: 500;
			border-radius: 0;
			transition: 0.3s;
			padding: 0;
			height: 40px;
			padding: 0 9px;
			vertical-align: middle;
			justify-content: center;
			align-items: center;
			box-shadow: none;
			border-right: $bl;

			&::after {
				content: '';
				position: $pa;
				display: block;
				background-color: $tr;
				transition: 0.3s;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 2px;
			}
			&:hover {
				background-color: $w;

				&::after {
					background-color: $gd;
				}
			}
			svg {
				margin-right: 2px;
				g {
					transition: 0.3s;
				}
			}
		}
	}
	&__close {
		position: $pa;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: $ptr;
		z-index: 99;
		padding: 0 7px 0 9px;
		right: 0;
		height: 100%;

		&::after {
			content: '';
			position: $pa;
			display: block;
			background-color: $tr;
			transition: 0.3s;
			bottom: -1px;
			left: 0;
			width: 100%;
			height: 2px;
		}
		svg {
			g {
				transition: 0.3s;
			}
		}
		&:hover {
			background-color: $w;
			&::after {
				background-color: $gd;
			}
		}
	}
	&__button {
		&-item {
			position: $pr;
			display: flex;
			line-height: 100%;
			border-right: $bl;
			border-radius: 0;
			transition: border-color 0.5s;
			margin: 0;
			height: 40px;
			width: 56px;
			padding: 2px !important;
			justify-content: center;
			align-items: center;

			.responsive-button-tooltip {
				opacity: 0;
				transition: all 0.2s;
				font-weight: bold !important;
				position: $pa;
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				left: 0;
				top: 0;
			}

			svg {
				display: block;
				margin: 0 auto;
				transition: all 0.2s;
			}
			&:hover {
				color: $bk;
				font-weight: bold !important;
				background-color: $pg !important;

				.maxi-responsive-selector__button-current-size,
				svg {
					opacity: 0;
				}
				.responsive-button-tooltip {
					opacity: 1;
				}
			}
			&:first-of-type {
				margin-left: 0;
				font-size: 1rem;
			}

			&::after {
				content: '';
				position: $pa;
				display: block;
				background-color: $tr;
				transition: 0.3s;
				bottom: -1px;
				left: 0;
				width: 100%;
				font-weight: bold !important;
				height: 2px;
			}
			&[aria-pressed='true'] {
				background-color: $wg !important;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				&::after {
					height: 0px;
					background-color: $sc;
				}
				svg {
					&:not(.maxi-tabs-control__notification) {
						color: $sc;
					}
				}
			}
			&:hover {
				background-color: $w;
				color: $bk !important;
				transition: $t !important;
				&::after {
					background-color: $gd;
				}
			}
			&:focus {
				box-shadow: none !important;
			}
			.maxi-tabs-control__notification {
				transition: $t;
				position: $pa;
				z-index: 8;
				top: 0;
				right: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 8px 8px 0;
				border-color: $tr $pc $tr
					$tr;
			}
		}
		&-wrapper {
			&.maxi-responsive-selector__base {
				svg {
					&:not(.maxi-tabs-control__notification) {
						height: 20px;
					}
				}
				.maxi-components-button {
					&[aria-pressed='true'] {
						.maxi-responsive-selector__button-current-size {
							color: $pc;
						}
					}
				}
			}
		}
		&-current-size {
			font-family: 'Inter', sans-serif !important;
			font-size: 10px !important;
			line-height: 100%;
			margin-top: 2px;
			font-weight: 800;
			color: $sc !important;
		}
	}
}
@media only screen and (max-width: 768px) {
	.maxi-responsive-selector {
		display: block;
		.action-buttons {
			&__button {
				svg {
					margin-right: 0;
				}
			}
		}
		&__button {
			margin: 0 0 8px;
			display: block;
		}
	}
}
@media only screen and (max-width: 1366px) {
	.action-buttons {
		&__button span {
			display: none;
		}
	}
}

@media only screen and (max-width: 500px) {
	.maxi-responsive-selector {
		padding-right: 18px;
		.action-buttons {
			&__help {
				margin-left: 5px;
				svg {
					display: none;
				}
			}
		}
		&__button-current-size {
			display: none;
		}
		&__button-wrapper {
			.maxi-responsive-selector__button-item {
				svg {
					&:not(.maxi-tabs-control__notification) {
						height: 20px;
					}
				}
			}
		}
		&__button-item {
			width: 31px;
		}
		&__close {
			padding: 0 5px;
		}
	}
}

/* distraction-free mode */
.editor-header__toolbar:has(.maxi-responsive-selector),
.editor-editor-interface
	.interface-interface-skeleton__header:focus-within
	div:has(.maxi-responsive-selector) {
	transform: none !important;
}
