@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-slide-block {
	display: inline-flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: stretch;
	box-sizing: border-box;
	align-items: center;
	position: $pr;
	width: 100%;
	height: 100%;
	margin: 0;
}
