@import '../../../src/css/backend-variables.scss';
.maxi-text-block {
	.rich-text:focus * {
		background-color: $tr !important;
	}
	> ol,
	> ul {
		> br {
			display: none;
		}
	}
	&__content,
	> ol,
	> ul {
		outline: 1.5px dashed $pg !important;

		a.maxi-text-block--link {
			text-decoration-skip-ink: auto;

			&:visited,
			&:visited span {
				color: inherit !important;
			}
		}
	}
	&__has-text {
		&:hover {
			.maxi-text-block__content,
			> ol,
			> ul {
				outline: 1.5px dashed $gd !important;
			}
		}
		&.is-selected {
			.maxi-text-block__content,
			> ol,
			> ul {
				outline: 1.5px dashed var(--maxi-light-blue-alt) !important;
			}
		}
		.maxi-text-block__content,
		> ol,
		> ul {
			outline: 1.5px dashed $tr !important;
		}
	}
	&::after {
		display: none;
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-text-block {
		ol,
		ul {
			padding-left: 0 !important;
			li {
				direction: rtl;
			}
		}
	}
}
