.maxi-text-block {
	.rich-text:focus * {
		background-color: transparent !important;
	}
	> ol,
	> ul {
		> br {
			display: none;
		}
	}
	&__content,
	> ol,
	> ul {
		outline: 1.5px dashed var(--mpg) !important;

		a.maxi-text-block--link {
			text-decoration-skip-ink: auto;

			&:visited,
			&:visited span {
				color: inherit !important;
			}
		}
	}
	&__has-text {
		&:hover {
			.maxi-text-block__content,
			> ol,
			> ul {
				outline: 1.5px dashed var(--mdg) !important;
			}
		}
		&.is-selected {
			.maxi-text-block__content,
			> ol,
			> ul {
				outline: 1.5px dashed var(--mlb-a) !important;
			}
		}
		.maxi-text-block__content,
		> ol,
		> ul {
			outline: 1.5px dashed transparent !important;
		}
	}
	&::after {
		display: none;
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-text-block {
		ol,
		ul {
			padding-left: 0 !important;
			li {
				direction: rtl;
			}
		}
	}
}
