body.maxi-blocks--active .maxi-text-block {
	&.maxi-list-block {
		overflow: visible;

		ol,
		ul {
			list-style-position: inside;
		}
	}
	&__content {
		position: relative;
		display: block;
		margin: 0;
	}
	p:not(&__content) {
		margin-left: auto;
		margin-right: auto;
	}
	a {
		text-decoration: none;
	}
}
