@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-text-block {
	& * {
		border-color: inherit;
	}
	&.maxi-list-block {
		overflow: visible;

		ol,
		ul {
			list-style-position: inside;
			list-style-type: none;
			counter-reset: li;
			margin: 0;
			padding: revert;

			> br {
				display: none;
			}

			li {
				counter-increment: li;
				margin: revert;

				& .maxi-list-item-block__content::before,
				// Old text-maxi support
				&:not(:has(.maxi-list-item-block__content))::before {
					content: '';
					position: $pr;
					display: inline-block;
					line-height: 0.5;
					vertical-align: middle;
					word-wrap: normal;
					text-indent: 0 !important;
				}

				&::marker {
					content: '';
				}

				// Ensures indented numbers are not negative
				ol,
				ul {
					li {
						counter-increment: li !important;
					}
				}

				ul li {
					min-width: 1em !important;
				}
			}
		}

		> ol li {
			@mixin listSelectors($times) {
				$ulChain: '';
				$olChain: '';
				@for $i from 1 through $times {
					$ulChain: $ulChain + ' > ul > li';
					$olChain: $olChain + ' > ol > li';
				}

				#{$ulChain} .maxi-list-item-block__content::before,
				#{$olChain} .maxi-list-item-block__content::before,
				// Old text-maxi support
				#{$ulChain}:not(:has(.maxi-list-item-block__content))::before,
				#{$olChain}:not(:has(.maxi-list-item-block__content))::before {
					@content;
				}
			}

			@for $i from 1 through 20 {
				@include listSelectors($i) {
					min-width: 1 + ($i * 0.75) + em;
					margin-left: 0 !important;
				}
			}
		}
	}
	&__content {
		position: $pr;
		display: block;
		margin: 0;
	}
	p:not([class*='__content']):not(.maxi-pane-block__title):not(.wp-block):not(.maxi-block--use-sc) {
		margin-left: auto;
		margin-right: auto;
	}
	a {
		text-decoration: unset;
		text-underline-offset: inherit !important;
		text-decoration-skip-ink: auto;
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-text-block {
		ol,
		ul {
			padding-left: 0 !important;
			li {
				direction: rtl;
			}
		}
	}
}
