body.maxi-blocks--active .maxi-text-block {
	overflow: hidden;

	&__content {
		position: relative;
		display: inline-block;
		margin: 0;
		width: 100%;
	}
	p:not(&__content) {
		margin: 32px auto;
	}
	a {
		text-decoration: none;
	}
}
