body.maxi-blocks--active .maxi-text-block {
	& * {
		border-color: inherit;
	}
	&.maxi-list-block {
		overflow: visible;

		ol,
		ul {
			list-style-position: inside;
			list-style-type: none;
			counter-reset: li;
			margin: 0;
			padding: revert;

			li {
				counter-increment: li;
				margin: revert;

				&::before {
					content: '';
					position: relative;
					display: inline-block;
					line-height: 0.5;
					vertical-align: middle;
					word-wrap: normal;
					text-indent: 0 !important;
				}

				&::marker {
					content: '';
				}

				// Ensures indented numbers are not negative
				ol,
				ul {
					li {
						counter-increment: li !important;
					}
				}

				ul li {
					min-width: 1em !important;
				}
			}
		}

		> ol li {
			@mixin listSelectors($times) {
				$olChain: '';
				@for $i from 1 through $times {
					$olChain: $olChain + ' > ol > li';
				}

				#{$olChain}::before {
					@content;
				}
			}

			@for $i from 1 through 20 {
				@include listSelectors($i) {
					min-width: 1 + ($i * 0.75) + em;
					margin-left: 0 !important;
				}
			}
		}
	}
	&__content {
		position: relative;
		display: block;
		margin: 0;
	}
	&.maxi-list-item-block .maxi-text-block__content {
		display: inline-block;
		width: 100%;
	}

	p:not(&__content):not(.maxi-pane-block__title) {
		margin-left: auto;
		margin-right: auto;
	}
	a {
		text-decoration: unset;
		text-underline-offset: inherit !important;
		text-decoration-skip-ink: auto;
	}
}
