body.maxi-blocks--active .maxi-text-block {
	overflow: hidden;

	&__content {
		position: relative;
		display: inline-block;
		margin: 0;
	}
	p {
		width: 100%;
	}
	ul,
	ol {
		list-style-position: inside;
	}
	a {
		text-decoration: none;
	}
}
