.toolbar-item__popover .maxi-font-level-control {
	&__button {
		min-height: 1.5rem;
		height: 1.5rem;
		background: transparent;
		color: #fff;
		border: 1px solid #fff;
		&[aria-pressed='true'] {
			border: 2px solid #ff4a17;
			font-weight: 400;
		}
	}
}
