.toolbar-item__popover {
    &__text-level {
        width: max-content;

        &__button {
            display: block;
            width: 2.5rem;
            height: 1.5rem;
            margin: 0 0.1rem;
            padding: 0;
            color: #fff;
            border: 1px solid #fff;

            &:hover {
                color: #fff;
                box-shadow: none;
                outline: 1px solid transparent;
            }

            &[aria-pressed="true"] {
                border: 0 0 0 1.5px #f04f26;
            }
        }
    }
}
