.maxi-font-level-control {
	display: flex;
	flex-wrap: nowrap;

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(100% / 7);
		height: 32px;
		border: 1px solid var(--maxi-grey-1-color);
		border-radius: 0;
		background-color: #fff;
		transition: all 0.5s;

		&:hover {
			background-color: var(--maxi-grey-3-color);
		}
		&:focus {
			background-color: var(--maxi-grey-4-color);
		}
		&[aria-pressed='true'] {
			border-bottom: 2px solid var(--maxi-secondary-color);
			color: var(--maxi-secondary-color);
			background-color: var(--maxi-white-4-color);
		}
	}
}
