.maxi-font-level-control {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 8px;
	justify-content: space-between;
	border-top: 1.5px solid var(--mgl);
	padding-top: 8px;

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(100% / 8.5);
		height: 26px;
		border: 1.5px solid var(--mgl);
		border-radius: 5px;
		color: var(--mdg) !important;
		background-color: var(--mw);
		transition: all 0.5s;
		font-weight: 700;
		margin-right: 6px;

		&:hover {
			background-color: var(--mpg);
			border: 1.5px solid var(--msc) !important;
		}
		&[aria-pressed='true'] {
			background-color: var(--mwg);
			border: 1.5px solid var(--msc) !important;
			color: var(--msc) !important;
			font-weight: 700 !important;
		}
		&:first-child {
			margin-left: 7px;
		}
	}
}
.toolbar-item__popover .maxi-font-level-control {
	border-top: none;
	padding-top: 0;
	margin-right: 7px;
}
