.maxi-font-level-control {
	display: flex;
	flex-wrap: nowrap;

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border: 1px solid #dbdde6;
		transition: all 0.5s;
		border-radius: 0;
		color: #151617 !important;
		height: 32px;
		width: calc(100% / 7);

		&:hover {
			background-color: rgba(180, 180, 180, 0.12);
		}
		&:focus {
			background-color: rgba(180, 180, 180, 0.4);
		}
		&[aria-pressed='true'] {
			border-bottom: 2px solid #007cba;
			background-color: #f8fbfd;
		}
	}
}
