.components-base-control.maxi-title-level,
.components-base-control {
  margin-bottom: 5px !important;
}

.components-base-control.maxi-title-level .components-base-control__field:first-child,
.components-base-control.maxi-title-level:last-child .components-base-control__field {
  margin-bottom: 0 !important;
}

.components-base-control .components-base-control__field {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
}

.maxi-title-level .components-base-control__label {
  flex: 100%;
}

.components-base-control .components-base-control__label {
  display: inline-block;
}

.components-base-control__label {
  margin-bottom: 0 !important;
  vertical-align: sub ;
  min-height: 24px;
  font-size: 13px !important;
  color: #464a53 !important;
}

.components-base-control__field select {
  max-width: 8.5rem;
}

.components-select-control__input, .maxi-popover select {
  min-height: unset;
  max-height: unset !important;
  padding: 0 24px 0px 5px !important;
  color: #464a53;
}

.components-select-control__input {
  padding: 0 24px 0px 5px !important;
  min-height: unset;
  max-height: unset !important;
  color: #464a53;
  border-radius: 5px !important;
  background: #fff url(../../../img/arrow-down.svg) no-repeat right 7px top 50% !important;
  background-size: auto;
  background-size: 9px 9px !important;
  font-size: 10pt !important;
  height: 28px;
  margin: 1px;
  outline: 0;
  width: 100%;
}