@import '../../../../../src/css/backend-variables.scss';
.maxi-dropdown__alignment-content {
	z-index: 99999999;
	margin: -33px 0 0 98px !important;

	.components-popover__content {
		width: 75px;
	}
	.maxi-alignment-control {
		.maxi-base-control__field {
			margin-bottom: 0;
			.maxi-tabs-control {
				display: block !important;
				margin-bottom: 0;
				&__button {
					display: block;
					align-items: flex-start;
					&:hover {
						background-color: $gl;
					}
					&:focus:not(:disabled) {
						background-color: $w;
					}
				}
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-alignment-control {
		button[aria-label='justify'] {
			order: 4;
		}
		button[aria-label='left'] {
			order: 3;
		}
		button[aria-label='center'] {
			order: 2;
		}
		button[aria-label='right'] {
			order: 1;
		}
	}
}
