.toolbar-item__divider-color__popover {
	min-width: var(--mx-popover-width-lg);
	.maxi-opacity-control {
		line-height: var(--mx-line-height);
	}
	.maxi-advanced-number-control__value {
		flex: 1 !important;
	}
	.maxi-color-control {
		& > .components-maxi-control__reset-button {
			display: none;
		}
	}
}
