@import '../../../src/css/backend-variables.scss';
.maxi-slider-block {
	position: $pr;
	width: 100%;
	margin: auto;
	padding: 0;

	&__empty {
		&.is-selected {
			&::after {
				border-color: $wg !important;
			}
		}
		&::after {
			opacity: 1;
		}
	}

	&__wrapper {
		&--edit-view {
			.maxi-slide-block--clone {
				display: none !important;
			}
		}

		&:not(&--edit-view) {
			.maxi-slide-block:not([data-slide-active='true']) {
				* {
					pointer-events: none !important;
					user-select: none !important;
					display: none !important;
				}
			}
		}
	}

	&__nav--edit-view {
		display: none;
	}
}
