@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-slider-block {
	position: $pr;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&:focus {
		&:after {
			box-shadow: none !important;
		}
	}

	&__tracker {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		position: $pr;

		&--edit-view {
			flex-direction: column;
			transform: none !important;
		}
	}

	// Frontend slide transitions for fade
	&:not([data-transition='slide']) {
		.maxi-slider-block__wrapper:not(.maxi-slider-block__wrapper--edit-view) {
			.maxi-slide-block {
				flex-shrink: 0;

				&:not([data-slide-active='true']) {
					opacity: 0;
					pointer-events: none;
					position: $pa;
					top: 0;
					left: 0;
					z-index: 0;
				}

				&[data-slide-active='true'] {
					opacity: 1;
					pointer-events: auto;
					position: $pr;
					z-index: 1;
				}
			}
		}
	}

	&__arrow {
		position: $pa;
		top: 50%;
		transform: translateY(-50%);

		&--next {
			right: 0px;
		}

		&--prev {
			left: 0px;
		}
		&:hover {
			cursor: $ptr;
		}
	}
	.maxi-slider-block__dots {
		display: flex;
		position: $pa;
		transform: translateX(-50%);
		svg {
			position: $pa;
		}
		.maxi-slider-block__dot:not(.maxi-slider-block__dot--active):hover {
			cursor: $ptr;
		}
	}
}

@keyframes maxiFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes maxiZoomFade {
	0% {
		opacity: 0;
		zoom: 1.2;
	}
	100% {
		opacity: 1;
		zoom: 1;
	}
}
