body.maxi-blocks--active .maxi-slider-block {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	// Provisional
	border: 1px solid #000;

	&:focus {
		&:after {
			box-shadow: none !important;
		}
	}
	&.alignfull {
		width: 100% !important;
		max-width: 100% !important;
	}

	&__tracker {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		transition: transform 0.2s ease-out;

		&--edit-view {
			flex-direction: column;
			transform: none !important;
		}
	}

	&__arrow {
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);

		&--next {
			right: -20px;
		}

		&--prev {
			left: -20px;
		}
	}
}
