.maxi-externalbutton {
	border: 1px solid black;

	&__richtext {
		display: block;
	}

	&__popover {
		position: fixed;

		button {
			box-shadow: none;
			opacity: 0;
			transition: opacity .3s ease-in-out;
			background-color: transparent !important;
			max-width: 1.5rem;
		}
	}
}


