.gx-buttoneditor-button {
    width: 10rem;
    height: 3rem;
    border-radius: 0;
}

.gx-buttoneditor-button .gx-externalbutton-richtext {
    display: block;
}

.gx-externalbutton-popover {
    position: fixed;
}

.gx-externalbutton-popover button {
    box-shadow: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.gx-buttoneditor-button:hover .gx-externalbutton-popover button {
    opacity: 1;
}