.gx-externalbutton-control {
    border: 1px solid black;
}

.gx-externalbutton-control .gx-externalbutton-richtext {
    display: block;
}

.gx-externalbutton-popover {
    position: fixed;
}

.gx-externalbutton-popover button {
    box-shadow: none;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    background-color: transparent !important;
    max-width: 1.5rem;
}

.gx-externalbutton-control:hover .gx-externalbutton-popover button {
    opacity: 1;
}