@media all and(max-width:2000px){

    // Should this class be inside TypographyControl styling?
    .gx-unit-control {
        float: right;
        margin-bottom: -30px !important;
        z-index: 100;
        margin-right: 80px;
    }

    // Should this class be inside TypographyControl styling?
    .gx-unit-control .components-radio-control__option label {
        min-width: 27px;
        line-height: 28px;
        top: 1px;
        height: 28px !important;
    }

   
}