.maxi-prompt-control-results-card {
	padding: 20px;
	border: 1.5px solid var(--mgl);
	border-radius: 10px;
	background: var(--maxi-off-white);
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;

	& > * {
		color: var(--mb) !important;
	}
	& &__variant {
		font-weight: bold;
	}

	&__show-more {
		margin-bottom: 12px;
		height: auto;
		padding: 4px 8px;
		width: auto;
		border: 1.5px solid var(--msc);
		color: var(--msc) !important;
		background: var(--mwg);
		font-size: 12px !important;
		font-weight: 600 !important;
		border-radius: 30px;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: var(--msc);
		}

		&:focus {
			outline: none;
			box-shadow: 0 0 0 2px var(--mhc);
		}
	}
	&__clean-history-button {
		height: auto;
		padding: 0;
	}

	&__top-bar {
		margin-bottom: 0px;

		&__select-row {
			display: flex;
			justify-content: space-between;
			cursor: pointer;

			& &__select-text_output,
			& &__from-previous-session,
			& &__id_output {
				color: var(--msc) !important;
			}

			& &__select-text,
			& &__from-previous-session,
			& &__id {
				font-weight: bold;
			}

			& &__from-previous-session {
				color: var(--mgl);
			}
		}
	}

	&__modificator {
		&:has(&__id) {
			cursor: pointer;
		}

		& &__id {
			font-weight: bold;
		}
	}

	&__scroll-to {
		position: relative;

		&__inner {
			position: absolute;
			top: -80px;
		}
	}

	&__content {
		&__error {
			color: var(--mor) !important;
		}
	}

	& &__content-length {
		color: var(--mdg);
		text-align: end;
	}

	&__end-of-content {
		position: relative;

		&__inner {
			position: absolute;
			bottom: -120px;
		}
	}

	&__options {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		gap: 8px;

		.maxi-components-button {
			padding: 0;

			&:hover {
				color: var(--mpc);
			}
		}
	}

	&--selected {
		background: var(--maxi-off-white);
		border-color: var(--msc);
		cursor: default;

		.maxi-prompt-control-results-card__top-bar {
			&__select-row {
				cursor: default;
				border-top: 1px solid var(--mmg);
				padding-top: 10px;
			}
		}
	}

	&--error {
		border-color: var(--mor);

		.maxi-prompt-control-results-card__top-bar {
			&__select-row {
				cursor: default;

				&__select-text,
				&__id {
					color: var(--mor);
				}
			}
		}
	}
}
body.maxi-prompt-control-generate-tab__textarea .maxi-base-control__field {
	text-align: left !important;
	margin-bottom: 10px !important;
}

div.maxi-base-control.maxi-prompt-control-generate-tab__textarea {
	.maxi-base-control__field {
		margin-bottom: 10px !important;
		text-align: left !important;
	}

	.maxi-base-control__label {
		text-align: left !important;
		display: block !important;
		width: 100% !important;
		margin-bottom: 10px !important;
		font-weight: bold !important;
	}
}
