[class*='maxi-border-status-active'],
[class*='maxi-background-status-active'],
[class*='maxi-box-shadow-status-active'],
[class*='maxi-accordion-line-control__hover-toggle'],
[class*='maxi-accordion-line-control__active-toggle'],
[class*='maxi-accordion-title-control__hover-toggle'],
[class*='maxi-accordion-title-control__active-toggle'] {
	margin-top: 10px !important;
	margin-bottom: 5px !important;
}

.maxi-skin-control__reveal-action-tabs {
	.components-button {
		background: var(--mw);
		border: none;
		border-radius: 10px;
		padding: 6px 12px;
		margin: 0;
		min-width: 70px;
		height: 30px;
		box-shadow: 0 0 0 1px var(--mgl);
		color: var(--mdg);
		transition: var(--maxi-trans-std);

		&:first-child {
			margin-right: 8px;
		}
		&:last-child {
			margin-right: 2px !important;
		}

		&:hover {
			background: var(--mw);
			box-shadow: 0 0 0 1px var(--mpc);
			color: var(--mpc);
		}

		&:active,
		&[aria-pressed='true'] {
			background: var(--mpc) !important;
			box-shadow: 0 0 0 1px var(--mpc) !important;
			color: var(--mw) !important;
		}
	}
}
.maxi-icon-control__position {
	margin-top: 6px !important;
}
.maxi-icon-control__position {
	.maxi-tabs-control__button {
		background: var(--mw);
		border: 1.5px solid var(--mgl);
		border-radius: 6px !important;
		padding: 6px 6px;
		margin-right: 2px !important;
		min-width: 65px;
		height: 30px !important;
		box-shadow: none;
		color: var(--mdg);
		transition: var(--maxi-trans-std);
		text-align: center;
		justify-content: center;
		display: flex;
		align-items: center;
		font-weight: 500;

		&:first-child {
			margin-left: 0px !important;
		}
		&:last-child {
			border: 1.5px solid var(--mgl);
		}

		&:hover {
			background: var(--mw);
			box-shadow: none;
			background: var(--mpg) !important;
			color: var(--mb);
		}

		&:active,
		&--selected,
		&[aria-pressed='true'] {
			background: var(--mwg) !important;
			border: 1.5px solid var(--mgl) !important;
			box-shadow: none;
			color: var(--mdg) !important;
			font-weight: 700;
		}
	}
}

.maxi-icon-styles-control {
	.maxi-tabs-control__full-width {
		.maxi-tabs-control__button:first-child {
			margin-left: -8px !important;
		}
		.maxi-tabs-control__button:last-child {
			margin-right: -8px !important;
		}
	}
}

.maxi-settingstab-control:has(.maxi-accordion-icon-control__color-section) {
	.maxi-tabs-control__button:first-child {
		margin-left: -8px !important;
	}
	.maxi-tabs-control__button:last-child {
		margin-right: -8px !important;
	}
}

.maxi-icon-background-tabs {
	.maxi-tabs-control__button:first-child {
		margin-left: -8px !important;
	}
	.maxi-tabs-control__button:last-child {
		margin-right: -8px !important;
	}
}
