.maxi-accordion-block {
	display: flex;
	flex-direction: column;

	& .maxi-pane-block__header {
		padding-right: 25px !important;
		padding-left: 25px !important;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	&--simple-layout {
		& .maxi-pane-block {
			& .maxi-pane-block__content {
				padding-bottom: 25px;
				padding-top: 25px;
			}
		}
	}

	&--boxed-layout {
		& .maxi-pane-block {
			border-width: 5px !important;
			border-style: solid !important;
			border-color: #edf6fa !important;
		}
	}
}
