.maxi-sc-color-palette {
	.components-radio-control__option {
		border: none !important;
		border-radius: 0 !important;
		min-width: 35px !important;
		height: 35px !important;
		margin-right: 3px;
		&:last-child {
			margin-right: 0;
		}
		:hover {
			opacity: 0.7;
		}
		label {
			border: 8px solid #eee;
		}
		input {
			width: 100%;
  			height: 100%;
  			&:checked & {
				border: 2px solid #bdbdbd !important;
			}
		}
	}
}
