.maxi-sc-color-palette {
	.components-radio-control__option {
		border: none !important;
		border-radius: 0 !important;
		min-width: 35px !important;
		height: 35px !important;
		margin-right: 3px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			label {
				outline: 2px solid #bdbdbd;
			}
		}
		label {
			border: 8px solid #eee;
			width: 90%;
			height: 90% !important;
		}
		input {
			width: 100%;
			height: 100%;
			&:checked + label {
				outline: 2px solid #bdbdbd !important;
			}
		}
	}
}
