@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__copy-paste {
	&__popover {
		form {
			min-width: max-content;

			/* width */
			&::-webkit-scrollbar {
				width: 5px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: $w;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: $gl;
				border-radius: 0;
				cursor: $ptr;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: $pc;
			}
		}

		&__item {
			border-top: $bl;
			position: $pr;
			cursor: $ptr;
			margin: 0;
			padding: 5px 20px 5px 7px;
			display: flex;
			align-items: center;
			&:hover {
				background-color: $gl;
			}
			&[data-copy_paste_group] {
				padding: 3px 7px 3px 15px;
				border-top: 0;
				& + .toolbar-item__copy-paste__popover__item {
					&:not([data-copy_paste_group]) {
						margin-top: 5px;
					}
				}

				.maxi-axis-control__content__item__checkbox {
					font-size: 12px;
				}
			}

			&:first-child {
				border-top: none;
			}

			&:last-child {
				border-bottom: $bl;
			}

			.maxi-axis-control__content__item__checkbox {
				display: flex;
				align-items: center;
				color: $bk;
				margin-top: 0;
				width: 100%;
			}

			input[type='checkbox'] {
				border-color: $gl;
				border-radius: 0;
				margin: 0;
				box-shadow: none;
				&:hover {
					border-color: $bk;
				}
				&:focus {
					box-shadow: none;
				}

				&:checked {
					border-color: $bk;
					&::before {
						content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M14.83 4.89l1.34.94-5.81 8.38H9.02L5.78 9.67l1.34-1.25 2.57 2.4z' fill='%2380828a'/%3E%3C/svg%3E");
						margin: -3px 0 0 -5px;
					}
				}
				& + span {
					padding-left: 5px;
					color: $bk;
				}
			}
			&__group {
				label {
					pointer-events: none;
				}
			}
		}

		&__button {
			display: flex;
			width: 100%;
			color: $bk;
			text-align: left;
			border-radius: 0;
			box-shadow: none;

			&.toolbar-item__copy-nested-block__popover__button {
				&::before {
					content: '';
					display: block;
					position: $pa;
					top: 0;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					margin: 0;
					background-color: $gl;
				}
			}

			svg {
				width: 20px;
			}

			&--special {
				display: block;
				height: 30px;
				background: $pc !important;
				border-radius: 0;
				color: $w;
				font-size: 12px;
				text-align: center !important;
				padding-top: 4px !important;

				&::before,
				&::after {
					display: none !important;
				}
			}

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				color: $sc;
			}
		}
	}
}

.copy-paste__group-icon {
	&:after {
		content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.783 9.578"><path d="M5.783 4.758a.963.963 0 01-.283.684L1.651 9.295A.967.967 0 01.283 7.927l3.179-3.169L.293 1.59A.963.963 0 011.651.232L5.5 4.084a.963.963 0 01.283.674z" /></svg>');
		position: $pa;
		top: 50%;
		right: 7px;
		width: 6px;
		transform: translateY(-50%) rotate(0);
		transform-origin: center;
		transition: transform 0.3s linear;

		@at-root .rtl #{&} {
			right: unset;
			left: 5px;
		}
	}
	&[aria-expanded='true'] {
		border-bottom: $bl;
		background: $w;

		&:after {
			transform: translateY(-50%) rotate(90deg);
		}
	}
}

.maxi-copy-paste__popover {
	.components-popover__content {
		border-radius: 0 !important;

		/* width */
		&::-webkit-scrollbar {
			width: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: $w;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $gl;
			border-radius: 0;
			cursor: $ptr;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: $pc;
		}
		.maxi-settingstab-control {
			.maxi-tabs-control {
				border-bottom: $bl;
				.components-button {
					border-right: $bl;
					text-align: center;
					display: flex;
					padding-left: 0;
					padding-right: 0;
					transition: background-color 0.3s;
					border-bottom: 2px solid $tr;
					font-weight: 400 !important;
					&:last-child {
						background-color: $w;
						border-right: none !important;
					}
					&::before {
						display: none !important;
					}
					&::after {
						bottom: -2px !important;
					}
				}
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.toolbar-item__copy-paste__popover__item {
		padding: 5px 7px 5px 20px;

		input[type='checkbox'] + span {
			padding-right: 5px;
			padding-left: unset !important;
		}
		input[type='checkbox']:checked::before {
			margin: -3px -2px 0px 0px;
		}
	}
}
