.toolbar-item__copy-paste {
	&__popover {
		min-width: 170px;

		form {
			max-height: 350px;
			overflow-y: scroll;
			padding-right: 1rem;
			/* width */
			&::-webkit-scrollbar {
				width: 10px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				background: #7d7d7d;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: #64646c;
				border-radius: 10px;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: #b9b9b9;
			}
		}
		&__item {
			margin-bottom: 5px;
			&:first-child {
				margin-top: 10px;
			}
			.maxi-axis-control__content__item__checkbox {
				display: flex;
				align-items: flex-end;
				color: #80828a;
				text-transform: capitalize;
				font-size: 11px;
				margin-top: 4px;
			}
		}
		input[type='checkbox'] {
			&:focus {
				box-shadow: none;
			}
			&:checked {
				&::before {
					content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M14.83 4.89l1.34.94-5.81 8.38H9.02L5.78 9.67l1.34-1.25 2.57 2.4z' fill='%2380828a'/%3E%3C/svg%3E");
					margin: -0.2rem 0 0 -0.34rem;
				}
				& ~ span {
					color: #fff;
				}
			}
		}
		&__button {
			color: #1e1e1e;
			display: flex;
			width: 100%;
			text-align: left;
			border-radius: 0;
			box-shadow: none;
			&.toolbar-item__copy-nested-block__popover__button {
				&::before {
					content: '';
					display: block;
					height: 1px;
					background-color: var(--maxi-grey-1-color);
					bottom: 0;
					margin: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
				}
			}
			svg {
				width: 20px;
			}
			&--special {
				color: #fff;
				background: var(--maxi-primary-color);
				border-radius: 5px;
				text-align: center;
				height: 30px;
				display: block;
				margin-top: 10px;
				font-size: 12px;
			}
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				color: var(--maxi-secondary-color);
			}
		}
	}
}
