.maxi-sidebar .maxi-radio-control {
	display: var(--maxi-display-inline-flex);
	justify-content: var(--maxi-layout-space-between);
	align-items: var(--maxi-layout-center);
	width: var(--maxi-layout-full-width);
	margin-bottom: var(--maxi-space-8px);

	.maxi-display-control {
		width: var(--maxi-layout-full-width);
	}
	.maxi-base-control {
		&__field {
			width: var(--maxi-layout-full-width);
		}
		&__label {
			flex: var(--maxi-flex-grow-2);
		}
	}
	.maxi-radio-control {
		width: var(--maxi-layout-full-width);

		&__option {
			flex: var(--maxi-flex-grow-1);
			min-width: var(--maxi-space-35px);
			height: var(--maxi-space-32px);
			border: var(--maxi-border-width-1px) solid var(--maxi-grey-light);
			margin-bottom: var(--maxi-space-0px);
			color: var(--maxi-grey) !important;
			background-color: var(--maxi-white) !important;
			opacity: 1 !important;
			transition: all var(--maxi-transition-500ms);

			&:hover {
				background-color: var(--maxi-grey);
			}
			&:focus {
				background-color: var(--maxi-grey);
			}
			input {
				display: var(--maxi-display-none);

				&:checked ~ label {
					position: var(--maxi-layout-relative);
					z-index: var(--maxi-z-index-1);
					border-bottom: var(--maxi-border-width-2px) solid
						var(--maxi-secondary-color);
					background-color: var(--maxi-white) !important;
				}
			}
			label {
				display: var(--maxi-display-flex);
				align-items: var(--maxi-layout-center);
				justify-content: var(--maxi-layout-center);
				height: var(--maxi-layout-full-height);
			}
			svg {
				display: var(--maxi-display-block);
				width: var(--maxi-space-20px);
				height: var(--maxi-layout-full-height);
				margin: var(--maxi-space-0px);
				fill: var(--maxi-black) !important;
			}
		}
	}

	&__full-width {
		.maxi-base-control {
			&__field {
				flex-wrap: var(--maxi-flex-wrap-wrap);
			}
			&__label {
				display: var(--maxi-display-block);
				flex: var(--maxi-flex-grow-1) !important;
				width: var(--maxi-layout-full-width);
				margin: var(--maxi-space-0px) var(--maxi-space-0px)
					var(--maxi-space-5px) !important;
			}
		}
	}
}
