@import '../../../src/css/backend-variables.scss';
.maxi-sidebar .maxi-radio-control {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;

	.maxi-display-control {
		width: 100%;
	}
	.maxi-base-control {
		&__field {
			width: 100%;
		}
		&__label {
			flex: 2;
		}
	}
	.maxi-radio-control {
		width: 100%;

		&__option {
			flex: 1;
			min-width: 35px;
			height: 32px;
			border: $bl;
			margin-bottom: 0;
			color: $g;
			background-color: $w;
			opacity: 1 !important;
			transition: all 0.5s;

			&:hover {
				background-color: $g;
			}
			&:focus {
				background-color: $g;
			}
			input {
				display: none;

				&:checked ~ label {
					position: $pr;
					z-index: 1;
					border-bottom: 2px solid $sc;
					background-color: $w;
				}
			}
			label {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
			}
			svg {
				display: block;
				width: 20px;
				height: 100%;
				margin: 0;
				fill: $bk;
			}
		}
	}

	&__full-width {
		.maxi-base-control {
			&__field {
				flex-wrap: wrap;
			}
			&__label {
				display: block;
				flex: 100% !important;
				width: 100%;
				margin: 0 0 5px !important;
			}
		}
	}
}
