.maxi-accordion-control__item {
	&__flexbox {
		.maxi-tabs-control:first-child {
			.maxi-tabs-control__button {
				&[aria-pressed='true'] {
					color: var(--maxi-black-1-color);
				}
			}
		}
		.maxi-tabs-content {
			&:not(:first-child) {
				.maxi-tabs-control {
					column-gap: 5px;
					&__button {
						border: 1px solid var(--maxi-grey-light);
						border-radius: 4px;
						padding: 6px 3px;
						transition: all 0.5s;

						svg {
							width: 18px;
							height: 18px;
							fill: var(--maxi-grey-6-color) !important;
						}

						&:hover {
							background-color: var(--maxi-light-blue);
						}

						&--selected {
							background-color: var(--maxi-light-blue);
							border-color: var(--maxi-light-blue);

							svg {
								path {
									fill: var(--maxi-secondary-color);
								}
							}
						}
					}
				}
				.maxi-flex-options__wrap {
					.maxi-base-control__label {
						margin-bottom: 3px !important;
					}
				}
			}
		}
	}
	.maxi-flex-wrap-control {
		.maxi-tabs-control {
			column-gap: 5px;
			&__button {
				border: 1px solid var(--maxi-grey-light);
				border-radius: 4px;
				padding: 6px 3px;
				transition: all 0.5s;
				svg {
					width: 18px;
					height: 18px;
				}
				&:hover {
					background-color: var(--maxi-light-blue);
				}
				&--selected {
					background-color: var(--maxi-light-blue);
					border-color: var(--maxi-light-blue);
					svg {
						path {
							fill: var(--maxi-secondary-color);
						}
					}
				}
			}
		}
	}
}
