.maxi-accordion-control__item {
	&__flexbox {
		.maxi-tabs-control:first-child {
			.maxi-tabs-control__button {
				&[aria-pressed='true'] {
					color: var(--maxi-black);
				}
			}
		}
		.maxi-tabs-content {
			&:not(:first-child) {
				.maxi-tabs-control {
					column-gap: var(--maxi-space-5px);
					&__button {
						border: var(--maxi-border-1px) solid
							var(--maxi-grey-light);
						border-radius: var(--maxi-radius-4px);
						padding: var(--maxi-space-6px) var(--maxi-space-3px);
						transition: all var(--maxi-transition-500ms);

						svg {
							width: var(--maxi-space-18px);
							height: var(--maxi-space-18px);
							fill: var(--maxi-grey) !important;
						}

						&:hover {
							background-color: var(--maxi-pastel-green);
							border-color: var(
								--maxi-secondary-color
							) !important;
						}

						&--selected {
							background-color: var(--maxi-whisper-green);
							border-color: var(--maxi-primary-color);

							svg {
								path {
									fill: var(--maxi-secondary-color);
								}
							}
						}
					}
				}
				.maxi-flex-options__wrap {
					.maxi-base-control__label {
						margin-bottom: var(--maxi-space-3px) !important;
					}
				}
			}
		}
	}
	.maxi-flex-wrap-control {
		.maxi-tabs-control {
			column-gap: var(--maxi-space-5px);
			&__button {
				border: var(--maxi-border-1px) solid var(--maxi-grey-light);
				border-radius: var(--maxi-radius-4px);
				padding: var(--maxi-space-6px) var(--maxi-space-3px);
				transition: all var(--maxi-transition-500ms);
				svg {
					width: var(--maxi-space-18px);
					height: var(--maxi-space-18px);
				}
				&:hover {
					background-color: var(--maxi-whisper-green);
					border-color: var(--maxi-secondary-color) !important;
				}
				&--selected {
					background-color: var(--maxi-pastel-green);
					border-color: var(--maxi-secondary-color);
					svg {
						path {
							fill: var(--maxi-secondary-color);
						}
					}
				}
			}
		}
	}
}
