.maxi-accordion-control__item {
	&__flexbox {
		.maxi-tabs-control:first-child {
			.maxi-tabs-control__button {
				&[aria-pressed='true'] {
					color: var(--mb);
				}
			}
		}
		.maxi-tabs-content {
			&:not(:first-child) {
				.maxi-tabs-control {
					column-gap: 5px;
					&__button {
						border: 1px solid var(--mgl);
						border-radius: 4px;
						padding: 6px 3px;
						transition: var(--maxi-trans-std);

						svg {
							width: 18px;
							height: 18px;
							fill: var(--mg) !important;
						}

						&:hover {
							background-color: var(--mpg);
							border-color: var(
								--msc
							) !important;
						}

						&--selected {
							background-color: var(--mwg);
							border-color: var(--mpc);

							svg {
								path {
									fill: var(--msc);
								}
							}
						}
					}
				}
				.maxi-flex-options__wrap {
					.maxi-base-control__label {
						margin-bottom: 3px !important;
					}
				}
			}
		}
	}
	.maxi-flex-wrap-control {
		.maxi-tabs-control {
			column-gap: 5px;
			&__button {
				border: 1px solid var(--mgl);
				border-radius: 4px;
				padding: 6px 3px;
				transition: var(--maxi-trans-std);
				svg {
					width: 18px;
					height: 18px;
				}
				&:hover {
					background-color: var(--mwg);
					border-color: var(--msc) !important;
				}
				&--selected {
					background-color: var(--mpg);
					border-color: var(--msc);
					svg {
						path {
							fill: var(--msc);
						}
					}
				}
			}
		}
	}
}
