@import '../../../src/css/backend-variables.scss';
.maxi-accordion-control__item {
	&__flexbox {
		.maxi-tabs-control:first-child {
			.maxi-tabs-control__button {
				&[aria-pressed='true'] {
					color: $bk;
				}
			}
		}
		.maxi-tabs-content {
			&:not(:first-child) {
				.maxi-tabs-control {
					column-gap: 5px;
					&__button {
						border: $bl;
						border-radius: 4px;
						padding: 6px 3px;
						transition: all 0.5s;

						svg {
							width: 18px;
							height: 18px;
							fill: $g !important;
						}

						&:hover {
							background-color: $pg;
							border-color: var(
								--maxi-secondary-color
							) !important;
						}

						&--selected {
							background-color: $wg;
							border-color: $pc;

							svg {
								path {
									fill: $sc;
								}
							}
						}
					}
				}
				.maxi-flex-options__wrap {
					.maxi-base-control__label {
						margin-bottom: 3px !important;
					}
				}
			}
		}
	}
	.maxi-flex-wrap-control {
		.maxi-tabs-control {
			column-gap: 5px;
			&__button {
				border: $bl;
				border-radius: 4px;
				padding: 6px 3px;
				transition: all 0.5s;
				svg {
					width: 18px;
					height: 18px;
				}
				&:hover {
					background-color: $wg;
					border-color: $sc !important;
				}
				&--selected {
					background-color: $pg;
					border-color: $sc;
					svg {
						path {
							fill: $sc;
						}
					}
				}
			}
		}
	}
}
