.maxi-breadcrumbs__popover {
	z-index: 10;
}

.maxi-breadcrumbs {
	font-family: 'Roboto', sans-serif !important;
	display: flex;
	position: absolute;
	bottom: -22px;
	left: 25px;
	border-radius: 3px;
	margin: 0 !important;
	padding: 5px 10px 5px 0px !important;
	background: var(--maxi-primary-color);
	z-index: 9;
	transition: 0.3s;
	transform: scaleX(0);
	transform-origin: left center;
	&:hover {
		transform: scaleX(1);
		.maxi-breadcrumbs__item {
			transition-delay: 0.2s;
			opacity: 1;
		}
	}
	&__item {
		display: inline;
		min-width: max-content;
		list-style: none;
		font-size: 10px;
		font-weight: 400;
		margin-bottom: 0;
		line-height: 100%;
		transition: 0.3s;
		opacity: 0;

		.maxi-breadcrumbs__item__content {
			text-decoration: underline;
			text-decoration-color: rgba(255, 255, 255, 0.6);
		}

		&:not(:last-child):after {
			content: '>';
			padding: 0 4px;
			color: #fff;
		}
		&__content {
			text-decoration: underline;
			cursor: pointer;
			color: #fff;
			text-decoration: none;
			transition: all 0.5s;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}
.toolbar-block-custom-label {
	&:hover {
		& ~ .maxi-breadcrumbs {
			transform: scaleY(1);
			.maxi-breadcrumbs__item {
				transition-delay: 0.2s;
				opacity: 1;
			}
		}
	}
}
