.maxi-breadcrumbs__popover {
	z-index: var(--maxi-z-maximum);
}

.maxi-breadcrumbs {
	font-family: var(--maxi-font-ui) !important;
	display: var(--maxi-display-flex);
	position: var(--maxi-layout-absolute);
	bottom: calc(-1 * var(--maxi-space-22px));
	left: var(--maxi-space-25px);
	border-radius: var(--maxi-space-3px);
	margin: var(--maxi-reset-margin) !important;
	padding: var(--maxi-space-0px) var(--maxi-space-10px) var(--maxi-space-0px)
		var(--maxi-space-5px) !important;
	background: var(--maxi-primary-color);
	z-index: var(--maxi-z-overlay);
	transition: var(--maxi-transition-300ms);
	transform: scaleX(0);
	transform-origin: left center;
	height: var(--maxi-space-20px);
	align-items: var(--maxi-layout-center);

	&:hover {
		transform: scaleX(1);
		.maxi-breadcrumbs__item {
			transition-delay: var(--maxi-transition-200ms-delay);
			opacity: var(--maxi-opacity-visible);
		}
	}

	&--repeater {
		background: var(--maxi-tertiary-color);
	}

	&__item {
		display: var(--maxi-display-inline);
		min-width: var(--maxi-layout-max-content);
		list-style: var(--maxi-reset-border-none);
		font-size: var(--maxi-font-size-10px);
		font-weight: var(--maxi-font-weight-normal);
		margin-bottom: var(--maxi-space-0px);
		line-height: var(--maxi-line-height-100);
		opacity: var(--maxi-opacity-hidden);

		.maxi-breadcrumbs__item__content {
			text-decoration: var(--maxi-text-decoration-underline);
			text-underline-offset: var(--maxi-space-3px);
			text-decoration-color: rgba(var(--maxi-white), 0.6);
			top: calc(-1 * var(--maxi-space-1px));
			position: var(--maxi-layout-relative);
		}

		&:not(:last-child):after {
			content: '>';
			padding: var(--maxi-space-0px) var(--maxi-space-4px);
			color: var(--maxi-white);
		}
		&__content {
			text-decoration: var(--maxi-text-decoration-underline);
			cursor: var(--maxi-cursor-pointer);
			color: var(--maxi-white);
			text-decoration: var(--maxi-text-decoration-none);
			transition: all var(--maxi-transition-500ms);

			&:hover {
				opacity: var(--maxi-opacity-medium);
			}
		}
	}
}
.toolbar-block-custom-label {
	display: var(--maxi-display-flex) !important;
	align-items: var(--maxi-layout-center);

	&:hover {
		& ~ .maxi-breadcrumbs {
			transform: scaleY(1);
			.maxi-breadcrumbs__item {
				transition-delay: var(--maxi-transition-200ms-delay);
				opacity: var(--maxi-opacity-visible);
			}
		}
	}
}
/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-breadcrumbs {
		right: var(--maxi-space-25px);
		left: var(--maxi-layout-unset);
		padding: var(--maxi-space-0px) var(--maxi-space-5px)
			var(--maxi-space-0px) var(--maxi-space-10px) !important;
		transform-origin: right;
	}
}
