.maxi-breadcrumbs__popover {
	z-index: 10;
}

.maxi-breadcrumbs {
	font-family: 'Inter', sans-serif !important;
	display: flex;
	position: absolute;
	bottom: -22px;
	inset-inline-start: 25px;
	border-radius: 3px;
	margin: 0 !important;
	padding: 0 10px 0 5px !important;
	background: var(--mpc);
	z-index: 9;
	transition: 0.3s;
	transform: scaleX(0);
	transform-origin: inline-start center;
	height: 20px;
	align-items: center;

	&:hover {
		transform: scaleX(1);
		.maxi-breadcrumbs__item {
			transition-delay: 0.2s;
			opacity: 1;
		}
	}

	&--repeater {
		background: var(--mtc);
	}

	&__item {
		display: inline;
		min-width: max-content;
		list-style: none;
		font-size: 10px;
		font-weight: 400;
		margin-bottom: 0;
		line-height: 100%;
		opacity: 0;

		.maxi-breadcrumbs__item__content {
			text-decoration: underline;
			text-underline-offset: 3px;
			text-decoration-color: rgba(var(--mw), 0.6);
			top: -1px;
			position: relative;
		}

		&:not(:last-child):after {
			content: '>';
			padding: 0 4px;
			color: var(--mw);
		}
		&__content {
			text-decoration: underline;
			cursor: pointer;
			color: var(--mw);
			text-decoration: none;
			transition: var(--maxi-trans-std);

			&:hover {
				opacity: 0.7;
			}
		}
	}
}
.toolbar-block-custom-label {
	display: flex !important;
	align-items: center;

	&:hover {
		& ~ .maxi-breadcrumbs {
			transform: scaleY(1);
			.maxi-breadcrumbs__item {
				transition-delay: 0.2s;
				opacity: 1;
			}
		}
	}
}
