.maxi-breadcrumbs__popover {
	z-index: 10;
}

.maxi-breadcrumbs {
	font-family: 'Roboto', sans-serif !important;
	display: flex;
	position: absolute;
	bottom: -28px;
	left: 0;
	border-radius: 5px;
	margin: 0 !important;
	padding: 3px 8px !important;
	background: #ff4a17;

	&__item {
		display: inline;
		min-width: max-content;
		list-style: none;
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 0;

		&:not(:last-child):after {
			content: '>';
			padding: 0 4px;
			color: #fff;
		}
		&__content {
			text-decoration: underline;
			cursor: pointer;
			color: #fff;
			text-decoration: none;
			transition: all 0.5s;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}
