.maxi-list-item-block {
	outline: 2px dashed var(--mmg) !important;

	&__has-text {
		outline: 2px dashed transparent !important;

		&:hover {
			outline: 1.5px solid var(--mmg) !important;
		}
		&.is-selected {
			outline: 1.5px solid var(--mwg) !important;
		}
	}

	.rich-text:focus * {
		background-color: transparent !important;
	}
	&__content {
		a.maxi-list-item-block--link {
			text-decoration-skip-ink: auto;

			&:visited,
			&:visited span {
				color: inherit !important;
			}
		}
	}
	&::after {
		display: none;
	}
}

.maxi-block {
	&.is-selected {
		outline: 1.5px dashed var(--mlb-a) !important;

		&:hover {
			border-radius: 0 !important;
			outline: 1.5px solid var(--mmg) !important;
		}
	}

	&--backend {
		&:hover {
			border-radius: 0 !important;
			outline: 1.5px solid var(--mmg) !important;
		}
	}
}

.maxi-text-block {
	&__has-text {
		outline: 1.5px dashed transparent !important;

		&:hover {
			outline: 1.5px dashed var(--mpc) !important;
		}
		&.is-selected {
			outline: 1.5px dashed var(--mpc) !important;
		}
	}

	.rich-text:focus * {
		background-color: transparent !important;
	}
}
