@import '../../../src/css/backend-variables.scss';
.maxi-list-item-block {
	outline: 2px dashed $mg !important;

	&__has-text {
		outline: 2px dashed $tr !important;

		&:hover {
			outline: 1.5px solid $mg !important;
		}
		&.is-selected {
			outline: 1.5px solid $wg !important;
		}
	}

	.rich-text:focus * {
		background-color: $tr !important;
	}
	&__content {
		a.maxi-list-item-block--link {
			text-decoration-skip-ink: auto;

			&:visited,
			&:visited span {
				color: inherit !important;
			}
		}
	}
	&::after {
		display: none;
	}
}

.maxi-block {
	&.is-selected {
		outline: 1.5px dashed var(--maxi-light-blue-alt) !important;

		&:hover {
			border-radius: 0 !important;
			outline: 1.5px solid $mg !important;
		}
	}

	&--backend {
		&:hover {
			border-radius: 0 !important;
			outline: 1.5px solid $mg !important;
		}
	}
}

.maxi-text-block {
	&__has-text {
		outline: 1.5px dashed $tr !important;

		&:hover {
			outline: 1.5px dashed $pc !important;
		}
		&.is-selected {
			outline: 1.5px dashed $pc !important;
		}
	}

	.rich-text:focus * {
		background-color: $tr !important;
	}
}
