@import '../../../src/css/backend-variables.scss';
body.maxi-blocks--active .maxi-list-item-block {
	& * {
		border-color: inherit;
	}
	&__content {
		position: $pr;
		margin: 0;
	}
	p:not([class*='__content']):not(.maxi-pane-block__title):not(.wp-block):not(.maxi-block--use-sc) {
		margin-left: auto;
		margin-right: auto;
	}
	a {
		text-decoration: unset;
		text-underline-offset: inherit !important;
		text-decoration-skip-ink: auto;
	}
}
