.maxi-section-block {
    position: relative;
    width: 100%;
    margin: auto;

    &:hover {
        outline: 1px solid grey;
    }

    &[data-align="full"] {
        width: auto; 
    }

    .block-editor-inner-blocks,
    .block-list-appender,
    .maxi-section-dropdown {
        width: 100%;
    }

    .maxi-section-appender-button {
        display: block;
        width: 100%;
    }
}
