@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__icon-size__popover {
	min-width: 216px;
	.maxi-advanced-number-control__value {
		&[type='number'] {
			flex: 1;
			width: 64px;
		}
	}
}
