.gx-icon-settings {
  .state {
    .components-radio-control__option {
      width: 100%;
      text-align: center;
      margin: 0;

      label {
        width: 100%;
        display: block;
        height: 35px;
        border: 1px solid #dde0e2;
        line-height: 36px;
      }

      .components-radio-control__input {
        &:checked {
          +label {
            color: white;
            background-color: #00ccff;
          }
        }
        display: none;
      }
    }
  }

  .hover-animation {
    select {
      margin-left: auto;
      margin-right: 0 !important;
      height: 30px !important;
    }
  }
}
