@import '../../../src/css/backend-variables.scss';
.maxi-arrow-control {
	.maxi-settingstab-control {
		.maxi-tabs-control {
			margin-left: 0;
			margin-right: 0;
			&__button {
				margin-right: 5px;
				border-radius: 4px;
				border: $bg;
				transition: $t !important;
				&:hover {
					background-color: $wg;
					border-color: $pc !important;
				}
				&[aria-pressed='true'] {
					background-color: $wg !important;
					border-color: $pc !important;
					color: $bk !important;
				}
			}
		}
	}
}
