.maxi-arrow-control {
	.maxi-settingstab-control {
		.maxi-tabs-control {
			margin-left: var(--maxi-space-0px);
			margin-right: var(--maxi-space-0px);
			&__button {
				margin-right: var(--maxi-space-5px);
				border-radius: var(--maxi-radius-4px);
				border: var(--maxi-border-1-5px) solid var(--maxi-grey-light);
				transition: all var(--maxi-transition-400ms) ease !important;
				&:hover {
					background-color: var(--maxi-whisper-green);
					border-color: var(--maxi-primary-color) !important;
				}
				&[aria-pressed='true'] {
					background-color: var(--maxi-whisper-green) !important;
					border-color: var(--maxi-primary-color) !important;
					color: var(--maxi-black) !important;
				}
			}
		}
	}
}
