.maxi-arrow-control {
	.maxi-settingstab-control {
		.maxi-tabs-control {
			margin-left: 0;
			margin-right: 0;
			&__button {
				margin-right: 5px;
				border-radius: 4px;
				border: 1.5px solid var(--mgl);
				transition: all 0.4s ease !important;
				&:hover {
					background-color: var(--mwg);
					border-color: var(--mpc) !important;
				}
				&[aria-pressed='true'] {
					background-color: var(--mwg) !important;
					border-color: var(--mpc) !important;
					color: var(--mb) !important;
				}
			}
		}
	}
}
