.maxi-container-arrow-top {
	.maxi-container-arrow {
		transform: translate(-50%, -50%) rotate(225deg);
	}
}
.maxi-container-arrow-left {
	.maxi-container-arrow {
		transform: translate(-50%, -50%) rotate(135deg);
	}
}
.maxi-container-arrow-right {
	.maxi-container-arrow {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
.maxi-container-arrow {
	display: none;
	width: 80px;
	height: 80px;
	position: absolute;
	top: calc(100% + 3.5355rem);
	transform: translate(-50%, -50%) rotate(45deg);

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	}

	&:after {
		content: '';
		width: 50%;
		height: 50%;
		position: absolute;
		top: -25%;
		left: -25%;
		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	}
}
.maxi-container-normal-arrow {
	.maxi-container-arrow {
		background-color: transparent;
		&:before {
			background-color: transparent;
		}
		&:after {
			background-color: #1e1e1e;
		}
	}
}
.maxi-container-border-arrow {
	.maxi-container-arrow {
		background-color: transparent;
	}
}
.maxi-container-shadow-arrow {
	box-shadow: none !important;

	&:not(.maxi-container-border-arrow) {
		.maxi-container-arrow {
			&:before {
				background-color: transparent;
			}
		}
	}
	.maxi-container-arrow {
		background-color: transparent;
	}
}
