/* Gutenberg Inspector */
span.maxi-general-tab-label,
span.maxi-hover-tab-label {
    margin-left: 15px;
    padding: 5px 15px;
    width: 43%;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: none;
    text-align: center;
    font-weight: 400;
    float: left;
    color: #ccc;
}

span.maxi-general-tab-label:hover,
span.maxi-hover-tab-label:hover {
    cursor: pointer;
}

span.maxi-general-tab-label.maxi-enabled,
span.maxi-hover-tab-label.maxi-enabled {
    border-color: #000 !important;
    color: #555d66 !important;
    font-weight: 700;
}

span.maxi-hover-tab-label {
    margin-left: 0 !important;
    margin-right: 15px;
    float: right !important;
}

body .maxi-hidden {
    display: none !important;
}

.maxi-hover-tab h2.components-panel__body-title {
    display: none !important;
}

.maxi-general-tab .components-base-control:nth-child(2) {
    margin-top: 37px;
}

.maxi-hover-tab,
.maxi-hidden-header {
    border-top: none !important;
}

.maxi-hidden-header h2 {
    display: none !important;
}

.maxi-controls .components-panel__body.maxi-text-setting {
    border-bottom: 2px solid #e8eaeb;
    margin-bottom: 10px;
    padding-top: 3px !important;
    padding-bottom: 12px !important;
}

.maxi-link-setting .components-base-control:not(.components-toggle-control) {
    margin-bottom: 10px !important;
}

.maxi-link-setting .components-base-control.components-toggle-control {
    margin-bottom: 18px !important;
}

.components-circular-option-picker .components-button.components-circular-option-picker__clear.is-secondary.is-small {
    border: 2px solid #dddfe1 !important;
    padding: 0;
    width: 30px;
    border-radius: 5px;
    margin-left: 3px;
    height: 30px !important;
}

.maxi-border-setting {
    padding-top: 0px !important;
}

.block-editor-panel-color-gradient-settings {
    max-height: 18px;
    margin: 6px 0 !important;
}

.block-editor-color-gradient-control__color-indicator {
    line-height: 20px;
}

.divider-dimension:last-child label {
    margin-bottom: 0 !important;
}
.divider-dimension .maxi-sizecontrol-unit {
    position: relative;
    top: 1px;
}

.maxi-style-tab-setting .components-circular-option-picker__option-wrapper {
    display: none;
}

.maxi-sidebar .components-circular-option-picker .components-circular-option-picker__custom-clear-wrapper {
    display: flex;
    background: none !important;
}

.maxi-sidebar .components-circular-option-picker__dropdown-link-action {
    margin-right: 0;
    width: 30px;
    height: 30px;
}

.maxi-sidebar .components-color-palette__custom-color button {
    color: black;
}

.maxi-sidebar
    .components-circular-option-picker__custom-clear-wrapper
    button:not(.components-circular-option-picker__clear) {
    width: 30px;
    height: 30px;
    color: transparent;
    background-color: rgba(33, 141, 250, 0) !important;
    border: 2px solid #dddfe1;
    font-size: 0px;
    text-align: center;
}

.components-circular-option-picker {
    margin-top: 0;
}

.maxi-sidebar .block-editor-color-gradient-control .components-base-control__field,
.maxi-sidebar .block-editor-color-palette-control .components-base-control__field {
    justify-content: space-between;
}

.maxi-sidebar .components-panel {
    border: none !important;
    background: #f2f2f2;
}

.maxi-sidebar .components-color-palette__custom-color button:before {
    content: url(../img/maxi-colour-wheel.svg) !important;
    margin: auto;
    width: 1.3rem;
    background-color: rgba(33, 141, 250, 0) !important;
}

.components-base-control__field .maxi-fontdropdown {
    margin-right: 2px;
}

.components-base-control__field .maxi-fontdropdown button {
    padding: 1px;
}

.maxi-sidebar .block-editor-color-palette-control .components-base-control__field {
    justify-content: space-between;
}

.maxi-sidebar .components-color-palette .components-color-palette__custom-clear-wrapper {
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.maxi-margin-reset {
    margin: 0;
}

.content-direction {
    margin-top: 1px;
}

.block-editor-color-gradient-control .two-column-description {
    margin-bottom: 25px;
}

.maxi-sidebar .maxi-settings-button button svg,
.components-button[type="reset"] svg {
    color: #464a53 !important;
    fill: #464a53 !important;
}

.maxi-sidebar .maxi-component-color-inidicator {
    width: 24px;
    height: 24px;
    float: left;
    border: 1px solid #dddfe1 !important;
    margin-right: 8px;
    margin-left: -4px;
    border-radius: 5px;
}

.components-base-control.editor-color-palette-control {
    margin-bottom: 5px;
}

.maxi-sidebar .block-editor-color-gradient-control fieldset {
    width: 100% !important;
    justify-content: space-between;
}

.maxi-sidebar .block-editor-color-gradient-control fieldset legend {
    float: left;
}

.maxi-sidebar .block-editor-color-gradient-control .components-circular-option-picker {
    width: auto !important;
    float: right;
}

.maxi-sidebar .block-editor-color-gradient-control__color-palette {
    margin-top: 0 !important;
  }

  .block-editor-color-gradient-control {
    background: none;
  }


.block-editor-panel-color-gradient-settings.divider-color {
    margin-top: 22px;
    padding-bottom: 32px !important;
    padding-top: 0px !important;
  }

  .editor-styles-wrapper .maxi-title-extra-subtitle {
	font-size: 16px !important;
}
  
.editor-styles-wrapper .maxi-title-extra-title {
	font-size: 38px !important;
}
  
.editor-styles-wrapper .maxi-title-extra-text {
	font-size: 16px !important;
}

.components-panel__body.block-editor-panel-color-gradient-settings.is-opened {
	padding: 0;
}

.maxi-sidebar .block-editor-color-palette-control__color-palette {
    margin-top: 0 !important;
  }
      
  .gpw .trigger .inner {
    width: 16px !important;
    height: 16px !important;
    border-radius: 17px !important;
    margin: auto;
    margin-top: 1px;
  }
      
  .gradient {
    margin-top: -2px;
  }
      
  .gpw .trigger {
    border-radius: 5px !important;
    border: 2px solid #dddfe1 !important;
    padding: 4px !important;
    box-shadow: none !important;
    width: 30px;
    height: 30px;
  }

  .maxi-border-setting .block-editor-panel-color-gradient-settings {
    margin-left: 3px !important;
    max-width: unset !important;
  }
      
  .maxi-border-setting .block-editor-panel-color-gradient-settings {
    margin-bottom: 7px;
  }

  .maxi-border-setting {
    height: 250px !important;
    margin-bottom: 0 !important;
  }

  .maxi-image-width
.components-base-control__field >
  input[type="number"].components-range-control__number{
	margin-bottom: 5px;
	margin-right: 3px;
	height:30px;
}
  
.maxi-image-max-width
.components-base-control__field >
input[type="number"].components-range-control__number{
	margin-right: 3px;
	height:30px;
}
  
.maxi-image-width
.components-base-control__field >
.components-button.components-range-control__reset.is-secondary.is-small{
	margin-top:-5px;
	height: 26px ;
	width: 26px ;
}
  
.maxi-image-width > .components-base-control.maxi-sizecontrol-unit.components-radio-control > .components-base-control__field,
.maxi-image-max-width > .components-base-control.maxi-sizecontrol-unit.components-radio-control > .components-base-control__field{
	position: relative ;
	top:1px !important;
	left:-5px;
}
  
.maxi-image-width > .components-base-control.maxi-sizecontrol-unit.components-radio-control > .components-base-control__field > .components-radio-control__option > label,
.maxi-image-max-width > .components-base-control.maxi-sizecontrol-unit.components-radio-control > .components-base-control__field > .components-radio-control__option > label{
	height:30px;
	line-height: 30px;
}
  
.maxi-image-max-width 
.components-base-control__field >
.components-button.components-range-control__reset.is-secondary.is-small{
  margin-top: 0 ;
  height: 26px ;
  width: 26px ;
}




.maxi-sidebar .maxi-background-setting.components-panel__body.is-opened {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: -11px;
}

.maxi-sidebar .maxi-background-setting .components-base-control,
.maxi-sidebar .maxi-background-setting .components-panel__body.is-opened,
.maxi-sidebar .maxi-background-setting.components-panel__body.is-opened .components-base-control__field {
	margin-bottom: 0 !important;
}

.maxi-sidebar .block-editor-color-palette-control .components-base-control__label {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	font-size: 9pt !important;
}

.maxi-link-setting .components-toggle-control .components-base-control__field {
	margin-bottom: 15px;
}