button.maxi-block-library__modal-button__placeholder {
	overflow: hidden;
	color: #fff;
	background: var(--maxi-cloud-primary);
	font-family: Inter, sans-serif;
	font-size: 12px;
	font-weight: 500;
	padding: 0 10px 0 0;
	border: 1px solid #dbdde6;
	transition: all 0.1s;
}
