.maxi-number-counter-control {
	&__alert-warning {
		color: #8a6d3b !important;
		background-color: #fcf8e3;
		border: 1px solid var(--maxi-light-yellow-1-color);
		padding: 0.5rem;
		margin-bottom: 8px;
		font-size: 12px !important;
	}
	.number-counter-control__start-end .maxi-advanced-number-control__value {
		width: 105px;
	}
}
