.maxi-number-counter-control {
	&__alert-warning {
		color: var(--mdg) !important;
		background: var(--mly);
		border: 1px solid var(--mdyd);
		padding: 0.5rem;
		margin-bottom: 12px;
		font-size: 12px !important;
		border-radius: 10px;
	}
	.number-counter-control__start-end .maxi-advanced-number-control__value {
		width: 105px;
	}
}
