.maxi-number-counter-control {
	&__alert-warning {
		color: var(--maxi-grey-dark) !important;
		background: var(--maxi-light-yellow);
		border: 1px solid var(--maxi-golden-orange);
		padding: 0.5rem;
		margin-bottom: 8px;
		font-size: 12px !important;
	}
	.number-counter-control__start-end .maxi-advanced-number-control__value {
		width: 105px;
	}
}
