.date-popover {
	.components-popover__content {
		width: 220px;
		padding: 0px 16px;
		transform: translateY(0%) !important;
	}
}
.date-formatting {
	.date-status {
		position: relative;
		.block-info-icon {
			top: 0%;
			bottom: 0%;
			left: 80px;
			right: inherit;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.maxi-base-control__field {
		.maxi-text-control__input {
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			min-height: unset;
			max-height: unset !important;
			border: 1px solid var(--maxi-grey-1-color);
			color: var(--maxi-grey-5-color);
			font-size: 12px;
			line-height: 14px;
			width: 100%;
			min-width: 50px;
			max-width: 25rem;
		}
	}
}
