.toolbar-item__size__popover {
	min-width: 230px;

	.maxi-select-control {
		select[id^='inspector-select-control']:not(:has(+ button.maxi-reset-button)) {
			background-image: var(--maxi-icon-chevron) !important;
			background-size: 8px 8px !important;
			background-position: right 6px center !important;
			&:hover,
			&:focus,
			&:active {
				background-image: var(--maxi-icon-chevron-hover) !important;
			}
		}
	}
}
