@import '../../../src/css/backend-variables.scss';
.maxi-transform-control {
	input[type='range'] {
		-webkit-appearance: none;
		width: 100%;
		height: 2px;
		border-radius: 0;
		background: $gl;
		outline: none;
		-webkit-transition: 0.2s;
		transition: opacity 0.2s;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: $bk;
			cursor: $ptr;
			box-shadow: inset 0 0 0 2px $bk,
				inset 0 0 0 4px $w;
		}

		&::-moz-range-thumb {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: $bk;
			cursor: $ptr;
			box-shadow: inset 0 0 0 2px $bk,
				inset 0 0 0 4px $w;
		}
	}

	&__square-control {
		display: flex;
		flex-wrap: wrap;
		position: $pr;

		&__canvas {
			position: $pr;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 170px;
			height: 170px;
			border: $bl;
			border-radius: 5px;
			overflow: hidden;

			&:before {
				content: '';
				position: $pa;
				top: 50%;
				left: 0%;
				transform: translateY(-50%);
				width: 100%;
				height: 1px;
				border: $bl;
			}

			&:after {
				content: '';
				display: block;
				position: $pa;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 10px;
				height: 10px;
				border: 2px solid $w;
				border-radius: 50%;
				background: $pc;
				cursor: inherit;
			}

			&__placeholder,
			&__origin {
				position: $pa;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 40px;
				height: 40px;
				border: $bl;
				border-radius: 5px;
				transition: none !important;
				&__button {
					&[aria-pressed='active'] {
						background: $gd !important;
						border-color: $gd !important;
					}
				}
			}

			&__resizer {
				z-index: 1;
				border: $bl;
				transition: none !important;
			}

			&__draggable {
				z-index: 9;
				cursor: move;
				width: 40px;
				height: 40px;
				border: 2px solid $g;
				border-radius: 5px;
				background-color: rgba($bk, 0.3);
				transition: none !important;
			}

			&__origin {
				z-index: 1;
				transition: none !important;

				&__button {
					position: $pa;
					transform: translate(-50%, -50%);
					width: 8px;
					height: 8px;
					padding: 0;
					background-color: $gl;
					border-radius: 100%;
				}

				&__top {
					top: 0;
				}
				&__center {
					top: 50%;
				}
				&__bottom {
					top: 100%;
				}
				&__left {
					left: 0;
				}
				&__middle {
					left: 50%;
				}
				&__right {
					left: 100%;
				}
			}
		}
		&__y-control {
			position: $pa;
			top: 55px;
			right: -20px;
			width: 168px;

			@at-root .rtl #{&} {
				left: -20px;
				right: unset;
			}

			input[type='range'] {
				position: $pr;
				right: 18px;
				top: 18px;
				margin-left: 4px;

				@at-root .rtl #{&} {
					left: 18px;
					right: unset;
				}
			}

			&__range {
				transform: rotate(90deg);
			}

			&__value {
				position: $pr;
				top: -6px;
				right: -85px;

				@at-root .rtl #{&} {
					left: -85px;
					right: unset;
				}

				.maxi-base-control {
					width: 60px;
					margin-top: 5px;
				}

				&__input {
					width: 60px;
					padding-right: 0 !important;
					@at-root .rtl #{&} {
						padding-right: 8px !important;
					}
				}
			}
		}

		&__x-control {
			width: calc(100% - 72px);
			display: flex;
			align-items: center;
			margin-top: 5px;
			margin-bottom: 8px;

			&__value {
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				.maxi-base-control {
					width: 70px;
					margin: 5px 0 0 !important;
					&__field {
						margin-bottom: 0;
					}
				}
				&__input {
					width: 60px;
					margin-left: 5px;
					padding-right: 0 !important;
					@at-root .rtl #{&} {
						padding-right: 8px !important;
					}
				}
			}
		}
		&__sync {
			position: $pa;
			top: 185px;
			right: 0;
			display: flex;
			align-items: flex-end;
			width: 60px;
			@at-root .rtl #{&} {
				right: unset;
				left: 0;
			}

			svg {
				width: 14px;
				height: 14px;
				path {
					fill: $g;
				}
			}

			button[type='button'] {
				background: $w;
				border-radius: 4px;
				width: 32px;
				height: 32px;
				padding: 0;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				transition: all 0.2s;

				&:focus {
					border-color: $tr;
				}

				&[aria-pressed='true'] {
					background: $pg !important;
					svg {
						path {
							fill: $sc;
						}
					}
				}
			}

			button[type='reset'] {
				margin-right: 0;
			}
		}
	}
	&__rotate-control {
		&__item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 15px;

			&:last-child {
				margin: 0;

				.maxi-base-control__field {
					margin-bottom: 0;
				}
			}

			&__label,
			.maxi-base-control__field {
				width: 100%;
			}

			&__range {
				margin: 8px auto !important;
			}

			&__input {
				width: 4rem;
				margin: auto;
				margin-left: 5px;
				padding-right: 0 !important;
				@at-root .rtl #{&} {
					padding-right: 8px !important;
				}
			}

			& .maxi-maxi-control__reset-button {
				margin-left: 5px;
			}
			input[type='range'] {
				max-width: 150px;
			}
		}
	}

	.maxi-transform-control__rotate-control__item__input {
		width: 64px;
	}

	.maxi-transform-control__square-control__y-control__value
		.maxi-base-control,
	.maxi-transform-control__square-control__x-control__value__input,
	.maxi-transform-control__square-control__x-control__value
		.maxi-base-control
		.maxi-transform-control__square-control__y-control__value
		.maxi-base-control,
	.maxi-transform-control__square-control__y-control__value__input {
		width: 70px;
	}

	.maxi-transform-control__rotate-control {
		margin-bottom: 10px;

		.maxi-base-control__label {
			margin-right: 5px;
		}

		.components-maxi-control__reset-button {
			min-width: 32px;
		}
	}
	.maxi-settingstab-control {
		flex: 1;

		.maxi-tabs-control__button--selected svg path {
			fill: $sc;
		}

		.maxi-tabs-control__button {
			padding: 8px 8px;
			margin-right: 5px;
			border: $bg;
			border-radius: 4px;
			transition: all 0.5s;
			&:last-child {
				margin-right: 0;
			}
		}

		.maxi-tabs-control__button[aria-pressed='true'] {
			background-color: $wg !important;
			border-color: $sc !important;
		}

		.maxi-tabs-control__button {
			&--selected {
				font-weight: 700;
				color: $sc !important;
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-transform-control {
		.maxi-settingstab-control .maxi-tabs-control__button {
			&:last-child {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 5px;
			}
		}
		.maxi-transform-control__square-control input[type='number'] {
			padding: 8px 8px 8px 0 !important;
		}
		.maxi-transform-control__square-control__x-control__value__input {
			margin-right: 5px;
			margin-left: 0;
		}

		&__rotate-control {
			input[type='number'] {
				padding: 8px 8px 8px 0 !important;
				margin-right: 5px;
				margin-left: unset;
			}
			.maxi-base-control__label {
				margin-left: 5px;
				margin-right: unset;
			}
		}
		&__square-control__sync button[type='button'] {
			margin-right: 5px;
			margin-left: unset;
		}
	}
}

@media screen and (max-width: 1920px) {
	.maxi-transform-control__square-control__y-control {
		right: -7px;
	}
}
