.maxi-transform-control {
    input[orient="vertical"] {
        writing-mode: bt-lr;
        -webkit-appearance: slider-vertical;
        width: 8px;
        padding: 0 5px;
        margin: 0 8px;
    }

    &__square-control {
        display: flex;
        flex-wrap: wrap;

        &__canvas {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 65%;
            height: 9rem;
            border: 1px solid #000;
            border-radius: 5px;
            overflow: hidden;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translateY(-50%);
                width: 100%;
                height: 1px;
                border: 1px solid #000;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 1px;
                height: 100%;
                border: 1px solid #000;
            }

            &__placeholder,
            &__origin {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40px;
                height: 40px;
                border: 1px solid #000;
                border-radius: 5px;
            }

            &__resizer {
                border: 1px solid #000;
            }

            &__draggable {
                z-index: 9;
                cursor: move;
                width: 40px;
                height: 40px;
                border: 1px solid #000;
                border-radius: 5px;
                background-color: rgba(0,0,0,.3);
            }

            &__origin {
                z-index: 1;
                
                &__button {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    width: 8px;
                    height: 8px;
                    padding: 0;
                    background-color: #000;
                    border-radius: 100%;
                }

                &__top {
                    top: 0;
                }

                &__center {
                    top: 50%;
                }

                &__bottom {
                    top: 100%;
                }

                &__left {
                    left: 0;
                }

                &__middle {
                    left: 50%;
                }

                &__right {
                    left: 100%;
                }
            }
        }

        &__y-control {
            display: flex;

            &__value {
                display: flex;
                flex-direction: column;

                &__input {
                    width: 4rem;
                    margin: auto;
                }
            }
        }

        &__x-control {
            width: 12rem;

            &__range {
                width: 100%;
                margin: 8px 0;
            }

            &__input {
                display: block;
                width: 4rem;
                margin: auto;
            }
        }
    }

    &__rotate-control {
        display: flex;
        justify-content: space-around;

        &__item {
            display: flex;
            flex-direction: column;

            &__range {
                margin: 8px auto !important;
            }

            &__input {
                width: 4rem;
                margin: auto;
            }

            & .components-maxi-control__reset-button {
                margin: 8px auto;
            }
        }
    }
}
