@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__column-pattern__popover {
	min-width: 392px;

	.components-column-pattern {
		&__icon {
			path {
				fill: var(--maxi-light-blue-alt);
			}
		}

		&__templates {
			text-align: center;
		}

		&__template-button {
			width: 18.8%;
			padding: 0;
			height: 26px;
			margin-right: 1.5%;

			&:nth-child(5n + 5) {
				margin-right: 0;
			}

			&--toolbar {
				&:hover {
					svg path {
						fill: $w;
					}
				}

				&[aria-pressed='true'] {
					svg path {
						fill: $w;
					}
				}

				svg path {
					stroke-width: 2px;
				}
			}
		}
	}
}

.toolbar-item__columns-handler {
	.toolbar-item__icon {
		path {
			&:nth-child(2) {
				fill: $tr !important;
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.toolbar-item__column-pattern__popover
		.components-column-pattern__template-button {
		margin-left: 1.5%;
		margin-right: 0;
	}
}
