.toolbar-item__column-pattern__popover {
	min-width: 392px;

	.components-column-pattern {
		&__icon {
			path {
				fill: var(--mlb-a);
			}
		}

		&__templates {
			text-align: center;
		}

		&__template-button {
			width: 18.8%;
			padding: 0;
			height: 26px;
			margin-inline-end: 1.5%;

			&:nth-child(5n + 5) {
				margin-inline-end: 0;
			}

			&--toolbar {
				&:hover {
					svg path {
						fill: var(--mw);
					}
				}

				&[aria-pressed='true'] {
					svg path {
						fill: var(--mw);
					}
				}

				svg path {
					stroke-width: 2px;
				}
			}
		}
	}
}

.toolbar-item__columns-handler {
	.toolbar-item__icon {
		path {
			&:nth-child(2) {
				fill: transparent !important;
			}
		}
	}
}

