.toolbar-item__popover {
    &__column-pattern {
        min-width: 300px;

        &__template-button {
            flex: 33.33%;
            width: 33.33%;

            &:hover {
                svg path {
                    fill: #ff4a17 !important;
                }
            }
            &__icon {
                width: 100%;
                height: 100%;

                path {
                    fill: #f1f1f1;
                }
            }

            &[aria-pressed="true"] {
                svg path {
                    stroke-width: 4;
                }
            }
        }
    }
}