.toolbar-item__popover {
	.toolbar-item__dynamic-content__popover {
		min-width: 280px;
		.maxi-axis-control {
			.maxi-base-control {
				&__field {
					margin-bottom: 0;
				}
				&__label {
					display: block;
					width: 125px;
				}
				.maxi-advanced-number-control__value {
					flex: 1;
				}
			}
			& > div {
				display: flex;
			}
		}
		.maxi-select-control__input {
			text-overflow: ellipsis;
			// max-width: 130px;
			padding-right: 20px;
		}
	}
	.maxi-base-control {
		input[type='text'],
		input[type='number'],
		select {
			border: 2px solid var(--maxi-grey-light);
			color: var(--maxi-grey-light);
		}
	}
	.maxi-axis-control {
		color: #fff;
		&__content {
			&__item {
				&__checkbox {
					input {
						border: 2px solid #80828a;
						background-color: #242433;
						&:focus {
							border-color: #80828a;
						}
					}
				}
				&__sync {
					margin-top: 35px;
					border-color: #80828a;
					button {
						&[aria-pressed='true'] {
							background: #4f515c !important;
						}
						svg {
							fill: #fff;
						}
					}
				}
			}
		}
	}
}
