.toolbar-item__popover {
	.toolbar-item__dynamic-content__popover {
		min-width: var(--maxi-space-280px);
		.maxi-axis-control {
			.maxi-base-control {
				&__field {
					margin-bottom: var(--maxi-space-0);
				}
				&__label {
					display: block;
					width: var(--maxi-space-125px);
				}
				.maxi-advanced-number-control__value {
					flex: 1;
				}
			}
			& > div {
				display: var(--maxi-display-flex);
			}
		}
		.maxi-select-control__input {
			text-overflow: ellipsis;
			// max-width: 130px;
			padding-right: var(--maxi-space-20px);
		}
	}
	.maxi-base-control {
		input[type='text'],
		input[type='number'],
		select {
			border: 2px solid var(--maxi-grey-light);
			color: var(--maxi-grey-light);
		}
	}
	.maxi-axis-control {
		color: var(--maxi-admin-white);
		&__content {
			&__item {
				&__checkbox {
					input {
						border: var(--maxi-border-2px) solid
							var(--maxi-admin-black);
						background-color: var(--maxi-admin-black);
						&:focus {
							border-color: var(--maxi-admin-black);
						}
					}
				}
				&__sync {
					margin-top: var(--maxi-space-35px);
					border-color: var(--maxi-admin-black);
					button {
						&[aria-pressed='true'] {
							background: var(--maxi-admin-black) !important;
						}
						svg {
							fill: var(--maxi-admin-white);
						}
					}
				}
			}
		}
	}
}
