@import '../../../../../src/css/backend-variables.scss';
.toolbar-item__popover {
	.toolbar-item__dynamic-content__popover {
		min-width: 280px;
		.maxi-axis-control {
			.maxi-base-control {
				&__field {
					margin-bottom: 0;
				}
				&__label {
					display: block;
					width: 125px;
				}
				.maxi-advanced-number-control__value {
					flex: 1;
				}
			}
			& > div {
				display: flex;
			}
		}
		.maxi-select-control__input {
			text-overflow: ellipsis;
			// max-width: 130px;
			padding-right: 20px;
		}
	}
	.maxi-base-control {
		input[type='text'],
		input[type='number'],
		select {
			border: 2px solid $gl;
			color: $gl;
		}
	}
	.maxi-axis-control {
		color: #fff;
		&__content {
			&__item {
				&__checkbox {
					input {
						border: 2px solid #80828a;
						background-color: #242433;
						&:focus {
							border-color: #80828a;
						}
					}
				}
				&__sync {
					margin-top: 35px;
					border-color: #80828a;
					button {
						&[aria-pressed='true'] {
							background: #4f515c !important;
						}
						svg {
							fill: #fff;
						}
					}
				}
			}
		}
	}
	.maxi-select-control {
		&__second-style {
			select[id^='inspector-select-control']:not(:has(+ button.maxi-reset-button)) {
				background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"> <path fill="rgba(224, 224, 224, 1)" d="M4.82 5.783a.963.963 0 0 1-.684-.283L.283 1.651A.967.967 0 0 1 1.651.283L4.82 3.462 7.988.293a.963.963 0 0 1 1.358 1.358L5.494 5.5a.963.963 0 0 1-.674.283Z"/> </svg>') !important;
				background-size: 8px 8px !important;
				background-position: right 6px center !important;
				&:hover,
				&:focus,
				&:active {
					background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"> <path fill="rgba(99, 186, 121, 1)" d="M4.82 5.783a.963.963 0 0 1-.684-.283L.283 1.651A.967.967 0 0 1 1.651.283L4.82 3.462 7.988.293a.963.963 0 0 1 1.358 1.358L5.494 5.5a.963.963 0 0 1-.674.283Z"/> </svg>') !important;
				}
			}
		}
	}
	input[id^='maxi-advanced-number-control'].maxi-advanced-number-control__value {
		border: none !important;
	}
}
