.maxi-map-block {
	&__not-found {
		padding: 5% 8%;
		border: 1px solid #dbdde6;
		background-color: #eaf3f7;
		p {
			max-width: 820px;
			color: #081219;
			font-size: 16px;
			font-family: Roboto, sans-serif;
			line-height: 1.5em;
			a {
				color: var(--maxi-secondary-color);
			}
		}
	}

	.leaflet-marker-icon {
		top: 0;
		animation: animate-marker 400ms ease-in-out;
	}

	&__alert {
		position: absolute;
		bottom: 16px;
		width: calc(100% - 32px);
		left: 16px;
		border-radius: 5px;
		font-size: 13px;
		padding: 0.5em;
		text-align: center;
		background: rgba(0, 0, 0, 0.6);
		color: #fff;
		z-index: 9999;
	}

	.maxi-map-block__not-found {
		-webkit-animation: 1.5s ease 0s normal forwards 1 fadeIn;
		animation: 1.5s ease 0s normal forwards 1 fadeIn;

		@keyframes fadeIn {
			0% {
				opacity: 0;
			}
			66% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		@-webkit-keyframes fadeIn {
			0% {
				opacity: 0;
			}
			66% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}

	&__popup {
		&__content {
			&__marker-remove {
				position: absolute;
				right: 0;
				bottom: -16px;
				background: var(--maxi-primary-color);
				border-radius: 50%;
				text-align: center;
				transition: 0.1s;

				svg.dashicon {
					fill: #b52727;
				}
				span.dashicon {
					&::before {
						color: #fff;
					}
				}
				&:hover {
					background: #000;
				}
			}
		}
	}

	&__search-box {
		display: flex;
		align-items: center;
		background: #fff;
		color: #444;
		position: absolute;
		z-index: 999;
		top: 0.5rem;
		right: 0.5rem;
		border: 1px solid #1e1e1e;
		padding: 0 0 0 0.5rem;
		width: 280px;
		max-width: calc(100% - 5rem);
		transition: all 200ms ease-in-out;

		> div {
			flex: 1;
		}

		.maxi-base-control__field {
			margin-bottom: 0;
		}

		.maxi-text-input[type='text'] {
			background: transparent;
			border: none;
			color: #000;
			box-shadow: none;
			font-family: inherit;
			padding: 0;
			border-radius: 0;
		}

		svg.dashicon {
			fill: #000;
		}

		&__button {
			border-top: 1px solid #ddd;
			display: flex;
			padding: 0.7rem 0;
			margin: 0 0.5rem;
		}

		&-results {
			position: absolute;
			z-index: 999;
			background: #fff;
			top: 0;
			transition: all 200ms ease-in-out;
			max-width: calc(100% - 5rem);
			top: 48px;
			right: 0.5rem;
			border: 1px solid #1e1e1e;
			width: 280px;
			max-height: calc(100% - 70px);
			overflow-y: auto;
			overflow-x: hidden;
			text-align: left;

			.components-button {
				height: auto;
				text-align: left;
				width: 100%;
			}
		}
	}
}

.maxi-map-markers-control {
	.maxi-default-styles-control:not(.maxi-button-default-styles)
		.maxi-default-styles-control__button {
		width: 18.5%;
	}
}
