body.maxi-blocks--active {
	.maxi-block[data-align='full'] {
		width: auto !important;
	}
	.maxi-map-block {
		.maxi-map-container {
			height: 100%;

			.map-marker-info-window {
				text-align: center;
				width: 150px;

				&__title {
					font-size: 20px;
					margin: 0 0 10px;
				}
				address {
					font-style: normal;
					font-size: 14px;
				}
			}
		}
	}
}
