body.maxi-blocks--active .maxi-map-block {
	.maxi-map-container {
		height: 100%;

		.map-marker-info-window {
			text-align: center;
			width: 150px;

			&__title {
				font-size: 20px;
				margin: 0 0 10px;
			}
			address {
				font-style: normal;
				font-size: 14px;
			}
		}
	}
}
.circle {
	background: #d83b01;
	border-radius: 50%;
	color: #fff;
	height: 2.5em;
	position: relative;
	width: 2.5em;

	border: 1px solid transparent;
}

.circleText {
	text-align: center;
	height: 50%;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}
