@import '~leaflet/dist/leaflet.css';

body.maxi-blocks--active .maxi-map-block {
	overflow: hidden;

	&__container {
		height: 100%;
		padding: 1px;
	}

	.leaflet-container {
		width: 100%;
		height: 100%;
		.leaflet-control-container {
			.leaflet-control-zoom {
				a {
					text-decoration: none;
				}
			}
		}
	}

	.leaflet-div-icon {
		background-color: transparent;
		border: transparent;
		animation: animate-marker 400ms ease-in-out;
	}

	.leaflet-popup-close-button {
		top: 5px;
		right: 1px;
		z-index: 15;
		display: block;
		width: 17px;
		height: 17px;
		background-color: var(--maxi-white);
		border-radius: 50%;
		transition: 0.1s;
		span {
			display: block;
			margin-top: -4px;
			transition: 0.1s;
		}
		&:hover {
			background-color: var(--maxi-grey-dark);
			span {
				color: var(--maxi-white);
			}
		}
	}

	.leaflet-popup-tip-container {
		display: none;
	}

	.leaflet-popup-content-wrapper {
		text-align: center;
		background: transparent;
		box-shadow: none;
	}

	.leaflet-popup-content {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 10px;
	}

	&__popup {
		width: 100%;
		height: 100%;
		position: relative;
		box-sizing: content-box !important;
		left: 5px;
		border-radius: 16px;

		&__background {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			left: 0;
			top: 0;
		}

		&__content {
			min-width: 100px;
			padding: 32px;
			position: relative;
			z-index: 10;

			&__title {
				margin: 0px auto 10px auto;
			}
			&__description {
				margin: 0;
			}
		}

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 100%);
			border-width: 15px 20px;
		}
	}

	@keyframes animate-marker {
		0% {
			top: -60px;
		}
		50% {
			top: 0;
		}
		90% {
			top: -10px;
		}
		100% {
			top: 0;
		}
	}
}
.maxi-sidebar,
.maxi-sidebar
	*:not(i):not(.block-editor-block-card):not(.block-editor-block-card
		*):not(.block-editor-block-card) {
	.maxi-map-popup-title-label,
	.maxi-map-popup-description-label {
		display: block;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}
}
