@import '~leaflet/dist/leaflet.css';

body.maxi-blocks--active .maxi-map-block {
	overflow: hidden;

	&__container {
		height: 100%;
		padding: 1px;
	}

	.leaflet-container {
		width: 100%;
		height: 100%;
	}

	.leaflet-div-icon {
		background-color: transparent;
		border: transparent;
		top: 0;
		height: auto !important;
		animation: animate-marker 400ms ease-in-out;
	}

	.leaflet-popup-close-button {
		top: 18px;
		right: 25px;
	}

	.leaflet-popup-tip-container {
		display: none;
	}

	.leaflet-popup-content-wrapper {
		margin-bottom: 5px;
		text-align: center;
		background: transparent;
		box-shadow: none;
	}

	.leaflet-popup-content {
		width: fit-content;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__popup {
		width: 100%;
		height: 100%;
		position: relative;
		box-sizing: content-box !important;
		left: 5px;
		border-radius: 16px;

		&__background {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			left: 0;
			top: 0;
		}

		&__content {
			min-width: 100px;
			margin: 32px;
			position: relative;
			z-index: 10;

			&__title {
				margin: 0 0 10px;
			}
			&__description {
				margin: 0;
			}
		}

		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 100%);
			border-width: 15px;
		}
	}

	@keyframes animate-marker {
		0% {
			top: -60px;
		}
		50% {
			top: 0;
		}
		90% {
			top: -10px;
		}
		100% {
			top: 0;
		}
	}
}
