.maxi-textshadow-control {
	&__default {
		&__total {
			text-shadow: var(--maxi-space-0px) var(--maxi-space-0px)
				var(--maxi-space-5px) var(--maxi-grey);
		}
		&__bottom {
			text-shadow: var(--maxi-space-5px) var(--maxi-space-0px)
				var(--maxi-space-3px) var(--maxi-grey);
		}
		&__solid {
			text-shadow: var(--maxi-space-2px) var(--maxi-space-4px)
				var(--maxi-space-0px) var(--maxi-grey);
		}
	}
}
