@import '../../../src/css/backend-variables.scss';
.maxi-textshadow-control {
	&__default {
		&__total {
			text-shadow: 0px 0px 5px $g;
		}
		&__bottom {
			text-shadow: 5px 0px 3px $g;
		}
		&__solid {
			text-shadow: 2px 4px 0px $g;
		}
	}
}
