/* Base Colors */
:root {
	--ma-w: #ffffff;
	--ma-bt: #666666;
	--ma-lg: #f3fbf7;
	--ma-b: #000000;
	--ma-o: #ff9700;
	--ma-lo: #f5b500;
	--ma-y: #e8ea00;
	--ma-bl: #e6f3ed;

	--ma-g: #999999;
	--ma-p: #000;
	--ma-pp: #2c8a46;
	--ma-gn: #2c8a46;
	--ma-m: #f3fbf7;

	/* Hover States */
	--ma-wh: #f5f5f5;
	--ma-bh: #848389;
	--ma-oh: #e53e00;
	--ma-loh: #ff9700;
	--ma-yh: #ffde3e;

	--ma-ph: #b06bf7;
	--ma-pih: #ff66ff;
	--ma-gnh: #2c8a46;
	--ma-mh: #e3f3ea;
}

:root {
	/* Core Builder */
	--mpc: #2c8a46;
	/* Fresh lime green */
	--msc: #63ba79;
	/* Crisp blue accent */
	--mtc: #7a00df;
	/* Rich deep purple accent */

	/* Core Colors */
	--mcp: #9a8cf3;
	/* Soft, pastel lavender-purple – modern and approachable */
	--mcp-l: #e1dbfe;
	/* Lighter pastel version, now more distinct from whisper */
	--mcp-b: #7e6ee8;
	/* A more saturated but still refined shade */
	--mcp-w: #f5f3fe;
	/* Slightly darker off-white for backgrounds */
	--mcp-c: #3a3a3a;
	/* Dark neutral for text and contrast */

	/* Accent & Hover Colors */
	--mch: #b06bf7;
	/* Vibrant lavender-purple for hover effects */
	--mch-deep: #954dd1;
	/* Slightly deeper version for active states */

	/* Core Neutrals */
	--mw: #fff;
	/* Pure white */
	--maxi-off-white: #f8f8f8;
	/* Soft off-white background */
	--mg: #b4b4b4;
	/* Standard grey for text/borders */
	--mgl: #e0e0e0;
	/* Very light grey background */
	--mdg: #383838;
	/* Dark grey for high-contrast elements */
	--mb: #000;
	/* True black */

	/* Accessibility */
	--magy: #757575;
	/* Medium grey for readability */

	/* Existing Accent Colors */
	--mlb: #e5f2f8;
	/* Soft light blue background/highlight */
	--mlb-a: #7fbddc;
	/* Alternative blue accent */
	--mhc: #f066ff;
	/* Vibrant highlight/punctuation */
	--mly: #f7f5df;
	/* Gentle light yellow for accents */

	/* New Accent Brand Colors */
	--mor: #ff4500;
	/* Vibrant orange-red */
	--mgo: #f2a600;
	/* Warm golden-orange */
	--mby: #ffff00;
	/* Pure, bright yellow */
	--mdyd: #f2b600;
	/* Rich golden shade */

	--mpg: #e3f3ea;
	/* Soft pastel green */
	--mmg: #e6f3ed;
	/* Midpoint between the two pastel greens */
	--mwg: #f3fbf7;
	/* Soft pastel green */
	--mhp: #ff66ff;
	/* Vibrant pink highlight */

	/* Patterns preview colours */
	--mpcg: #f8fbfd;
	/* For lines gradient */
	--mcib: #96b0cb;
	/* For mobile and tablet preview iframe */

	/* For icon blocks */
	--mibo: #2c8a46;
	/* For mobile and tablet preview iframe */
}