@import './src/css/backend-variables.scss';

body.toplevel_page_maxi-blocks-dashboard #wpfooter {
	position: static;
}

body.toplevel_page_maxi-blocks-dashboard {
	background-color: #fbf9fe;

	.notice-warning {
		&.inline {
			margin: 20px 39px;
		}
	}
	#wpwrap {
		min-height: auto;
	}
	#wpbody {
		height: calc(100vh - 73px);
	}
	#wpcontent {
		padding-left: 0;
		.maxi-dashboard_wrap {
			background-color: #fbf9fe;
			& * {
				font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
			}
		}
	}
	.maxi-dashboard_header {
		position: relative;
		z-index: 1;
		background-color: #fff;
		padding: 14px 38px 28px;
		img {
			width: 225px;
			margin-left: -10px;
		}
	}
	.nav-tab-wrapper {
		position: relative;
		z-index: 1;
		padding: 0 39px 32px;
		margin-top: -19px;
		border: none;
		a {
			position: relative;
			background: #fff;
			border: 1px solid #e1e2ea;
			font-size: 12px;
			margin: 0;
			padding: 4.5px 18px;
			box-shadow: none;
			&::after {
				content: '';
				position: absolute;
				left: -1px;
				right: -1px;
				bottom: 0;
				display: block;
				background-color: var(--maxi-primary-color);
				height: 2px;
				opacity: 0;
			}
			&:hover,
			&.nav-tab-active {
				&::after {
					opacity: 1;
				}
			}
			&.nav-tab-active {
				font-weight: 700;
			}
		}
	}
	.maxi-dashboard_form {
		.maxi-dashboard_main {
			display: flex;
			justify-content: space-between;
			padding: 0 39px;
			max-width: 1112px;
			&:has(.maxi-dashboard_main-content-starter-sites) {
				max-width: 100%;
			}
			#maxi-api-test {
				width: 1px !important;
				height: 1px !important;

				&__validation-message {
					width: 100%;
					&.api-loading {
						color: var(--maxi-secondary-color);
					}
					&.api-error {
						color: var(--maxi-primary-color);
					}
				}
			}
			&-content {
				width: 70%;
				&-start {
					width: 62%;
				}
				&-starter-sites {
					width: 100%;
				}
				&:before {
					content: '';
					position: absolute;
					top: 80px;
					left: 100px;
					z-index: 1;
					display: block;
					width: 60px;
					height: 150px;
					background-color: #ff4a17;
					border-radius: 50%;
					filter: blur(50px);
					opacity: 0.3;
				}
				h1,
				h2,
				h3 {
					margin-top: 0;
					line-height: 120%;
				}
				p {
					margin-top: 0;
					line-height: 160%;
				}
				h1 {
					color: #000;
					margin-bottom: 13px;
				}
				h3,
				h1 {
					font-size: 32px;
					font-weight: 700;
				}
				h2 {
					font-size: 24px;
					font-weight: 500;
				}
				p {
					font-size: 14px;
					color: #5e5656;
					margin-bottom: 26px;
					&:nth-child(7),
					&:nth-child(3) {
						margin-bottom: 0;
					}
				}
				& > h3 {
					padding-top: 19px;
					border-top: 1px solid #dbdde6;
					margin-bottom: 11px;
					&:first-of-type {
						margin-top: 52px;
					}
				}
				ol {
					margin: 4px 0 17px 43px;
					color: #5e5656;
					li {
						font-size: 14px;
					}
				}
				a {
					color: var(--maxi-primary-color);
					&:hover {
						opacity: 0.5;
					}
				}
				&-start {
					padding-top: 34px;
					h1 {
						margin-bottom: 27px;
						font-size: 50px;
					}
					h2 {
						margin-bottom: 30px;
					}
					& > h3 {
						padding-top: 0;
						border-top: 0;
						&:first-of-type {
							margin-top: 49px;
						}
					}
					p {
						font-size: 16px;
						color: #5e5656;
						margin-bottom: 30px !important;
					}
				}
				&-pro-library {
					padding-top: 36px;
					h1 {
						font-size: 50px;
						margin-bottom: 28px;
					}
					h2 {
						margin-bottom: 29px;
						font-size: 20px;
						color: #5e5656;
					}
					h3:not(.maxi-cloud-container__import-popup_section-title):not(.maxi-cloud-container__details-popup_section-title) {
						margin-top: 53px !important;
						font-size: 20px !important;
					}
					p {
						font-size: 16px !important;
					}
					.sign-up_button {
						background-color: var(--maxi-primary-color);
						border: none;
						border-radius: 8px;
						-webkit-box-shadow: none;
						box-shadow: none;
						padding: 17px 29px;
						color: #fff;
						font-size: 16px;
						text-decoration: none;
						-webkit-transition: 0.3s;
						-o-transition: 0.3s;
						transition: 0.3s;
					}
					.sign-up_button-wrap {
						margin-top: 40px;
					}
					.maxi-dashboard_main-content_accordion {
						max-width: 642px;
					}
					ul.not_loggedin-bottom-menu {
						display: flex;
						margin-top: 85px;
						li {
							color: #081219;
							font-weight: 700;
							a {
								color: #081219;
								text-decoration: none;
							}
							&:not(:last-child):after {
								content: '|';
								margin: 0 5px;
							}
						}
					}
					&-logged-in {
						h1 {
							font-size: 40px;
						}
						h2 {
							margin-bottom: 23px;
							font-size: 25px;
							font-weight: 700;
						}
						h3 {
							margin-top: 23px !important;
							font-size: 20px;
						}
						h4 {
							margin: 19px 0 30px !important;
						}
						ul {
							li {
								&:not(:last-child) {
									margin-bottom: 7px;
								}
							}
						}
						ul.loggedin-bottom-menu {
							display: flex;
							margin-top: 20px;
							li {
								color: #5e5656;
								font-size: 14px;
								font-weight: 400;
								a {
									color: #5e5656;
								}
								&:not(:last-child):after {
									content: '|';
									margin: 0 5px;
								}
							}
						}
					}
				}
				.maxi-dashboard_main-content_accordion {
					position: relative;
					z-index: 2;
					max-width: 732px;
					&#maxi-dashboard_main-content_starter-sites {
						max-width: 100%;
					}
					h3 {
						font-size: 16px;
						margin: 0;
					}
					h4 {
						font-size: 14px;
						margin: 0 0 2px;
					}
					p {
						margin: 0 0 10px;
						&:last-child {
							margin: 0;
						}
					}
					&-item {
						width: 100%;
						background: white;
						border: 1px solid #dbdde6;
						overflow: hidden;
						margin-bottom: 8px;
						&:nth-child(9),
						&:nth-child(8),
						&:nth-child(7),
						&:nth-child(5),
						&:nth-child(4),
						&:nth-child(3),
						&:nth-child(2) {
							p {
								&:first-child {
									padding-top: 11px;
								}
								&:last-child {
									padding-bottom: 11px;
								}
							}
						}
						&:nth-child(5),
						&:nth-child(2),
						&:nth-child(7) {
							h4 {
								padding-top: 11px;
							}
						}
						&-label {
							display: flex;
							justify-content: space-between;
							padding: 11px 16px;
							margin-bottom: -1px;
							font-weight: bold;
							cursor: pointer;

							&::after {
								content: '\276F';
								width: auto;
								height: auto;
								text-align: center;
								transition: all 0.35s;
								color: var(--maxi-black-1-color);
								transform-origin: center;
							}
						}
						&-checkbox {
							display: none !important;
							&:checked {
								+ .maxi-dashboard_main-content_accordion-item-label {
									&::after {
										transform: rotate(90deg);
									}
								}
								~ .maxi-dashboard_main-content_accordion-item-content {
									border-top-width: 1px;
									max-height: 10000vh;
								}
							}
						}
						&-content {
							border-top: 0px solid #dbdde6;
							background: white;
							max-height: 0;
							padding: 0 16px;
							transition: all 0.35s;
							&-setting {
								display: flex;
								flex-wrap: wrap;
								border-bottom: 1px solid #dbdde6;
								padding-top: 11px;
								padding-bottom: 10px;
							}
							&-description {
								flex: 80%;
								padding-right: 30px;
							}
							&-switcher {
								&__input {
									margin-top: 5px;
									margin-bottom: 5px;
									input,
									textarea {
										border-radius: 0;
										border-color: #dbdde6;
									}

									textarea {
										resize: none;
									}

									label:not(label[for='maxi-breakpoint-maxi-versions']) {
										text-transform: uppercase;
										width: 20px;
										display: inline-block;
									}
								}
								&__toggle {
									position: relative;
									cursor: pointer;

									input[type='checkbox'] {
										position: absolute;
										z-index: 1;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										padding: 0;
										border: none;
										margin: 0;
										opacity: 0;

										&:focus
											+ .maxi-toggle-switch__toggle__track {
											border-radius: 12px;
											box-shadow: 0 0 0 1px
												var(--maxi-grey-6-color);
											outline: 2px solid transparent;
										}

										&:checked
											~ .maxi-dashboard_main-content_accordion-item-content-switcher__toggle__thumb {
											background-color: var(
												--maxi-primary-color
											);
											border-color: var(
												--maxi-primary-color
											);
											-webkit-transform: translateX(20px);
											-ms-transform: translateX(20px);
											transform: translateX(20px);
										}
									}

									&__track {
										content: '';
										display: inline-block;
										box-sizing: border-box;
										vertical-align: top;
										width: 44px;
										height: 24px;
										background-color: var(
											--maxi-white-1-color
										);
										background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.8 8"><path d="M8.43.22A1 1 0 0 0 7 .37L2.93 5.48 1.72 4.21a1 1 0 0 0-1.41 0 1 1 0 0 0 0 1.41l2 2.1h.05a.83.83 0 0 0 .16.09l.1.06A1.15 1.15 0 0 0 3 8a.93.93 0 0 0 .4-.09l.11-.07a.71.71 0 0 0 .18-.12s0 0 0-.06l4.8-6A1 1 0 0 0 8.43.22Z"/></svg>'),
											url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="m5.6 4 2.55-2.55A.85.85 0 1 0 7 .25L4.4 2.8 1.85.25a.85.85 0 0 0-1.2 1.2L3.2 4 .65 6.55a.85.85 0 0 0 0 1.2.83.83 0 0 0 .6.25.82.82 0 0 0 .6-.25L4.4 5.2 7 7.75a.82.82 0 0 0 .6.25.83.83 0 0 0 .6-.25.85.85 0 0 0 0-1.2Z" transform="translate(-.4)"/></svg>');
										background-repeat: no-repeat, no-repeat;
										background-position: 8px center,
											24px center;
										background-size: 10px auto, 10px auto;
										border: 1px solid
											var(--maxi-grey-1-color);
										border-radius: 12px;
										transition: 0.2s background ease;
									}
									&__thumb {
										position: absolute;
										top: 3px;
										left: 3px;
										display: block;
										box-sizing: border-box;
										width: 18px;
										height: 18px;
										background-color: #fff;
										border: 1px solid
											var(--maxi-grey-1-color);
										border-radius: 50%;
										transition: 0.1s transform ease;
									}
								}
							}
							.submit {
								padding-bottom: 15px;
								padding-top: 14px;
								input {
									background-color: var(--maxi-primary-color);
									font-size: 14px;
									border: none;
									border-radius: 0;
									box-shadow: none;
									padding: 6px 22px;
									transition: 0.3s;
									&:hover {
										background-color: #000;
									}
								}
							}
						}
					}
				}
				#maxi-dashboard_main-content_pro-not-pro {
					display: none;
				}
			}
			&-sidebar {
				width: 28%;
				max-width: 270px;
				.maxi-dashboard_main-sidebar-item {
					background-color: #fff;
					box-shadow: 0 0 87px 21px rgba(150, 176, 203, 0.2);
					padding: 20px 30px;
					margin-bottom: 31px;
					text-align: center;
					svg {
						margin-bottom: 7px;
					}
					p {
						font-size: 16px;
						color: #151617;
						font-weight: 700;
						margin: 0;
						line-height: 136%;
						a {
							color: var(--maxi-primary-color);
							&:hover {
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
	}

	.maxi-dashboard-how-to-image {
		max-width: 700px;
	}
}

body .plugins {
	.maxi-blocks-db-notice .notice-warning {
		margin-top: 0;
		button.notice-dismiss {
			padding-top: 7px;
		}
	}
}

@media only screen and (max-width: 1390px) {
	body.toplevel_page_maxi-blocks-dashboard {
		.maxi-dashboard_form {
			.maxi-dashboard_main {
				display: block;
				&-content {
					width: 100%;
					&-pro-library {
						width: 100%;
						ul.not_loggedin-bottom-menu {
							display: block;
							text-align: left;
							margin-top: 50px;

							li {
								display: inline-block;
								margin: 0 0 5px;
							}
						}
					}
				}
				&-sidebar {
					display: flex;
					width: 100%;
					max-width: unset;
					column-gap: 20px;

					&-item {
						a::before {
							content: '';
							display: block;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	body.toplevel_page_maxi-blocks-dashboard {
		.maxi-dashboard_form {
			.maxi-dashboard_main {
				display: block;
				&-content {
					&-pro-library,
					&-start {
						padding-top: 0;
						h1 {
							font-size: 36px;
						}
					}
					&-pro-library {
						h2,
						h3 {
							font-size: 18px;
						}
					}
				}
				&-sidebar {
					margin-top: 20px;
					flex-direction: column;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	body.toplevel_page_maxi-blocks-dashboard {
		.notice-warning {
			&.inline {
				margin: 20px;
			}
		}
		.nav-tab-wrapper {
			padding: 0 20px 53px;
		}
		.maxi-dashboard_header {
			padding: 21px 20px 34px;
		}
		.maxi-dashboard_form {
			.maxi-dashboard_main {
				padding: 0 20px;
				&-content {
					.maxi-dashboard_main-content_accordion-item-content-description {
						-webkit-box-flex: 70%;
						-ms-flex: 70%;
						flex: 76%;
						padding-right: 10px;
					}
					&-pro-library {
						text-align: center;
						ul.not_loggedin-bottom-menu {
							display: block;
							text-align: center;
							li {
								display: inline-block;
								margin: 0 5px 5px;
								&::after {
									display: none;
								}
							}
						}
						.sign-up_button-wrap {
							flex-direction: column;
							align-items: center;
							row-gap: 10px;
						}
					}
					&-pro-library,
					&-start {
						h1 {
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.maxi-dashboard_main-content_accordion-item-content-description {
		padding-right: 0 !important;
		padding-left: 30px;
	}

	.maxi-dashboard_main-content ol {
		margin: 4px 43px 17px 0 !important;
	}
}

/** Hide maxi-image-type template from the editor */
body.site-editor-php
	.edit-site-add-new-template__template-button.components-button:has(.edit-site-add-new-template__template-name
		span[data-wp-component='Text']:contains('maxi-image-type')) {
	display: none !important;
	background: yellow;
}

.maxi-dashboard_setup-wizard-button {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	margin: 0 20px;
	padding: 12px 24px;
	background-color: #ff4a17;
	color: #ffffff !important;
	text-decoration: none;
	border-radius: 4px;
	font-weight: 500;
	transition: background-color 0.2s ease;
}

.maxi-dashboard_setup-wizard-button:hover {
	background-color: #e63e0f;
	color: #ffffff;
}

.maxi-dashboard_setup-wizard-button:focus {
	outline: none;
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff4a17;
	color: #ffffff;
}
