@import './src/css/backend-variables.scss';

body.toplevel_page_maxi-blocks-dashboard #wpfooter {
	position: static;
}

body.toplevel_page_maxi-blocks-dashboard {
	background-color: #fff;

	.notice-warning {
		&.inline {
			margin: 20px 39px;
		}
	}
	#wpcontent {
		padding-left: 0;
		.maxi-dashboard_wrap {
			& * {
				font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif !important;
			}
		}
	}
	.maxi-dashboard_header {
		background-color: #ff4a17;
		padding: 21px 38px 34px;
		img {
			width: 186px;
		}
	}
	.nav-tab-wrapper {
		padding: 0 39px 54px;
		margin-top: -19px;
		border: none;
		a {
			position: relative;
			background: #fff;
			border: 1px solid #e1e2ea;
			font-size: 12px;
			margin: 0;
			padding: 4.5px 18px;
			box-shadow: none;
			&::after {
				content: '';
				position: absolute;
				left: -1px;
				right: -1px;
				bottom: 0;
				display: block;
				background-color: var(--maxi-primary-color);
				height: 2px;
				opacity: 0;
			}
			&:hover,
			&.nav-tab-active {
				&::after {
					opacity: 1;
				}
			}
			&.nav-tab-active {
				font-weight: 700;
			}
		}
	}
	.maxi-dashboard_form {
		.maxi-dashboard_main {
			display: flex;
			justify-content: space-between;
			padding: 0 39px;
			max-width: 1026px;
			#maxi-google-test-map {
				width: 1px !important;
				height: 1px !important;
			}
			#maxi-google-test-map_validation-message {
				width: 100%;
				&.map-error {
					color: var(--maxi-primary-color);
				}
			}
			&-content {
				width: 70%;
				h1,
				h2,
				h3 {
					margin-top: 0;
					line-height: 120%;
				}
				p {
					margin-top: 0;
					line-height: 160%;
				}
				h1 {
					color: #000;
					margin-bottom: 13px;
				}
				h3,
				h1 {
					font-size: 18px;
					font-weight: 700;
				}
				h2 {
					font-size: 16px;
					font-weight: 500;
				}
				p {
					font-size: 14px;
					color: #5e5656;
					margin-bottom: 26px;
					&:nth-child(7),
					&:nth-child(3) {
						margin-bottom: 0;
					}
				}
				& > h3 {
					padding-top: 19px;
					border-top: 1px solid #dbdde6;
					margin-bottom: 11px;
					&:first-of-type {
						margin-top: 52px;
					}
				}
				ol {
					margin: 4px 0 27px 43px;
					li {
						font-size: 14px;
					}
				}
				a {
					color: var(--maxi-primary-color);
					&:hover {
						opacity: 0.5;
					}
				}
				.maxi-dashboard_main-content_accordion {
					max-width: 708px;
					h3 {
						font-size: 16px;
						margin: 0;
					}
					h4 {
						font-size: 12px;
						margin: 0 0 2px;
					}
					p {
						margin: 0 0 10px;
						&:last-child {
							margin: 0;
						}
					}
					&-item {
						border: 1px solid #dbdde6;
						width: 100%;
						overflow: hidden;
						margin-bottom: 14px;
						&:nth-child(7),
						&:nth-child(6),
						&:nth-child(5),
						&:nth-child(4) {
							p {
								&:first-child {
									padding-top: 11px;
								}
								&:last-child {
									padding-bottom: 11px;
								}
							}
						}
						&:nth-child(2),
						&:nth-child(5),
						&:nth-child(7) {
							h4 {
								padding-top: 11px;
							}
						}
						&-label {
							display: flex;
							justify-content: space-between;
							padding: 11px 16px;
							margin-bottom: -1px;
							font-weight: bold;
							cursor: pointer;

							&::after {
								content: '\276F';
								width: auto;
								height: auto;
								text-align: center;
								transition: all 0.35s;
								color: #141516;
								transform-origin: center;
							}
						}
						&-checkbox {
							display: none !important;
							&:checked {
								+ .maxi-dashboard_main-content_accordion-item-label {
									&::after {
										transform: rotate(90deg);
									}
								}
								~ .maxi-dashboard_main-content_accordion-item-content {
									border-top-width: 1px;
									max-height: 100vh;
								}
							}
						}
						&-content {
							border-top: 0px solid #dbdde6;
							background: white;
							max-height: 0;
							padding: 0 16px;
							transition: all 0.35s;
							&-setting {
								display: flex;
								flex-wrap: wrap;
								border-bottom: 1px solid #dbdde6;
								padding-top: 11px;
								padding-bottom: 10px;
							}
							&-description {
								flex: 80%;
								padding-right: 30px;
							}
							&-switcher {
								&__input {
									margin-top: 5px;
									margin-bottom: 5px;
									input {
										border-radius: 0;
										border-color: #dbdde6;
									}

									label:not(label[for='maxi-breakpoint-maxi-versions']) {
										text-transform: uppercase;
										width: 20px;
										display: inline-block;
									}
								}
								&__toggle {
									position: relative;
									cursor: pointer;

									input[type='checkbox'] {
										position: absolute;
										z-index: 1;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										padding: 0;
										border: none;
										margin: 0;
										opacity: 0;

										&:focus
											+ .maxi-toggle-switch__toggle__track {
											border-radius: 12px;
											box-shadow: 0 0 0 1px
												var(--maxi-grey-6-color);
											outline: 2px solid transparent;
										}

										&:checked
											~ .maxi-dashboard_main-content_accordion-item-content-switcher__toggle__thumb {
											background-color: var(
												--maxi-primary-color
											);
											border-color: var(
												--maxi-primary-color
											);
											-webkit-transform: translateX(20px);
											-ms-transform: translateX(20px);
											transform: translateX(20px);
										}
									}

									&__track {
										content: '';
										display: inline-block;
										box-sizing: border-box;
										vertical-align: top;
										width: 44px;
										height: 24px;
										background-color: var(
											--maxi-white-1-color
										);
										background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.8 8"><path d="M8.43.22A1 1 0 0 0 7 .37L2.93 5.48 1.72 4.21a1 1 0 0 0-1.41 0 1 1 0 0 0 0 1.41l2 2.1h.05a.83.83 0 0 0 .16.09l.1.06A1.15 1.15 0 0 0 3 8a.93.93 0 0 0 .4-.09l.11-.07a.71.71 0 0 0 .18-.12s0 0 0-.06l4.8-6A1 1 0 0 0 8.43.22Z"/></svg>'),
											url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8"><path d="m5.6 4 2.55-2.55A.85.85 0 1 0 7 .25L4.4 2.8 1.85.25a.85.85 0 0 0-1.2 1.2L3.2 4 .65 6.55a.85.85 0 0 0 0 1.2.83.83 0 0 0 .6.25.82.82 0 0 0 .6-.25L4.4 5.2 7 7.75a.82.82 0 0 0 .6.25.83.83 0 0 0 .6-.25.85.85 0 0 0 0-1.2Z" transform="translate(-.4)"/></svg>');
										background-repeat: no-repeat, no-repeat;
										background-position: 8px center,
											24px center;
										background-size: 10px auto, 10px auto;
										border: 1px solid
											var(--maxi-grey-1-color);
										border-radius: 12px;
										transition: 0.2s background ease;
									}
									&__thumb {
										position: absolute;
										top: 3px;
										left: 3px;
										display: block;
										box-sizing: border-box;
										width: 18px;
										height: 18px;
										background-color: #fff;
										border: 1px solid
											var(--maxi-grey-1-color);
										border-radius: 50%;
										transition: 0.1s transform ease;
									}
								}
							}
							.submit {
								padding-bottom: 23px;
								padding-top: 14px;
								input {
									background-color: var(--maxi-primary-color);
									font-size: 12px;
									border: none;
									border-radius: 0;
									box-shadow: none;
									padding: 6px 22px;
									transition: 0.3s;
									&:hover {
										background-color: #000;
									}
								}
							}
							button#maxi-regenerate-styles-button {
								background-color: var(--maxi-primary-color);
								font-size: 12px;
								border: none;
								border-radius: 0;
								box-shadow: none;
								padding: 6px 22px;
								transition: 0.3s;
								color: #fff;
								line-height: 2.3;
								&:hover {
									background-color: #000;
								}
								&:disabled {
									background-color: #dbdde6;
									color: #fff;
									&:hover {
										background-color: #dbdde6;
									}
								}
							}
						}
					}
				}
			}
			&-sidebar {
				width: 28%;
				max-width: 270px;
				.maxi-dashboard_main-sidebar-item {
					border: 1px solid #dbdde6;
					padding: 20px 30px;
					text-align: center;
					margin-bottom: 31px;
					svg {
						margin-bottom: 7px;
					}
					p {
						font-size: 16px;
						color: #151617;
						font-weight: 700;
						margin: 0;
						line-height: 136%;
						a {
							color: var(--maxi-primary-color);
							&:hover {
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	body.toplevel_page_maxi-blocks-dashboard {
		.maxi-dashboard_form {
			.maxi-dashboard_main {
				display: block;
				&-content {
					width: 100%;
				}
				&-sidebar {
					width: 100%;
					max-width: 100%;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	body.toplevel_page_maxi-blocks-dashboard {
		.notice-warning {
			&.inline {
				margin: 20px;
			}
		}
		.nav-tab-wrapper {
			padding: 0 20px 53px;
		}
		.maxi-dashboard_header {
			padding: 21px 20px 34px;
		}
		.maxi-dashboard_form {
			.maxi-dashboard_main {
				padding: 0 20px;
				&-content {
					.maxi-dashboard_main-content_accordion-item-content-description {
						-webkit-box-flex: 70%;
						-ms-flex: 70%;
						flex: 76%;
						padding-right: 10px;
					}
				}
			}
		}
	}
}
