@import '../../../src/css/backend-variables.scss';
.maxi-image-crop-control {
	margin-bottom: 8px;
	.ReactCrop__crop-selection {
		background: $tr;
	}
	&__options {
		display: flex;
		margin: 10px 0;
		label {
			width: 20%;
			margin-right: 5px;
			&:last-child {
				margin-right: 0;
			}
			input[type='number'] {
				width: 100%;
			}
		}
	}
}
