@import '../../../node_modules/react-image-crop/lib/ReactCrop.scss';

.maxi-imagecrop-control {
  margin-bottom: 8px;
}

.maxi-imagecrop-control .ReactCrop__crop-selection {
  background: transparent;
}

.maxi-imagecrop-control .maxi-imagecrop-option-controls {
  display: flex;
  flex-direction: column;
}

.maxi-imagecrop-control .maxi-imagecrop-option-controls label {
  display: flex;
  justify-content: space-between;
}