.maxi-saved-styles-control {
	padding: 5px;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8px;
	}

	&__filter-toggle {
		.maxi-saved-styles-control__filter-button.components-button {
			background: var(--maxi-light-blue-1-color);
			border: 1px solid var(--maxi-grey-1-color);
			border-radius: 4px;
			font-size: 11px;
			padding: 2px 8px;
			height: auto;

			&:hover {
				background: var(--maxi-light-blue-2-color);
			}
		}
	}

	&__rename {
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		gap: 4px;

		input {
			padding: 8px;
			border-radius: 4px;

			margin-bottom: 8px;
		}

		button {
			border-radius: 4px;
			text-align: center;

			&:last-child {
				margin-left: 1px;
			}
			&:hover {
				transition: all 0.3s ease;
			}
		}
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		gap: 4px;
		margin-top: 10px;

		.maxi-components-button.components-button {
			background: var(--maxi-light-blue-2-color);
			border: 1px solid var(--maxi-grey-1-color);
			border-radius: 10px !important;
			padding: 6px 12px !important;
			height: 36px !important;
			min-width: auto !important;
			display: inline-flex !important;
			align-items: center;
			justify-content: center;

			&:hover {
				transition: all 0.3s ease;
				background: var(--maxi-grey-2-color);
			}
		}
	}

	&__count {
		text-align: right !important;
		font-size: 10px !important;
		color: var(--maxi-grey-7-color) !important;
	}

	&__no-styles {
		margin-top: 10px;
		padding: 10px;
		background-color: #f8f8f8;
		border-radius: 4px;
		font-style: italic;
		color: #555;
	}

	&__help-text {
		margin-top: 8px;
		font-size: 12px;
		font-style: normal;
		color: #757575;
	}
}
