.toolbar-item {
	&__text-margin {
		.toolbar-item__icon {
			line,
			path {
				fill: transparent !important;
				stroke: var(--maxi-black) !important;
			}
		}
		&__popover {
			.maxi-axis-control__margin {
				min-width: 210px;
				.maxi-responsive-tabs-control {
					flex-direction: column;
				}
			}
			.maxi-base-control__field {
				flex-wrap: nowrap;

				.maxi-advanced-number-control__value {
					width: 80px;
				}
			}
			.maxi-axis-control__header
				.maxi-base-control__field
				> .maxi-base-control__label {
				display: none !important;
			}
			.maxi-axis-control {
				& > div {
					flex-direction: column;
					& > .maxi-axis-control__unit-header {
						display: none;
					}
				}
			}
			.maxi-axis-control__content__item {
				border-bottom: 1px solid var(--maxi-grey);
				margin-bottom: 5px;
				padding-bottom: 5px;
				&:last-child {
					border-bottom: none;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}
