.toolbar-item {
	&__text-margin {
		.toolbar-item__icon {
			line,
			path {
				fill: transparent !important;
				stroke: #000 !important;
			}
		}
		&__popover {
			.maxi-axis-control {
				& > div {
					& > .maxi-axis-control__unit-header {
						display: none;
					}
				}
			}
		}
	}
}
.toolbar-item__text-margin__popover .maxi-axis-control__margin {
	> div {
		flex-direction: column-reverse !important;
		row-gap: 8px;
	}
	border-bottom: 1px solid var(--maxi-grey-4-color);
	&:last-child {
		border-bottom: none;
	}
}
