.maxi-sidebar .components-panel__body.is-opened {
    max-width: 100%;
    margin-left: auto;
}

.maxi-controls .components-panel__body.maxi-image-setting,
.maxi-controls .components-panel__body.maxi-link-setting {
	border-top: 2px solid #e8eaeb;
	border-bottom: 2px solid #e8eaeb;
  }

.maxi-content-tab-setting {
    padding: 20px !important;
}

.maxi-link-setting .components-base-control:not(.components-toggle-control) {
    margin-bottom: 10px !important;
}

.components-base-control__field {
    margin-bottom: 0 !important;
}

.components-base-control .components-base-control__field {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center;
    align-items: center;
}

.maxi-sidebar .maxi-link-setting .components-base-control__label {
    flex: 36%;
}

.components-base-control .components-base-control__label {
    display: inline-block;
}

.components-base-control__label {
    font-size:13px !important;
    color:#464a53;
    margin-bottom: 0 !important;
    vertical-align: sub;
    min-height: 24px;
}

.components-base-control__label {
    font-size: 13px !important;
    color: #464a53 !important;
}

label {
    cursor: pointer;
}

.maxi-panel input[type="text"], .maxi-panel input[type="number"], .maxi-panel textarea, .maxi-panel select, .maxi-popover input[type="text"], .maxi-popover input[type="number"], .maxi-controls select, .maxi-popover textarea, .components-select-control__input {
    min-height: unset;
    max-height: unset !important;
    border-radius: 5px;
    background-color: rgba(33, 141, 250, 0);
    border: 2px solid #dddfe1;
    font-size: 16px;
    color: #464a53;
}

.components-text-control__input, .components-textarea-control__input {
    width: 100%;
    padding: 6px 8px;
}

.maxi-sidebar .components-base-control.maxi-blocks-checkbox-container {
    min-height: 23px;
}

.maxi-link-setting .components-base-control:not(.components-toggle-control) {
    margin-bottom: 10px !important;
}

.maxi-panel label, .maxi-popover label, .maxi-popover .components-base-control__label, .maxi-controls .maxi-accordion .components-base-control__label {
    font-size: 16px;
    color: #464a53;
    font-weight: 500;
    letter-spacing: -0.5px;
}

.maxi-controls * {
    overflow-x: none;
    background: #fff;
}

input[type="checkbox"].maxi-blocks-checkbox-input {
    position: relative;
    width: 23px;
    height: 23px;
    transition: 0.3s;
}