.maxi-dropdown__text-generator-child-content {
	.components-popover__content {
		width: 230px !important;
	}
}

.toolbar-item__text-generator-blocks__popover {
	padding: 8px;
	&::after {
		content: '';
		display: block;
		width: 100%;
		clear: both;
	}
	.components-button {
		border: 1px solid var(--mgl) !important;
		color: var(--mb) !important;
		border-radius: 0;
		height: 30px;
		width: 72px !important;
		margin-left: 2% !important;
		justify-content: center;
		background: var(--mlb);
		display: block !important;
		float: right;
		text-align: center !important;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: var(--mdg);
		}

		&:active {
			background-color: var(--mdg);
		}
	}
	.maxi-base-control__label {
		margin-bottom: 0;
	}
}

/*******************************
* RTL
*******************************/
html[dir='rtl'] {
	.toolbar-item__text-generator-blocks__popover
		.maxi-advanced-number-control__value {
		padding-left: 0 !important;
		padding-right: 4px !important;
	}
}
