name: Update plugin staging maximaster git maxiblocks.com

on:
    push:
        branches: [master]

jobs:
    web-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.1.0
              with:
                  fetch-depth: 2
            - name: Use Node.js 16.x
              uses: actions/setup-node@v1
              with:
                  node-version: 16.x
            - name: Install dependencies
              run: npm install --legacy-peer-deps
            - name: Create .env file
              run: |
                  touch .env
                  echo "REACT_APP_TYPESENSE_API_KEY=${{ secrets.REACT_APP_TYPESENSE_API_KEY }}" >> .env
                  echo "REACT_APP_TYPESENSE_API_URL=${{ secrets.REACT_APP_TYPESENSE_API_URL }}" >> .env
            - name: Build
              run: npm run build
            - name: reset package-lock.json
              run: git checkout package-lock.json
            - name: FTP-Deploy-Action
              uses: SamKirkland/FTP-Deploy-Action@4.1.0
              with:
                  server: ${{ secrets.FTP_SERVER }}
                  server-dir: ./wp-content/plugins/maxi-blocks/
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  protocol: ftp
                  exclude: '[
                      .babelrc.js,
                      .editorconfig,
                      .eslintignore,
                      .eslintrc.json,
                      .github/*,
                      .gitignore,
                      .prettierrc.json,
                      .prettierignore,
                      .wp-env.json,
                      package.json,
                      package-lock.json,
                      README.md,
                      **/.git*,
                      **/.git*/**,
                      **/.vscode/**,
                      **/e2e-tests/**,
                      **/node_modules/**,
                      **/src/blocks/**,
                      **/src/components/**,
                      **/src/css/**,
                      **/src/editor/**,
                      **/src/extensions/**,
                      **/src/icons/**,
                      **/src/common.scss,
                      **/src/components.js,
                      **/src/icons.js,
                      **/src/index.js,
                      CODEOWNERS,
                      LICENSE,
                      readme.md]'
            - name: Google Chat Notification
              uses: Co-qn/google-chat-notification@releases/v1
              with:
                  name: Update staging.maximaster.git.maxiblocks.com
                  url: ${{ secrets.GOOGLE_CHAT_WEBHOOK }}
                  status: ${{ job.status }}
              if: always()
