.maxi-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    &__video-player {
        width: 100%;
        height: 100%;
    
        video {
            width: 100%;
        }
    }
}
