.maxi-group-input-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &__input {
        flex-basis: 30%;
        &:nth-child(2) {
            label {
                text-align: center;
                margin: 4px auto 0;
            }
        }
        &:nth-child(3) {
            label {
                text-align: right;
                margin-left: auto;
            }
        }
        input {
            width: 100%;
        }
        label {
            display: block;
            width: 50%;
            margin-top: 4px;
        }
    }
}