.maxi-export-popover {
	height: auto !important;
	left: 20% !important;
	.maxi-style-cards__download-button {
		width: 100%;
		justify-content: center;
		margin: 8px 0;
		padding: 10px;
		background-color: var(--mpc);
		color: var(--mw);
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: var(--msc);
		}

		& + & {
			margin-top: 0;
		}
	}
}

.maxi-responsive-selector .export-icon,
.maxi-sidebar .export-icon {
	transform: scaleY(-1);
}

#maxi-button__export {
	display: none;
}
